<!-- ko if: isDisplayedCustomdiscount() -->
<tr class="totals ecoupondiscount excl">
   <th class="mark" colspan="1" scope="row" data-bind="text: ecoupon_discount"></th>
   <td class="amount">
       <span class="price" data-bind="text: getEcouponDiscount(), attr: {'data-th': ecoupon_discount}"></span>
   </td>
</tr>
<!-- /ko -->