<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isAvailable() -->
<tr class="totals balance">
    <th class="mark" scope="row">
        <span class="str__crdt__amnt"><!-- ko text: title --><!-- /ko --><span>
        <a data-bind="attr: { 'href': getRemoveUrl(), 'title': $t('Remove') }" class="action delete">
            <span><!-- ko text: $t('') --><!-- /ko --></span>
        </a>
    </th>
    <td class="amount">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->
