
.amshopby-hightlighted {
    background-color: yellow;
}

.ui-tooltip, .arrow:after {
    background: white;
    border: 1px solid black;
    box-shadow: 0 0 7px black;
}

.ui-tooltip.ui-widget {
    padding: 1px 5px;
    box-shadow: 0 0 3px black;
}

.ui-tooltip .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

.ui-tooltip .arrow.top {
    top: -16px;
    bottom: auto;
}

.ui-tooltip .arrow.left {
    left: 21px;
}

.ui-tooltip .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 10px;
    height: 25px;
    box-shadow: 0 0 3px black;
    border: 1px solid #bbbbbb;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ui-tooltip .arrow.top:after {
    bottom: -20px;
    top: auto;
}

.tooltip.amshopby-filter-tooltip {
    opacity: 1;
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
    margin-left: 6px;
}

.amshopby-filter-tooltip img {
    vertical-align: top;
}

input[type="text"].amshopby-filter-price-to,
input[type="text"].amshopby-filter-price-from {
    width: 35%;
    float: left;
    border: none;
    text-align: left;
}

input[type="text"].amshopby-filter-price-to.right {
    float: right;
    text-align: right;
}

button.amshopby-filter-price-go {
    width: 25%;
}

.am_shopby_slider_container .ui-slider.ui-slider-horizontal .ui-slider-handle {
    padding: 0;
    width: 17px;
    height: 17px;
    margin-top: -6px;
    border-radius: 17px;
    background-color: #28b698;
}

.am_shopby_slider_container {
    margin-left: 15px;
    margin-right: 22px;
    margin-top: 15px;
}

.amasty-shopby-swatch-attribute-options {
    display: flex;
    flex-direction: column;
}

.filter-options-content .amasty-shopby-swatch-attribute-options a:hover {
    background-color: transparent;
}

.filter-options-content ol li a input[type="radio"] {
    display: none;
}

.amasty-shopby-swatch-attribute-options-images-labels .swatch-option-link-layered {
    display: flex;
    align-items: center;
    padding-bottom: 4px !important;
}

.amasty-shopby-swatch-attribute-options-images-labels .swatch-option {
    margin: 0 3px 0 0;
}

.amasty-shopby-swatch-attribute-options-images-labels .am_shopby_swatch_label {
    max-width: 50%;
    white-space: nowrap;
}

.am_shopby_state_container {
    display: flex;
    flex-wrap: wrap;
}

.am_shopby_state_container .swatch-attribute-options {
    margin-top: 0px;
}

.am_shopby_state_container .filter-label {
    padding-right: 5px;
}

.am_shopby_state_container a:hover,
.am_shopby_state_container a:visited,
.am_shopby_state_container a {
    color: #858585;
    text-decoration: none;
}

.catalog-topnav .filter-options .filter-options-item {
    max-width: 300px;
    float: left;
    border-bottom: 1px solid #8d8e8f;
    position: relative;
}

.catalog-topnav .filter-options .filter-options-item + .filter-options-item {
    padding-left: 60px;
}

.catalog-topnav .filter-options {
    min-height: 50px;
}

.catalog-topnav .filter-options-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 3;
    margin: 1px 0 0;
    border: 1px solid #ccc;
    border-top: 0px solid;
    min-width: 175px;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
}

.catalog-topnav .block-actions {
    display: none;
}

.am_shopby_filter_items_attr_price {
    min-width: 150px;
}

.am_shopby_apply_filters {
    width: 100%;
    /*margin-bottom: 40px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.am_shopby_apply_filters button {
    width: 100%;
}

.amasty-catalog-topnav .am_shopby_apply_filters {
    display: inline-block;
    margin-left: 20px;
}

.amasty-catalog-topnav strong.block-subtitle.has-apply-button {
    padding-bottom: 5px;
    padding-top: 0;
    margin-top: -30px;
}

.am_shopby_slider_display {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.amasty-catalog-topnav.block.filter {
    flex-basis: auto;
}

.am_shopby_filter_items_stock a.am_shopby_link_selected,
.am_shopby_filter_items_rating a.am_shopby_link_selected {
    background-color: #e8e8e8;
    text-decoration: none;
}

.amasty-catalog-topnav .am_shopby_apply_filters {
    max-width: 240px;
    padding-top: 10px;
    clear: both;
}

.filter-options .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    /*background: rgba(0, 0, 0, 0) url("chosen-sprite.png") no-repeat scroll -42px 1px; */
    display: block;
    font-size: 1px;
    height: 12px;
    position: absolute;
    right: 8px;
    top: 5px;
    width: 12px;
}

.filter-options .chosen-container-multi .chosen-choices li.search-choice {
    background-clip: padding-box;
    background-color: #eeeeee;
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-repeat: repeat-x;
    background-size: 100% 19px;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: default;
    line-height: 13px;
    margin: 3px 5px 3px 0;
    max-width: 100%;
    padding: 3px 23px 5px 5px;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .catalog-topnav {
        /*display: none;*/
    }
}

.filter-options .items ol {
    list-style: none;
    padding-left: 20px;
}

.filter-options .items ol .item {
    margin: 5px 0;
}

.filter-options .items.amshopby-fly-out-view .items-children {
    background-color: #ffffff;
    z-index: 4;
}

.filter-options .items.amshopby-fly-out-view /*.items-children*/ li {
    border: 1px solid #cccccc;
    border-top: none;
    margin: 0;
    padding: 10px;
    white-space: nowrap;
}

.filter-options .items.amshopby-fly-out-view li:hover {
    background-color: #cccccc;
}

.filter-options .items.amshopby-fly-out-view:first-child {
    border-top: 1px solid #cccccc;
}

.filter-options .items.amshopby-fly-out-view a:hover {
    background-color: transparent;
}

.filter-options .ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
}

.filter-options .ui-menu .ui-menu {
    position: absolute;
}

.filter-options .ui-menu .ui-menu-item {
    margin: 0;
    cursor: pointer;
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.filter-options .ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px .4em;
}

.filter-options .ui-menu .ui-menu-divider {
    margin: 5px 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0;
}

.filter-options .ui-menu .ui-state-focus,
.filter-options .ui-menu .ui-state-active {
    margin: -1px;
}

.filter-options .ui-corner-all,
.filter-options .ui-corner-top,
.filter-options .ui-corner-left,
.filter-options .ui-corner-tl {
    border-top-left-radius: 3px;
}

.filter-options .ui-corner-all,
.filter-options .ui-corner-top,
.filter-options .ui-corner-right,
.filter-options .ui-corner-tr {
    border-top-right-radius: 3px;
}

.filter-options .ui-corner-all,
.filter-options .ui-corner-bottom,
.filter-options .ui-corner-left,
.filter-options .ui-corner-bl {
    border-bottom-left-radius: 3px;
}

.filter-options .ui-corner-all,
.filter-options .ui-corner-bottom,
.filter-options .ui-corner-right,
.filter-options .ui-corner-br {
    border-bottom-right-radius: 3px;
}

.filter-options .ui-widget-overlay {
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=30); /* support: IE8 */
}

.filter-options .ui-widget-shadow {
    -webkit-box-shadow: 0px 0px 5px #666666;
    box-shadow: 0px 0px 5px #666666;
}

.amshopby-category-dropdown {
    border: 1px solid #adadad;
    cursor: pointer;
    display: block;
    min-height: 3.2rem;
    padding-right: 3.6rem;
    white-space: normal;

    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #ffffff;
    font-weight: 400;
    text-align: left;
    min-width: 100px;
}

.amshopby-category-dropdown-wrapper {
    position: relative;
    display: block;
    user-select: none;
}

.amshopby-category-dropdown .caret:after {
    border-color: #000000 transparent transparent transparent;
    border-style: solid;
    border-width: 0.5rem 0.4rem 0 0.4rem;
    content: '';
    height: 0;
    margin-top: -0.2rem;
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transition: all .2s linear;
    width: 0;
    box-sizing: border-box;
}

.amshopby-category-dropdown .caret:before {
    background-color: #e3e3e3;
    border: 1px solid #adadad;
    bottom: 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 3.2rem;
}

.action-select-wrap._active .amshopby-category-dropdown .caret:before {
    border-color: #007bdb;
}

.amshopby-category-dropdown-wrapper._active .amshopby-category-dropdown .caret:after {
    transform: rotate(180deg);
}

.filter-options .amshopby-category-dropdown-view {
    position: absolute;
    background-color: white;
    border: 1px solid #cccccc;
    margin: 0;
    padding: 10px;
    white-space: nowrap;
    z-index: 9;
    max-height: 300px;
    overflow-y: auto;
}

.amshopby-category-dropdown-wrapper .amshopby-category-dropdow-multiselect-crumb {
    background-color: #f5f5f5;
    border: 1px solid #a79d95;
    border-radius: 1px;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0.3rem -4px 0.3rem 0.3rem;
    padding: 0.3rem 2.4rem 0.4rem 1rem;
    position: relative;
    transition: border-color 0.1s linear;
}

.amshopby-category-dropdown-wrapper .amshopby-category-dropdow-multiselect-crumb .action-close {
    bottom: 0;
    font-size: .5em;
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    color: #514943;
}

.amshopby-category-dropdown-wrapper .amshopby-category-dropdow-multiselect-crumb .action-close:before {
    content: 'x';
    transition: color 0.1s linear;
}

.amshopby-category-dropdown-wrapper .amshopby-category-dropdow-multiselect-crumb .action-close > span {
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
    display: none;
    visibility: hidden;
}

.filter-options .amshopby-category-labels-folding .items {
    position: relative;
}

.amshopby-category-collapse-icon {
    border-radius: 50%;
    height: 2.2rem;
    position: absolute;
    width: 2.2rem;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.amshopby-category-collapse-icon:after {
    /*background: #ffffff;
    color: #a79d95;
    content: '\e616';
    font-size: 2.2rem;*/
    border-color: #000000 transparent transparent transparent;
    border-style: solid;
    border-width: 0.5rem 0.4rem 0 0.4rem;
    content: '';
    height: 0;
    margin-top: -0.2rem;
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transition: all .2s linear;
    width: 0;
    box-sizing: border-box;
    transform: rotate(-90deg);
}

.amshopby-category-collapse-icon._active:after {
    transform: rotate(0deg);
}

.filter-options .amshopby-category-labels-folding a.amshopby-filter-parent,
.filter-options .amshopby-category-dropdown-view a.amshopby-filter-parent {
    padding-left: 20px;
}

/*---Written-BY-Syed---*/
.filter-options-item .filter-options-title {
    padding: 7px 10px 0px;
    margin-bottom: 0px;
    font: normal 14px/18px 'museo_sans300';
    cursor: pointer;
}

.filter-options-item.active .filter-options-title {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 0px solid transparent;
    padding: 6px 9px 0px 9px;
    border-radius: 6px 6px 0 0;
}

/*.filter-options-item + .filter-options-item .filter-options-title{padding-left: 35px;}*/
.filter-options .filter-options-content .item {
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
}

.filter-options .filter-options-content .item:last-child {
    border-bottom: 0px solid;
}

.filter-options .filter-options-content .item a, .filter-options .filter-options-content .item a span.label,
.filter-options .filter-options-content .item a span.count {
    color: #333;
    font: normal 13px/18px 'museo_sans300';
    padding: 0;
}

.filter-options .filter-options-content .item a {
    display: block;
    width: 100%;
    padding: 4px 10px;
    text-align: left;
}

.filter-options .filter-options-content .item a:hover {
    text-decoration: underline;
}

.filter-options .filter-options-content .item a:active, .filter-options .filter-options-content .item a:focus,
.filter-options .filter-options-content .item a:active span.count, .filter-options .filter-options-content .item a:active span.label,
.filter-options .filter-options-content .item a:focus span.count, .filter-options .filter-options-content .item a:focus span.label {
    text-decoration: none;
    color: #14b393;
}

.am_shopby_slider_container > input + .ui-slider-horizontal {
    background-color: #e9e9e9;
    height: 5px;
}

.filter-options-title:after {
    -webkit-font-smoothing: antialiased;
    font-size: 36px;
    line-height: inherit;
    color: inherit;
    content: '\e622';
    font-family: 'icons-blank-theme';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    height: 22px;
    line-height: 22px;
    width: 25px;
}

.active > .filter-options-title:after {
    content: '\e621';
}

.filter-options-selected {
    position: absolute;
    padding: 5px 0px 0px 10px;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: #33B699;
}

.action.remove {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: -10px;
    overflow: hidden;
}

.action.remove::before {
    content: "\e616";
    display: block;
    font-size: 24px;
    color: black;
    font-family: 'icons-blank-theme';
    line-height: 22px;
    font-weight: bold;
    border: none;
}