<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\AbstractProduct */
?>
<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
if(!isset($_SESSION["store"])){
	$_SESSION["store"] = 7;
}
if($block->getProduct()):
$viewedProduct = $block->getProduct();
if ($viewedProduct->getTypeId()!= 'grouped'):?>
</div>
</div>
<div class="block__row">
    <div class="block__row">
<?php endif; endif; ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$inventory = 0;
if($block->getProduct()):
if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
	$cookie = $_COOKIE["Gourmet_Location"];
	$lochelper = $objectManager->get('\Gourmet\Location\Helper\Data');
	$data = $lochelper->getLocationById($cookie);
	$store = $data->getStoreId();
	$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($viewedProduct->getId());
	$storeId = 'store_'.$store;
	$inventory = $productStockObj[$storeId];
} else {
	$cookie = 73;
	$lochelper = $objectManager->get('\Gourmet\Location\Helper\Data');
	$data = $lochelper->getLocationById($cookie);
	$store = $data->getStoreId();
	$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($viewedProduct->getId());
	$storeId = 'store_'.$store;
	$inventory = $productStockObj[$storeId];
}
endif;
?>
        <!-- <link rel="stylesheet" type="text/css"
          href="<?php echo $block->getViewFileUrl('Magento_Catalog::css/owl.theme.css') ?>"> -->
        <?php
        switch ($type = $block->getType()) {
            case 'related-rule':
                if ($exist = $block->hasItems()) {
                    $type = 'related';
                    $class = $type;
                    $image = 'related_products_list';
					$minQty = $productStockObj['min_qty'];
					if(!$viewedProduct->isSaleable() || (isset($inventory) && $inventory <= $minQty)) $title = __('Alternate Products'); else $title = __('You May Also Like');
                    $items = $block->getAllItems();
                    $limit = $block->getPositionLimit();
                    $shuffle = (int)$block->isShuffled();
                    $canItemsAddToCart = $block->canItemsAddToCart();
                    $showAddTo = true;
                    $showCart = true;
                    $templateType = null;
                    $description = false;
                }
                break;

            case 'related':
                /** @var \Magento\Catalog\Block\Product\ProductList\Related $block */
                if ($exist = $block->getItems()->getSize()) {
                    $type = 'related';
                    $class = $type;
                    $image = 'related_products_list';
					$minQty = $productStockObj['min_qty'];
                    if(!$viewedProduct->isSaleable() && (isset($inventory) && $inventory <= $minQty)) $title = __('Alternate Products'); else $title = __('You May Also Like');
                    $items = $block->getItems();
                    $limit = 0;
                    $shuffle = 0;
                    $canItemsAddToCart = $block->canItemsAddToCart();
                    $showAddTo = true;
                    $showCart = true;
                    $templateType = null;
                    $description = false;
                }
                break;

            case 'upsell-rule':
                if ($exist = $block->hasItems()) {
                    $type = 'upsell';
                    $class = $type;
                    $image = 'upsell_products_list';
                    $title = __('Customer Who Bought This Also Bought');
                    $items = $block->getAllItems();
                    $limit = $block->getPositionLimit();
                    $shuffle = (int)$block->isShuffled();
                    $showAddTo = true;
                    $showCart = true;
                    $templateType = null;
                    $description = false;
                    $canItemsAddToCart = true;
                }
                break;

            case 'upsell':
                /** @var \Magento\Catalog\Block\Product\ProductList\Upsell $block */
                if ($exist = count($block->getItemCollection()->getItems())) {
                    $type = 'upsell';
                    $class = $type;
                    $image = 'upsell_products_list';
                    $title = __('Customer Who Bought This Also Bought');
                    $items = $block->getItemCollection()->getItems();
                    $limit = $block->getItemLimit('upsell');
                    $shuffle = 0;
                    $showAddTo = true;
                    $showCart = true;
                    $templateType = null;
                    $description = false;
                    $canItemsAddToCart = true;
                }
                break;

            case 'crosssell-rule':
                /** @var \Magento\Catalog\Block\Product\ProductList\Crosssell $block */
                if ($exist = $block->hasItems()) {
                    $type = 'crosssell';
                    $class = $type;
                    $image = 'cart_cross_sell_products';
                    $title = __('More Choices:');
                    $items = $block->getItemCollection();
                    $showAddTo = true;
                    $showCart = true;
                    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
                    $description = false;
                    $canItemsAddToCart = false;
                }
                break;

            case 'crosssell':
                /** @var \Magento\Catalog\Block\Product\ProductList\Crosssell $block */
                if ($exist = $block->getItemCount()) {
                    $type = 'crosssell';
                    $class = $type;
                    $image = 'cart_cross_sell_products';
                    $title = __('More Choices:');
                    $items = $block->getItems();
                    $showAddTo = true;
                    $showCart = true;
                    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
                    $description = false;
                    $canItemsAddToCart = false;
                }
                break;

            case 'new':
                if ($exist = $block->getProductCollection()) {
                    $type = 'new';
                    $mode = 'grid';
                    $type = $type . ' ' . $mode;
                    $class = 'widget' . ' ' . $type;
                    $image = 'new_products_content_widget_grid';
                    $title = __('New Products');
                    $items = $exist;
                    $showAddTo = true;
                    $showCart = true;
                    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
                    $description = ($mode == 'list') ? true : false;
                    $canItemsAddToCart = false;
                }
                break;

            case 'other':
                break;
        }
        
        $productblock = $objectManager->create('Magento\Catalog\Block\Product\ListProduct');
		$appState = $objectManager->get('\Magento\Framework\App\State');
		$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
		$currency = $objectManager->get('\Magento\Directory\Model\Currency');					 
		$store = $storeManager->getStore();
        $_labelsBlock = $productblock->getLayout()->createBlock('Gourmet\Assist\Block\Labels');
        ?>

        <?php if ($exist): ?>

        <?php if ($type == 'related' || $type == 'upsell'): ?>
        <?php if ($type == 'related'): ?>
        <div class="block__row block <?php /* @escapeNotVerified */
        echo $class; ?>" data-mage-init='{"relatedProducts":{"relatedCheckbox":".related.checkbox"}}'
             data-limit="<?php /* @escapeNotVerified */
             echo $limit; ?>" data-shuffle="<?php /* @escapeNotVerified */
        echo $shuffle; ?>">
            <?php else: ?>
            <div class="block__row block <?php /* @escapeNotVerified */
            echo $class; ?>" data-mage-init='{"upsellProducts":{}}' data-limit="<?php /* @escapeNotVerified */
            echo $limit; ?>" data-shuffle="<?php /* @escapeNotVerified */
            echo $shuffle; ?>">
                <?php endif; ?>
                <?php else: ?>
                <div class="block__row block <?php /* @escapeNotVerified */
                echo $class; ?>">
                    <?php endif; ?>
                    <div class="block__row block-title title">
                        <span id="block__row block-<?php /* @escapeNotVerified */
                        echo $class ?>-heading" class="product__detail--title" role="heading" aria-level="2">
                            <?php /* @escapeNotVerified */
                            echo $title; ?>
                        </span>
                    </div>
                    <div class="block__row block-content content" aria-labelledby="block-<?php /* @escapeNotVerified */
                    echo $class ?>-heading">
                        <div class="products wrapper product__wrapper grid products-grid products-<?php /* @escapeNotVerified */
                        echo $type; ?>">
						<?php $ids = array(); ?>
                            <ol class="main-carousel products list items product-items product__detail--slider">
                                <?php $iterator = 1; ?>
                                <?php foreach ($items as $_item):
                                $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getId());
                                $prod_id_cl = 'prod-swatch-' . $_product->getId();
                                $unit = $_product->getResource()->getAttribute('unit')->getFrontend()->getValue($_product);
                                ?>
								<?php if(!in_array($_product->getId(),$ids)) { ?>
								<?php $ids[] = $_product->getId(); ?>
                                <?php $available = ''; ?>
                                <?php if (!$_item->isComposite() && $_item->isSaleable() && $type == 'related'): ?>
                                    <?php if (!$_item->getRequiredOptions()): ?>
                                        <?php $available = 'related-available'; ?>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <?php
                                $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                $product = $_objectManager->get('\Magento\Catalog\Model\Product')->load($_product->getId());
                                $customClass = (count($_product->getOptions()) > 0) ? " custom-dropdowns" : "";
                                ?>
								
								<?php
								$inventory = 0;
								if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
									$cookie = $_COOKIE["Gourmet_Location"];
									$lochelper = $objectManager->get('\Gourmet\Location\Helper\Data');
									$data = $lochelper->getLocationById($cookie);
									$store = $data->getStoreId();
									$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId());
									$storeId = 'store_'.$store;
									$inventory = $productStockObj[$storeId];
								}
								?>
								<?php
								$product_id = $_product->getId();								
								$minQty = $productStockObj['min_qty'];
								?>
								
                                <?php if ($type == 'related' || $type == 'upsell'): ?>
                                    <?php /* @escapeNotVerified */
                                    if ($_product->getTypeId() == 'grouped') {
                                        echo '<li class="item product product-item recipe-lists' . $customClass . ' ' . $prod_id_cl . '" >';
                                    } else {
                                        echo '<li class="item product product-item' . $customClass . ' ' . $prod_id_cl . '" >';
                                    }
                                    //echo ($iterator++ == 1) ? '<li class="item product">' : '</li><li class="item product">'
                                    ?>
                                <?php else: ?>
                                    <?php /* @escapeNotVerified */
                                    if ($_product->getTypeId() == 'grouped') {
                                        echo ($iterator++ == 1) ? '<li class="item product product-item recipe-lists ' . $prod_id_cl . '">' : '</li><li class="item product product-item recipe-lists ' . $prod_id_cl . '">';
                                    } else {
                                        echo ($iterator++ == 1) ? '<li class="item product product-item ' . $prod_id_cl . '">' : '</li><li class="item product product-item ' . $prod_id_cl . '">';
                                    }
                                    ?>
                                <?php endif; ?>
                                <?php /* @escapeNotVerified */
                                echo '<!-- ' . $image . '-->' ?>
                                <div class="product__info">
                                    <div class="product-item-info">
                                        <div class="upperRelativeDiv" <?php echo $_product->getId(); ?>>                                        
                                        <a href="<?php /* @escapeNotVerified */
                                        echo $block->getProductUrl($_item) ?>"
                                           class="product-item-link">
                                            <?php echo $block->getImage($_item, $image)->toHtml(); ?>
											<div class="product-qty-wrapper" style="display:none;">
                                            <div class="update_qty">
                                                <span class="product-qty-inCart"></span>
                                                <span class="in-your-cart">in your cart</span>
                                            </div>
                                        </div>
                                        </a>
                                        <?php $prod_label = $_labelsBlock->fetchLabel($_product, $inventory);
										if (!empty($prod_label)):
											?>
										<?php if($_product->getTypeId() != 'grouped') { ?>
											<div class="offer-tag"><?php echo $prod_label; ?></div>
										<?php } ?>
										<?php endif; ?>
                                            <?php if($_product->getTypeId() == 'grouped') { ?>
                                                <div class="offer-tag"><?php echo "Shop Recipe Now"; ?></div>
                                            <?php } ?>
                                        <?php if ($_product->getTypeId() != 'grouped'): ?>
                                            <?php
											$tagsWithCommas = '';
                                            $tagsWithCommas = $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_item);
                                            $tags = '';
                                            if ($tagsWithCommas) :
                                                $tags = explode(",", $tagsWithCommas);
                                                $t = 1;
                                                ?>
                                                <div class="allTagsContainer">
                                                    <ul>
                                                        <?php foreach ($tags as $tag): ?>
                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <?php $img = str_replace(" ", "-", strtolower(trim($tag))); ?>
                                                                    <img src="<?php echo $this->getViewFileUrl('images/' . $img . '.png'); ?>"
                                                                         alt="<?php echo $tag; ?>">
                                                                    <span><?php echo $tag; ?></span>
                                                                </a>
                                                            </li>
                                                            <?php $t++;
                                                            if ($t == 6) break; endforeach; ?>
                                                    </ul>
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                    <div class="product details product-item-details">
                                        <div class="productDetail">
                                            <div class="pild">
                                                <div class="product name product-item-name">
                                                    <a class="product-item-link"
                                                       title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                                       href="<?php /* @escapeNotVerified */
                                                       echo $block->getProductUrl($_item) ?>">
                                                        <?php echo $block->escapeHtml($_item->getName()) ?>
                                                    </a>
                                                </div>
												<div class="product-weight">	
													<?php echo $_item->getResource()->getAttribute('product_weight')->getFrontend()->getValue($_item); ?>	
												</div>
                                                <?php if ($_product->getTag() && $_product->getTypeId() == 'grouped'):
                                                    $tags = $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_product); ?>
                                                    <div class="block__row">
                                                        <ul class="tag__list">
                                                            <li class="product-tags">
                                                                <?php echo $tags; ?>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                            <div class="secondary-addto-links actions-secondary"
                                                 data-role="add-to-links">
                                                <?php
                                                /* if ($block->getChildBlock('gourmet-wishlist')) {
                                                    $block->getChildBlock('gourmet-wishlist')->setProduct($_product);
                                                    echo $block->getChildHtml('gourmet-wishlist', false);
                                                } */
                                                ?>
                                                <?php if ($_product->getTypeId() != 'grouped'): ?>
                                                    <?php echo $objectManager->create('Gourmet\MultiWishlist\Block\GourmetWishlist')->setProduct($_product)->setTemplate('Gourmet_MultiWishlist::catalog/product/list/addto/wishlist.phtml')->toHtml(); ?>
													<?php if ($addToBlock = $objectManager->create('Magento\Catalog\Block\Product\ProductList\Item\AddTo\Compare')): ?>
                                                        <a href="#"
                                                           class="action tocompare"
                                                           title="<?php echo $addToBlock->escapeHtml(__('Compare')); ?>"
                                                           aria-label="<?php echo $addToBlock->escapeHtml(__('Compare')); ?>"
                                                           data-post='<?php /* @escapeNotVerified */
                                                           echo $addToBlock->getCompareHelper()->getPostDataParams($_product); ?>'
                                                           role="button">
                                                            <span><?php /* @escapeNotVerified */
                                                                echo __('Compare') ?></span>
                                                        </a>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
									
                        <div class="product__details">
                            <div class="product-item-inner">
                                <div class="product actions product-item-actions">
                                    <div class="actions-primary">
										<?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <?php
                                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                        $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                        $baseUrl = $storeManager->getStore()->getBaseUrl() . 'checkout/cart/add/';
                                        $cartUrl = $baseUrl . $postParams['data'][Action::PARAM_NAME_URL_ENCODED] . '/' . $postParams['data'][Action::PARAM_NAME_URL_ENCODED] . '/product/' . $_product->getId();
                                        ?>
                                        <form class="<?php echo $type; ?>" id="product_addtocart_form_<?php echo $_product->getId() ?>"
                                              data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $cartUrl; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */
                                            echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php /* @escapeNotVerified */
                                            echo Action::PARAM_NAME_URL_ENCODED; ?>"
                                                   value="<?php /* @escapeNotVerified */
                                                   echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php echo $block->getBlockHtml('formkey') ?>
											<?php				
										$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
										$product = $_objectManager->get('\Magento\Catalog\Model\Product')->load($_product->getId());
										$options = $product->getOptions();										
									?>
									<?php if(count($options) > 0) { ?>
									<?php
									$product = $objectManager->get('Magento\Catalog\Model\Product')->load($_product->getId());
									$customOptions = $objectManager->get('Magento\Catalog\Model\Product\Option')->getProductOptionCollection($product);
									$oldPrice = $product->getPrice();
									$basePrice = $product->getPrice();
									$finalPrice = $product->getFinalPrice(); ?>
									<?php if (($_product->isSaleable() && (isset($inventory) && $inventory > $minQty)) || $_product->getTypeId() == 'grouped'){ ?>
									<div class="custom-dropdowns-option">
										<?php $count = 1; 
										$countCustomOption = count($customOptions);
										foreach ($customOptions as $option):?> 
										<?php $values = $option->getValues();  ?>
										<?php switch ($option->getData()['type']) {
											case 'drop_down': 
												$values = $option->getValues(); ?>													
												<select class="sel-option<?php echo $type; ?> product-custom-option-<?php echo $_product->getId() ?> admin__control-select" pro-id="<?php echo $_product->getId() ?>" id="<?php echo $_product->getId().$count ?>" data-selector="options[<?php echo $option->getId() ?>]" name="options[<?php echo $option->getId() ?>]">
													<?php foreach($values as $value):  
													$customPrice = $value->getData('default_price');
													$getprice = ($customPrice) ? $customPrice : 0;
													$sign = ($value->getData('default_price') < 0) ? '-' : '+';
													?>
													<option price="<?php echo $value->getData('default_price'); ?>" value="<?php echo $value->getData('option_type_id') ?>" data-orig="<?php echo $basePrice; ?>" data-type="<?php echo $sign; ?>" data-orig-price="<?php echo $basePrice; ?>" data-price="<?php echo $getprice; ?>"><?php echo $value->getTitle() ?>
													</option>								
													<?php endforeach; ?>
												</select>
										<?php break; } ?>
										<?php 
										if($count == $countCustomOption)
										{
											$count = 1;
										}
										$count++;
										?>											
										<?php endforeach; ?>
										<script type="text/x-magento-init">
											{
												"#product_addtocart_form_<?php echo $product->getId() ?>": {
												"priceOptions": {
												"productId" : "<?php echo $product->getId() ?>",
												"optionConfig": <?php echo $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View\Options')->setProduct($product)->getJsonConfig();?>,
												"controlContainer": "#product_addtocart_form_<?php echo $product->getId() ?> .field",
												"priceHolderSelector": "[data-product-id=<?php echo $product->getId() ?>][data-role=priceBox]",
												"optionsSelector": ".product-custom-option-<?php echo $product->getId() ?>"
												}
												}
											}
										</script>	
									</div>	
									<?php }  ?>									
									<?php }  ?>
                                            <div class="add-product">
                                                <?php if (isset($inventory) && $inventory > $minQty){ ?>
												<?php if ($_product->getTypeId() != 'grouped'): ?>
                                                    <div class="price__wrapper">
														<div class="discount__percentage">
                                                        <?php
														if($_product->isSaleable()):
														$ctPrice= $_item->getPriceModel()->getFinalPrice(1,$_item);
                                                        $FPrice = $_item->getFinalPrice();
                                                        $newPrice = $_item->getPrice();
                                                        if (($FPrice!='' && $ctPrice!='')):
														
															$percentChange = (1 - $FPrice / $newPrice) * 100;
															if(round($percentChange) > 0 && $inventory > $minQty):
																echo round($percentChange) . "% Off";
															endif;
                                                        endif;
                                                        endif;
                                                        ?>
                                                    </div>
                                                        <?php /* @escapeNotVerified */
                                                        echo $block->getProductPrice($_item); ?>
                                                    </div>
                                                <?php endif; ?>
                                                <?php if ($_item->isSaleable() && $_product->getTypeId() != 'grouped'): ?>
                                                    <div class="pull-right">
                                                        <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item) && $_product->getTypeId() != 'grouped'): ?>
                                                            <?php
																if(isset($_COOKIE['Gourmet_Location']) && (isset($_SESSION["locationconfirm"]) && $_SESSION["locationconfirm"] == 1)){
																if($inventory > $minQty){
															?>
																<button type="button" data-action="addto-cart-deduct"
																	title="<?php echo $block->escapeHtml(__('Remove Product')); ?>"
																	class="action deduct hidden primary button__inverse">
																	<span><?php /* @escapeNotVerified */
																echo __('-') ?></span></button>
																<button type="submit"
																		title="<?php echo $block->escapeHtml(__('+ Add')); ?>"
																		class="action tocart primary"
																		qty-inCart="<?php echo $_product->getId(); ?>">
																		<span><?php /* @escapeNotVerified */ echo __('+ Add') ?></span>
																</button>
																<div class="messages-error notQty<?php echo $_product->getId(); ?> notify-box" ></div>
															<?php } else { ?>
																<?php 
																$block->getChildBlock('gourmet.alert.notify')->setProdId($_product->getId());
																echo $block->getChildHtml('gourmet.alert.notify', false); ?>
															<?php } ?>
															<?php } else { ?>
																<a href="javascript:void(0);" class="openLocationModel action tocart primary"><?php /* @escapeNotVerified */ echo __('+ Add') ?></a>
															<?php } ?>
                                                        <?php else: ?>
                                                            <?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' =>
                                                                $_item->getEntityId()])
                                                            ?>
                                                            <?php if ($_product->getTypeId() != 'grouped'): ?>
                                                                <?php
																	if(isset($_COOKIE['Gourmet_Location']) && (isset($_SESSION["locationconfirm"]) && $_SESSION["locationconfirm"] == 1)){
																	if($inventory > $minQty){
																?>
																	<button type="button" data-action="addto-cart-deduct"
																		title="<?php echo $block->escapeHtml(__('Remove Product')); ?>"
																		class="action deduct hidden primary button__inverse">
																		<span><?php /* @escapeNotVerified */
																	echo __('-') ?></span></button>
																	<button type="submit"
																			title="<?php echo $block->escapeHtml(__('+ Add')); ?>"
																			class="action tocart primary"
																			qty-inCart="<?php echo $_product->getId(); ?>">
																			<span><?php /* @escapeNotVerified */ echo __('+ Add') ?></span>
																	</button>
																<?php } else { ?>
																	<?php 
																	$block->getChildBlock('gourmet.alert.notify')->setProdId($_product->getId());
																	echo $block->getChildHtml('gourmet.alert.notify', false); ?>
																<?php } ?>
																<?php } else { ?>
																	<a href="javascript:void(0);" class="openLocationModel action tocart primary"><?php /* @escapeNotVerified */ echo __('+ Add') ?></a>
																<?php } ?>
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    </div>

                                                <?php else: ?>
                                                    <!--<?php if ($_product->getIsSalable()): ?>
															<div class="stock available"><span><?php /* @escapeNotVerified */
                                                        echo __('In stock') ?></span></div>
														<?php else: ?>
															<div class="stock unavailable"><span><?php /* @escapeNotVerified */
                                                        echo __('Out of stock') ?></span></div>
														<?php endif; ?>-->
                                                <?php endif; ?>

                                                <?php if (!$_product->isSaleable() && $_product->getTypeId() != 'grouped'): ?>
                                                    <?php
                                                    if ($block->getChildBlock('gourmet.alert.notify')) {
                                                        $block->getChildBlock('gourmet.alert.notify')->setProdId($_product->getId());
                                                        echo $block->getChildHtml('gourmet.alert.notify', false);
                                                    }
                                                    ?>
                                                <?php endif; ?>
                                                <?php
                                                if ($_product->getTypeId() == 'grouped'):
                                                    echo $_product->getResource()->getAttribute('preparation_time')->getFrontend()->getValue($_product);
                                                endif;
                                                ?>
												<?php } else {  ?>
													<?php
                                                    if ($block->getChildBlock('gourmet.alert.notify')) {
                                                        $block->getChildBlock('gourmet.alert.notify')->setProdId($_product->getId());
                                                        echo $block->getChildHtml('gourmet.alert.notify', false);
                                                    }
                                                    ?>
												<?php } ?>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <?php if ($templateType): ?>
                                <?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
                            <?php endif; ?>
                            <?php if (!$_item->isComposite() && $_item->isSaleable() && $type == 'related'): ?>
                                <?php /* if (!$_item->getRequiredOptions()): ?>
                                    <div class="field choice related">
                                        <input type="checkbox" class="checkbox related"
                                               id="related-checkbox<?php
                                               echo $_item->getId() ?>" name="related_products[]"
                                               value="<?php
                                               echo $_item->getId() ?>"/>
                                        <label class="label" for="related-checkbox<?php
                                        echo $_item->getId() ?>"><span><?php
                                                echo __('Add') ?></span></label>
                                    </div>
                                <?php endif; */ ?>
                            <?php endif; ?>
                        </div>
                        <?php echo ($iterator == count($items) + 1) ? '</li>' : '' ?>
						<?php } ?>
                        <?php endforeach ?>
                        </ol>
                    </div>
                </div>
            </div>
            <?php endif; ?>
           
            <script>
                require([
                    'domReady!',
                    'jquery',
                    'flickity'
                ], function (doc, $, Flickity) {
                    'use strict';
                    var flickity = [];
                    var elem = document.querySelectorAll('.main-carousel');
                    // Check if to enable drag or not
                    var windowWidth = window.outerWidth,
                        widthDefault = 874,
                        isDraggable = windowWidth <= widthDefault;

                    // Delay to avoid any UI issues because of loading { fallback }
                    $(document).ready(function () {
                        setTimeout(function () {
                            // initiate plugin
                            createSlider();
                        }, 1000);
                    });

                    // On window resize
                    window.onresize = function () {
                        var j;
                        for (j = 0; j < flickity.length; j++) {
                            flickity[j].destroy();
                        }

                        // re-initiate plugin
                        createSlider();
                    };

                    // Create flickity
                    function createSlider() {
                        var i;
                        for (i = 0; i < elem.length; i++) {
                            flickity[i] = new Flickity(elem[i], {
                                cellAlign: 'left',
                                contain: true,
                                wrapAround: true,
                                groupCells: true,
                                pageDots: false,
                                percentPosition: false,
                                draggable: isDraggable,
                                imagesLoaded: true
                            });
                        }
                    }
                });
            </script>

            <script type="text/x-magento-init">
                {
                    "[data-role=tocart-form], .form.map.checkout": {
                        "catalogAddToCart": {}
                    }
                }
            </script>
	<?php				
		$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$currencysymbol = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
		$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
	?>
			<script>
		require(['jquery', 'jquery/ui'], function($){ 
			$(".sel-option<?php echo $type; ?>").change(function(){				
			var id = $(this).attr("id");
		
			var productId = $(this).attr("pro-id");	
			var	SbaseAmount = 0;
			var dataSign = ''; 	
			
			var origPrice = parseFloat($("#"+id+" option:selected").attr("data-orig-price"));
                // For Second Dropdown - items.phtml
			if($("#"+id+" option").parent().siblings('select').find('option').hasClass('selected'))
			{
				SbaseAmount = $(".<?php echo $type; ?> #"+id+" option:selected").parent().siblings('select').find('option.selected').attr('data-price');
				SbaseAmount = parseFloat(SbaseAmount);
				var dataSign = $(".<?php echo $type; ?> #"+id+" option:selected").parent().siblings('select').find('option').attr("data-type");
			}
			if($(".<?php echo $type; ?> #"+id+" option").hasClass('selected'))
			{
				$(".<?php echo $type; ?> #"+id+" option").removeClass('selected');
			}
			$(".<?php echo $type; ?> #"+id+" option:selected").addClass('selected');
			// End
			
			var baseAmount = parseFloat($(".<?php echo $type; ?> #"+id+" option:selected").attr("data-price"));
			var price = parseFloat($(".<?php echo $type; ?> #"+id+" option:selected").attr("data-orig"));
			var sign = $(".<?php echo $type; ?> #"+id+" option:selected").attr("data-type");
			var percent = (parseFloat(baseAmount)) + (parseFloat(SbaseAmount));
			
			var tax = price / 100 * percent;
			var finalPrice = (parseFloat(tax)) + parseFloat(price);									
			$(".<?php echo $type; ?> #product-price-"+productId+" .price").text('<?php echo $currency; ?>'+finalPrice.toFixed(2));			
		});
		 });
	</script>