<?php
use Magento\Catalog\Model\Product\ProductList\Toolbar;

$display_area =  $block->getDisplayArea();
?>
<?php if ($block->getCollection()->getSize()): ?>
    
    <?php if(empty($display_area) || ($display_area == 'count')):?>
		<div class="toolbar toolbar-products" data-mage-init='<?php /* @escapeNotVerified */ echo $block->getWidgetOptionsJson(); ?>'>
            <?php $result = $this->helper('Gourmet\Assist\Helper\Data')->getRemainingProductsCount($block->getTotalNum(), $block->getLastNum()); ?>
            <?php $result = null; ?>
            <?php if(!empty($result)): ?>
                <div class="item-remaining">
                    <?php echo $result; ?> more
                </div>
            <?php endif; ?>
			<?php
			$rootCat = '';
			if($this->getRequest()->getControllerName() != 'result') {
				$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
				$modelCatRep = $objectManager->create('Magento\Catalog\Model\CategoryRepository');
				$catId = $this->helper('Magento\Catalog\Helper\Data')->getCategory()->getId();
				$categoryObj = $modelCatRep->get($catId);
				$rootCat = $categoryObj->getParentCategory()->getName();
			}
			?>
			
            <?php if($rootCat == 'Recipes' && $this->getRequest()->getControllerName() != 'result') { ?>
			<div class="total-products product__count"><?php echo $block->getTotalNum(); ?> Recipes</div>
			<?php } else { ?>
			<div class="total-products product__count"><?php echo $block->getTotalNum(); ?> Products</div>
			<?php } ?>
		</div>
    <?php endif; ?>
    
	<?php if(empty($display_area) || ($display_area == 'sorter')):?>
		<div class="sort-menu" data-mage-init='<?php /* @escapeNotVerified */ echo $block->getWidgetOptionsJson(); ?>'>
			<?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/sorter.phtml')) ?>
		</div>
	<?php endif; ?>
<?php endif ?>