<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li class="item product product-item" data-role="product-item">
    <div class="product ci__itemwrapper">

        <div class="ci__image">
            <!-- ko if: product_has_url -->
            <a data-bind="attr: {href: product_url, title: product_name}" tabindex="-1" class="product-item-photo">
                <!-- ko foreach: $parent.getRegion('itemImage') -->
                <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
                <!-- /ko -->
            </a>
            <!-- /ko -->
            <!-- ko ifnot: product_has_url -->
            <span class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
                <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
                <!-- /ko -->
            </span>
            <!-- /ko -->
        </div>

        <div class="ci__content">
            <div class="ci__detail">
                <strong class="product-item-name block__row">
                    <!-- ko if: product_has_url -->
                    <a data-bind="attr: {href: product_url}, text: product_name"></a>
                    <!-- /ko -->
                    <!-- ko ifnot: product_has_url -->
                    <!-- ko text: product_name --><!-- /ko -->
                    <!-- /ko -->
                </strong>	

                <!-- ko if: options.length -->
                <div class="product options"
                     data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
                    <dl class="product options list cs__options">
                        <!-- ko foreach: { data: options, as: 'option' } -->
                        <dt class="label hidden"><!-- ko text: option.label --><!-- /ko --></dt>
                        <dd class="values">
                            <!-- ko if: Array.isArray(option.value) -->
                            <span data-bind="html: option.value.join('<br>')"></span>
                            <!-- /ko -->
                            <!-- ko ifnot: Array.isArray(option.value) -->
                            <span data-bind="html: option.value"></span>
                            <!-- /ko -->
                        </dd>
                        <!-- /ko -->
                    </dl>
                </div>
                <!-- /ko -->
				<!-- ko if: item.leadtime -->
				<div class="product-lead-time">
                    <em>*</em>
                    <span class="lead-time" data-bind="text: item.leadtime"></span>
                </div>
				<!-- /ko -->

                <div class="product actions block__row">
                    <!-- ko if: is_visible_in_site_visibility -->
                    <div class="primary hidden">
                        <a data-bind="attr: {href: configure_url, title: $t('Edit item')}" class="action edit">
                            <span data-bind="i18n: 'Edit'"></span>
                        </a>
                    </div>
                    <!-- /ko -->
                    <div class="secondary">
                        <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}" class="action delete">
                            <div class="thrash__icon" data-bind="i18n: 'Remove'"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ci__action">
                 <!-- ko ifnot: is_kit_product -->
                 <div class="product-item-pricing">
                     <div class="price-container">
                         <span class="price-wrapper" >

                             <span class="price-excluding-tax" data-label="Excl. Tax">
                                 <span class="minicart-price">
                                     <span class="price" data-bind="html: kit_product_point"></span></span>

                             </span>
                         </span>
                     </div>
                 </div>
                  <!-- /ko -->
                 <!-- ko if: is_kit_product -->
                <div class="product-item-pricing">
                    <!-- ko if: canApplyMsrp -->

                    <div class="details-map">
                        <span class="label" data-bind="i18n: 'Price'"></span>
                        <span class="value" data-bind="i18n: 'See price before order confirmation.'"></span>
                    </div>
                    <!-- /ko -->
                    <!-- ko ifnot: canApplyMsrp -->
                    <!-- ko foreach: $parent.getRegion('priceSidebar') -->
                    <!-- ko template: {name: getTemplate(), data: item.product_price, as: 'price'} --><!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->

                    <div class="details-qty qty">
                        <label class="label hidden" data-bind="i18n: 'Qty', attr: {
                           for: 'cart-item-'+item_id+'-qty'}"></label>

                        <button data-xyz="decress" data-bind="attr: {
                           id: 'update-cart-item-'+item_id,
                           'data-cart-item': item_id,
                           'data-cart-item': item_id,
                           title: $t('-')
                           }"
                                class="update-cart-item"
                                style="display: block !important">
                            <span data-bind="i18n: '-'"></span>
                        </button>
                        <input readonly="readonly" disabled="disabled" data-bind="attr: {
                           id: 'cart-item-'+item_id+'-qty',
                           'data-cart-item': item_id,
                           'data-item-qty': qty,
                           'data-cart-item-id': product_sku
                           }, value: qty"
                               type="number"
                               size="4"
                               class="item-qty cart-item-qty"
                               maxlength="12"/>
                        <button data-xyz="incress" data-bind="attr: {
                           id: 'update-carta-item-'+item_id,
                           'data-cart-item': item_id,
						   title: $t('+')
                           }"
                                class="update-cart-item"
                                style="display: block !important">
                            <span data-bind="i18n: '+'"></span>
                        </button>
                    </div>
                </div>
                     <!-- /ko -->
            </div>
        </div>
    </div>
</li>
