<?php 
	$categories = $block->breadCategories($block->listCategories());
	if(!empty($categories)):
?>
<div class="menu-crumbs">
	<ul>
		<?php foreach ($categories as $category): ?>
			<li><a href="<?php echo $category['url'] ?>"><?php echo $category['name']; ?></a></li>
		<?php endforeach; ?>

		<?php 
			$active_filters = $block->getChildBlock('sticky.countstate')->getCurrentActiveFilters();
			if(count($active_filters)):
		?>
			<li>+ <?php echo count($active_filters); ?> more filters</li>
		<?php endif; ?>
	</ul>
</div>
<?php endif; ?>