<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko ifnot: isItemsBlockExpanded() -->
<div class="block items-in-cart" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
    <div class="title" data-role="title">
        <strong role="heading">
            <div class="items-total mic__header">
                <!-- ko if: getItemsQty()-->
                <!-- ko i18n: 'Your Cart has ' --><!-- /ko -->
                <!-- /ko -->
                <span data-bind="text: getItemsQty()" class="qty"></span>
                <!-- ko if: getItemsQty() > 1 -->
                <!-- ko i18n: 'items' --><!-- /ko -->
                <!-- /ko -->

                <!-- ko if: getItemsQty() === 1 -->
                <!-- ko i18n: 'item' --><!-- /ko -->
                <!-- /ko -->
            </div>
        </strong>
    </div>
    <div class="content minicart-items" data-role="content">
        <div class="minicart-items-wrapper overflowed">
            <ol class="minicart-items">
                <!-- ko foreach: getItems() -->
                <li class="product-item">
                    <div class="product">
                        <!-- ko foreach: $parent.elems() -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                    </div>
                </li>
                <!-- /ko -->
            </ol>
        </div>
    </div>
</div>
<!-- /ko -->
<!-- ko if: isItemsBlockExpanded() -->
<div class="block items-in-cart" data-bind="mageInit: {'collapsible':{'openedState': 'active', 'active': true}}">
    <div class="title" data-role="title">
        <strong role="heading">
            <div class="items-total mic__header">
                <!-- ko if: getItemsQty()-->
                <!-- ko i18n: 'Your Cart has ' --><!-- /ko -->
                <!-- /ko -->
                <span data-bind="text: getItemsQty()" class="qty"></span>
                <!-- ko if: getItemsQty() > 1 -->
                <!-- ko i18n: 'items' --><!-- /ko -->
                <!-- /ko -->

                <!-- ko if: getItemsQty() === 1 -->
                <!-- ko i18n: 'item' --><!-- /ko -->
                <!-- /ko -->
            </div>
        </strong>
    </div>
    <div class="content minicart-items" data-role="content">
        <div class="minicart-items-wrapper cc__minicart overflowed" data-bind="miniCartScroll">
            <ol class="minicart-items">
                <!-- ko foreach: getItems() -->
                <li class="product-item">
                    <div class="product ci__itemwrapper">
                        <!-- ko foreach: $parent.elems() -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                    </div>
                </li>
                <!-- /ko -->
            </ol>
        </div>
    </div>
</div>
<!-- /ko -->
