<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Checkout
 */
?>
<?php /** @var \Amasty\Checkout\Block\Adminhtml\Sales\Order\Delivery $block */ ?>
<?php if ($fields = $block->getDeliveryDateFields()): ?>
<section class="admin__page-section amasty-deliverydate">
    <div class="admin__page-section-title">
        <span class="title"><?= __('Delivery Information') ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item" style="width: 49%;">
            <table class="admin__table-secondary">
                <?php $i=0; foreach ($fields as $field): if($i == 1){continue;} ?>
                    <tr>
                        <td><?= $field['label']; ?></td>
                        <td style="text-align: right;"><?= $field['value']; $i++; ?></td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </div>
    </div>
</section>
<?php endif ?>
