<?php //phpcs:disable ?>
<div id="top-app-banner" class="branch-animation" style="top: 0px; display: none;">
    <div class="content">
        <div class="right">
            <div id="branch-sms-form-container">
                <a id="branch-mobile-action" class="button" href="#" target="_parent"><?php /* @escapeNotVerified */ echo __('View') //phpcs:ignore ?></a>
            </div>
        </div>
                <div class="left"><div id="top-app-banner-close" class="branch-animation" aria-label="Close">X</div>
                    <div class="icon"><img src="https://staging.gourmetegypt.com/media/logo/default/newlogo.jpg" alt="Application icon"></div>
                    <div class="details vertically-align-middle"><div class="title">GOURMETEGYPT.COM</div>
                        <div class="reviews">
                            <span class="stars">
                                <span class="star">
                                    <svg class="star" fill="#555555" height="12" viewBox="3 2 20 19" width="12">
                                    <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <foreignObject display="none">
                                    <span class="star">?</span>
                                    </foreignObject></svg>
                                    <span class="full">
                                        <svg fill="#555555" height="12" viewBox="3 2 20 19" width="12">
                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                        <foreignObject display="none">
                                        <span class="full">?</span></foreignObject></svg> </span></span>
                                        <span class="star"><svg class="star" fill="#555555" height="12" viewBox="3 2 20 19" width="12"><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path><path d="M0 0h24v24H0z" fill="none"></path><foreignObject display="none"><span class="star">?</span></foreignObject></svg><span class="full"><svg fill="#555555" height="12" viewBox="3 2 20 19" width="12"><path d="M0 0h24v24H0z" fill="none"></path><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path><path d="M0 0h24v24H0z" fill="none"></path><foreignObject display="none"><span class="full">?</span></foreignObject></svg> </span></span><span class="star"><svg class="star" fill="#555555" height="12" viewBox="3 2 20 19" width="12"><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path><path d="M0 0h24v24H0z" fill="none"></path><foreignObject display="none"><span class="star">?</span></foreignObject></svg><span class="full"><svg fill="#555555" height="12" viewBox="3 2 20 19" width="12"><path d="M0 0h24v24H0z" fill="none"></path><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path><path d="M0 0h24v24H0z" fill="none"></path><foreignObject display="none"><span class="full">?</span></foreignObject></svg> </span></span><span class="star"><svg class="star" fill="#555555" height="12" viewBox="3 2 20 19" width="12"><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path><path d="M0 0h24v24H0z" fill="none"></path><foreignObject display="none"><span class="star">?</span></foreignObject></svg><span class="full"><svg fill="#555555" height="12" viewBox="3 2 20 19" width="12"><path d="M0 0h24v24H0z" fill="none"></path><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path><path d="M0 0h24v24H0z" fill="none"></path><foreignObject display="none"><span class="full">?</span></foreignObject></svg> </span></span><span class="star"><svg class="star" fill="#555555" height="12" viewBox="3 2 20 19" width="12"><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path><path d="M0 0h24v24H0z" fill="none"></path><foreignObject display="none"><span class="star">?</span></foreignObject></svg><span class="full"><svg fill="#555555" height="12" viewBox="3 2 20 19" width="12"><path d="M0 0h24v24H0z" fill="none"></path><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path><path d="M0 0h24v24H0z" fill="none"></path><foreignObject display="none"><span class="full">?</span></foreignObject></svg> </span></span></span></div><div class="description"><?= __("Your Gourmet groceries are just a click away! Download our app now!") ?></div></div></div></div></div>


<script>
require(['jquery', 'jquery/ui','Magento_Ui/js/modal/modal',], function($){ 
    var cname= "download-app";
    var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      var coockeedata= c.substring(name.length, c.length);
    }else{
        var coockeedata='';
    }
  }
if(!coockeedata){
if(navigator.userAgent.toLowerCase().indexOf("android") > -1||navigator.userAgent.toLowerCase().indexOf("iphone") >-1) {
$("#top-app-banner").show();                                            
$("#branch-mobile-action").click(function(){
window.location = 'gourmetegypt://';
if(navigator.userAgent.toLowerCase().indexOf("android") > -1) {
setTimeout(function(){window.location.href="https://play.app.goo.gl/?link=https://play.google.com/store/apps/details?id=com.bravvura.gourmetegypt&amp;ddl=1&pcampaignid=web_ddl_1"},100);   
 }
if(navigator.userAgent.toLowerCase().indexOf("iphone") >-1) { 
 window.location.href= "https://itunes.apple.com/app/gourmet-egypt/id1323983398"; 
}
});
 $("#top-app-banner-close").click(function(){
  $("#top-app-banner").hide();
  $.cookie( 'download-app', '1', '0');
 
   

});                   
                             }
                         }
  });
</script>