<?php //phpcs:ignore ?>

<?php
$hasNewCario = $block->customerHasNewCario();
//var_dump($this->getUrl('loyalty/index/customer')); exit;
if ($hasNewCario) {
    ?>

    <div id="customer_store_popup" style="display: none">
        <div id="message_loyalty" style="color: black;font-size: large;font-weight: bold;
        padding: 1px;margin: 1px; text-align: center;">
            Hello, thank you for choosing Gourmet Egypt. We now have two stores in New Cairo,
            please update your address accordingly. Happy shopping.
        </div>
        
    </div>
    <script type="text/javascript">
        require([
            'jquery',
            'Magento_Ui/js/modal/modal',
            'mage/mage'
        ], function ($) {
            'use strict';
            $(document).ready(function () {
                $('div#customer_store_popup').hide();
                var storePopup = $('div#customer_store_popup')
                        .modal({
                            autoOpen: false,
                            buttons: [
                            ],
                            clickableOverlay: true,
                            focus: '',
                            innerScroll: false,
                            modalClass: 'customer_store_popup',
                    
                            responsive: true,
                            closeOnEscape: false,
                            open: function (event, ui) {
                                $(".modal-header", ui.dialog | ui).hide();
                            },
                            type: 'popup'
                        });
                storePopup.modal("openModal");

         
               
            });
        });
    </script>
    <style>
        .customer_store_popup .modal-inner-wrap {
    top: 30%;
}</style>
<?php } ?>

