<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
$product_id = $product->getId();
$_product = $objectManager->get('Magento\Catalog\Model\Product')->load($product_id);
$attribute_code = 'tag';
$tagArabic = $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_product);
$tagArabic = explode(',', $tagArabic);
$eavConfig = $objectManager->get('\Magento\Eav\Model\Config');
$attribute = $eavConfig->getAttribute('catalog_product', $attribute_code)->setStoreId(0);
?>
<div class="block__row">
    <?php if ($product->getTag()): ?>
        <?php
        $tags = $_product->getTag();
        $tagArray = explode(',', $tags);
		$i = 0;
        ?>
        <ul class="tag__list">
            <?php foreach ($tagArray as $tag): ?>
                <li class="product-tags">
                    <?php $optionlabel =  $attribute->getSource()->getOptionText($tag);
					$img = strtolower(trim($optionlabel)); ?>
                    <img src="<?php echo $this->getViewFileUrl('images/'.preg_replace('/\s+/', '-', $img).'.png'); ?>" />
                    <?php echo $tagArabic[$i];  $i++; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
</div>
