<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Create account form template
 *
 * @see \Magento\CustomerCustomAttributes\Block\Form
 */
/* @var $block \Magento\CustomerCustomAttributes\Block\Form */
?>
<?php if ($block->hasUserDefinedAttributes()): ?>
    <?php if ($block->isShowContainer()): ?>
    <fieldset class="fieldset">
    <?php endif;?>
    <?php foreach ($block->getUserDefinedAttributes() as $attribute):?>
        <?php $attributeContent = $block->getAttributeHtml($attribute);?>
        <?php if ($attributeContent): ?>
			<?php
				$mystring = $attributeContent;
				$findme   = 'Update Status';
				$pos = strpos($mystring, $findme);
				if ($pos === false) {
			?>
            <?php /* @escapeNotVerified */ echo $attributeContent;?>
			<?php } else { ?>
				<?php $currentUrl = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>
				<?php
					$mystring = $currentUrl;
					$findme   = 'id';
					$pos = strpos($mystring, $findme);
					if ($pos === false) {
				?>
					<input type="hidden" name="update_status" id="update_status" value="0" />
				<?php } else { ?>
					<input type="hidden" name="update_status" id="update_status" value="1" />
				<?php } ?>
			<?php } ?>
        <?php endif;?>
    <?php endforeach;?>
    <?php if ($block->isShowContainer()): ?>
    </fieldset>
    <?php endif;?>
<?php endif; ?>
