<?php $cutomer_wishlists = $block->getCustomerWishlists(); ?>
<?php 
	$wishArr = array();
	foreach($cutomer_wishlists as $list){
		$wishArr[$list->getId()] = $list->getMultiWishlistName();
	}
	 
?>
<div class="customer-wishlist-wrapper">
	<?php if($cutomer_wishlists->count()): ?>
		<?php foreach ($cutomer_wishlists as $wishlist): ?>
			<div class="customer-wishlist" data-id="<?php echo $wishlist->getId(); ?>">
				<h2><?php echo ucfirst($wishlist->getMultiWishlistName()); ?></h2>
				<?php echo $block->getChildBlock('gourmet.account.products')->setWishlistId($wishlist->getId())->toHtml(); ?>
				<?php /*
				<div class="actions-toolbar">
				    <div class="primary">
				        <button type="button" name="rename" data-action="rename" title="Rename Wish List" class="action update primary"><span>Rename</span></button>
				        <button type="button" name="delete" data-action="delete" title="Delete Wish List" class="action update primary"><span>Delete</span></button>
				        <button type="button" name="save_and_share" data-action="share" title="Share Wish List" class="action share primary"><span>Share</span></button>
				    </div>
				</div>
				*/ ?>
			</div>
		<?php endforeach;?>

		<div class="hidden">
			<div id="list-copy" class="wishlist-modal">
				<div id="copy-wrapper">
					<div class="msgs" class="hidden"></div>
					<h4>Select wishlist to copy</h4>
					<div class="alter-select">
						<select></select>
					</div>
				</div>
			</div>
			<div id="list-move" class="wishlist-modal">
				<div id="move-wrapper">
					<div class="msgs" class="hidden"></div>
					<h4>Select wishlist to move</h4>
					<div class="alter-select">
						<select></select>
					</div>
				</div>
			</div>
			<div id="list-rename" class="wishlist-modal">
				<div id="rename-wrapper">
					<div class="msgs" class="hidden"></div>
					<h4>New Name</h4>
					<input type="text" name="rename" />
				</div>
			</div>
			<div id="list-share" class="wishlist-modal">
				<div id="share-wrapper">
					<div class="msgs" class="hidden"></div>
					<h4>Emails (comma separated)</h4>
					<textarea name="share-email"></textarea>
					<h4>Message</h4>
					<textarea name="share-msg"></textarea>
				</div>
			</div>
		</div>
	<?php  endif; ?>
	
	
	<script>
	require(['gourmetAlert', 'gourmetAlertCheck'], function($){});
	</script>
	
	<?php if (!$block->isRedirectToCartEnabled()) : ?>
	
	
	    <script type="text/x-magento-init">
	    {
	        "[data-role=tocart-form], .form.map.checkout": {
	            "catalogAddToCart": {}
	        },
	        "*": {
	            "gourmetAccount":{
	            	"rename" : "<?php echo $this->getUrl('gourmet-wishlist/account/rename'); ?>",
	            	"share" : "<?php echo $this->getUrl('gourmet-wishlist/account/share'); ?>",
	            	"shadow" : "<?php echo $this->getUrl('gourmet-wishlist/account/shadow'); ?>",
	            	"delete" : "<?php echo $this->getUrl('gourmet-wishlist/account/delete'); ?>",
	            	"formkey" : "<?php echo $block->getFormKey(); ?>",
	            	"wishlists" : <?php echo json_encode($wishArr); ?>
	            }
	        }
	    }
	    </script>
	<?php endif; ?>
</div>
