<?php 
use Magento\Framework\App\Action\Action;
	$productsCollection = $block->getWishlistProducts(); 
	$image = 'category_page_grid';
	$_labelsBlock = $block->getLayout()->createBlock('Gourmet\Assist\Block\Labels');
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>

<?php if(!is_null($productsCollection) && $productsCollection->count()): ?>
    <div class="products wrapper grid products-grid">
        <ol class="products list items product-items">
        	<?php foreach($productsCollection as $_prd): 
                $_product = $objectManager->create('Magento\Catalog\Model\Product')->load($_prd->getId());
            ?>
			<?php
				$inventory = 0;
				if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
					$cookie = $_COOKIE["Gourmet_Location"];
					$lochelper = $objectManager->get('\Gourmet\Location\Helper\Data');
					$data = $lochelper->getLocationById($cookie);
					$store = $data->getStoreId();
					$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId());
					$storeId = 'store_'.$store;
					$inventory = $productStockObj[$storeId];
				}
				?>
				<?php
				$product_id = $_product->getId();
				$minQty = $productStockObj->getMinQty();
				?>
        		<li class="item product <?php echo ($_product->getTypeId() == 'grouped') ? 'recipe-lists':''  ?> product-item prod-swatch-<?php echo $_product->getId();  ?>">
        			<div class="product__info">
        				<div class="product-item-info" data-container="product-grid">
        					 <div class="upperRelativeDiv <?php echo $_product->getId();  ?>">
        					 	<a class="product-item-link" href="<?php echo $_prd->getProductUrl(); ?>">
        					 		<?php                          
                                        echo $block->getImage($_product, $image)->toHtml(); 
                                    ?>
        					 		<div class="product-qty-wrapper" style="display:none;">
    	                                <div class="update_qty">
    	                                    <span class="product-qty-inCart"></span>
    	                                    <span class="in-your-cart">in your cart</span>
    	                                </div>
    	                            </div>
        					 	</a>
                                <?php $prod_label = $prod_label = $_labelsBlock->fetchLabel($_product, $inventory);
                                    if (!empty($prod_label) && !stristr($prod_label, 'wishlist')):?>
                                    <?php if($_product->getTypeId() != 'grouped') { ?>
									<div class="offer-tag"><?php echo $prod_label; ?></div>
								<?php } ?>
                                <?php endif; ?>
                                
                                <?php if (($_product->getTypeId() != 'grouped') && $_product->getResource()->getAttribute('tag')): ?>
                                    <?php
    	                                $tagsWithCommas = '';
    	                                $tagsWithCommas = $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_product);
    	                                $tags = '';
    	                                if ($tagsWithCommas) :
    	                                    $tags = explode(",", $tagsWithCommas);
    	                                    $t = 1;
                                    ?>
                                        <div class="allTagsContainer">
                                            <ul>
                                                <?php foreach ($tags as $tag): ?>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <?php $img = str_replace(" ", "-", strtolower(trim($tag))); ?>
                                                            <img src="<?php echo $this->getViewFileUrl('images/' . $img . '.png'); ?>" alt="<?php echo $tag; ?>">
                                                            <span><?php echo $tag; ?></span>
                                                        </a>
                                                    </li>
                                                <?php $t++;
                                                    if ($t == 6) {break;} 
                                                endforeach; ?>
                                            </ul>
                                        </div>
                                    <?php endif; ?>
                                <?php endif; ?>
        					 </div>
                            <div class="product details product-item-details">
                                <div class="productDetail">
                                    <div class="pild">
                                        <div class="product name product-item-name">
                                            <a class="product-item-link" title="<?php echo $block->escapeHtml($_product->getName()) ?>" href="<?php echo $_prd->getProductUrl(); ?>">
                                                <?php echo $block->escapeHtml($_product->getName()) ?>
                                            </a>
                                        </div>
                                        <?php $weight = $_product->getResource()->getAttribute('product_weight')->getFrontend()->getValue($_product);
                                        if($weight && $_product->getTypeId() != 'grouped'):
                                        ?>
                                            <div class="product-weight block__row"> 
                                                <span class="extra-custom-options-value"><?php echo $_product->getResource()->getAttribute('product_weight')->getFrontend()->getValue($_product) ?></span>      
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($_product->getTag() && $_product->getTypeId() == 'grouped'):
                                            $tags = $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_product); ?>
                                            <div class="block__row">
                                                <ul class="tag__list">
                                                    <li class="product-tags">
                                                        <?php echo $tags; ?>
                                                    </li>
                                                </ul>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                    <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
                                        <a href="javascript:void(0)" class="wish-product-action">Action</a>
                                        <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                            <?php echo $addToBlock->setProduct($_product)->getChildHtml(); ?>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
        				</div>
        			</div>

                    
                    
                    <div class="product__details">
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if (($_product->isSaleable() && (isset($inventory) && $inventory > $minQty)) || $_product->getTypeId() == 'grouped'){ ?>
									<?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                    <?php
                                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                    $baseUrl = $storeManager->getStore()->getBaseUrl() . 'checkout/cart/add/';
                                    $cartUrl = $baseUrl . $postParams['data'][Action::PARAM_NAME_URL_ENCODED] . '/' . $postParams['data'][Action::PARAM_NAME_URL_ENCODED] . '/product/' . $_product->getId();
                                    ?>
                                    <form id="product_addtocart_form_<?php echo $_product->getId() ?>" data-role="tocart-form" action="<?php echo $cartUrl; ?>" method="post">
                                        <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                        <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                        <?php echo $block->getBlockHtml('formkey') ?>
										
										<?php if (count($_product->getOptions()) > 0): ?>
										<?php
										$product = $objectManager->get('Magento\Catalog\Model\Product')->load($_product->getId());
										$customOptions = $objectManager->get('Magento\Catalog\Model\Product\Option')->getProductOptionCollection($product);
										$oldPrice = $product->getPrice();
										$basePrice = $product->getPrice();
										$finalPrice = $product->getFinalPrice(); ?>
    									<div class="custom-dropdowns-option">
    										<?php $count = 1; 
    										$countCustomOption = count($customOptions);
    										foreach ($customOptions as $option):?> 
    										<?php $values = $option->getValues();  ?>
    										<?php switch ($option->getData()['type']) {
    											case 'drop_down': 
    												$values = $option->getValues(); ?>													
    												<select class="sel-option product-custom-option-<?php echo $_product->getId() ?> admin__control-select" pro-id="<?php echo $_product->getId() ?>" id="<?php echo $_product->getId().$count ?>" data-selector="options[<?php echo $option->getId() ?>]" name="options[<?php echo $option->getId() ?>]">
    													<?php foreach($values as $value):  
    													$customPrice = $value->getData('default_price');
    													$getprice = ($customPrice) ? $customPrice : 0;
    													$sign = ($value->getData('default_price') < 0) ? '-' : '+';
    													?>
    													<option price="<?php echo $value->getData('default_price'); ?>" value="<?php echo $value->getData('option_type_id') ?>" data-orig="<?php echo $basePrice; ?>" data-type="<?php echo $sign; ?>" data-orig-price="<?php echo $basePrice; ?>" data-price="<?php echo $getprice; ?>"><?php echo $value->getTitle() ?>
    													</option>								
    													<?php endforeach; ?>
    												</select>
    										<?php break; } ?>
    										<?php 
    										if($count == $countCustomOption)
    										{
    											$count = 1;
    										}
    										$count++;
    										?>											
    										<?php endforeach; ?>
    										<script type="text/x-magento-init">
    											{
    												"#product_addtocart_form_<?php echo $product->getId() ?>": {
    												"priceOptions": {
    												"productId" : "<?php echo $product->getId() ?>",
    												"optionConfig": <?php echo $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View\Options')->setProduct($product)->getJsonConfig();?>,
    												"controlContainer": "#product_addtocart_form_<?php echo $product->getId() ?> .field",
    												"priceHolderSelector": "[data-product-id=<?php echo $product->getId() ?>][data-role=priceBox]",
    												"optionsSelector": ".product-custom-option-<?php echo $product->getId() ?>"
    												}
    												}
    											}
    										</script>	
    									</div>
    									<?php endif; ?>
    									
                                            <div class="add-product">
                                                <?php if ($_product->getTypeId() != 'grouped'): ?>
                                                <div class="price__wrapper">
                                                    <?php /* @escapeNotVerified */ echo $block->getProductPrice($_prd) ?>
                                                </div>
                                                <?php endif; ?>
                                                <?php if ($_product->isSaleable() && $_product->getTypeId() != 'grouped'): ?>
                                                    <div class="pull-right">
                                                    
														<?php
															if(isset($_COOKIE['Gourmet_Location']) && (isset($_SESSION["locationconfirm"]) && $_SESSION["locationconfirm"] == 1)){
															if($inventory > $minQty){
														?>
															<button type="button" data-action="addto-cart-deduct"
																title="<?php echo $block->escapeHtml(__('Remove Product')); ?>"
																class="action deduct hidden primary button__inverse">
																<span><?php /* @escapeNotVerified */
																echo __('-') ?></span>
															</button>
															<button type="submit"
																	title="<?php echo $block->escapeHtml(__('+ Add')); ?>"
																	class="action tocart primary"
																	qty-inCart="<?php echo $_product->getId(); ?>">
																	<span><?php /* @escapeNotVerified */ echo __('+ Add') ?></span>
															</button>
															<?php } ?>
														<?php } else { ?>
															<a href="javascript:void(0);" class="openLocationModel action tocart primary"><?php /* @escapeNotVerified */ echo __('+ Add') ?></a>
														<?php } ?>
													</div>
                                                <?php endif; ?>

                                                
                                            </div>
                                    </form>
									<?php } ?>
									<?php if (((isset($inventory) && $inventory <= $minQty) || (!isset($inventory))) && $_product->getTypeId() != 'grouped'): ?>
										<?php //if (!$_product->isSaleable() && $block->getChildBlock('gourmet.alert.notify')): ?>
											<?php
											$block->getChildBlock('gourmet.alert.notify')->setProdId($_product->getId());
											echo $block->getChildHtml('gourmet.alert.notify', false); ?>
										<?php //endif; ?>

									<?php endif; ?>
                                </div>                               
								

                                <?php
                                    $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                    $_reviewFactory = $_objectManager->create('Magento\Review\Model\Review');
                                    $_storeId = $storeManager->getStore()->getStoreId(); //Store ID;
                                    $_reviewFactory->getEntitySummary($_product, $_storeId);
                                    $_ratingSummary = $_product->getRatingSummary()->getRatingSummary();
                                    $_reviewCount = $_product->getRatingSummary()->getReviewsCount();
                                    ?>
                                    <?php if ((int)$_ratingSummary > 0) : ?>
                                        <div class="product-reviews-summary short">
                                            <div class="rating-summary">
                                                <span class="label"><span>Rating:</span></span>

                                                <div title="<?php echo (int)$_ratingSummary; ?>%"
                                                     class="rating-result">
                                                        <span style="width:<?php echo (int)$_ratingSummary; ?>%"><span><?php echo (int)$_ratingSummary; ?>
                                                                %</span></span>
                                                </div>
                                            </div>
                                            <div class="reviews-actions">
                                                <a href="javascript:void(0)" class="action view">(<?php echo $_reviewCount; ?>)</a>
                                            </div>
                                        </div>
                                    <?php endif; ?>

                            </div>
                            
                                    
                                        <?php
                                            if ($_product->getTypeId() == 'grouped'): ?>
                                                <div class="prep-time">
                                            <?php echo $_product->getResource()->getAttribute('preparation_time')->getFrontend()->getValue($_product); ?>
                                            </div>
                                           <?php endif;
                                        ?>
                        </div>
                    </div>
                    <button id="wishlist-actions" value="remove" class="remove_item"><span>Remove</span></button>
        		</li>
        	<?php endforeach; ?>
        </ol>
    </div>
<?php else: ?>
    <div class="products wrapper grid products-grid">
        <p><?php echo __('This wishlist is empty') ?></p>
    </div>
<?php endif; ?>
<?php				
	$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$currencysymbol = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
	$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
?>
<script>
	require(['jquery', 'jquery/ui'], function($){ 
		$(".sel-option").change(function(){				
		var id = $(this).attr("id");		
		var productId = $(this).attr("pro-id");	
		var	SbaseAmount = 0;
		var dataSign = ''; 	
		
		var origPrice = parseFloat($("#"+id+" option:selected").attr("data-orig-price"));
		// For Second Dropdown - list.phtml
		if($("#"+id+" option").parent().siblings('select').find('option').hasClass('selected'))
		{
			SbaseAmount = $("#"+id+" option:selected").parent().siblings('select').find('option.selected').attr('data-price');
			SbaseAmount = parseFloat(SbaseAmount);
			var dataSign = $("#"+id+" option:selected").parent().siblings('select').find('option').attr("data-type");
		}
		if($("#"+id+" option").hasClass('selected'))
		{
			$("#"+id+" option").removeClass('selected');
		}
		$("#"+id+" option:selected").addClass('selected');
		// End
		
		var baseAmount = parseFloat($("#"+id+" option:selected").attr("data-price"));
		var price = parseFloat($("#"+id+" option:selected").attr("data-orig"));
		var sign = $("#"+id+" option:selected").attr("data-type");
		var percent = (parseFloat(baseAmount)) + (parseFloat(SbaseAmount));
		
		var tax = price / 100 * percent;
		var finalPrice = (parseFloat(tax)) + parseFloat(price);									
		$("#product-price-"+productId+" .price").text('<?php echo $currency; ?>'+finalPrice.toFixed(2));			
	});
	 });
</script>
<?php
//$block->getChildBlock('gourmet.alert.popup')->setProdId($_product->getId());
echo $block->getChildHtml('gourmet.alert.popup', false); ?>