<?php $wishlist = $block->getCurrentWishlist(); 

?>
<div class="customer-wishlist-wrapper">
	<?php if(!empty($wishlist)): ?>
		<div class="customer-wishlist" data-id="<?php echo $wishlist['id']; ?>">
			<h1><?php echo ucfirst($wishlist['multi_wishlist_name']); ?></h1>
			<?php echo $block->getChildBlock('gourmet.account.products')->setWishlistId($wishlist['id'])->toHtml(); ?>
		</div>
	<?php else: ?>
		<p>Sorry this wishlist is empty</p>
	<?php endif; ?>

	<?php if (!$block->isRedirectToCartEnabled()) : ?>
	    <script type="text/x-magento-init">
	    {
	        "[data-role=tocart-form], .form.map.checkout": {
	            "catalogAddToCart": {}
	        }
	    }
	    </script>
	<?php endif; ?>
</div>