<?php 
use Magento\Framework\App\Action\Action;

	$productsCollection = $block->getWishlistProducts(); 
	$image = 'category_page_grid';
	$_labelsBlock = $block->getLayout()->createBlock('Gourmet\Assist\Block\Labels');
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>

<?php if(!is_null($productsCollection) && $productsCollection->count()): ?>
    <div class="products wrapper grid products-grid">
        <ol class="products list items product-items">
        	<?php foreach($productsCollection as $_prd): 
                $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_prd->getId());
            ?>
        		<li class="item product product-item prod-swatch-<?php echo $_product->getId();  ?>">
        			<div class="product__info">
        				<div class="product-item-info" data-container="product-grid">
        					 <div class="upperRelativeDiv <?php echo $_product->getId();  ?>">
        					 	<a class="product-item-link" href="<?php echo $_product->getProductUrl(); ?>">
        					 		<?php                          
                                        echo $block->getImage($_product, $image)->toHtml(); 
                                    ?>
        					 		<div class="product-qty-wrapper" style="display:none;">
    	                                <div class="update_qty">
    	                                    <span class="product-qty-inCart"></span>
    	                                    <span class="in-your-cart">in your cart</span>
    	                                </div>
    	                            </div>
        					 	</a>
                                <?php $prod_label = $_labelsBlock->fetchLabel($_product);
                                    if (!empty($prod_label) && !stristr($prod_label, 'wishlist')):?>
                                    <div class="offer-tag"><?php echo $prod_label; ?></div>
                                <?php endif; ?>
                                
                                <?php if (($_product->getTypeId() != 'grouped') && $_product->getResource()->getAttribute('tag')): ?>
                                    <?php
    	                                $tagsWithCommas = '';
    	                                $tagsWithCommas = $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_product);
    	                                $tags = '';
    	                                if ($tagsWithCommas) :
    	                                    $tags = explode(",", $tagsWithCommas);
    	                                    $t = 1;
                                    ?>
                                        <div class="allTagsContainer">
                                            <ul>
                                                <?php foreach ($tags as $tag): ?>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <?php $img = str_replace(" ", "-", strtolower(trim($tag))); ?>
                                                            <img src="<?php echo $this->getViewFileUrl('images/' . $img . '.png'); ?>" alt="<?php echo $tag; ?>">
                                                            <span><?php echo $tag; ?></span>
                                                        </a>
                                                    </li>
                                                <?php $t++;
                                                    if ($t == 6) {break;} 
                                                endforeach; ?>
                                            </ul>
                                        </div>
                                    <?php endif; ?>
                                <?php endif; ?>
        					 </div>
                            <div class="product details product-item-details">
                                <div class="productDetail">
                                    <div class="pild">
                                        <div class="product name product-item-name">
                                            <a class="product-item-link" title="<?php echo $block->escapeHtml($_product->getName()) ?>" href="<?php echo $block->getProductUrl($_product) ?>">
                                                <?php echo $block->escapeHtml($_product->getName()) ?>
                                            </a>
                                        </div>
                                        <?php if ($_product->getTag() && $_product->getTypeId() == 'grouped'):
                                            $tags = $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_product); ?>
                                            <div class="block__row">
                                                <ul class="tag__list">
                                                    <li class="product-tags">
                                                        <?php echo $tags; ?>
                                                    </li>
                                                </ul>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                    <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
                                        <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                            <?php echo $addToBlock->setProduct($_product)->getChildHtml(); ?>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
        				</div>
        			</div>

                    <?php if (count($_product->getOptions()) > 0): ?>
                        <div class="custom-dropdowns-option">
                            <?php foreach ($_product->getOptions() as $option):
                                switch ($option->getData()['type']) {
                                    case 'drop_down':
                                        $values = $option->getValues(); ?>
                                        <div class="col-xs-6">
                                            <select name="options[<?php echo $option->getData()['option_id'] ?>]"
                                                    id="select_<?php echo $option->getData()['option_id'] ?>"
                                                    class=" required product-custom-option-<?php echo $_product->getId() ?> admin__control-select selectpicker"
                                                    title=""
                                                    data-selector="options[<?php echo $option->getData()['option_id'] ?>]"
                                                    aria-required="true">
                                                <?php foreach ($values as $value): ?>
                                                    <option value="<?php echo $value->getId(); ?>"
                                                            price="<?php echo $value->getPrice(); ?>"><?php echo $value->getTitle(); ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div>
                                        <?php break;
                                } endforeach; ?>
                            <?php if ($_product->getOptions()): ?>
                                <script type="text/x-magento-init">
                                {
                                    "#product_addtocart_form_<?php echo $_product->getId() ?>": {
                                        "priceOptions": {
                                            "productId" : "<?php echo $_product->getId() ?>",
                                            "optionConfig": <?php echo $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View\Options')->setProduct($_product)->getJsonConfig(); ?>,
                                            "controlContainer": "#product_addtocart_form_<?php echo $_product->getId() ?>",
                                            "priceHolderSelector": "[data-product-id='<?php echo $_product->getId() ?>'][data-role=priceBox]"
                                        }
                                    }
                                }
                                </script>
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>
                    
                    <div class="product__details">
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                    <?php
                                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                    $baseUrl = $storeManager->getStore()->getBaseUrl() . 'checkout/cart/add/';
                                    $cartUrl = $baseUrl . $postParams['data'][Action::PARAM_NAME_URL_ENCODED] . '/' . $postParams['data'][Action::PARAM_NAME_URL_ENCODED] . '/product/' . $_product->getId();
                                    ?>
                                    <form id="product_addtocart_form_<?php echo $_product->getId() ?>" data-role="tocart-form" action="<?php echo $cartUrl; ?>" method="post">
                                        <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                        <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                        <?php echo $block->getBlockHtml('formkey') ?>
                                        <div class="add-product">
                                            <?php if ($_product->getTypeId() != 'grouped'): ?>
                                            <div class="price__wrapper">
                                                <?php /* @escapeNotVerified */ echo $block->getProductPrice($_prd) ?>
                                            </div>
                                            <?php endif; ?>
                                            <?php if ($_product->isSaleable() && $_product->getTypeId() != 'grouped'): ?>
                                                <div class="pull-right">
                                                    <button type="button" data-action="addto-cart-deduct"
                                                            title="<?php echo $block->escapeHtml(__('Remove Product')); ?>"
                                                            class="action deduct hidden primary">
                                                            <span><?php echo __('-') ?></span>
                                                    </button>
                                                    <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product) && $_product->getTypeId() != 'grouped'): ?>
                                                        <button type="submit"
                                                                title="<?php echo $block->escapeHtml(__('+ Add')); ?>"
                                                                class="action tocart primary"
                                                                qty-inCart="<?php echo $_product->getId(); ?>">
                                                            <span><?php echo __('+ Add') ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php if ($_product->getTypeId() != 'grouped'): ?>
                                                            <button type="submit"
                                                                    title="<?php echo $block->escapeHtml(__('+ Add')); ?>"
                                                                    class="action tocart primary"
                                                                    qty-inCart="<?php echo $_product->getId(); ?>">
                                                                    <span><?php echo __('+ Add') ?></span>
                                                            </button>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>

                                            <?php if (!$_product->isSaleable() && $_product->getTypeId() != 'grouped'): ?>
                                                <?php
                                                if ($block->getChildBlock('gourmet.alert.notify')) {
                                                    $block->getChildBlock('gourmet.alert.notify')->setProdId($_product->getId());
                                                    echo $block->getChildHtml('gourmet.alert.notify', false);
                                                }
                                                ?>
                                            <?php endif; ?>
                                            <?php
                                            if ($_product->getTypeId() == 'grouped'):
                                                echo $_product->getResource()->getAttribute('preparation_time')->getFrontend()->getValue($_product);
                                            endif;
                                            ?>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
        		</li>
        	<?php endforeach; ?>
        </ol>
    </div>
<?php else: ?>
    <div class="products wrapper grid products-grid">
        <p><?php echo __('This wishlist is empty') ?></p>
    </div>
<?php endif; ?>