/*
@font-face {
    font-family: 'museo_sans100';
    src: url('../fonts/MuseoSans_100-webfont.eot');
    src: url('../fonts/MuseoSans_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_100-webfont.woff2') format('woff2'),
         url('../fonts/MuseoSans_100-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_100-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_100-webfont.svg#museo_sans100') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/MuseoSans_300-webfont.eot');
    src: url('../fonts/MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_300-webfont.woff2') format('woff2'),
         url('../fonts/MuseoSans_300-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_300-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_500-webfont.woff2') format('woff2'),
         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans700';
    src: url('../fonts/MuseoSans_700-webfont.eot');
    src: url('../fonts/MuseoSans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_700-webfont.woff2') format('woff2'),
         url('../fonts/MuseoSans_700-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_700-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;
} */