/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
.page-print .logo {
  display: block;
  float: none;
  text-align: left;
}
@media print {
  * {
    -webkit-filter: none !important;
    background: transparent !important;
    color: #000000 !important;
    filter: none !important;
    text-shadow: none !important;
    position: static !important;
  }
  a,
  a:visited {
    text-decoration: underline !important;
  }
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  .table-wrapper table {
    width: 100%;
    table-layout: fixed;
  }
  .table-wrapper table td {
    width: auto;
  }
  .table-wrapper table > tfoot > tr:first-child {
    border-top: 1px solid #999999;
  }
  .box,
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 1cm;
  }
  .block-content,
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  .block-content {
    page-break-before: avoid;
  }
  .block-title,
  h2,
  h3 {
    page-break-after: avoid;
  }
  .nav-toggle {
    display: none !important;
  }
  .sidebar,
  .nav-sections,
  .header.content > *[class],
  .panel.wrapper > *[class],
  .footer.content > *[class] {
    display: none;
  }
  .logo,
  .footer .copyright {
    display: block !important;
    margin: 10px 0;
  }
  .order-details-items .order-items .order-gift-message:not(.expanded-content) {
    height: auto;
    visibility: visible;
  }
  .column.main {
    float: none !important;
    width: 100% !important;
  }
  .breadcrumbs {
    margin: 0 auto;
    text-align: right;
  }
  .footer.content {
    padding: 0;
  }
  /*-Print Css For checkout-cart-*/
  a[href]:after, .header-wrapper, #block-discount, #block-giftcard, .checkout-methods-items, .shipping-msg, .cart.main.actions, .compare-popup,
  .cart.table-wrapper .item-actions td, a.action, .cart.table-wrapper .col.qty .label, .block__row.block.crosssell, footer.page-footer, 
  .gift-options-cart, .cart-gift-item, .cart-summary .block > .title, tr.totals-tax, .modals-wrapper, .loader{
    display: none !important;
  }
  .cart-summary{
    padding: 1px 0 0 !important;
  }
  .cart-summary strong.summary.title{
    font-size: 20px;
  }
  .cart-totals{
    padding-top: 0;
    border-top: none;
  }
  .cart-summary{
    border-bottom: 3px solid #ddd;
    border-top: 1px solid #ddd;
    padding-bottom: 0;
  }
  .cart.table-wrapper .col{
    width: 17%;
  }
  .cart.table-wrapper .item .col.item, .cart.table-wrapper .col.item{
    display: table-cell !important;
    padding-left: 0px;
    width: 49% !important
  }
  .cart.table-wrapper .items > .item{
    border-bottom: none; 
  }
  .control.qty input.input-text.qty{
    border: none;
    outline: none;
    padding: 0 0 0 0;
    text-align: right !important;
    font-size: 1.8rem;
    font-weight: bold;

  }
  .cart.table-wrapper .product-item-photo{
    float: left;
    margin-right: 15px;
  }
  .cart.table-wrapper .product-item-details{
    width: calc(100% - 80px);
    float: left;
  }
  .cart.table-wrapper .product-item-name{margin-bottom: 0;}
  .cart.table-wrapper .product-item-name a{text-decoration: none !important;}
  body.checkout-cart-index {
    font-size: 1.8rem;
    font-family: Arial;
  }
  h1.page-title{font-size: 24px; margin-bottom: 15px;}
  .grand.totals strong{font-weight: bold;}
  .logo{display: inline-block !important; float: none; !important;overflow:hidden;width:132px;margin:0 auto !important;}
  /*.header.content{text-align:left;}*/
  .header.content:before,.header.content:after{display: none;}

  /*-Print Css For Thank-You-*/
  .actions-toolbar, .block__row.hrline, section.latest-blog, #registration, .checkout-success > div.block__row.text-center{
    display: none;}

}
