<div class="ci__image">
    <!-- ko if: canShowDeleteButton() -->
    <div class="delete hidden" data-bind="click: deleteItem.bind($data, $parent)"/>
    <!-- /ko -->

    <!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
<div class="ci__content chk__content">
    <div class="block__row">
        <form action="" method="post" data-role="product-attributes"
              data-bind="attr: {'data-item-id': $parent.item_id}">
            <div class="ci__detail">
				<!--<div class="product-item-details">-->		
				<div class="block__row">			
					<div class="product-item-inner">
						<div class="product-item-name-block">
							<strong class="product-item-name" data-bind="text: $parent.name"></strong>
							<!--ko foreach: JSON.parse($parent.options)-->
								<div class="details-qty">
									<strong><span class="value" data-bind="text: label"></span>: </strong><span class="value" data-bind="text: value"></span></span>
								</div>
							<!-- /ko -->
							<div class="details-qty">
								<strong>Quantity: </strong><span class="value" data-bind="text: $parent.qty"></span>
							</div>					
						</div>
					</div>
				</div>		
			</div>

           
            <!--ko text: initOptions($parent) -->
            <!-- /ko -->

            <!-- <button class="action primary checkout" type="submit" data-bind="
                        click: updateItem.bind($data, $parent),
                        attr: {title: $t('Update')},
                        visible: $parent.isUpdated">
                <span data-bind="i18n: 'Update'"></span>
            </button> -->

            <a href="#" class="action remove" title="Remove item">
				<div class="thrash__icon" data-bind="click: deleteItem.bind($data, $parent),
                        attr: {title: $t('Remov')},
                        visible: true">Remove</div>
			</a>
        </form>
    </div>
</div>
