<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $desc = $block->escapeHtml($block->getProduct()->getDescription()); ?>
<?php $desc = str_ireplace('&lt;p&gt;','',$desc); ?>
<?php $desc = str_ireplace('&lt;/p&gt;','',$desc); ?>
<meta property="og:type" content="og:product" />
<meta property="og:title" content="<?php echo $block->escapeHtml($block->getProduct()->getName()); ?>" />
<meta property="og:image" content="<?php echo $block->escapeUrl($block->getImage($block->getProduct(), 'product_base_image')->getImageUrl()); ?>" />
<meta property="og:description" content="<?php echo $desc; ?>" />
<meta property="og:url" content="<?php echo $block->escapeUrl($block->getProduct()->getProductUrl()); ?>" />
<?php if ($priceAmount = $block->getProduct()->getFinalPrice()):?>
    <meta property="product:price:amount" content="<?php /* @escapeNotVerified */ echo $priceAmount; ?>"/>
    <?php echo $block->getChildHtml('meta.currency'); ?>
<?php endif;?>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="<?php echo $desc; ?>" />
<meta name="twitter:title" content="<?php echo $block->escapeHtml($block->getProduct()->getName()); ?>" />
<meta name="twitter:image" content="<?php echo $block->escapeUrl($block->getImage($block->getProduct(), 'product_base_image')->getImageUrl()); ?>" />
