
<?Php $params=$block->getRequest()->getParams(); ?>
    <div id="Validate-oto-div">
        <div id="message_loyalty" style="color: red;font-size: large;font-weight: bold;
        padding: 1px;margin: 1px; text-align: center;"></div>
        <legend class="legend"><span>OTP Validation</span></legend>
        <form class="form" id="validate-otp-form" method="post"
              autocomplete="off" action="<?= /* @noEscape */ $block->getUrl("loyalty/index/verifypin"); ?>">
            <fieldset class="fieldset">

                <li class="fields">
                   
                    <div class="sociallogin-field  form-group primary_mobile_number" style="width: 59%;clear: none;">
                        <div class="input-box">
                            <input type="text" id="primary_mobile_number"
                                   placeholder="Please enter your OTP" name="otp" value=""
                                   class="input-text required-entry validate-digits
                                   validate-length minimum-length-4 maximum-length-4"
                                   autocomplete="off" aria-required="true">
                        </div>
                    </div>
                </li>
                <input type="hidden" id="pinId" name="pinId" value="<?= /* @noEscape */ $params['pinId']?>" >
            
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action submit primary" title="<?= /* @noEscape */ __('Verify OTP') ?>">
                        <span><?= /* @noEscape */ __('Verify OTP') ?></span></button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        require([
            'jquery',
            'mage/mage'
        ], function ($) {
            'use strict';
            $(document).ready(function () {
       

                var dataForm = $('#validate-otp-form');
                dataForm.mage('validation', {});

                $("#validate-otp-form").submit(function () {
                    if (!dataForm.validation('isValid')){
 return false;
                     }
                   
                });
               
            });
        });
    </script>


