
<?php
// @codingStandardsIgnoreStart
$helper = $this->helper('I95Dev\Loyalty\Helper\Data');
$catalogHelper = $this->helper('Magento\Catalog\Helper\Image');
// @codingStandardsIgnoreEnd

$customerName = $block->getCustomer()->getName();
$customerEmail = $block->getCustomer()->getEmail();
$availableCoupon = $helper->BloyalAvailableCoupons($customerEmail)->data;
$QuickSearch = $helper->BloyalQuickSearch($customerEmail);
$CurrentLoyaltyPoints = $QuickSearch->data[0]->CurrentLoyaltyPoints;
$beaFoodie = $helper->getProductCollection('1144');
$makeanImpact = $helper->getProductCollection('1145');

?>

<div class="loyalty-rewards">
    <div class="cusomer-name"><div class="name"><?= /* @noEscape */ __("hi") ?>,
            <?= /* @noEscape */ $customerName ?></div>
        <img src="/media/wysiwyg/mygourmet-store.png">
        <!--<div class="customer_points"><span class="foodie_customer">Foodie</span> <span>|</span> 10 Points</div>-->
    </div>
    <div class="total_block clearfix">
        <div class="total-points"><?= /* @noEscape */ number_format($CurrentLoyaltyPoints, 0) ?>
            <?= /* @noEscape */ __(" Points") ?></div>
        <!-- <div class="balance-text"><?= /* @noEscape */ __("Balance Available") ?></div> -->
    </div>
    <div class="tab-header-text"><?= /* @noEscape */ __("My Rewards") ?></div>

    <div class="tab-container">  
        <ul class="tabs-nav">
             <li class="tab-active"><a href="#tab-1" rel="nofollow"><?= /* @noEscape */ __("Be a Foodie") ?></a>
            </li>
            <li class=""><a href="#tab-2" rel="nofollow"><?= /* @noEscape */ __("Shop Gourmet") ?></a>
            </li>
            <li class=""><a href="#tab-3" rel="nofollow"><?= /* @noEscape */ __("Make an Impact") ?></a>
            </li>
           
            <li class=""><a href="#tab-4" rel="nofollow"><?= /* @noEscape */ __("Lifestyle & Leisure") ?></a>
            </li>
        </ul>
        <div class="tabs-stage">
            <div id="tab-1" class="tab-content make_impact" style="display: block;">
                <?php
                foreach ($beaFoodie as $product) {

                    $image_url = $catalogHelper->init($product, 'product_thumbnail_image')
                        ->setImageFile($product->getFile())->resize(255, 255)->getUrl();
//    var_dump($product->getName()); exit;
                    ?>
                    <div class="coupon-code-block">
                        <div class="coupon-details
                        product-ingredients-details" itemid="<?= /* @noEscape */ $product->getId() ?>">
                            <a class="productimage" title="<?= /* @noEscape */ $product->getName() ?>">
                                <img src="<?= /* @noEscape */ $image_url ?>"
                                     alt="Gourmet Egypt" width="132" height="77">
                            </a>

                            <div class="offer-tag"><?=/* @noEscape */  $product->getName() ?></div>
                        </div>
                        <div id="add-redeem-popup-<?= /* @noEscape */ $product->getId() ?>"  style="display:none">
                            <a class="logo" href="javascript:void();" title="Gourmet Egypt">
                                <img src="/media/wysiwyg/mygourmet.png" alt="Gourmet Egypt" width="132" height="77">
                            </a>
                            <div class="product-name" style="padding-top: 35px;"><?= /* @noEscape */ $product->getName() ?></div>

                            <div class="ingredients">
                    <?= /* @noEscape */ $product->getIngredients() ?>
                            </div>

                        </div>
                        <div class="coupon_redeem">
                            <div class="redeem-points">
                                <?= /* @noEscape */ round($product->getPrice(), 0)." points"; ?></div>
                            <div class="redeem-add add-redeem-product"
                                 itemid="<?= /* @noEscape */ $product->getId() ?>" >
                                <?= /* @noEscape */ __("+ ADD") ?></div>

                        </div>
                    </div>
                    <?php
                }
                ?>
            </div>
            <div id="tab-2" class="tab-content" style="display: none;">
                <?php
                $i = 1;
                $noDisplayCouponcode=['BAGFLOWER', 'BAGTREE', 'SPICEGURU', 'CANAPE'];
                foreach ($availableCoupon as $Coupon) {
                 
                    if (!in_array($Coupon->Code, $noDisplayCouponcode)) {
                        $availableCoupons[str_replace('EGP', '', $Coupon->Code)]=$Coupon;
                    }
                }
                ksort($availableCoupons);
               
                foreach ($availableCoupons as $Coupon) {
                   
                    ?>
                    <div class="coupon-code-block">
                        <div class="coupon-details">
                            <a class="logo" href="javascript:void();" title="Gourmet Egypt">
                                <img src="/media/wysiwyg/buy_gourmet_icon.png"
                                     alt="Gourmet Egypt" width="132" height="77">
                            </a>
                            <div class="coupon_block">
                                <input type="hidden" name="Uid-<?= /* @noEscape */ $i ?>"
                                       value="<?= /* @noEscape */ $Coupon->Uid ?>">
                                <input type="hidden" name="Code-<?= /* @noEscape */ $i ?>"
                                       value="<?= /* @noEscape */ $Coupon->Code ?>">
                                <div class="redeem-text"><?= /* @noEscape */ __("REDEEM") ?></div>
                                <div class="coupon-code"><?= /* @noEscape */ $Coupon->Code ?></div>
                                <div class="coupon-name"><?= /* @noEscape */ $Coupon->Name ?></div>
                            </div>
                        </div>
                        <div class="redeem-popup"><?= /* @noEscape */ __("REDEEM") ?></div>
                    </div>
                    <?php $i++;
                   
                }
                ?>

            </div>
            <div id="tab-3" class="tab-content make_impact" style="display: none;">
                <?php
                foreach ($makeanImpact as $product) {

                    $image_url = $catalogHelper->init($product, 'product_thumbnail_image')
                        ->setImageFile($product->getFile())->resize(255, 255)->getUrl();
//    var_dump($product->getName()); exit;
                    ?>
                    <div class="coupon-code-block">
                        <div class="coupon-details product-ingredients-details"
                             itemid="<?= /* @noEscape */ $product->getId() ?>">
                            <a class="productimage"
                               title="<?= /* @noEscape */ $product->getName() ?>">
                                <img src="<?= /* @noEscape */ $image_url ?>"
                                     alt="Gourmet Egypt" width="132" height="77">
                            </a>

                            <div class="offer-tag"><?= /* @noEscape */ $product->getName() ?></div>
                        </div>
                        <div id="add-redeem-popup-<?= /* @noEscape */ $product->getId() ?>"  style="display:none">
                            <a class="logo" href=" <?= /* @noEscape */ $block->getBaseUrl(); ?>" title="Gourmet Egypt">
                                <img src="/media/wysiwyg/mygourmet.png" alt="Gourmet Egypt" width="132" height="77">
                            </a>
                            <div class="product-name" ><?= /* @noEscape */ $product->getName() ?></div>

                            <div class="ingredients">
                    <?= /* @noEscape */ $product->getIngredients() ?>
                            </div>

                        </div>
                        <div class="coupon_redeem">
                            <div class="redeem-points">
                                <?= /* @noEscape */ round($product->getPrice(), 0)." points"; ?></div>
                            <div class="redeem-add add-redeem-product"
                                 itemid="<?= /* @noEscape */ $product->getId() ?>" >
                                <?= /* @noEscape */ __("+ ADD") ?></div>

                        </div>
                    </div>
                    <?php
                }
                ?>
            </div>
            
            <div id="tab-4" class="tab-content make_impact" style="display: none;">
<div class="comming-soon">Coming soon! Stay tuned</div>
            </div>
        </div>
    </div>
</div>

<div id="coupon-code-popup" style="display: none">
    <a class="logo" href="javascript:void();" title="Gourmet Egypt" style="width:96%">
        <img src="/media/wysiwyg/mygourmet.png" alt="Gourmet Egypt" width="132" height="77">
    </a>
    <div class="redeem_coupon">
        Please Add some product to reedem a coupon at checkout</div>
    <div>Need Assistance, You can also call us at
        <a href="tel:19339"> 19339</a> or <a href="tel:19339">Live Chat</a></div>
</div>



<div id="gourmentpointotppoup" style="display: none" >
    <div class="gourmentpointotppoup-header-block">
        <a class="logo-redem" href="https://cdn.gourmetegypt.com/media/logo/default/logo.svg" title="Gourmet Egypt">
            <img src="/media/wysiwyg/mygourmet.png" alt="Gourmet Egypt" width="132" height="77">
        </a>
        <!--<h2>My Rewards</h2>--> 
    </div>
     <div id="message_loyalty_chechout_otp" style="color: red;font-size: large;
     font-weight: bold;padding: 1px;margin: 1px; text-align: center;"></div>
    <!--<div class="inorder-to-avail">
    Inorder to avail discount,please add one of the below
    coupon.Need Assistace, You can also call us at<a href="tel:19339">
     19339</a> or <a href="tel:19339">Live Chat</a></div>-->
    <div class="otp-block">
    <h2>Gourmet Points Redemption Verification</h2>
    <div class="valid-otp-text">Please use the OTP code sent to your Mobile phone for verification.</div>
    <div style="margin: 3%; padding: 7px;">  

        <input type="text" id="redemptions-otp" placeholder="Enter OTP" name="otp"
               value="" class="redemptions" autocomplete="off" aria-required="true"
               style="width: 30%;margin-left: 20%;">
        <input type="hidden" id="redemptions-pinId"  name="pinId" value="">
        <div  id="error-message-redemptions-otp"
              class="mage-error block__row" style="display: none;text-align: center;margin: 3%;
              color: #e02b27;font-size: 1.2rem;padding-left: 20%;" >This is a required field.</div>
        <button type="submit" id ="validate-otp" class="action submit primary"  title="SUBMIT"
                style=" width: 23%;"><span>SUBMIT</span></button>
    </div>
    </div>
    <div class="otp-success-block" style="display: none;">
        <h2 class="validation-success">Validation Success!</h2> 
          <div class="valid-otp-text">
              Please check the discounted price in the order total before proceeding to place order</div>
          <div class="valid-otp-text">Thanks, Gourmet Team</div>
          <div class="checkout-redirection">Redirecting to rewards page.....</div>
    </div>
</div>
<script>
    // From http://learn.shayhowe.com/advanced-html-css/jquery

// Change tab class and display content
    require(['jquery', 'jquery/ui', 'Magento_Ui/js/modal/modal'], function ($) {
        $('.tabs-nav a').on('click', function (event) {
            event.preventDefault();

            $('.tab-active').removeClass('tab-active');
            $(this).parent().addClass('tab-active');
            $('.tabs-stage .tab-content').hide();
            $($(this).attr('href')).show();
        });

        $('.tabs-nav a:first').trigger('click');

        $('div#coupon-code-popup').hide();
        var couponPopup = $('div#coupon-code-popup')
                .modal({
                    autoOpen: false,
                    buttons: [
                    ],
                    clickableOverlay: true,
                    focus: '',
                    innerScroll: false,
                    modalClass: 'coupon-code-popup-model',

                    responsive: true,
                    closeOnEscape: false,
                    open: function (event, ui) {
                        $(".modal-header", ui.dialog | ui).hide();
                    },
                    type: 'popup'
                });
        $('.redeem-popup').on('click', function (event) {
            couponPopup.modal("openModal");
        });
        $('.product-ingredients-details').on('click', function (event) {
            var redemptionsId = $(this).attr('itemid');
            var redempPopup = $('div#add-redeem-popup-' + redemptionsId)
                    .modal({
                        autoOpen: false,
                        buttons: [
                        ],
                        clickableOverlay: true,
                        focus: '',
                        innerScroll: false,
                        modalClass: 'add-redeem-popup-model',

                        responsive: true,
                        closeOnEscape: false,
                        open: function (event, ui) {
                            $(".modal-header", ui.dialog | ui).hide();
                        },
                        type: 'popup'
                    });
            redempPopup.modal("openModal");
        });
              $('.add-redeem-product').on('click', function (event) {
              $("div#message_loyalty_chechout_otp").html('');
              $('#redemptions-otp').val('');
            var redemptionsId = $(this).attr('itemid');

           
       

            if (redemptionsId) {
                var params = {redemptions: redemptionsId,type:"product"};
                $.ajax({
                    type: 'POST',
                    url: '<?= /* @noEscape */ $block->getUrl('loyalty/index/sentotp'); ?>',
                    data: params,
                    showLoader: true,
                    success: function (data) {
                        var messageData = JSON.parse(data);
                        $('.otp-success-block').hide();
                                 $('.otp-block').show();
                        if (messageData.success == true) {
                            $("#redemptions-pinId").val(messageData.pinId);
                            $('div#gourmentrewardspopup').modal("closeModal");
                            var loyaltyPopup = $('div#gourmentpointotppoup')
                                    .modal({
                                        autoOpen: false,
                                        buttons: [
                                        ],
                                        clickableOverlay: true,
                                        focus: '',
                                        innerScroll: false,
                                        modalClass: 'loyalty-checkout-pointotp-popup',
                                        responsive: true,
                                      
                                        closeOnEscape: false,

                                        type: 'popup'
                                    });
                            $('div#gourmentpointotppoup').show();
                            loyaltyPopup.modal("openModal");
                        } else {
                            $("div#message_loyalty_chechout").html(messageData.message);
                        }
                    }

                });
            } else {
                $('div#message_loyalty_chechout').show();
            }
        });
      $('#validate-otp').on('click', function (event) { 
        var otp = $('#redemptions-otp').val();
           var pinId= $('#redemptions-pinId').val();
                  
                if (otp) {
                    var params = {pinId: pinId,otp:otp};
                    $.ajax({
                        type: 'POST',
                         url: '<?= /* @noEscape */ $block->getUrl('loyalty/index/validateotp'); ?>',
                            data: params,
                            showLoader: true,
                            success: function (data) {
                               
                                var messageData = JSON.parse(data);
                                if (messageData.success ==true) {
                                  
                                $('.opc-payment-additional.loyalty').show();
                                $('.otp-success-block').show();
                                 $('.otp-block').hide();
                                setTimeout(function() {
                                    
                               window.location.href = "<?= /* @noEscape */ $block->getUrl('loyalty/rewards/index'); ?>";
                                $('div#gourmentpointotppoup').modal("closeModal");
                                    }, 3000);
                                     
                                }else{
                                   $("div#message_loyalty_chechout_otp").html(messageData.message);
                                    
                                }
                               

                            
                            }
                        });
                    } else {
                        $('div#error-message-redemptions-otp').show();
                    }
    
    });
      
    });

</script>
<style>
.account.loyalty-rewards-index .page-title-wrapper{
    display: none;
}
.modal-popup.add-redeem-popup-model .modal-content{
	padding: 25px;
}
    </style>
