<?php
// @codingStandardsIgnoreStart
$helper = $this->helper('I95Dev\Loyalty\Helper\Data');


$customerName = $block->getCustomer()->getName();
$customerEmail = $block->getCustomer()->getEmail();
$customerID = $block->getCustomer()->getId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get(\Magento\Framework\App\ResourceConnection::class);
$connection = $resource->getConnection();
$sql = "SELECT * FROM Accept_Payments_Tokens WHERE customer_id =$customerID";
$cards = $connection->fetchAll($sql);
//print_r($cards);exit;
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$removeCardUrl = $storeManager->getStore()->getUrl('loyalty/savedcards/remove/index');

// @codingStandardsIgnoreEnd
			?>
<div class="card mt-50 mb-50">
   
    <form class="savedcards customer-wishlist"> <h2><?= /* @noEscape */ __("Saved cards") ?></h2>
		<?php foreach($cards as $card) {?>
		<?php if($card['card_subtype'] == 'MasterCard' ){	
			$img ='https://img.icons8.com/color/48/000000/mastercard-logo.png';
		} if($card['card_subtype'] == 'Visa' ){	
			$img ='https://img.icons8.com/color/48/000000/visa.png';
		} 
		?>
        <div class="row row-1">
            <div class="col-2"><img class="img-fluid" src="<?php echo $img ?>" /></div>
            <div class="col-7"> <input class= "savedcardsdetails"disabled type="text" placeholder="<?php echo $card['masked_pan'] ?>"> </div>
            <div class="col-3 d-flex justify-content-center"> <a href="<?php echo $removeCardUrl ?>index?cardid=<?php echo $card['id'] ?>"><?= /* @noEscape */ __("Remove card") ?></a> </div>
        </div>
		<?php } ?>
        
    </form>
</div>
<style>
.savedcardsdetails::placeholder{
	color: #14b395 !important;
	opacity: 1 !important;
}
.card {
    width: 600px;
}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

@media(max-width:767px) {
    .card {
        width: 90%;
        padding: 1.5rem
    }
}

@media(height:1366px) {
    .card {
        width: 90%;
        padding: 8vh
    }
}

.card-title {
    font-weight: 700;
    font-size: 2.5em
}


.active {
    border-bottom: 2px solid black;
    font-weight: bold
}

.savedcardsdetails {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    width: 103% !important;;
    min-width: unset;
    background-color: transparent;
    border-color: transparent;
    margin: 0
}

.savedcards a {
    color: grey;
    text-decoration: none;
    font-size: 0.87rem;
    font-weight: bold
}

.savedcards a:hover {
    color: grey;
    text-decoration: none
}

.savedcards .row {
    margin: 0;
    overflow: hidden
}

.savedcards .row-1 {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 0.5rem;
    outline: none;
    width: 100%;
    min-width: unset;
    border-radius: 5px;
    background-color: rgba(221, 228, 236, 0.301);
    border-color: rgba(221, 228, 236, 0.459);
    margin: 2vh 0;
    overflow: hidden
}

.savedcards .row-2 {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0 0.8rem
}

.savedcards .row .row-2 {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0 0.8rem
}

.savedcards .row .col-2,
.col-7,
.col-3 {
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 0 1vh
}

.savedcards .row .col-2 {
    padding-right: 0
}

#card-header {
    font-weight: bold;
    font-size: 0.9rem
}

#card-inner {
    font-size: 0.7rem;
    color: gray
}

.three .col-7 {
    padding-left: 0
}

.three {
    overflow: hidden;
    justify-content: space-between
}

.three .col-2 {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 0.5rem;
    outline: none;
    width: 100%;
    min-width: unset;
    border-radius: 5px;
    background-color: rgba(221, 228, 236, 0.301);
    border-color: rgba(221, 228, 236, 0.459);
    margin: 2vh 0;
    width: fit-content;
    overflow: hidden
}

.three .col-2 input {
    font-size: 0.7rem;
    margin-left: 1vh
}

</style>