<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" maximum-scale=1.0, user-scalable=no">-->
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
$logo = $objectManager->get('Magento\Theme\Block\Html\Header\Logo')->getLogoSrc();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
if ($request->getFullActionName() == 'cms_index_index') { ?>
    <meta property="og:image" content="<?php /* @escapeNotVerified */ echo $baseUrl . 'pub/media/logo/og.png' ?>" />
<?php } 

if ($request->getFullActionName() == 'catalog_category_view') { 
     $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
     if($category->getImageUrl()){
        ?>
  <meta property="og:image" content="<?php /* @escapeNotVerified */ echo $category->getImageUrl() ?>" />
<?php } else {?>


  <meta property="og:image" content="<?php /* @escapeNotVerified */ echo $baseUrl . 'pub/media/logo/og.png' ?>" /> 
 <?php        
}
}
?>  
    
    
    
    
    
<meta name="format-detection" content="telephone=no">
<!--<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=59240005fcfdee0013fd229a&product=social-ab' async='async'></script>-->
<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5b2123380c48cf0011faf2d3&product=inline-share-buttons' async='async'></script>
<!--[if lt IE 9]>
	<style>

		body,html{
			background:#14b393 !important;
			color:#fff;
		}
		html > body > div.page-wrapper, html > body > div.modals-wrapper {
			display:none !important;
		}
		html > body div.below-ie10{
			display:block !important;
		    display: block;
		    position: fixed;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    z-index: 9999;
		    background: #14b393;
		    color: #fff;
		    overflow: hidden;
		    text-align: center;
		    width: 100%;
		    height: 24px;
		    margin:auto;
		    font: normal 18px/24px 'museo_sans300';
		}
	</style>
<![endif]-->

<!--[if IE 9]>
	<style>
		body,html{
			background:#14b393 !important;
			color:#fff;
		}
		html > body > div.page-wrapper, html > body > div.modals-wrapper {
			display:none !important;
		}
		html > body div.below-ie10 {
			display:block !important;
		    display: block;
		    position: fixed;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    z-index: 9999;
		    background: #14b393;
		    color: #fff;
		    overflow: hidden;
		    text-align: center;
		    width: 100%;
		    height: 24px;
		    margin: auto;
		    font: normal 18px/24px 'museo_sans300';
		}
	</style>

<![endif]-->
