<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="shipping-address-item" data-bind="css: isSelected() ? 'selected-item' : 'not-selected-item'">
    <div class="block__row checkout__userdetail" data-bind="css: isDisabled() ? 'location-hidden' : 'not-location-hidden'">
        <strong class="text-capitalize">
            <!-- ko text: address().firstname --><!-- /ko -->
            <!-- ko text: address().lastname --><!-- /ko -->
        </strong>
        <ul>
            <li>
                <!-- ko text: address().street --><!-- /ko -->
            </li>
            <li>
                <!-- ko text: address().city --><!-- /ko -->,
            </li>
            <li>
                <!-- ko text: address().region --><!-- /ko --> <!-- ko text: address().postcode --><!-- /ko -->
            </li>
            <li>
                <!-- ko text: address().prefix --><!-- /ko -->
                <!-- ko text: address().suffix --><!-- /ko -->
                <!-- ko text: getCountryName(address().countryId) --><!-- /ko --><br/>
                <!-- ko text: address().telephone --><!-- /ko -->

            </li>

            <li>
                <strong style="margin-right: 10px;">Select Shipping Address: </strong>
                <button type="button" data-bind="click: selectAddress" class="action action-select-shipping-item btn__toggle">
                    <!--<span data-bind="i18n: 'Ship Here'"></span>-->
                    <span class="slider round"></span>
                </button>
            </li>
        </ul>
    </div>

    <!-- ko if: (address().isEditable()) -->
    <!--button type="button"
            class="action edit-address-link btn__outline block__row"
            data-bind="click: editAddress, visible: address().isEditable()">
        <span data-bind="i18n: 'Edit'"></span>
    </button-->
    <!-- /ko -->
</div>
