<?php 
	$wishlists = $block->getUserList();
	if(!is_null($wishlists)):
	foreach($wishlists as $list):
?>
	<div><input type="radio" name="gmw-name" value="<?php echo $list->getId(); ?>" /><?php echo $list->getMultiWishlistName(); ?></div>
<?php endforeach; endif;?>