<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var $block Magento\Catalog\Block\Product\ProductList\Item\AddTo\Compare */
?>

<?php if($block->getProduct()->getTypeId() != 'grouped'): ?>
<a href="#"
   class="action tocompare"
   title="<?php echo $block->escapeHtml(__('Compare')); ?>"
   aria-label="<?php echo $block->escapeHtml(__('Compare')); ?>"
   data-post='<?php /* @escapeNotVerified */ echo $block->getCompareHelper()->getPostDataParams($block->getProduct()); ?>'
   role="button">
    <span><?php /* @escapeNotVerified */ echo __('Compare') ?></span>
</a>
<?php endif; ?>
