<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
$inventory = 0;
if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
	if($_COOKIE['Gourmet_Location'] == 73){
		$_COOKIE['Gourmet_Location'] = 7;
		setcookie("Gourmet_Knockout_Location", null, time() + (10 * 365 * 24 * 60 * 60), "/", "", 0);
		setcookie("Gourmet_Location", null, time() + (10 * 365 * 24 * 60 * 60), "/", "", 0);
		setcookie("Gourmet_Knockout_Slot", null, time() + (10 * 365 * 24 * 60 * 60), "/", "", 0);
	}
	$cookie = $_COOKIE["Gourmet_Location"];
	
    $store = $cookie;
	$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId());
	$storeId = 'store_'.$store;
	$inventory = $productStockObj[$storeId];	
} else {
	$cookie = 7;
	
    $store = $cookie;
	$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId());
	$storeId = 'store_'.$store;
	$inventory = $productStockObj[$storeId];
}
?>
<?php
$product_id = $_product->getId();
$minQty = $productStockObj['min_qty'];
?>
<?php if ((isset($inventory) && $inventory > $minQty) || $_product->getTypeId() == 'grouped'){ ?>
<?php $buttonTitle = __('+ Add'); 
if($productStockObj->getBackorders()==101){ ?>
<div class="stock available"><span></span></div>
<?php } ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart prod-swatch-<?php echo $_product->getId(); ?>">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <!--<label class="label" for="qty"><span><?php /* @escapeNotVerified */ //echo __('Qty') ?></span></label>-->
            <div class="control" id="qtyinput" style="display:none;">
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
					   disabled
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty qtyinputbox"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
			<div class="control" id="qtyselect">
				<?php 
					/* $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
					$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
					$stockQty = $StockState->getStockQty($_product->getId(), $_product->getStore()->getWebsiteId()); */
				?>
<!--				<select class="input-text qty drop selectpicker" name="qty" id="qty">-->
				<select class="input-text qty drop select_for_demo" name="qty" id="qty">
					<?php 
					$productQty = (int)$inventory - $minQty;					 
                                       
                                        if($productQty<=0){
                                            $productQty=1;
                                        }
					$moreOption = ($productQty > 10) ? 'More':'';
					for($i=1;$i<=$productQty;$i++):
						if($i>10):
							continue;
						endif;
						echo "<option value=".$i.">".$i."</option>";
					endfor;
					echo ($moreOption != '')? "<option value='more'>".$moreOption."</option>" : "";?>					
				</select>
            </div>
        </div>
        <?php endif; ?>
        <div class="actions">
            <button type="button" data-action="addto-cart-deduct" title="<?php echo $block->escapeHtml(__('Remove Product')); ?>" class="action deduct hidden primary button__inverse"><span><?php /* @escapeNotVerified */ echo __('&ndash;') ?></span></button>
			<?php
			if($_product->getTypeId() == 'grouped') {
				$products = $_product->getTypeInstance()->getAssociatedProducts($_product);
				$priceForAll = 0;				
				foreach ($products as $product) {
					
					$inventory = 0;
					if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
						$cookie = $_COOKIE["Gourmet_Location"];
                        $store = $cookie;
						$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($product->getId());
						$storeId = 'store_'.$store;
						$inventory = $productStockObj[$storeId];	
					} else {
						$cookie = 7;
                        $store = $cookie;
						$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($product->getId());
						$storeId = 'store_'.$store;
						$inventory = $productStockObj[$storeId];
					}
					 $defaultQty=round($product->getQty(), 0);
                        if(!$defaultQty){
                            $defaultQty=1;
                        }
					if($product->isSaleable() && (isset($inventory) && $inventory > $minQty)):
						if(count($product->getTierPrice()) > 0):
							foreach($product->getTierPrice() as $tierprice):
								if($tierprice['price_qty'] == 1):
									$priceForAll += ($tierprice['price']*$defaultQty);
								endif;					
							endforeach;
						else:
                                                  
							$priceForAll += $product->getFinalPrice()*$defaultQty;
						endif;
						
					endif;					
				}
				$priceForAll = number_format($priceForAll, 2, '.', '');
			}
			?>

			<?php
            //var_dump(($_COOKIE['Gourmet_Location'])); exit;
            //if(isset($_COOKIE['Gourmet_Location']) && (isset($_SESSION["locationconfirm"]) && $_SESSION["locationconfirm"] == 1)){ 
            if(isset($_COOKIE['Gourmet_Location']) ){ ?>
			<button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                
				<?php if($_product->getTypeId() == 'grouped') { ?> 
					<span class="show-totalPrice" tprice="<?php echo $priceForAll; ?>"><?php /* @escapeNotVerified */ echo "+ Add Selected Ingredients to Cart" ?>
						<span class="allPrice"><?php echo $currency.$priceForAll; ?></span>
					</span>
					&nbsp;&nbsp;<b> <?php echo $currency.$priceForAll; ?> </b>
				<?php } else { ?>
					<span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
				<?php } ?>
				<div class="messages-error notQty<?php echo $_product->getId(); ?> notify-box" style="display: none;"></div>
            </button>
			<?php } else { ?>
				<?php if($_product->getTypeId() == 'grouped') { ?>
				<a tprice="<?php echo $priceForAll; ?>" href="javascript:void(0);" class="openLocationModel show-totalPrice action tocart primary"><?php /* @escapeNotVerified */ echo __('+ Add Selected Ingredients to Cart') ?>&nbsp;&nbsp;<span class="allPrice"><?php echo $currency.$priceForAll; ?></span></a>
				<?php } else { ?>
				<button type="button"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="openLocationModel action primary tocart"
                    id="product-addtocart-button">
                
					<span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
				
            </button>
				<?php } ?>
			<?php } ?>
			
			
            <?php echo $block->getChildHtml('', true) ?>
        </div>		
    </div>
	<?php
	if($_product->getTypeId() != 'grouped'){
		$product_id = $_product->getId();
		$_product = $objectManager->get('Magento\Catalog\Model\Product')->load($product_id);
		$lead = $_product->getResource()->getAttribute('lead_time_notification')->getFrontend()->getValue($_product);
		if($lead):
		?>		
		<div class="block__row plt">	
			<div class="product-lead-time"><em>*</em>
					<span class="lead-time"><?php echo $_product->getResource()->getAttribute('lead_time_notification')->getFrontend()->getValue($_product) ?></span>		
			</div>
		</div>
		<?php endif; ?>
	<?php } ?>
</div>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": true
            }
        }
    }
</script>
<script>
require(['jquery', 'jquery/ui'], function($){ 
     $('#product-addtocart-button').prop('disabled', true);
   $(window).load(function() {
    if ( $('#product-addtocart-button').length > 0 ) {
        $('#product-addtocart-button').prop('disabled', false);
    }
});
    $(window).load(function() {
		$(".qtyinputbox").attr('disabled',true);
                 
	});
	$(".drop").change(function () {
        var end = this.value;
        if(end == 'more'){
			$("#qtyselect").hide();
			$("#qtyinput").removeClass('hidden');
			$("#qtyinput").show();
			$(".qtyinputbox").attr('disabled',false);
			$(".drop").attr('disabled',true);
		}
    });
 });
</script>
<?php endif; ?>
<?php } ?>




<?php
$request = $objectManager->get('\Magento\Framework\App\Request\Http');
if($request->getFullActionName()=="amasty_quickview_ajax_view"){
?>

<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<link rel="stylesheet" type="text/css"
      href="<?php echo $block->getViewFileUrl('Magento_Catalog::css/owl.carousel.css') ?>">

<small class="copyright">
    <span><?php /* @escapeNotVerified */
        //echo $block->getCopyright() ?></span>
</small>

<div id="myModel" style="display:none">
    <div id="location-popup" class="popupcontent active">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center location-popup-header">
            <?php
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

            $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
            $locationurl = $storeManager->getStore()->getUrl('location/city/search');

            $scopeConfig = $objectManager->get('\Magento\Framework\App\Config\ScopeConfigInterface');
            $countryInformation = $objectManager->get('\Magento\Directory\Api\CountryInformationAcquirerInterface');
            $countryid = $scopeConfig->getValue('general/country/default');
            $country = $countryInformation->getCountryInfo($countryid);
            $countryname = $country->getFullNameLocale();
            $customerSession = $objectManager->create('Magento\Customer\Model\Session');
            $helper = $objectManager->get('\Gourmet\Location\Helper\Data');
            $lochelper = $objectManager->get('\I95Dev\Locationgroup\Helper\Data');

            ?>
            <?php
            $regionModel = $objectManager->create('Magento\Directory\Model\Region');
            $regionCollection = $regionModel->getCollection();
            $regionCollection = $regionCollection->addFieldToFilter('country_id', $countryid);
            ?>
            <?php $view = $this->getRequest()->getFullActionName();
            if ($view == 'sales_order_history' || $view == 'sales_order_view') $lconfirm = 1; else $lconfirm = 0; ?>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <?php if (!$customerSession->isLoggedIn()) { ?>
                    <?php if (isset($_COOKIE['Gourmet_Location'])) {
                        $cookie = $_COOKIE["Gourmet_Location"];
                        $data = $helper->getLocationById($cookie);
                        $storeurl = $storeManager->getStore()->getUrl('stores/store/switch/');
                        $storeid = $lochelper->getStoreId();

                        //$store = $lochelper->getStoreId();
                        $regionid = $data->getRegionId();
                        ?>
                        <h3><!-- Choose your location to connect to your local store  -->Confirm your delivery
                            location</h3>
                        <div class="btnArewhnsignin">
                           <?php  if(($_COOKIE["Gourmet_Knockout_Location"]=="73")||(!isset($_COOKIE["Gourmet_Knockout_Location"]))||(!isset($_COOKIE["Gourmet_Knockout_Slot"]))){ ?>
                            <a 
                               class="btn_deliver"> Pickup your Location</a>
                            <?php }else{
                               //var_dump($cookie);exit;
                               ?>
                            <a href="<?php echo $storeurl . "?location=" . $cookie . "&store=" . $storeid . "&region=" . $regionid . "&lconfirm=" . $lconfirm ?>"
                               class="btn_deliver"> DELIVER TO <br
                                        class="hidden-sm hidden-md hidden-lg"/><?php echo $data->getCity(); ?></a>
                            <?php } ?>
                            <div class="linksDiv">
                                <a href="#locationtab">Select another area</a> <span
                                        class="hidden-xs">&nbsp;|&nbsp;</span> <br
                                        class="hidden-sm hidden-md hidden-lg"/> <a href="javascript:void(0);"
                                                                                   onclick="openSignInWindow()"
                                                                                   data-role="closeBtn">Sign in to
                                    retrieve your stored address</a>
                            </div>

                        </div>
                    <?php } else { ?>
                        <?php $locationArr = unserialize(file_get_contents('http://www.geoplugin.net/php.gp?ip=' . $_SERVER['HTTP_X_FORWARDED_FOR'])); ?>
                        <?php
                        $data = $helper->getLocationById(73);
                        $storeurl = $storeManager->getStore()->getUrl('stores/store/switch/');
                        $storeid = $lochelper->getStoreId();
                       // $lochelper = $objectManager->get('\I95Dev\Locationgroup\Helper\Data');
                        //$store = $_SESSION["store"];
                        $store = $lochelper->getStoreId();
                        $regionid = $data->getRegionId();
                        //$cities = array('Alexandria', 'Cairo', 'Giza', 'Matrouh', 'NorthCoast', 'Portsaid', 'Redsea', 'SharmElSheikh', 'Suez');
						$cities = array('Alexandria', 'Cairo', 'Giza', 'NorthCoast', 'Redsea', 'Suez');
                        ?>
                        <?php if (in_array($locationArr['geoplugin_city'], $cities)) { ?>
                            <h3><!-- Choose your location to connect to your local store  -->Confirm your delivery
                                location</h3>
                            <div class="btnArewhnsignin">
                                <a href="<?php echo $storeurl . "?location=73&store=" . $storeid . "&region=" . $regionid . "&lconfirm=" . $lconfirm ?>"
                                   class="btn_deliver"> DELIVER TO <?php echo $locationArr['geoplugin_city']; ?></a>
                                <div class="linksDiv">
                                    <a href="#locationtab">Select another area</a> <span
                                            class="hidden-xs">&nbsp;|&nbsp;</span> <br
                                            class="hidden-sm hidden-md hidden-lg"/> <a
                                            href="javascript:void(0);" onclick="openSignInWindow()"
                                            data-role="closeBtn">Sign in to retrieve your stored address</a>
                                </div>

                            </div>
                        <?php } else { ?>
                            <?php
                            $data = $helper->getLocationById(73);
                            $storeurl = $storeManager->getStore()->getUrl('stores/store/switch/');
                            $storeid = $lochelper->getStoreId();
                            $regionid = $data->getRegionId();
                            ?>
                            <h3><!-- Choose your location to connect to your local store  -->Confirm your delivery
                                location</h3>
                            <div class="btnArewhnsignin">
                            <?php  if(($_COOKIE["Gourmet_Knockout_Location"]=="73")||(!isset($_COOKIE["Gourmet_Knockout_Location"]))||(!isset($_COOKIE["Gourmet_Knockout_Slot"]))){  ?>
                               <a class="btn_deliver"> Pickup your Location</a>
                                 <?php }else { ?>
                                 <a href="<?php echo $storeurl . "?location=73&store=" . $storeid . "&region=" . $regionid . "&lconfirm=" . $lconfirm ?>"
                                   class="btn_deliver"> DELIVER TO Zamalek</a>
                                 <?php } ?>
                                <div class="linksDiv">
                                    <a href="#locationtab">Select another area</a> <span
                                            class="hidden-xs">&nbsp;|&nbsp;</span> <br
                                            class="hidden-sm hidden-md hidden-lg"/> <a
                                            href="javascript:void(0);" onclick="openSignInWindow()"
                                            data-role="closeBtn">Sign in to retrieve your stored address</a>
                                </div>

                            </div>

                            <!--<div class="col-xs-12 location-footer-container">
                                <p><h4>You may be located out of our coverage area and cannot shop online.</h4
                                <div class="linksDiv">
                                    <a href="#locationtab">Select another area</a> <span class="hidden-xs" >&nbsp;|&nbsp;</span> <br class="hidden-sm hidden-md hidden-lg" /> <a href="javascript:socialLogin.open();" onclick="javascript:void(0);" data-role="closeBtn">Sign in to retrieve your stored address</a>
                                </div>
                                    However, we invite you to <a href="javascript:void(0)" id="pickAnyStore" class="popuplinks" data-role="closeBtn"><strong>pick any store</strong></a>, browse our products and create shopping list to shop in person. <br> You can also call us at 19339 or <a href="javascript:$zopim.livechat.window.show()" class="popuplinks"><strong>chat with us
                                            online</strong></a>
                                </p>
                            </div>-->
                        <?php } ?>
                    <?php } ?>
                <?php } ?>

                <?php
                if ($customerSession->isLoggedIn()) {
                    $shipingID = $customerSession->getCustomer()->getDefaultShipping();
                    if ($shipingID) {
                        $address = $objectManager->create('Magento\Customer\Model\Address')->load($shipingID);

                        if ($address->getCountryId() == 'EG') $addressCountry = 'Egypt';
                        //$add = $address->getCity() . ", " . $address->getRegion();
						$add = $address->getCity();

                        $cityy = $address->getCity();

                        $locationmodel = $objectManager->create('\Gourmet\Location\Model\Location');
                        $locationCollection = $locationmodel->getCollection();
                        $locationCollection->getSelect()->where(" city LIKE '" . $cityy . "'");
                        $cityy_data = $locationCollection->getData();
                        if (isset($cityy_data[0])) {
                            $cityy_id = $cityy_data[0]['city_id'];
                        } else {
                            $cityy_id = 1;
                        }
                    }
                    ?>
                    <?php
                    if (isset($cityy_id)) {
                        $cookie = $_COOKIE["Gourmet_Location"];
                    } else {
                        $cookie = $_COOKIE["Gourmet_Location"];
                    }
                    $data = $helper->getLocationById($cookie);
                    $storeurl = $storeManager->getStore()->getUrl('stores/store/switch/');
                    $storeid = $lochelper->getStoreId();
                    $regionid = $data->getRegionId();
                    ?>

                    <h3><!-- Choose your location to connect to your local store  -->Confirm your delivery location</h3>
                    <div class="btnArewhnsignin">
                        <a href="<?php echo $storeurl . "?location=" . $cookie . "&store=" . $storeid . "&region=" . $regionid . "&lconfirm=" . $lconfirm ?>"
                           class="btn_deliver"> DELIVER TO
                            <?php if (isset($add)) {
                                echo $add;
                            } elseif (isset($_COOKIE["Gourmet_Location"])) { ?>
                                
								<span id="custom-component-copyright" data-bind="scope:'customcomponentcopyright'">
									<!-- ko template: getTemplate() --><!-- /ko -->
									<script type="text/x-magento-init">
									{
										"#custom-component-copyright": {
											"Magento_Ui/js/core/app": {
											   "components": {
													"customcomponentcopyright": {
														"component": "Magento_Theme/js/custom-component"
													}
												}
											}
										}
									}
									</script>
								</span>
								
								<!--$cookie = $_COOKIE["Gourmet_Location"];
                                $data = $helper->getLocationById($cookie);
                                echo $_COOKIE["Gourmet_Knockout_Location"]; -->
                            <?php } ?>
                        </a>
                        <div class="linksDiv">
                            <a href="#locationtab">Select another area</a>
                        </div>
                    </div>


                <?php } ?>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 form-area">
                <div class="block__row">
                    <div class="form-group">
                        <input type="text" id="search-box" name="Find Your Location" placeholder="Find your location"
                               class="form-control"/>
                        <div id="suggesstion-box"></div>
                    </div>
                    <div class="actions">
                        <button type="submit" title="Search"></button>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 location-tab-container">
            <div class="col-xs-12 text-center location-tab-top">
                <ul class="tab">
                    <?php $i = 1;
                    foreach ($regionCollection as $regionData) { ?>
                        <li><a href="javascript:void(0)" <?php if ($i == 1) { ?> name="locationtab" <?php } ?>
                               class="tablinks <?php if ($i == 2) echo 'active'; ?>"
                               onclick="openCity(event, '<?php print_r($regionData->getDefaultName()); ?>')"><?php print_r($regionData->getDefaultName()); ?></a>
                        </li>
                        <?php  /*if($i == 4) break;*/
                        $i++;
                    } ?>
                </ul>
            </div>

            <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 location-tab-content">
                <?php $i = 1;
                foreach ($regionCollection as $regionData) { ?>


                    <div id="<?php print_r($regionData->getDefaultName()); ?>"
                         class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tabcontent" <?php if ($i == 2) echo 'style="display:block"'; ?>>
                        <?php
                        $getId = $regionData->getRegionId();
                        $model = $objectManager->create('\Gourmet\Location\Model\Location');
                        $locationCollection = $model->getCollection()->addFieldToFilter('region_id', $getId);
                        $storeurl = $storeManager->getStore()->getUrl('stores/store/switch/');
                        ?>
                        <ul>
                            <?php foreach ($locationCollection as $locationData) { ?>
                                <?php
                                //$storecode = $locationData->getStoreCode();
                                $cityid = $locationData->getCityId();
                                $storeid = $lochelper->getStoreId();
                                $regionid = $locationData->getRegionId();
                                ?>
                                <!--<li><a href="<?php //echo $storeurl."?___store=".$storecode."&location=".$cityid ?>"><?php //echo $locationData->getCity(); ?></a></li>-->
                                <li>
                                    <a href="<?php echo $storeurl . "?location=" . $cityid . "&store=" . $storeid . "&region=" . $regionid . "&lconfirm=" . $lconfirm ?>"><?php echo $locationData->getCity(); ?></a>
                                </li>
                            <?php } ?>
                        </ul>
                    </div>
                    <?php $i++;
                } ?>
            </div>
        </div>
        <div class="col-xs-12 location-footer-container text-center">
            <p><strong>If you can’t find your location, online delivery may not be available in your area.</strong><br>
                You can still browse all of our products and create a shopping list at any of our stores! Simply <a
                        href="javascript:void(0)" id="pickAnyStore" class="popuplinks" data-role="closeBtn"><strong>Choose
                        Your Store</strong></a><br>
                You can also call us at <a href="tel:19339"><strong>19339</strong></a> or <a
                        href="javascript:$zopim.livechat.window.show()" class="popuplinks"><strong>Live
                        Chat</strong></a>
            </p>
        </div>
        <?php
        /* $citydata = '';
        $model = $objectManager->create('\Gourmet\Location\Model\Location');
        $lCollection = $model->getCollection();
        $i = 1;
        $count = count($lCollection);
        foreach ($lCollection as $lData) {
            if($count == $i){
                $citydata .= strtolower($lData->getCity());
            } else if($count > $i){
                $citydata .= strtolower($lData->getCity())."-";
            }
            $i++;
        } */
        ?>
    </div>
</div>

<script async defer>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function ($, modal) {
			
			$("#magestore-popup .border-popup input[type='text'], #magestore-popup .border-popup input[type='password']").on('click', function() {
			  	if($("html").hasClass("android")){
					$('#magestore-popup').animate({
						scrollTop: $(this).offset().top
					}, 500);
				}
			});
			
            var locationPopup = {
                type: 'popup',
                responsive: true,
                clickableOverlay: true,
                modalClass: 'location-modal-popup',
     			closed: function () {
                }
            };

            var popup = modal(locationPopup, $('#myModel'));
            $(document).on("click", ".openLocationModel", function () {
                $('#myModel').modal('openModal');
                $("#store-location-popup .store-tabs ul li:first").trigger("click");
				//$(".location-tab-top ul.tab li:nth-child(2) a").trigger("click");
                
				//$(".location-modal-popup").append("<div class='locationOverlay' data-role='closeBtn' ></div>");
            });

            var storePopup = {
                type: 'popup',
                responsive: true,
                clickableOverlay: true,
                modalClass: 'store-modal-popup'
            };

            var popup = modal(storePopup, $('#storeView'));
            $(document).on("click", "#pickAnyStore", function () {
                $('#storeView').modal('openModal');
                $("#store-location-popup .store-tabs ul li:first-child").addClass("active");
                /*if(windowWidth > mobileWidth) {
                 setTimeout(function(){
                 $("#storeList.mCustomScrollbar").mCustomScrollbar("scrollTo", "#store_id1");
                 },300)
                 }*/
            });

            var nlPopup = {
                type: 'popup',
                responsive: true,
                clickableOverlay: true,
                modalClass: 'modal__small nl_popup',
                closed: function () {
                }
            };


            if ($('#newsletterPopup').length) {
                var popup = modal(nlPopup, $('#newsletterPopup'));
                $(".subscribe").on("click", function () {
                    $('#newsletterPopup').modal('openModal');
                });
				
				$('#newsletterPopup').modal('openModal');				
            }

            jQuery('#newsletterPopup .fn__btn').click(function () {
                $(this).data('clicked', true);
            });


            $(".locationPickup").on("click", function () {
                $('#storeView').modal('openModal');
                $("#store-location-popup .store-tabs ul li:first-child").addClass("active");
            });


            $(".popup-overlay").on("click", function () {
                $('#myModel').modal('clickPopupOverlay');
                $('#storeView').modal('clickPopupOverlay');
                $('#newsletterPopup').modal('clickPopupOverlay');
            });

            $(document).ready(function () {
                $("#search-box").keyup(function (e) {
                    if ($("#search-box").val() != '') {
                        var keyVal = e.which;
                        var liSelected = $('#suggesstion-box li.selected');

                        if (keyVal != 37 && keyVal != 38 && keyVal != 39 && keyVal != 40 && keyVal != 13) {
                            $.ajax({
                                type: "GET",
                                url: '<?php echo $locationurl; ?>' + '?keyword=' + $("#search-box").val(),
                                beforeSend: function () {
                                    $("#search-box").css("background", "#FFF url(<?php echo $this->getViewFileUrl('images/LoaderIcon.gif'); ?>) no-repeat 165px");
                                },
                                success: function (data) {
                                    $("#suggesstion-box").show();
                                    $("#suggesstion-box").html(data);
                                    $("#search-box").css("background", "#FFF");
                                    if ($("#search-box").val() == '') {
                                        $("#suggesstion-box").hide();
                                    }

                                    if (document.getElementById("suggesstion-box").style.display == "block") {
                                        $("#suggesstion-box #country-list").mCustomScrollbar({
                                            theme: "dark-3",
                                            autoExpandScrollbar: true
                                        })
                                    }

                                    // select first link by default
                                    liSelected = $("#suggesstion-box li:first").addClass("selected");
                                    next = liSelected;

                                }
                            });
                        }


                        $(window).keydown(function (e) {
                            if (e.which === 40) {
                                if (liSelected) {
                                    liSelected.removeClass('selected');
                                    next = liSelected.next();
                                    if (next.length > 0) {
                                        liSelected = next.addClass('selected');
                                    } else {
                                        liSelected = $('#suggesstion-box li:first').addClass('selected');
                                    }
                                } else {
                                    liSelected = $('#suggesstion-box li:first').addClass('selected');
                                }
                            } else if (e.which === 38) {
                                if (liSelected) {
                                    liSelected.removeClass('selected');
                                    next = liSelected.prev();
                                    if (next.length > 0) {
                                        liSelected = next.addClass('selected');
                                    } else {
                                        liSelected = $('#suggesstion-box li:last').addClass('selected');
                                    }
                                } else {
                                    liSelected = $('#suggesstion-box li:last').addClass('selected');
                                }
                            }

                            if (e.which == 13) {
                                // Check if valid location exists to select else return nothing.
                                if (liSelected.length) {
                                    $("#search-box").val(next.text());
                                    $("#suggesstion-box").hide();
                                    var url = liSelected.attr("url");
                                    window.location.href = url;
                                } else {
                                    return false;
                                }
                            }
                        });

                    } else {
                        $("#suggesstion-box").hide();
                    }
                });

            });


            document.onkeydown = function (evt) {
                "use strict";
                evt = evt || window.event;

                //alert(evt.keyCode);
                //Up and Down Arrow Key
                if ($('html').hasClass('win')) {
                    if ((evt.keyCode === 116) || (evt.keyCode === 116 && evt.ctrlKey) || (evt.keyCode === 82 && evt.ctrlKey)) {
                        window.onbeforeunload = function () {
							//$('body').fadeOut(50);
                            window.scrollTo(0, 0);
                        };
                    }
                }

                if ($('html').hasClass('mac')) {
                    if (evt.keyCode === 82 && event.metaKey) {
                        //alert('MAC')
						//$('body').fadeOut(50);
                        window.scrollTo(0, 0);
                    }
                }
            };

            $(window).bind('beforeunload', function () {
				//$('body').fadeOut(50);
                //window.scrollTo(0, 0);
            });


            
        }
    );
    function selectCountry(val, url) {
        document.getElementById('search-box').value = val;
        document.getElementById('suggesstion-box').style.display = 'none';
        window.location.href = url;
    }

</script>
<?php $storeurl = $storeManager->getStore()->getUrl('stores/store/switch/'); ?>
<div id="storeView">
    <div id="store-location-popup" class="popupcontent">
        <div class="col-xs-12 text-center">
            <h3>Our Stores</h3>
            <p>Pick a store, browse products and create shopping list to shop in person.<br
                        class="hidden-xs hidden-sm"/> If you want to order online, <a href="javascript:void(0);"
                                                                                      class="openLocationModel"
                                                                                      data-role="closeBtn"><strong>choose
                        a location</strong></a> to check if you are located in our delivery area.</p>
        </div>

        <div class="col-xs-12 text-center store-tabs">

            <ul>
                <li data-id="#store_id1" data-map-id="0" data-city="Alexandria" class="active"><a
                            href="javascript:void(0)">Alexandria</a></li>
                <li data-id="#store_id2" data-map-id="1" data-city="Cairo"><a href="javascript:void(0)">Cairo</a></li>
                <li data-id="#store_id6" data-map-id="5" data-city="Giza"><a href="javascript:void(0)">Giza</a></li>
                <!--<li data-id="#store_id1" data-map-id="0" data-city="Matrouh"><a href="javascript:void(0)">Matrouh</a></li>-->
                <li data-id="#store_id1" data-map-id="0" data-city="NorthCoast"><a href="javascript:void(0)">North Coast</a></li>
                <!--
                <li data-id="#store_id3" data-map-id="2" data-city="PortSaid"><a href="javascript:void(0)">Port Said</a></li>
                -->
                <li data-id="#store_id3" data-map-id="2" data-city="RedSea"><a href="javascript:void(0)">Red Sea</a>
                </li>
                <!--<li data-id="#store_id3" data-map-id="2" data-city="SharmElSheikh"><a href="javascript:void(0)">Sharm El Sheikh</a></li>-->
                <li data-id="#store_id3" data-map-id="2" data-city="Suez"><a href="javascript:void(0)">Suez</a></li>
            </ul>

            <!--<ul>
            	<li data-id="#store_id1" data-map-id="0" data-city="Cairo"><a href="javascript:getStoreinformation('');">Cairo</a></li>
                <li data-id="#store_id3" data-map-id="2" data-city="Alexandria"><a href="javascript:void(0);">Alexandria</a></li>
                <li data-id="#store_id5" data-map-id="4" data-city="Hurghada"><a href="javascript:void(0);">Hurghada</a></li>
                <li data-id="#store_id6" data-map-id="5" data-city="Gouna"><a href="javascript:void(0);">Gouna</a></li>
            </ul>-->
        </div>
        <div class="col-xs-12 storeAreas">
            <div class="col-lg-8 col-md-7 col-sm-7 pull-right">
                <div id="map" class="block__row"></div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                <div id="storeList" data-count="0" class="animated fadeInDownShort delay-500">

                    <div id="store_id1" class="col-xs-12 storeView" data-city="Alexandria">
                        <div>
                            <h2>Gourmet Hacienda Store</h2>
                            <div class="storeAddress">Hacienda Shopping Center km 149</div>
                            <div class="storeGetDirection"><a
                                        href="https://www.google.com/maps/dir//30.9970745,28.6565803/@30.9972322,28.6562671,18.25z/data=!4m2!4m1!3e3?hl=ar"
                                        target="_blank">Get Directions</a></div>
                            <div class="storeHrs">Opening Hours: 10:00am - 1:00am</div>
                            <div class="storePopupView" data-map-id="0"></div>
                            <div class="storeBtn"><a href="<?php echo $storeurl . "?___store=default" ?>"
                                                     class="btn btn-success" data-role="closeBtn">Create Shopping
                                    List</a></div>
                        </div>
                    </div>


                    <div id="store_id2" class="col-xs-12 storeView" data-city="Cairo">
                        <div>
                            <h2>Gourmet Zamalek Store</h2>
                            <div class="storeAddress">3 Brazil Street, Zamalek</div>
                            <div class="storeGetDirection"><a
                                        href="https://www.google.com.eg/maps/place/Gourmet+Zamalek/@30.0604178,31.2222926,21z/data=!4m5!3m4!1s0x0:0xadfa315bc98a109a!8m2!3d30.0603762!4d31.2223466?hl=ar"
                                        target="_blank">Get Directions</a></div>
                            <div class="storeHrs">Opening Hours: 9:00am - 11:00pm</div>
                            <div class="storePopupView" data-map-id="1"></div>
                            <div class="storeBtn"><a href="<?php echo $storeurl . "?___store=default" ?>"
                                                     class="btn btn-success" data-role="closeBtn">Create Shopping
                                    List</a></div>
                        </div>
                    </div>

                    <div id="store_id3" class="col-xs-12 storeView" data-city="Cairo">
                        <div>
                            <h2>Gourmet Fifth Settlement Bouri</h2>
                            <div class="storeAddress">Bouri Center Road 17 Fifth Settlement (New Cairo)</div>
                            <div class="storeGetDirection"><a
                                        href="https://www.google.com/maps/place/Gourmet/@30.0078407,31.4263093,19.75z/data=!4m5!3m4!1s0x0:0x3b65b44ce96a9aa9!8m2!3d30.0079365!4d31.426236?hl=ar"
                                        target="_blank">Get Directions</a></div>
                            <div class="storeHrs">Opening Hours: 9:00am - 11:00pm</div>
                            <div class="storePopupView" data-map-id="2"></div>
                            <div class="storeBtn"><a href="<?php echo $storeurl . "?___store=default" ?>"
                                                     class="btn btn-success" data-role="closeBtn">Create Shopping
                                    List</a></div>
                        </div>
                    </div>

                    <div id="store_id4" class="col-xs-12 storeView" data-city="Cairo">
                        <div>
                            <h2>Gourmet City Stars Store</h2>
                            <div class="storeAddress">City Stars Mall (Phase 2 | Level 0), Heliopolis</div>
                            <div class="storeGetDirection"><a
                                        href="https://www.google.com.eg/maps/place/City+Stars/@30.0734874,31.3459066,18.5z/data=!4m6!1m3!3m2!1s0x145815f8139c47a3:0xc1744516bae86a18!2sCity+Stars!3m1!1s0x145815f8139c47a3:0xc1744516bae86a18!6m1!1e1"
                                        target="_blank">Get Directions</a></div>
                            <div class="storeHrs">Opening Hours: 10:00am - 12:00pm</div>
                            <div class="storePopupView" data-map-id="3"></div>
                            <div class="storeBtn"><a href="<?php echo $storeurl . "?___store=default" ?>"
                                                     class="btn btn-success" data-role="closeBtn">Create Shopping
                                    List</a></div>
                        </div>
                    </div>

                    <div id="store_id5" class="col-xs-12 storeView" data-city="Cairo">
                        <div>
                            <h2>Gourmet Maadi Degla Store</h2>
                            <div class="storeAddress">2, Road 218, Degla, Maadi</div>
                            <div class="storeGetDirection"><a
                                        href="https://www.google.com/maps/place/Gourmet+Egypt+-+Maadi/@29.962472,31.273778,19z/data=!4m5!3m4!1s0x0:0x37ab32eff0338f5f!8m2!3d29.9624754!4d31.2737706?hl=ar"
                                        target="_blank">Get Directions</a></div>
                            <div class="storeHrs">Opening Hours: 9:00am - 11:00pm</div>
                            <div class="storePopupView" data-map-id="4"></div>
                            <div class="storeBtn"><a href="<?php echo $storeurl . "?___store=default" ?>"
                                                     class="btn btn-success" data-role="closeBtn">Create Shopping
                                    List</a></div>
                        </div>
                    </div>

                    <div id="store_id6" class="col-xs-12 storeView" data-city="Giza">
                        <div>
                            <h2>Gourmet Guizera Plaza Store</h2>
                            <div class="storeAddress">Guizera Plaza Mall, Sheikh Zayed</div>
                            <div class="storeGetDirection"><a
                                        href="https://www.google.com.eg/maps/place/Gourmet+Egypt+Market/@30.0200975,31.0021388,18.75z/data=!4m13!1m7!3m6!1s0x0:0x0!2zMzDCsDAxJzEzLjIiTiAzMcKwMDAnMDguOCJF!3b1!8m2!3d30.020348!4d31.002447!3m4!1s0x0:0x28d048cc439d8949!8m2!3d30.0203109!4d31.00239?hl=ar"
                                        target="_blank">Get Directions</a></div>
                            <div class="storeHrs">Opening Hours: 9:00am - 11:00pm</div>
                            <div class="storePopupView" data-map-id="5"></div>
                            <div class="storeBtn"><a href="<?php echo $storeurl . "?___store=default" ?>"
                                                     class="btn btn-success" data-role="closeBtn">Create Shopping
                                    List</a></div>
                        </div>
                    </div>

                    <div id="store_id7" class="col-xs-12 storeView" data-city="Giza">
                        <div>
                            <h2>Gourmet Dokki Store</h2>
                            <div class="storeAddress">42 Shooting Club St., Dokki</div>
                            <div class="storeGetDirection"><a
                                        href="https://www.google.com.eg/maps/place/Gourmet+Egypt+-+%D8%AC%D9%88%D8%B1%D9%85%D9%8A%D9%87%E2%80%AD/@30.0425274,31.2018649,19.25z/data=!4m15!1m9!4m8!1m0!1m6!1m2!1s0x14584133264d882b:0x84d798ab146f18c6!2zR291cm1ldCBFZ3lwdCAtINis2YjYsdmF2YrZhywgNDIgQmFiZWwsIEFkIERvcWksIEdpemEgR292ZXJub3JhdGU!2m2!1d31.20234!2d30.0428744!3m4!1s0x14584133264d882b:0x84d798ab146f18c6!8m2!3d30.0428744!4d31.20234?hl=ar"
                                        target="_blank">Get Directions</a></div>
                            <div class="storeHrs">Opening Hours: 9:00am - 11:00pm</div>
                            <div class="storePopupView" data-map-id="6"></div>
                            <div class="storeBtn"><a href="<?php echo $storeurl . "?___store=default" ?>"
                                                     class="btn btn-success" data-role="closeBtn">Create Shopping
                                    List</a></div>
                        </div>
                    </div>

                    <!--<div id="store_id8" class="col-xs-12 storeView" data-city="Gouna">
                        <div>
                            <h2>Gourmet Maadi Ring Road</h2>
                            <div class="storeAddress">3 Badr Buildings, Ring Road - Maadi</div>
                            <div class="storeGetDirection"><a href="javascript:void(0);">Get Directions</a></div>
                            <div class="storeHrs">Opening Hours: 9:00am - 10:00pm</div>
                            <div class="storePopupView" data-map-id="7"></div>
                            <div class="storeBtn"><a href="<?php echo $storeurl . "?___store=default" ?>"
                                                     class="btn btn-success" data-role="closeBtn">Create Shopping
                                    List</a></div>
                        </div>
                    </div>-->

                </div>
            </div>


            <?php // echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('store-locations')->toHtml();?>
        </div>
    </div>
</div>

<!--<script async defer>
    require(['domReady!', 'jquery', '//maps.google.com/maps/api/js?key=AIzaSyASQMlXa-mU15DfmDM94A03S0qNS5rplmc&language=ar'], function (doc, $) {
        var map;
        var markers = [];
        var windowWidth = $(window).width();
        var mobileWidth = "874";

        $(window).resize(function (e) {
            windowWidth = $(window).width();
        });

        initialize();

        function initialize() {

            setTimeout(function () {
                getRestaurants();
            }, 500);

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: new google.maps.LatLng(10.0000, 10.0000),
                disableDefaultUI: true,
                zoomControl: true,
                scaleControl: true,
                scrollwheel: false,
                mapTypeId: 'roadmap',
                styles: [
                    {
                        featureType: 'all',
                        stylers: [
                            {saturation: -80}
                        ]
                    }, {
                        featureType: 'road.arterial',
                        elementType: 'geometry',
                        stylers: [
                            {hue: '#00ffee'},
                            {saturation: 50}
                        ]
                    }, {
                        featureType: 'poi.business',
                        elementType: 'labels',
                        stylers: [
                            {visibility: 'off'}
                        ]
                    }
                ]
            });

        }

        function getRestaurants() {
            "use strict";
            var data = {
                "data": [{
                    "store_id": "1",
                    "store_city": "Alexandria",
                    "store_name": "Gourmet Hacienda Store",
                    "icon": "restMarker.png",
                    "icon_active": "restMarker_active.png",
                    "restLag": "30.9970745",
                    "restLong": "28.6565803",
                    "store_address": "Hacienda Shopping Center km 149",
                    "store_opening_hrs": "Opening Hours: 10:00am - 1:00am",
                    "store_get_direction": "https://www.google.com/maps/dir//30.9970745,28.6565803/@30.9972322,28.6562671,18.25z/data=!4m2!4m1!3e3?hl=ar"
                }, {
                    "store_id": "2",
                    "store_city": "Cairo",
                    "store_name": "Gourmet Zamalek Store",
                    "icon": "restMarker.png",
                    "icon_active": "restMarker_active.png",
                    "restLag": "30.0603578",
                    "restLong": "31.2223526",
                    "store_address": "3 Brazil Street, Zamalek",
                    "store_opening_hrs": "Opening Hours: 9:00am - 11:00pm",
                    "store_get_direction": "https://www.google.com.eg/maps/place/Gourmet+Zamalek/@30.0604178,31.2222926,21z/data=!4m5!3m4!1s0x0:0xadfa315bc98a109a!8m2!3d30.0603762!4d31.2223466?hl=ar"
                }, {
                    "store_id": "3",
                    "store_city": "Cairo",
                    "store_name": "Gourmet Fifth Settlement Bouri",
                    "icon": "restMarker.png",
                    "icon_active": "restMarker_active.png",
                    "restLag": "30.0078407",
                    "restLong": "31.4263093",
                    "store_address": "Bouri Center Road 17 Fifth Settlement (New Cairo)",
                    "store_opening_hrs": "Opening Hours: 9:00am - 11:00pm",
                    "store_get_direction": "https://www.google.com/maps/place/Gourmet/@30.0078407,31.4263093,19.75z/data=!4m5!3m4!1s0x0:0x3b65b44ce96a9aa9!8m2!3d30.0079365!4d31.426236?hl=ar"
                }, {
                    "store_id": "4",
                    "store_city": "Cairo",
                    "store_name": "Gourmet City Stars Store",
                    "icon": "restMarker.png",
                    "icon_active": "restMarker_active.png",
                    "restLag": "30.0734874",
                    "restLong": "31.3459066",
                    "store_address": "City Stars Mall (Phase 2 | Level 0), Heliopolis",
                    "store_opening_hrs": "Opening Hours: 10:00am - 12:00am",
                    "store_get_direction": "https://www.google.com.eg/maps/place/City+Stars/@30.0734874,31.3459066,18.5z/data=!4m6!1m3!3m2!1s0x145815f8139c47a3:0xc1744516bae86a18!2sCity+Stars!3m1!1s0x145815f8139c47a3:0xc1744516bae86a18!6m1!1e1"
                }, {
                    "store_id": "5",
                    "store_city": "Cairo",
                    "store_name": "Gourmet Maadi Degla Store",
                    "icon": "restMarker.png",
                    "icon_active": "restMarker_active.png",
                    "restLag": "29.962380",
                    "restLong": "31.273778",
                    "store_address": "2, Road 218, Degla, Maadi",
                    "store_opening_hrs": "Opening Hours: 9:00am - 11:00pm",
                    "store_get_direction": "https://www.google.com/maps/place/Gourmet+Egypt+-+Maadi/@29.962472,31.273778,19z/data=!4m5!3m4!1s0x0:0x37ab32eff0338f5f!8m2!3d29.9624754!4d31.2737706?hl=ar"
                }, {
                    "store_id": "6",
                    "store_city": "Giza",
                    "store_name": "Gourmet Guizera Plaza Store",
                    "icon": "restMarker.png",
                    "icon_active": "restMarker_active.png",
                    "restLag": "30.0202775",
                    "restLong": "31.0024288",
                    "store_address": "Guizera Plaza Mall, Sheikh Zayed",
                    "store_opening_hrs": "Opening Hours: 9:00am - 11:00pm",
                    "store_get_direction": "https://www.google.com.eg/maps/place/Gourmet+Egypt+Market/@30.0200975,31.0021388,18.75z/data=!4m13!1m7!3m6!1s0x0:0x0!2zMzDCsDAxJzEzLjIiTiAzMcKwMDAnMDguOCJF!3b1!8m2!3d30.020348!4d31.002447!3m4!1s0x0:0x28d048cc439d8949!8m2!3d30.0203109!4d31.00239?hl=ar"
                }, {
                    "store_id": "7",
                    "store_city": "Giza",
                    "store_name": "Gourmet Dokki Store",
                    "icon": "restMarker.png",
                    "icon_active": "restMarker_active.png",
                    "restLag": "30.0428274",
                    "restLong": "31.2023249",
                    "store_address": "42 Shooting Club St., Dokki",
                    "store_opening_hrs": "Opening Hours: 9:00am - 11:00pm",
                    "store_get_direction": "https://www.google.com.eg/maps/place/Gourmet+Egypt+-+%D8%AC%D9%88%D8%B1%D9%85%D9%8A%D9%87%E2%80%AD/@30.0425274,31.2018649,19.25z/data=!4m15!1m9!4m8!1m0!1m6!1m2!1s0x14584133264d882b:0x84d798ab146f18c6!2zR291cm1ldCBFZ3lwdCAtINis2YjYsdmF2YrZhywgNDIgQmFiZWwsIEFkIERvcWksIEdpemEgR292ZXJub3JhdGU!2m2!1d31.20234!2d30.0428744!3m4!1s0x14584133264d882b:0x84d798ab146f18c6!8m2!3d30.0428744!4d31.20234?hl=ar"
                }/*, {
                 "store_id": "8",
                 "store_city": "Gouna",
                 "store_name": "Gourmet Maadi Ring Road",
                 "icon": "restMarker.png",
                 "icon_active": "restMarker_active.png",
                 "restLag": "40.7564751",
                 "restLong": "-73.950212",
                 "store_address": "3 Badr Buildings, Ring Road - Maadi",
                 "store_opening_hrs": "Opening Hours: 9:00am - 10:00pm"
                 }*/],
                //total: 8
                total: 7
            }

            var dataApi;

            for (var i = 0; i < data.data.length; i++) {
                dataApi = data.data[i];
                addMarker(dataApi);
                storeListing(dataApi);
            }


            function addMarker(dataApi) {				
				var baseUrls = "<?php /*echo $block->getViewFileUrl('/'); */?>";
                var restLag = dataApi.restLag;
                var restLong = dataApi.restLong;
                var mylocaiton = new google.maps.LatLng(restLag, restLong);
                var restUrl = window.hostName + "restaurants/" + dataApi.store_name + "/" + dataApi.store_id + "/dine-more";
                var markerDefaultIcon = baseUrls + '/images/' + dataApi.icon;
                var markerActiveIcon = baseUrls + '/images/' + dataApi.icon_active;

                var marker = new google.maps.Marker({
                    position: mylocaiton,
                    icon: markerDefaultIcon,
                    map: map,
                    title: dataApi.store_name,
                    animation: google.maps.Animation.DROP,
                    url: "#store_id" + dataApi.store_id,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                markers.push(marker);

                var infowindow = new google.maps.InfoWindow({
                    content: '<div id="content" class="popupContent storeView" >' +
                    '<h2>' + dataApi.store_name + '</h2>' +
                    '<div class="storeAddress" >' + dataApi.store_address + '</div>' +
                    '<div class="storeGetDirection"><a href="' + dataApi.store_get_direction + '" target="_blank">Get Directions</a></div>' +
                    '<div class="storeHrs" >' + dataApi.store_opening_hrs + '</div>' +
                    '<div class="storeBtn"><a href="<?php /*echo $storeurl . "?___store=default" */?>" class="btn btn-success">Create Shopping List</a></div>' +
                    '</div>',
                    maxWidth: 330
                });


                google.maps.event.addListener(infowindow, 'domready', function () {
                    $('.gm-style-iw').parent().addClass("popupDnM");
                    $(".gm-style-iw").next().css({'left': 'auto', 'right': '10px', 'top': '10px'});
                });


                marker.addListener("click", function (e) {
                    var iwOuter = $('.gm-style-iw');
                    var iwArrow = iwOuter.next();

                    for (var j = 0; j < markers.length; j++) {
                        markers[j].setIcon(markerDefaultIcon);
                    }
                    marker.setIcon(markerActiveIcon);

                    if (windowWidth > mobileWidth) {
                        if ($("#storeList").attr("data-count") == "1") {
                            //$("#storeList.nano").nanoScroller({ scrollTo: $(marker.url) });
                            $("#storeList.mCustomScrollbar").mCustomScrollbar("scrollTo", marker.url);
                        }
                    }

                    $("#storeList .storeView").removeClass("active");
                    $(marker.url).addClass("active");


                    if ($('#map').is(':hover') === true) {
                        $("#store-location-popup .store-tabs ul li").removeClass('active');
                        $("#store-location-popup .store-tabs ul li[data-city='" + dataApi.store_city + "']").addClass('active');
                    }
                    ;

                    setTimeout(function () {
                        $(".gm-style-iw").parent("div").hide();
                        infowindow.open(map, marker);
                    }, 100);

                    if (marker.getAnimation() !== null) {
                        marker.setAnimation(null);
                    } else {
                        marker.setAnimation(google.maps.Animation.BOUNCE);
                        setTimeout(function () {
                            marker.setAnimation(null);
                        }, 1400);
                    }
                });


                google.maps.event.addListener(map, "click", function (event) {
                    marker.setIcon(markerDefaultIcon);
                    $(".gm-style-iw").parent("div").hide();
                    //$("#store-location-popup .store-tabs ul li").removeClass("active");
                    //$("#storeList .storeView").removeClass("active");
                });

                google.maps.event.addListener(infowindow, 'closeclick', function () {
                    marker.setIcon(markerDefaultIcon);
                    $("#store-location-popup .store-tabs ul li").removeClass("active");
                    $("#storeList .storeView").removeClass("active");
                });
            }


            function storeListing(dataApi) {
                var storeListHTML = "";

                var restbox = '<div id="storeId_' + dataApi.store_id + '" class="col-lg-12 storeView" >';
                restbox += '<h2>' + dataApi.store_name + '</h2>';
                restbox += '<div class="storeAddress" >' + dataApi.store_address + '</div>';
                restbox += '<div class="storeGetDirection"><a href="#">Get Directions</a></div>';
                restbox += '<div class="storeHrs" >' + dataApi.store_opening_hrs + '</div>';
                restbox += '<div class="storeBtn"><a href="<?php /*echo $storeurl . "?___store=default" */?>" class="btn btn-success">Create Shopping List</a></div>';
                restbox += '</div>';
                storeListHTML += restbox;

                if (storeListHTML != "undefined") {
                    //$("#storeList").append(storeListHTML);
                }
            }
        }


        $("#map").mouseenter(function () {
            "use strict";
            $("#storeList").attr("data-count", "1");
        });

        $("#storeList").mouseenter(function () {
            "use strict";
            $("#storeList").attr("data-count", "0");
        });

        document.getElementById("map").addEventListener('touchstart', function () {
            $("#storeList").attr("data-count", "1");
        });

        document.getElementById("storeList").addEventListener('touchstart', function () {
            $("#storeList").attr("data-count", "0");
        });

        $("#store-location-popup .store-tabs ul li").click(function () {

            var store_id = $(this).attr("data-id");
            var store_map_id = $(this).attr("data-map-id");

            $("#store-location-popup .store-tabs ul li").removeClass("active");
            //$(this).addClass("active");

            //$("#storeList .storeView").removeClass("active");
            //$(store_id).addClass("active");

            if (windowWidth > mobileWidth) {
                $("#storeList.mCustomScrollbar").mCustomScrollbar("scrollTo", store_id);
            }

            google.maps.event.trigger(markers[store_map_id], "click");
            $(".gm-style-iw").parent("div").hide();
        });


        $("#storeList .storeView .storePopupView").click(function () {
            var store_map_id = $(this).attr("data-map-id");

            $("#storeList").attr("data-count", "0");
            google.maps.event.trigger(markers[store_map_id], "click");
        });


        $("#storeList .storeView").click(function () {
            var store_area = $(this).attr("data-city");

            $("#store-location-popup .store-tabs ul li").removeClass('active');
            $("#store-location-popup .store-tabs ul li[data-city='" + store_area + "']").addClass('active');
        });

        $(window).on('beforeunload', function () {
            // showLoader();
        });

        $(document).ready(function () {
            // showLoader();
        });

        $(window).load(function () {
            
			// Remove loader
            removeLoader();
			
			var pathName = $(location).attr('href');
			var string = pathName,
			substring = "location";
			if(string.indexOf(substring) !== -1){
				$('#myModel').modal('openModal');
				$("#store-location-popup .store-tabs ul li:first").trigger("click");
			}
			
			/* 
			if (($.cookie('latitude') === null || $.cookie('latitude') === "") && ($.cookie('longitude') === null || $.cookie('longitude') === "")) {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function(position) {
						lati = position.coords.latitude;
						lati = lati.toFixed(3);
						longi = position.coords.longitude;
						longi = longi.toFixed(3);
						
						var cname = 'latitude';
						var cvalue = lati;
						var d = new Date();
						//var exdays = 365;
						//d.setTime(d.getTime() + (exdays*24*60*60*1000));
						d.setTime(d.getTime() + (60*60*1000));
						var expires = "expires="+ d.toUTCString();
						document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
						
						var cname = 'longitude';
						var cvalue = longi;
						document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
						
						window.location.reload(true);
						
					});
				} else {
					x.innerHTML = "Geolocation is not supported by this browser.";
				}
			} else {
				var watchID = navigator.geolocation.watchPosition(function(position) {
						oldlati = $.cookie('latitude');
						oldlangi = $.cookie('longitude');
						
						lati = position.coords.latitude;
						lati = lati.toFixed(3);
						longi = position.coords.longitude;
						longi = longi.toFixed(3);
						
						if(oldlati != lati || oldlangi != longi){
							var cname = 'latitude';
							var cvalue = lati;
							var d = new Date();
							//var exdays = 365;
							//d.setTime(d.getTime() + (exdays*24*60*60*1000));
							d.setTime(d.getTime() + (60*60*1000));
							var expires = "expires="+ d.toUTCString();
							document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
							
							var cname = 'longitude';
							var cvalue = longi;
							document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
							
							window.location.reload(true);
						}
						
					});
			} */
        });

        function showLoader() {
            var loaderTemplate = '<div data-role="loader" class="loading-mask body__loader" style="position: absolute;">\n    <div class="loader">\n        <img src="<?php /*echo $block->getViewFileUrl('images/loader-1.gif'); */?>" style="position: absolute;">\n    </div>\n</div>';
            $("body").append(loaderTemplate);
        }

        function removeLoader() {
            $(".body__loader").remove();
        }
    });
</script>-->
<?php } ?>