<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View*/
?>
<div class="product-addto-links" data-role="add-to-links">
    <?php echo $block->getChildHtml(); ?>
</div>
<?php
$viewedProduct = $block->getProduct();
$typeId = $viewedProduct->getTypeId();
?>
<?php $description = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getDescription(), 'description') ?>
<?php if ($description != '' && $typeId != 'grouped'): ?>
    <div class="short_description description-block right-desc block__row">
        <div class="description-heading sd">Description</div>
		<div class="description-content">
            <?php echo $description; ?>
        </div>
    </div>
<?php endif; ?>
<?php $ingredients = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getIngredients(), 'ingredients') ?>
<?php if ($ingredients != '' && $typeId != 'grouped'): ?>
		  <div class="oth__ingredients">
			<section class="ingredients sec__box right-desc">
                            <div class="description-heading sd">Ingredients</div>
				<?php echo $ingredients; ?>
			</section>
		</div>
	<?php endif; ?>	