<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
$product_id = $product->getId();
$_product = $objectManager->get('Magento\Catalog\Model\Product')->load($product_id);
?>
<div class="block__row">
    <?php if ($product->getTag()): ?>
        <?php
        $tags = $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_product);
        $tagArray = explode(',', $tags);
        ?>
        <ul class="tag__list">
            <?php foreach ($tagArray as $tag): ?>
                <li class="product-tags">
                    <?php $img = strtolower(trim($tag)); ?>
                    <img src="<?php echo $this->getViewFileUrl('images/'.preg_replace('/\s+/', '-', $img).'.png'); ?>" />
                    <?php echo $tag; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
</div>