<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php //$description = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getDescription(), 'description') ?>
<?php //if ($description != ''): ?>
    <!--<div class="description-block bottom-desc block__row">-->
        <!--<div class="description-heading">Description</div>-->
        <!--<div class="description-content">
            <?php //echo $description; ?>
        </div>
    </div>-->
<?php //endif; ?>
<?php $_product = $block->getProduct(); 
$main_product_id=$_product->getId();
?>
<?php $shortdescription = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getShortDescription(), 'short_description') ?>
<?php $descriptionwithimage = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getDescriptionWithImage(), 'description_with_image') ?>
<?php $nutritionfacts = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getNutritionFacts(), 'nutrition_facts') ?>
<?php $ingredients = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getIngredients(), 'ingredients') ?>

<?php if (($shortdescription != '' || $descriptionwithimage != '')): ?>
<div class="block__row hor__sep">
	<hr>
</div>
<!--div class="block__row">
	<div class="row contactDetailDiv">
		<div class="cs__detail col-sm-8 pull-right">
			<span class="cs__number">Have a question or need help?</span>
			<a href="javascript:$zopim.livechat.window.show()" class="cs__action">Live Chat</a>
		</div>
	</div>
</div-->
<?php endif; ?>

<?php if (($nutritionfacts != '' || $ingredients != '') && $_product->getTypeId() != 'grouped'): ?>
<div class="block__row hor__sep hide">
	<hr>
</div>
<div class="row block__row">
	<?php if ($nutritionfacts != '' && $_product->getTypeId() != 'grouped'): ?>
		<div class="oth__nutritionfacts col-xs-12 col-md-6">
			<section class="nutrition-facts sec__box">
				
				<div class="table-responsive">
					<?php echo stripslashes($nutritionfacts);  ?>
				</div>
			</section>
		</div>
  
	<?php endif; ?>
	
</div>
<?php endif; ?>	

<?php if ($shortdescription != ''): ?>
	<div class="short_description description-block right-desc block__row">
        <div class="description-content">
            <?php echo $shortdescription; ?>
        </div>
    </div>
<?php endif; ?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')): ?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <?php foreach ($detailedInfoGroup as $name): ?>
                <?php
                $html = $layout->renderElement($name);
                if (!trim($html)) {
                    continue;
                }
                $alias = $layout->getElementAlias($name);
                $label = $block->getChildData($alias, 'title');
                ?>
                <div class="data item title"
                     aria-labeledby="tab-label-<?php /* @escapeNotVerified */
                     echo $alias; ?>-title"
                     data-role="collapsible" id="tab-label-<?php /* @escapeNotVerified */
                echo $alias; ?>">
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="switch"
                       href="#<?php /* @escapeNotVerified */
                       echo $alias; ?>"
                       id="tab-label-<?php /* @escapeNotVerified */
                       echo $alias; ?>-title">
                        <?php /* @escapeNotVerified */
                        echo $label; ?>
                    </a>
                </div>
                <div class="data item content" id="<?php /* @escapeNotVerified */
                echo $alias; ?>" data-role="content">
                    <?php /* @escapeNotVerified */
                    echo $html; ?>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>


<?php if ($shortdescription != '' && $descriptionwithimage != ''  && $_product->getTypeId() != 'grouped'): ?>
    <div class="block__row hor__sep">
        <hr>
    </div>
<?php endif; ?>
<?php if ($descriptionwithimage != '' && $_product->getTypeId() != 'grouped'): ?>
    <div class="block__row oth__des">
        <?php echo $descriptionwithimage; ?>
    </div>
<?php endif; ?>
<?php $video = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getVideo(), 'video'); ?>
<?php $video = str_replace(' ', '', $video); ?>
<?php if ($video != '-' && $video != ''): ?>
    <div class="video_wrapper">
        <div class="embed-responsive embed-responsive-16by9 block__row">
            <iframe class="embed-responsive-item" src="<?php /* @escapeNotVerified */
            echo $video.'?rel=0' ?>" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
<?php endif; ?>
<?php $main_product_id=''; ?>
         <script>
        require(
                [
                    'jquery',
                    'Magento_Ui/js/modal/modal'
                ],
               function ($) {
                   
                   $('.product-custom-option').change(function()
                   {
                        var main_product_id = "<?php echo $main_product_id;?>";
                        var ajx_url = "<?php echo $block->getUrl('customcart'); ?>";
                        var product_id = $(this).val();
                        $.ajax
                        ({
                            url: ajx_url,
                            type: 'POST',
                             showLoader: true,
                            data: {
                                'product_id': product_id,'main_product_id':main_product_id
                            },
                           
                            success: function (data) 
                            {
                             var obj = JSON.parse(data);
                                $('.extra-custom-options-value').html(obj.weight);
                                $('.fotorama__loaded img').attr('src', obj.imageUrl);
                                $('.product-info-price .price').text(obj.finalPrice);
                                 $('#custom-price').remove();
                               var priceHtml= '<input type="hidden" id="custom-price" name="custom-price" value="'+obj.finalPriceWc+'">'
                                $('.product-options-wrapper').prepend(priceHtml);
                            }
                        });
                   });
                }
        );
    </script>