<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$inventory = 0;
if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
	$cookie = $_COOKIE["Gourmet_Location"];
	$store = $cookie;
	$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId());
	$storeId = 'store_'.$store;
	$inventory = $productStockObj[$storeId];
} else {
	$cookie = 7;
	$store = $cookie;
	$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId());
	$storeId = 'store_'.$store;
	$inventory = $productStockObj[$storeId];
}
?>
<?php
$product_id = $_product->getId();
$minQty = $productStockObj['min_qty'];
?>
<?php $description = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getDescription(), 'description') ?>
<?php if ($description != '' && $_product->getTypeId() == 'grouped'): ?>
	<div class="short_description description-block right-desc block__row">
        <div class="description-content">
            <?php echo $description; ?>
        </div>
    </div>
<?php endif; ?>



<?php if (((isset($inventory) && $inventory <= $minQty) || (!isset($inventory))) && $_product->getTypeId() != 'grouped'): ?>
    <?php
		$block->getChildBlock('gourmet.alert.notify')->setProdId($_product->getId());
		echo $block->getChildHtml('gourmet.alert.notify', false); 
    ?>
<style>
.product-info-main .product-info-price{display:none;}
</style>
<?php endif; ?>
<div class="discount__percentage">
	<?php
	$ctPrice= $_product->getPriceModel()->getFinalPrice(1,$_product);
	$FPrice = $_product->getFinalPrice();
	$newPrice = $_product->getPrice();
	if (($FPrice!='' && $ctPrice!='')):
		$percentChange = (1 - $FPrice / $newPrice) * 100;
		if(round($percentChange) > 0 && $inventory > $minQty):
			echo round($percentChange) . "% Off";
			echo '<div class="offer-text">Offer applied automatically</div>';
		endif;
	endif;
	?>
</div>                                                    
<div class="product-add-form">
    <form action="<?php /* @escapeNotVerified */ echo $block->getSubmitUrl($_product) ?>"  onsubmit="return false;" method="post"
          id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $_product->getId() ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <?php echo $block->getBlockHtml('formkey')?>
        <?php echo $block->getChildHtml('form_top'); ?>
        <?php if (!$block->hasOptions()):?>
            <?php echo $block->getChildHtml('product_info_form_content'); ?>
        <?php else:?>
            <?php if ($_product->isSaleable() && $block->getOptionsContainer() == 'container1'):?>
                <?php echo $block->getChildChildHtml('options_container') ?>
            <?php endif;?>
        <?php endif; ?>

        <?php if ($_product->isSaleable() && $block->hasOptions() && $block->getOptionsContainer() == 'container2'):?>
            <?php echo $block->getChildChildHtml('options_container') ?>
        <?php endif;?>
        <?php echo $block->getChildHtml('form_bottom'); ?>
    </form>
</div>
<script>
    require([
        'jquery',
        'priceBox'
    ], function($){
        var dataPriceBoxSelector = '[data-role=priceBox]',
            dataProductIdSelector = '[data-product-id=<?php echo $block->escapeHtml($_product->getId())?>]',
            priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);

        priceBoxes = priceBoxes.filter(function(index, elem){
            return !$(elem).find('.price-from').length;
        });

        priceBoxes.priceBox({'priceConfig': <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>});
    });
</script>
