<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php
if(!isset($_SESSION["store"])){
	$_SESSION["store"] = 7;
}
	$_labelsBlock = $block->getLayout()->createBlock('Gourmet\Assist\Block\Labels');
	$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product	
	$images = $product->getMediaGalleryImages();
	$imgcount = count($images);
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$inventory = 0;
if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
	$cookie = $_COOKIE["Gourmet_Location"];
	
    $store = $cookie;
	$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($product->getId());
	$storeId = 'store_'.$store;
	$inventory = $productStockObj[$storeId];
} else {
	$cookie = 7;
	
    $store = $cookie;
	$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($product->getId());
	$storeId = 'store_'.$store;
	$inventory = $productStockObj[$storeId];
}
?>
<?php if($imgcount == 1) { ?>
<?php
foreach($images as $child){
$productImage = $_imagehelper->init($product, 'product_page_image_large')
	->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(750,552)
	->getUrl();
?>
<?php $prod_label = $_labelsBlock->fetchLabel($product, $inventory);
	if (!empty($prod_label)):?>
		<?php if($prod_label == 'Special Offer') { ?>
            <div class="offer-tag-sp"><?php echo $prod_label; ?></div>
		<?php }elseif($prod_label == 'Only In Ramdan'){ ?>
			<div class="offer-tag offer-tag-ramadan"><?php echo $prod_label; ?></div>
		<?php }elseif($prod_label == 'New'){ ?>
			<div class="offer-tag offer-tag-new"><?php echo $prod_label; ?></div>	
		<?php }else{ ?>
			<div class="offer-tag"><?php echo $prod_label; ?></div>
		<?php } ?>
	<?php endif; ?>
    <div class="prod-swatch-<?php echo $product->getId(); ?>">
        <div class="product-qty-wrapper" style="display:none;">
            <div class="update_qty">
                <span class="product-qty-inCart"></span>
                <span>in your cart</span>
            </div>
        </div>
    </div>
<div class="fotorama__loaded">
 <img src="<?php echo $productImage; ?>"/>
</div>

<?php } ?>
<?php } else { ?>
<?php $prod_label = $_labelsBlock->fetchLabel($product, $inventory);
	if (!empty($prod_label)):?>
		<?php if($prod_label == 'Special Offer') { ?>
            <div class="offer-tag-sp"><?php echo $prod_label; ?></div>
		<?php }elseif($prod_label == 'Only In Ramdan'){ ?>
			<div class="offer-tag offer-tag-ramadan"><?php echo $prod_label; ?></div>
		<?php }elseif($prod_label == 'New'){ ?>
			<div class="offer-tag offer-tag-new"><?php echo $prod_label; ?></div>	
		<?php }else{ ?>
			<div class="offer-tag"><?php echo $prod_label; ?></div>
		<?php } ?>
	<?php endif; ?>
    <div class="prod-swatch-<?php echo $product->getId(); ?>">
        <div class="product-qty-wrapper" style="display:none;">
            <div class="update_qty">
                <span class="product-qty-inCart"></span>
                <span>in your cart</span>
            </div>
        </div>
    </div>
<div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    <div data-role="loader">
        <!--<div class="loader">
            <img src="<?php /* @escapeNotVerified */ //echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?php /* @escapeNotVerified */ //echo __('Loading...') ?>">
        </div>-->
    </div>

</div>
<!--Fix for jumping content. Loader must be the same size as gallery.-->
<script>
    var config = {
            "width": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
            "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                        ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
            "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navtype"); ?>",
            "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height'); ?>
        },
        thumbBarHeight = 0,
        loader = document.querySelectorAll('[data-gallery-role="gallery-placeholder"] [data-role="loader"]')[0];

    if (config.navtype === 'horizontal') {
        thumbBarHeight = config.thumbheight;
    }

    loader.style.paddingBottom = ( config.height / config.width * 100) + "%";
</script>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?php /* @escapeNotVerified */ echo $block->getMagnifier(); ?>,
                "data": <?php /* @escapeNotVerified */ echo $block->getGalleryImagesJson(); ?>,
                "options": {
                    "nav": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/nav"); ?>",
                    <?php if (($block->getVar("gallery/loop"))): ?>
                        "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/loop"); ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/keyboard"))): ?>
                        "keyboard": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/keyboard"); ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/arrows"))): ?>
                        "arrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/arrows"); ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/allowfullscreen"))): ?>
                        "allowfullscreen": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/allowfullscreen"); ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/caption"))): ?>
                        "showCaption": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/caption"); ?>,
                    <?php endif; ?>
                    "width": "<?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>",
                    "thumbwidth": "<?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'width'); ?>",
                    <?php if ($block->getImageAttribute('product_page_image_small', 'height') || $block->getImageAttribute('product_page_image_small', 'width')): ?>
                        "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                        ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                    <?php endif; ?>
                    <?php if ($block->getImageAttribute('product_page_image_medium', 'height') || $block->getImageAttribute('product_page_image_medium', 'width')): ?>
                        "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height')
                        ?: $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
                    <?php endif; ?>
                    <?php if ($block->getVar("gallery/transition/duration")): ?>
                        "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/duration"); ?>,
                    <?php endif; ?>
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/effect"); ?>",
                    <?php if (($block->getVar("gallery/navarrows"))): ?>
                        "navarrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/navarrows"); ?>,
                    <?php endif; ?>
                    "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navtype"); ?>",
                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navdir"); ?>"
                },
                "fullscreen": {
                    "nav": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/nav"); ?>",
                    <?php if ($block->getVar("gallery/fullscreen/loop")): ?>
                        "loop": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/loop"); ?>,
                    <?php endif; ?>
                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navdir"); ?>",
                    <?php if ($block->getVar("gallery/transition/navarrows")): ?>
                        "navarrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navarrows"); ?>,
                    <?php endif; ?>
                    "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navtype"); ?>",
                    <?php if ($block->getVar("gallery/fullscreen/arrows")): ?>
                        "arrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/arrows"); ?>,
                    <?php endif; ?>
                    <?php if ($block->getVar("gallery/fullscreen/caption")): ?>
                        "showCaption": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/caption"); ?>,
                    <?php endif; ?>
                    <?php if ($block->getVar("gallery/fullscreen/transition/duration")): ?>
                        "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/duration"); ?>,
                    <?php endif; ?>
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/effect"); ?>"
                },
                "breakpoints": <?php /* @escapeNotVerified */ echo $block->getBreakpoints(); ?>
            }
        }
    }
</script>
<?php } ?>