<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
	$product_id = $product->getId();
	$_product = $objectManager->get('Magento\Catalog\Model\Product')->load($product_id);	
?>
<div class="gphd">
	<h1><?php echo $product->getName(); ?></h1>
	<span>
		<?php if($product->getTag()): ?>
			<span><?php echo $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_product); ?></span>					
		<?php endif;?>
		<?php if($product->getMealCourse()): ?>
			<span class="txt-white">|</span>
			<span><?php echo $_product->getResource()->getAttribute('meal_course')->getFrontend()->getValue($_product); ?></span><?php endif;?>
		<?php if($product->getIngredient()): ?>
			<span class="txt-white">|</span>
			<span><?php echo $_product->getResource()->getAttribute('ingredient')->getFrontend()->getValue($_product); ?></span>			
		<?php endif;?>
		<?php if($product->getCuisione()): ?>
			<span class="txt-white">|</span>	
			<span><?php echo $_product->getResource()->getAttribute('cuisione')->getFrontend()->getValue($_product); ?></span>			
		<?php endif;?>
		<?php if($product->getDishType()): ?>
			<span class="txt-white">|</span>
			<span><?php echo $_product->getResource()->getAttribute('dish_type')->getFrontend()->getValue($_product); ?></span>				
		<?php endif;?>
	</span>
</div>
