<?php
$viewedProduct = $block->getProduct();
$typeId = $viewedProduct->getTypeId();
?>
<?php if ($typeId == 'grouped') { ?>
    <div class="share-btn">
        <?php } ?>
        <div class="share__parent">
            <button type="button" class="action action-auth-toggle share__btn" data-trigger="authentication">
                <span data-bind="i18n: 'Share'"></span>
            </button>
            <div class="sharethis-inline-share-buttons sh_btn--container"></div>
        </div>
        <?php if ($typeId == 'grouped') { ?>
    </div>
<?php } ?>
    <style>
        .st-btn {
            display: block !important;
            margin: 0 0.5em !important;
        }

        .share__parent {
            position: relative;
        }

        .share__btn {
            position: relative;
        }

        .sh_btn--container {
            display: none !important;
            position: absolute;
            top: 100%;
            right: 0;
            padding: 0.5em 0;
            background: #eaeaea;
            border-radius: 4px;
            border: 1px solid #e5e5e5;
            z-index: 11 !important;
        }

        .sh_btn--container.active {
            display: flex !important;
        }
    </style>
    <script type="text/javascript">
        require(['jquery'], function ($) {
            var shareContainer = $(".sh_btn--container"),
                shareButton = $(".share__btn");

            shareButton.on("click", function () {
                shareContainer.toggleClass("active")
            });

            $(document).click(function (e) {
                if (shareContainer.is('.active') &&
                    $(e.target).parents('.share__parent').length === 0 &&
                    !$(e.target).is(shareButton)) {
                    shareContainer.removeClass('active');
                }
            });
        });
    </script>
    <!--<script type="text/javascript"
            src="//platform-api.sharethis.com/js/sharethis.js#property=58b01f67eeab5d00125e902a&product=inline-share-buttons"></script>-->
			
	
<?php /*$shortdescription = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getShortDescription(), 'short_description') ?>
<?php if ($shortdescription != '' && $typeId != 'grouped'): ?>
    <div class="short_description description-block right-desc block__row">
        <div class="description-content">
            <?php echo $shortdescription; ?>
        </div>
    </div>
<?php endif; */ ?>
<?php
if ($typeId == 'grouped') {
    ?>
    </div>
    </div>
    </div>
<?php } ?>