<?php
if(!isset($_SESSION["store"])){
    $_SESSION["store"] = 7;
}

/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
if (in_array("1144", $product->getCategoryIds())||in_array("1145", $product->getCategoryIds())) {
   $is_kit_product = 'disabled="true"';
   $is_kit=1;
} else {
    $is_kit_product ='';
    $is_kit=0;
}
?>
<?php
$product_id = $product->getId();

$inventory = 0;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
if (isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
    $cookie = $_COOKIE["Gourmet_Location"];
    //$lochelper = $objectManager->get('\I95Dev\Locationgroup\Helper\Data');
    $store = $cookie;
    $productId = $objectManager->get('Magento\Catalog\Model\Product')->getIdBySku($product->getSku());
    $productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($productId);
    $storeId = 'store_' . $store;
    $inventory = $productStockObj[$storeId];
   // var_dump($inventory);exit;
} else {
    $cookie = 7;
    //$lochelper = $objectManager->get('\I95Dev\Locationgroup\Helper\Data');
    $store = $cookie;
    $productId = $objectManager->get('Magento\Catalog\Model\Product')->getIdBySku($product->getSku());
    $productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($productId);
    $storeId = 'store_' . $store;
    $inventory = $productStockObj[$storeId];

}
?>
<tbody class="cart item">
    <tr class="item-info">
        <td data-th="<?php echo $block->escapeHtml(__('Item')); ?>" class="col item">
            <div class="idcp">
                <?php if ($block->hasProductUrl()):?>
                    <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"
                       title="<?php echo $block->escapeHtml($block->getProductName()) ?>"
                       tabindex="-1"
                       class="product-item-photo">
                <?php else:?>
                    <span class="product-item-photo">
                <?php endif;?>
                <?php echo $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(); ?>
                <?php if ($block->hasProductUrl()):?>
                    </a>
                <?php else: ?>
                    </span>
                <?php endif; ?>
                <div class="product-item-details">
                    <div class="iud">
                        <strong class="product-item-name">
                            <?php if ($block->hasProductUrl()):?>
                                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"><?php echo $block->escapeHtml($block->getProductName()) ?></a>
                            <?php else: ?>
                                <?php echo $block->escapeHtml($block->getProductName()) ?>
                            <?php endif; ?>
                        </strong>
						<?php  if($inventory == 0){ ?>
						<p style='color:red' id ="location-error" class='location-error'><?php echo $block->escapeHtml(__('This product is out of stock.')); ?></p>
						<?php } ?>
                        <?php if ($_options = $block->getOptionList()):?>
                            <dl class="item-options">
                                <?php foreach ($_options as $_option) : ?>
                                    <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                                    <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                                    <dd>
                                        <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                            <?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?>
                                        <?php else: ?>
                                            <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                                        <?php endif; ?>
                                    </dd>
                                <?php endforeach; ?>
                            </dl>
                        <?php endif;?>
                    </div>

    				<?php 
    				$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    				$customProduct = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());
    				$itemLeadTime =  $customProduct->getData('lead_time_notification');
    				if($itemLeadTime):
    				?>
    				<div class="block__row pw">	
    					<div class="product-lead-time"><em>*</em>
    							<span class="lead-time"><?php echo $itemLeadTime; ?></span>		
    					</div>
    				</div>
    				<?php endif; ?>
    				
                    <?php if ($messages = $block->getMessages()): ?>
                        <?php foreach ($messages as $message): ?>
                            <div class="cart item message <?php /* @escapeNotVerified */ echo $message['type'] ?>"><div><?php echo $block->escapeHtml($message['text']) ?></div></div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                    <?php if ($addInfoBlock): ?>
                        <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
                    <?php endif;?>
    				<div class="actions-toolbar">
    					<?php /* @escapeNotVerified */ echo $block->getActions($_item) ?>
    				</div>
                </div>
            </div>
        </td>
  <?php if ($is_kit) { ?>
        <td class="col price" data-th="Price">
                
    <span class="price-excluding-tax" data-label="Excl. Tax">
                    <span class="cart-price">
                        <span class="price"><?= round($_item->getCalculationPrice(), 0)." points" ?></span>            </span>

            </span>
            </td>
        <?php } else { ?>     
         <?php if ($canApplyMsrp): ?>
            <td class="col msrp" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <span class="pricing msrp">
                    <span class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                    <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                        <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
                    </a>
                </span>
            </td>
        <?php else: ?>
            <td class="col price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <?php echo $block->getUnitPriceHtml($_item); ?>
            </td>
        <?php endif; ?>
        <?php } ?>  
        
        <td class="col qty" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
            <div class="field qty">
                <label class="label" for="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty">
                    <span><?php /* @escapeNotVerified */ echo __('Qty') ?></span>
                </label>
                <div class="control qty">
                    <input id="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty"
                           name="cart[<?php /* @escapeNotVerified */ echo $_item->getId() ?>][qty]"
                           data-cart-item-id="<?php /* @escapeNotVerified */ echo $_item->getSku() ?>"
                           value="<?php /* @escapeNotVerified */ echo $block->getQty() ?>"
                           type="number"
                           size="4"
                           title="<?php echo $block->escapeHtml(__('Qty')); ?>"
                           class="input-text qty"
                           maxlength="12"
                           data-validate="{required:true,'validate-greater-than-zero':true}"
                           data-role="cart-item-qty" <?= $is_kit_product ?>/>
                </div>
            </div>
        </td>
        <?php if ($is_kit) { ?>
       <td class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal')); ?>">
                <span class="price-excluding-tax" data-label="Excl. Tax">
                    <span class="cart-price">
                        <span class="price"><?= round($_item->getCalculationPrice(), 0)*$_item->getQty()." points" ?></span>            </span>

            </span>
            </td>

        <?php } else { ?>     
            <td class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal')); ?>">
                <?php if ($canApplyMsrp): ?>
                    <span class="cart msrp subtotal">--</span>
                <?php else: ?>
                    <?php echo $block->getRowTotalHtml($_item); ?>
                <?php endif; ?>
            </td>
        <?php } ?>     
    </tr>
    <tr class="item-actions">
        <td colspan="100">
            <div class="actions-toolbar">
                <?php /* @escapeNotVerified */ //echo $block->getActions($_item) ?>
            </div>
        </td>
    </tr>
</tbody>
