<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$customerSession = $objectManager->get('Magento\Customer\Model\Session');
	$customerId = $customerSession->getId(); //DYNAMIC_CUSTOMER_ID
	//var_dump($customerId);
	$customerObj = $objectManager->create('Magento\Customer\Model\Customer')
            ->load($customerId);
	$addresses = $customerObj->getAddresses();
	foreach($addresses as $addresse) {
		$addressHtml[] = $addresse->getStreet()[0].", ".$addresse->getCity().", ".$addresse->getRegion();
	}
	if(!empty($_COOKIE["Gourmet_Location"]) || isset($_COOKIE["Gourmet_Location"])) { 
	$cookie = $_COOKIE["Gourmet_Location"]; 
	} 
?>
<div id="popup-modal-global" style="display:none;">
<div class="search-box">
<div class="geo-container">
      <h2><label class="search-label">اصنع لحظات طعام لا تُنسى</label></h2>
	<div class="search-item search-input-div">
     <div class="search-input-container"> <input id="pac-input-global" class="pac-input pac-target-input-global pac-target-input" type="text" placeholder="إدخال الدولة" value="<?php if(!empty($_COOKIE["Gourmet_Knockout_Location"]) || isset($_COOKIE["Gourmet_Knockout_Location"])) { echo $_COOKIE["Gourmet_Knockout_Location"]; 
					} ?>" autocomplete="off">
	  <button id="locate-me-global" style="float:right;"><span><span class="">تحديد موقع لي</span></span></button>
	  <div class="search-btn-container"> <a id = "geo-selectbtn" href="javascript:void(0);" title="Fresh All Natural Soups!">يختار</a>
	  <div style="color: red;text-align: center;font-size: 18px;font-weight: inherit;"id="error-global"></div>
	  <?php if($customerSession->isLoggedIn() && (count($addresses)>0)) { ?>
			<div class= "address-dropdown" style="display:none;">
			<ul>
			<?php foreach($addressHtml as $add){ ?>
			<li><?php echo  strip_tags($add); ?>
			</li>
			<?php } ?>
			</ul>
			</div>
			<?php } ?>
   </div>
</div>   
</div>	   
</div>
</div>
</div>


<script type="text/javascript">
    require([
            'jquery', 
            'Magento_Ui/js/modal/modal'
            ], function($, modal) {            
                $(document).ready(function(){  
                    var popupglobal = $("#popup-modal-global").modal({
						autoOpen: false,
						buttons: [],
						clickableOverlay: true,
						focus: "",
						innerScroll: false,
						modalClass: "global-banner-popup",
						modalLeftMargin: 60,
						responsive: true,
						
						type: "popup",
						buttons: [
						  
						],
					  });
						if($.cookie("Gourmet_Knockout_Location") == 73){
						  <?php  setcookie("Gourmet_Knockout_Location", null, time() + (10 * 365 * 24 * 60 * 60), "/", "", 0); ?>
						}
                   if($.cookie("Gourmet_Location") === '' || $.cookie("Gourmet_Location") === undefined || $.cookie("Gourmet_Location") === null || $.cookie("Gourmet_Knockout_Location") === null ){
                  //popupglobal.modal("openModal");
				   }
                });
            }
        );
    </script>

