<?php
$apiUrl = $this->getUrl('') . 'locationgroup/index/deliveryslots';
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$customerId = $customerSession->getId(); //DYNAMIC_CUSTOMER_ID
$customerObj = $objectManager->create('Magento\Customer\Model\Customer')
    ->load($customerId);
$addresses = $customerObj->getAddresses();
$locationId = "";
$addressEmptyFlag = 0;
if(isset($_COOKIE["Gourmet_Location_Id"])){
    $locationId =$_COOKIE["Gourmet_Location_Id"];
}
foreach ($addresses as $addresse) {
    $flag = 1;
    if (empty($addresse->getLongitude()) || empty($addresse->getLatitude()) || empty($addresse->getAddressname()) || empty($addresse->getAddresstype()) || empty($addresse->getStoreAddressId()) || empty($addresse->getLocationGroupId())) {
        $flag = 0;
    }
	if($addresse->getLocationGroupId() == $locationId ){
        $addressEmptyFlag = 1;
    }
    $addressHtml[$addresse->getEntityId() . '-' . $flag] = $addresse->getStreet()[0] . ", " . $addresse->getCity() . ", " . $addresse->getRegion();
}

$handle = $this->getLayout()->getUpdate()->getHandles();
?>
<div class="headerBottom-left col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <ul>
        <?php
        if (empty($_COOKIE["Gourmet_Location"]) || !isset($_COOKIE["Gourmet_Location"])) { ?>
            <li><?php /* @escapeNotVerified */
                echo __('Please select your location.') ?></li>
            <?php
        } else {
            ?>
            <li id="custom-component" data-bind="scope:'customcomponent'">
                <?php /* @escapeNotVerified */
                echo __('Location:') ?> <strong><span id="location-city">
					<?php
                    if (!empty($_COOKIE["Gourmet_Knockout_Location"]) || isset($_COOKIE["Gourmet_Knockout_Location"])) {
                        echo $_COOKIE["Gourmet_Knockout_Location"];
                    } ?></span></strong> &nbsp; <?php /* @escapeNotVerified */
                echo __('Next Delivery Slot') ?>:
                <strong><?php if (!empty($_COOKIE["Gourmet_Knockout_Slot"]) || isset($_COOKIE["Gourmet_Knockout_Slot"])) { ?><?php echo $_COOKIE["Gourmet_Knockout_Slot"] ?><?php } ?></strong>
                <?php //echo $_SERVER['REMOTE_ADDR']; ?><?php //echo $data->getCity(); ?>
            </li>
        <?php } ?>
        <li><a href="javascript:void(0);" id="location-changed" class="openLocationModel"><?php /* @escapeNotVerified */
                echo __('Change Location') ?></a></li>
    </ul>
</div>
<div id="popup-modal" style="display:none;">
    <div class="popup-image-holder">
        <?php //echo $this->getLayout()->createBlock("Magento\Theme\Block\Html\Header\Logo")->setTemplate("Magento_Theme::html/header/logo.phtml")->toHtml(); ?>
        <div class="delivery-header"><span><?php /* @escapeNotVerified */
                echo __('Delivery Address') ?></span></div>
    </div>
    <h1>
        <div class="pac-card" id="pac-card">
            <div id="pac-container">
                <input id="pac-input" class="pac-input" type="text"
                       placeholder="Enter a location" value="<?php
                if (!empty($_COOKIE["Gourmet_Knockout_Location"]) || isset($_COOKIE["Gourmet_Knockout_Location"])) {
                    echo $_COOKIE["Gourmet_Knockout_Location"];
                } ?>">
                <button id="locate-me" style="float:right;" class="locate-me-map"><span><span
                                class=""><?php /* @escapeNotVerified */
                            echo __('Locate Me') ?></span></span></button>
                <?php if ($customerSession->isLoggedIn() && (count($addresses) > 0)) { ?>
                    <div class="address-dropdown" style="display:none;">
                        <ul>
                            <?php foreach ($addressHtml as $add) { ?>
                                <li><?php echo strip_tags($add); ?></li>
                            <?php } ?>
                        </ul>
                    </div>
                <?php } ?>
            </div>

        </div>
    </h1>
    <div id="geolocation1">
        <div id="map-new" class="map-container"></div>
        <div id="infowindow-content">
            <span id="place-name" class="title"></span><br>
            <span id="place-address"></span>
        </div>
        <div class="deliverto">
            <span><?php /* @escapeNotVerified */
                echo __('Deliver To') ?>: </span>
            <span id="deliver-here-add1"></span>
            <div style="color:red;" class="custom-error-message"></div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button id="deliver-here1" class="action submit primary-deliver" name="send" title="Deliver Here"
                        type="button">
                    <span><span class="deliver-here-text"><?php /* @escapeNotVerified */
                            echo __('Deliver Here') ?></span></span>
                </button>
            </div>
        </div>
    </div>
    <div style="display:none;" class="gm-style-iw-d">
        <div></div>
    </div>
</div>

<div id="popup-modal1" style="display:none;">
    <div class="content">
        <?php /* @escapeNotVerified */
        echo __('If You will change the Location then Your Cart Item will be impacted.') ?>
    </div>
    <button id="accept" value="true"><?php /* @escapeNotVerified */
        echo __('Accept') ?></button>
    <button id="go_back" value="false"><?php /* @escapeNotVerified */
        echo __('Go Back') ?></button>

</div>

<div id="popup-modal-address-container" style="display:none;">
    <div class="content">
        <span class="location-container"><?php /* @escapeNotVerified */
            echo __('اختر عنوان التسليم الخاص بك') ?> </span>
        <?php if ($customerSession->isLoggedIn() && (count($addresses) > 0)) { ?>
            <div class="address-list">
                <ul>
                    <?php foreach ($addressHtml as $key => $value) { ?>
                        <?php $addrssArray = explode('-', $key) ?>
                        <li class="<?php if (substr($key, -1) == 1) {
                            echo 'valid-address';
                        } else {
                            echo 'invalid-address';
                        } ?>"><a data-adddressid="<?php echo $addrssArray[0]; ?>" class="adddress-link-popup"
                               href="javascript:void(0)" data-title="<?php echo strip_tags($value); ?>"><?php echo strip_tags($value); ?></a>
                            <a data-adddressid="<?php echo $addrssArray[0]; ?>" data-title="<?php echo strip_tags($value); ?>" class="adddress-link-popup select-link" id="select-link"
                               href="javascript:void(0)">  <?php /* @escapeNotVerified */ echo __('Select') ?></a></li>
                    <?php } ?>
                </ul>
            </div>
        <?php } ?>
        <p id="error-class" style="color: red;">
        <p>
            <button id="new_location" value="false"><?php /* @escapeNotVerified */
                echo __('New Location') ?></button>
    </div>
</div>

<div id="popup-modal-address-container-edit" style="display:none;">
    <div class="content">
        <span class="modal-header address-label-container"><?php /* @escapeNotVerified */
            echo __('Edit Locations') ?> </span>
        <form class="form-address-edit-pop" method="post" id="form-validate-pop" enctype="multipart/form-data"
              data-hasrequired="<?php /* @escapeNotVerified */
              echo __('* Required Fields') ?>" onsubmit="return false;">
            <input type="text" class="" id="entity_id" name="entity_id" style="display:none;" value=""/>
            <input type="text" class="" id="customer_id" name="customer_id" style="display:none;"
                   value="<?= $block->escapeHtml($customerId); ?>"/>
            <div class="one-rows address">
                <div class="form-outline mb-4">
                    <label class="form-label" for="First Name"><?php /* @escapeNotVerified */
                        echo __('First Name') ?></label>
                    <input class="input-text required-entry" type="text" id="firstname-pop" name="firstname-pop"/>

                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="Last Name"><?php /* @escapeNotVerified */
                        echo __('Last Name') ?></label>
                    <input class="input-text required-entry" type="text" id="lastname-pop" name="lastname-pop"/>

                </div>
            </div>
            <div class="form-outline mb-4 address">
                <label class="form-label" for="Phone Number"><?php /* @escapeNotVerified */
                    echo __('Phone Number') ?></label>
                <input class="input-text required-entry validate-digits" type="text" id="telephone-pop"
                       name="telephone-pop"/>

            </div>

            <div class="one-rows address">
                <div class="form-outline mb-4 address">
                    <label class="form-label" for="Address Name"><?php /* @escapeNotVerified */
                        echo __('Address Name') ?></label>
                    <input class="input-text required-entry" type="text" id="addressname-pop" name="addressname-pop"/>

                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="Adress Type"><?php /* @escapeNotVerified */
                        echo __('Address Type') ?></label>
                    <div class="form-outline mb-4 address-field">
                        <div class="field field1"><input type="radio" id="249" name="addresstype-pop"
                                                         value="<?php /* @escapeNotVerified */
                                                         echo __('Apartment') ?>" checked="checked">
                            <label for="apartment"><i class="fa fa-building"></i><?php /* @escapeNotVerified */
                                echo __('Apartment') ?></label></div>
                        <div class="field field2"><input type="radio" id="250" name="addresstype-pop" value="Villa">
                            <label for="villa"> <i class="fa fa-home"></i><?php /* @escapeNotVerified */
                                echo __('Villa') ?></label></div>
                        <div class="field field3"><input type="radio" id="251" name="addresstype-pop" value="Office">
                            <label for="office"> <i class="fa fa-building"></i><?php /* @escapeNotVerified */
                                echo __('Office') ?></label></div>
                    </div>
                </div>
            </div>
            <div class="form-outline mb-4 input-bottom">
                <label class="form-label" for="Street Address"><?php /* @escapeNotVerified */
                    echo __('Street Address') ?></label>

                <input type="text" class="input-text required-entry" id="street_1-pop" name="street_1-pop"/>
            </div>

            <div class="one-rows address">
                <div class="form-outline mb-4 address">
                    <label class="form-label" for="building"><?php /* @escapeNotVerified */
                        echo __('Building No') ?></label>
                    <input class="input-text required-entry" type="text" id="building-pop" name="building-pop"/>

                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="Apartment Number"><?php /* @escapeNotVerified */
                        echo __('Apartment/Floor Number') ?></label>
                    <input type="text" id="apartment-pop" name="apartment-pop" class="input-text required-entry "/>
                </div>

            </div>
            <div class="one-rows input-bottom">

                <div class="form-outline mb-4">
                    <label class="form-label" for="Location"><?php /* @escapeNotVerified */
                        echo __('City') ?></label>
                    <input type="text" id="city-pop" name="city-pop" class="input-text required-entry" disabled/>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="City"><?php /* @escapeNotVerified */
                        echo __('Location') ?></label>
                    <input class="input-text required-entry" type="text" id="region-pop" name="region-pop" disabled/>
                </div>
            </div>

            <div class="form-outline mb-4" style="display:none;">
                <label class="form-label" for="Country"><?php /* @escapeNotVerified */
                    echo __('Country') ?></label>
                <input type="text" id="country-pop" name="country-pop" class="input-text required-entry" value="EG"/>
            </div>
            <div class="form-outline mb-4" style="display:none;">
                <label class="form-label" for="store_address_id"><?php /* @escapeNotVerified */
                    echo __('store_address_id') ?></label>
                <input type="text" id="store_address_id-pop" name="store_address_id-pop" class="form-control"/>
            </div>
            <div class="form-outline mb-4" style="display:none;">
                <label class="form-label" for="location_group_id"><?php /* @escapeNotVerified */
                    echo __('location_group_id') ?></label>
                <input type="text" id="location_group_id-pop" name="location_group_id-pop" class="form-control"/>
            </div>
            <div class="form-outline mb-4" style="display:none;">
                <label class="form-label" for="longitude"><?php /* @escapeNotVerified */
                    echo __('longitude') ?></label>
                <input type="text" id="longitude-pop" name="longitude-pop" class="form-control"/>
            </div>
            <div class="form-outline mb-4" style="display:none;">
                <label class="form-label" for="latitude"><?php /* @escapeNotVerified */
                    echo __('latitude') ?></label>
                <input type="text" id="latitude-pop" name="latitude-pop" class="form-control"/>
            </div>
            <button id="save_location" value="false"><?php /* @escapeNotVerified */
                echo __('Save Location') ?></button>
        </form>

    </div>
</div>

<?php
$url = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
?>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function (
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                modalClass: "popup-geolocation",
                buttons: []
            };
            var optionsadress = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                modalClass: "popup-modal-address-container-edit",
                buttons: []
            };

            var popup = modal(options, $('#popup-modal'));

            var popup = modal(optionsadress, $('#popup-modal-address-container-edit'));
            $(document).on("click", ".openLocationModel", function () {
                <?php if(!$customerSession->isLoggedIn() ) { ?>
                $('#popup-modal').modal('openModal');
				$("#locate-me").click();
                <?php } else { ?>
                $('#popup-modal-address-container').modal('openModal');
                <?php } ?>
            });

            $(document).on("click", "#new_location", function () {
                $('#popup-modal').modal('openModal');
				$("#locate-me").click();
                $("#firstname-pop").val("");
                $("#lastname-pop").val("");
                $("#telephone-pop").val("");
                $("#floor-pop").val("");
            });
            $(document).on("click", ".invalid-address .adddress-link-popup", function () {
                $('#popup-modal').modal('openModal');
                var addhtml = $(this).data("title");
                $("#pac-input").val(addhtml);
                $("#geo-selectbtn").click();
                var address_id = $(this).data('adddressid');

                var parameter = {address_id: address_id};
                $.ajax({
                    url: "<?php echo $this->getUrl('locationgroup/index/getaddressbyid'); ?>",
                    type: "POST",
                    dataType: "json",
                    data: parameter,
                    showLoader: true,

                    success: function (datareturn) {
                        if (datareturn.success == true) {
                            $("#entity_id").val(address_id);
                            $("#firstname-pop").val(datareturn.address.firstname);
                            $("#lastname-pop").val(datareturn.address.lastname);
                            $("#telephone-pop").val(datareturn.address.telephone);
                            $("#street_1-pop").val(datareturn.address.street);

                            $("#floor-pop").val(datareturn.address.floor);
                            $("#addressname-pop").val(datareturn.address.addressname);
                            $("#apartment-pop").val(datareturn.address.apartment);
                            $("#building-pop").val(datareturn.address.building);
                            $("#region-pop").val(datareturn.address.region);
                            $("#city-pop").val(datareturn.address.city);
                            $("#country-pop").val(datareturn.address.country_id);
                            $("#store_address_id-pop").val(datareturn.address.store_address_id);
                            $("#location_group_id-pop").val(datareturn.address.location_group_id);
                            $("#longitude-pop").val(datareturn.address.longitude);
                            $("#latitude-pop").val(datareturn.address.latitude);
                            if (datareturn.address.addresstype == 249) {
                                $("#249").prop("checked", true);
                            }
                            if (datareturn.address.addresstype == 250) {
                                $("#250").prop("checked", true);
                            }
                            if (datareturn.address.addresstype == 251) {
                                $("#251").prop("checked", true);
                            }
                        } else {
                            console.log('No address found with the Id');
                        }
                    },
                    complete: function () {
                    },
                });

            });
            $(document).on("click", ".valid-address .adddress-link-popup", function () {
                var domain = document.domain;
                var address_id = $(this).data('adddressid');
                var parameter = {address_id: address_id};
                $.ajax({
                    url: "<?php echo $this->getUrl('locationgroup/index/getaddressbyid'); ?>",
                    type: "POST",
                    dataType: "json",
                    data: parameter,
                    showLoader: true,

                    success: function (datareturn) {
                        if (datareturn.success == true) {
                        } else {
                            console.log('No address found with the Id');
                        }
                        var date = new Date();
                        date.setTime(date.getTime() + 10 * 365 * 24 * 60 * 60);
                        $.cookie("latitude", datareturn.address.latitude, {
                            expires: date,
                            path: "/",
                            domain: domain,
                        });
                        $.cookie("longitude", datareturn.address.longitude, {
                            expires: date,
                            path: "/",
                            domain: domain,
                        });
                        var cityData = {location_id: datareturn.address.location_group_id};
                        $.ajax({
                            url:
                                "<?php echo $this->getUrl('locationgroup/index/locationglobal'); ?>",
                            type: "POST",
                            dataType: "json",
                            data: cityData,
                            showLoader: true,
                            success: function (data) {
                                var dataarray = data;
                                if (dataarray.success == true) {
                                    if (dataarray.store_id !== $.cookie("Gourmet_Location") && dataarray.cart_count > 0) {
                                        if (dataarray.store_id == null) {
                                            $("#error-class").text("Please contact admin as address does not match any location");
                                            console.log('Please contact admin as address does not match any location');
                                        } else {
                                            var options = {
                                                type: 'popup',
                                                responsive: true,
                                                innerScroll: true,
                                                modalClass: "popup-modal-yes",
                                                buttons: []
                                            };
                                            var popup = modal(options, $('#popup-modal1'));
                                            $("#popup-modal1").modal("openModal");
                                            $("#popup-modal-address-container").modal("closeModal");
                                            $("#popup-modal1 button").on("click", function () {
                                                var confirm = $(this).attr("value");
                                                if (confirm == "true") {
                                                    var date = new Date();
                                                    date.setTime(date.getTime() + 10 * 365 * 24 * 60 * 60);
                                                    $.cookie("Gourmet_Location", dataarray.store_id, {
                                                        expires: date,
                                                        path: "/",
                                                        domain: domain,
                                                    });
                                                    $.cookie("Gourmet_Knockout_Location", datareturn.address.city, {
                                                        expires: date,
                                                        path: "/",
                                                        domain: domain,
                                                    });
                                                    var paramadd = {location_id: datareturn.address.location_group_id,store_id: dataarray.store_id};
                                                    $.ajax({
                                                        url:
                                                            "<?php echo $apiUrl ?>",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: paramadd,
                                                        showLoader: true,

                                                        success: function (datareturn) {
                                                            var slot = datareturn.delivery;
                                                            var date = new Date();
                                                            date.setTime(
                                                                date.getTime() + 10 * 365 * 24 * 60 * 60
                                                            );
                                                            $.cookie("Gourmet_Knockout_Slot", slot, {
                                                                expires: date,
                                                                path: "/",
                                                                domain: domain,
                                                            });
                                                        },
                                                        complete: function () {
                                                            if (dataarray.cart_count > 0) {
                                                                location.href = "<?php echo $this->getUrl('checkout/cart'); ?>";
                                                            } else {
                                                                location.href = "<?php echo $this->getUrl(''); ?>";
                                                            }
                                                        },
                                                    });
                                                } else if (confirm == "false") {
                                                    $("#popup-modal1").modal("closeModal");
                                                    $("#popup-modal-address-container").modal("openModal");
                                                }
                                            });
                                        }
                                    } else {
                                        var date = new Date();
                                        date.setTime(date.getTime() + 10 * 365 * 24 * 60 * 60);
                                        $.cookie("Gourmet_Location", dataarray.store_id, {
                                            expires: date,
                                            path: "/",
                                            domain: domain,
                                        });
                                        $.cookie("Gourmet_Knockout_Location", datareturn.address.city, {
                                            expires: date,
                                            path: "/",
                                            domain: domain,
                                        });
                                        var paramadd = {location_id: datareturn.address.location_group_id,store_id: dataarray.store_id};
                                        $.ajax({
                                            type: "POST",
                                            url: "<?php echo $apiUrl; ?>",
                                            dataType: "json",
                                            data: paramadd,
                                            showLoader: true,

                                            success: function (datareturn) {
                                                var slot = datareturn.delivery;
                                                var date = new Date();
                                                date.setTime(date.getTime() + 10 * 365 * 24 * 60 * 60);
                                                $.cookie("Gourmet_Knockout_Slot", slot, {
                                                    expires: date,
                                                    path: "/",
                                                    domain: domain,
                                                });
                                            },
                                            complete: function () {
                                                if (dataarray.cart_count > 0) {
                                                    location.href = "<?php echo $this->getUrl('checkout/cart'); ?>";
                                                } else {
                                                    location.href = "<?php echo $this->getUrl(''); ?>";
                                                }
                                            },
                                        });
                                    }
                                }
                            },
                        });

                    },
                    complete: function () {
                    },
                });
            });
        }
    );
</script>
<script type="text/javascript">
    require([
            'jquery',
            'Magento_Ui/js/modal/modal'
        ], function ($, modal) {
            $(document).ready(function () {
                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    buttons: []
                };
                var option = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    modalClass: "popup-modal-address-container",
                    buttons: []
                };
                var popup = modal(options, $('#popup-modal1'));
                var popupaddress = modal(option, $('#popup-modal-address-container'));
				<?php if($customerSession->isLoggedIn() ) { ?>
				if (!localStorage.getItem('popupShown')) {
					$('#popup-modal-address-container').modal('openModal');
					localStorage.setItem('popupShown', true);
				}
				<?php } ?>

                $("#pac-input-global").click(function () {
                    if ($("#pac-input-global").val() === "") {
                        $(".address-dropdown").show();
                    } else {
                        $(".address-dropdown").hide();
                    }
                });

                $(".address-dropdown ul li").click(function () {
                    var addhtml = $(this).text();
                    // alert(addhtml);
                    $("#pac-input-global").val(addhtml);
                    $(".address-dropdown").hide();
                });
                $("#pac-input-global").keypress(function () {

                    if (!$(this).val()) {
                        $(".address-dropdown").hide();
                    }
                });
            });
        }
    );
</script>

<script type="text/javascript">
    require([
        "jquery",
        "Magento_Ui/js/modal/modal",
        "Magento_Ui/js/modal/confirm",
        "mage/mage",
        "jquery/jquery.cookie",
        'mage/validation',
        "//maps.googleapis.com/maps/api/js?key=AIzaSyC52Zg8n53z_zLFK9bXjQHx0FszZJKTlKY&language=en&libraries=geometry,places",
    ], function ($, modal) {
        "use strict";

        var myPolygons = {};
        var polygons = new Array();
        var domain = document.domain;

        try {
            jQuery.ajax({
                url:
                    "<?php echo $this->getUrl('locationgroup/index/boundarycollection'); ?>",
                type: "post",
                success: function (data) {
                    var dataarray = JSON.parse(data);
                    var coordinate = dataarray.coordinates;
                    for (var key in coordinate) {
                        if (coordinate.hasOwnProperty(key)) {
                            var all = new Array();
                            var dummyArray = coordinate[key];

                            for (var i = 0, i_end = dummyArray.length; i < i_end; i++) {
                                all[i] = {
                                    lat: parseFloat(dummyArray[i][0]),
                                    lng: parseFloat(dummyArray[i][1]),
                                };
                            }

                            myPolygons = {
                                name: key,
                                path: all,
                                geodesic: true,
                                strokeColor: "#FFFFFF",
                                strokeOpacity: 0.8,
                                strokeWeight: 3,
                                fillColor: "#FFFFFF",
                                fillOpacity: 0,
                            };

                            polygons.push(myPolygons);
                        }
                    }
                },
                complete: function () {
                    let map;
                    let marker;
                    var street;
                    var geocoder = new google.maps.Geocoder();
                    var streetglobal;
                    const poly = google.maps.geometry.poly;
                    var location_id;
                    var latitude_global;
                    var longitude_global;
                    var pos;
					var redirecturl =0;
                    const EGYPT_BOUNDS = {
                        north: 33.599,
                        south: 20.23,
                        west: 22.04,
                        east: 35.81,
                    };

                    var infowindow = new google.maps.InfoWindow({
                        size: new google.maps.Size(50, 50),
                    });
                    const createMap = ({
                                           latitude,
                                           longitude,
                                           polygons,
                                           mapId,
                                           inputId,
                                       }) => {
                        const center = new google.maps.LatLng(parseFloat(latitude), parseFloat(longitude));

                        map = new google.maps.Map(document.getElementById(mapId), {
                            center,
                            zoom: 14,
                            draggable: true,
                            // restriction: {
                            // latLngBounds: EGYPT_BOUNDS,
                            // strictBounds: false,
                            // },
                            minZoom: 8,
                            maxZoom: 15,
                            mapTypeControl: false,
                            fullscreenControl: false,
                            streetViewControl: false,
                        });

                        //### Add a button on Google Maps ...
                        var controlMarkerUI = document.createElement("DIV");
                        controlMarkerUI.style.cursor = "pointer";
                        controlMarkerUI.style.backgroundImage =
                            "url(<?php echo $this->getViewFileUrl('images/map-pointer.png'); ?>)";
                        controlMarkerUI.style.height = "42px";
                        controlMarkerUI.style.width = "44px";

                        controlMarkerUI.title = "Click to set the map to location";

                        map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(
                            controlMarkerUI
                        );

                        //### Add a button on Google Maps ...
                        var controlEarthUI = document.createElement("DIV");
                        controlEarthUI.style.cursor = "pointer";
                        controlEarthUI.style.backgroundImage =
                            "url(<?php echo $this->getViewFileUrl('images/map-location-view.png'); ?>)";
                        controlEarthUI.style.height = "42px";
                        controlEarthUI.style.width = "44px";
                        controlEarthUI.title = "Click to set the map to Home";

                        map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(
                            controlEarthUI
                        );

                        google.maps.event.addDomListener(controlMarkerUI, "click", geolocate);

                        google.maps.event.addDomListener(
                            controlEarthUI,
                            "click",
                            changeMapType
                        );

                        function changeMapType() {
                            if (map.getMapTypeId() != "roadmap") {
                                //set the current map type
                                map.setMapTypeId("roadmap");
                            } else {
                                map.setMapTypeId("satellite");
                            }
                        }

                        marker = new google.maps.Marker({
                            map,
                            position: center,
                            icon: "<?php echo $this->getViewFileUrl('images/marker.png'); ?>",
                        });

                        const createGooglePolygons = ({name, ...polygon}) => {
                            const newPolygon = new google.maps.Polygon(polygon);
                            newPolygon.setMap(map);

                            return {
                                name,
                                polygon: newPolygon,
                            };
                        };
                        const googlePolygons = polygons.map(createGooglePolygons);
                        const isLocationInsidePolygonNormal = ({polygon}) =>
                            poly.containsLocation(marker.getPosition(), polygon);

                        const matchedPolygonNormal = googlePolygons.find(
                            isLocationInsidePolygonNormal
                        );
						if ($.cookie("Gourmet_Location") === '' || $.cookie("Gourmet_Location") === undefined || $.cookie("Gourmet_Location") === null || $.cookie("Gourmet_Knockout_Location") === null) {
							if (!matchedPolygonNormal) {
								$("#deliver-here-add1").text(
									"معذرة ، نحن لا نقوم بالتوصيل هنا."
								);
								$("#deliver-here1").attr("disabled", true);
							} else {
								location_id = matchedPolygonNormal.name;
								streetglobal = geocodePosition(marker.getPosition(), marker);
								latitude_global = marker.getPosition().lat();
								longitude_global = marker.getPosition().lng();
							}
						}

                        const input = document.getElementById(inputId);
                        const inputp = document.getElementById("pac-input-global");

                        const autocomplete = new google.maps.places.Autocomplete(input);
                        autocomplete.setComponentRestrictions({
                            country: ["eg"],
                        });
                        const autocompletep = new google.maps.places.Autocomplete(inputp);
                        autocompletep.setComponentRestrictions({
                            country: ["eg"],
                        });
                        const onAutocompleteChange = () => {
                            const place = autocomplete.getPlace();
                            const location = place.geometry.location;
                            const poly = google.maps.geometry.poly;
                            $("#deliver-here-add1").text("");
                            $("#deliver-here1").attr("disabled", false);
                            if (!place.geometry) {
                                $("#deliver-here-add1").text(
                                    "معذرة ، نحن لا نقوم بالتوصيل هنا."
                                );
                                $("#deliver-here1").attr("disabled", true);
                                return;
                            }

                            marker.setPosition(location);
                            marker.setMap(map);
                            map.setCenter(location);
                            map.setZoom(14);
                            const isLocationInsidePolygon = ({polygon}) =>
                                poly.containsLocation(location, polygon);
                            const matchedPolygon = googlePolygons.find(isLocationInsidePolygon);
                            if (!matchedPolygon) {
                                $("#deliver-here-add1").text(
                                    "معذرة ، نحن لا نقوم بالتوصيل هنا."
                                );
                                $("#deliver-here1").attr("disabled", true);
                            } else {
                                location_id = matchedPolygon.name;
                                streetglobal = geocodePosition(marker.getPosition(), marker);
                                latitude_global = marker.getPosition().lat();
                                longitude_global = marker.getPosition().lng();
                            }

                            google.maps.event.addListener(map, "center_changed", function (e) {
                                google.maps.event.addListener(map, "idle", function () {
                                    marker.bindTo("position", map, "center");
                                    $("#deliver-here-add1").text("");
                                    $("#deliver-here1").attr("disabled", false);
                                    const isLocationInsidePolygonDrag = ({polygon}) =>
                                        poly.containsLocation(marker.getPosition(), polygon);

                                    const matchedPolygonDrag = googlePolygons.find(
                                        isLocationInsidePolygonDrag
                                    );

                                    if (!matchedPolygonDrag) {
                                        $("#deliver-here-add1").text(
                                            "معذرة ، نحن لا نقوم بالتوصيل هنا."
                                        );
                                        $("#deliver-here1").attr("disabled", true);
                                        return;
                                    } else {
                                        geocodePosition(marker.getPosition(), marker);
                                        location_id = matchedPolygonDrag.name;
                                        latitude_global = marker.getPosition().lat();
                                        longitude_global = marker.getPosition().lng();
                                    }
                                });
                            });
                        };

                        const onAutocompleteChangep = () => {
                            $("#popup-modal").modal("openModal");
							redirecturl =1;
                            const place = autocompletep.getPlace();
                            $("#pac-input").val(place.formatted_address);
                            const location = place.geometry.location;
                            const poly = google.maps.geometry.poly;
                            $("#deliver-here-add1").text("");
                            $("#deliver-here1").attr("disabled", false);
                            if (!place.geometry) {
                                $("#deliver-here-add1").text(
                                    "معذرة ، نحن لا نقوم بالتوصيل هنا."
                                );
                                $("#deliver-here1").attr("disabled", true);
                                return;
                            }

                            marker.setPosition(location);
                            marker.setMap(map);
                            map.setCenter(location);
                            map.setZoom(14);
                            const isLocationInsidePolygon = ({polygon}) =>
                                poly.containsLocation(location, polygon);

                            const matchedPolygon = googlePolygons.find(isLocationInsidePolygon);

                            if (!matchedPolygon) {
                                $("#deliver-here-add1").text(
                                    "معذرة ، نحن لا نقوم بالتوصيل هنا."
                                );
                                $("#deliver-here1").attr("disabled", true);
                                //return;
                            } else {
                                location_id = matchedPolygon.name;
                                geocodePosition(marker.getPosition(), marker);
                                latitude_global = marker.getPosition().lat();
                                longitude_global = marker.getPosition().lng();
                            }

                            google.maps.event.addListener(map, "center_changed", function (e) {
                                google.maps.event.addListener(map, "idle", function () {
                                    marker.bindTo("position", map, "center");
                                    $("#deliver-here-add1").text("");
                                    $("#deliver-here1").attr("disabled", false);
                                    const isLocationInsidePolygonDrag = ({polygon}) =>
                                        poly.containsLocation(marker.getPosition(), polygon);
                                    const matchedPolygonDrag = googlePolygons.find(
                                        isLocationInsidePolygonDrag
                                    );
                                    if (!matchedPolygonDrag) {
                                        $("#deliver-here-add1").text(
                                            "معذرة ، نحن لا نقوم بالتوصيل هنا."
                                        );
                                        $("#deliver-here1").attr("disabled", true);
                                        return;
                                    } else {
                                        geocodePosition(marker.getPosition(), marker);
                                        location_id = matchedPolygonDrag.name;
                                        latitude_global = marker.getPosition().lat();
                                        longitude_global = marker.getPosition().lng();
                                    }
                                });
                            });
                        };
                        autocomplete.addListener("place_changed", onAutocompleteChange);
                        autocompletep.addListener("place_changed", onAutocompleteChangep);

                        google.maps.event.addListener(map, "center_changed", function (e) {
                            google.maps.event.addListener(map, "idle", function () {
                                marker.bindTo("position", map, "center");
                                $("#deliver-here-add1").text("");
                                $("#deliver-here1").attr("disabled", false);
                                const isLocationInsidePolygonDrag = ({polygon}) =>
                                    poly.containsLocation(marker.getPosition(), polygon);

                                const matchedPolygonDrag = googlePolygons.find(
                                    isLocationInsidePolygonDrag
                                );

                                if (!matchedPolygonDrag) {
                                    $("#deliver-here-add1").text(
                                        "معذرة ، نحن لا نقوم بالتوصيل هنا."
                                    );
                                    $("#deliver-here1").attr("disabled", true);
                                    return;
                                } else {
                                    geocodePosition(marker.getPosition(), marker);
                                    location_id = matchedPolygonDrag.name;
                                    latitude_global = marker.getPosition().lat();
                                    longitude_global = marker.getPosition().lng();
                                }
                            });
                        });

                        $("#geo-selectbtn").on("click", function (e) {
                            var addresscity = document.getElementById("pac-input").value;
                            $("#pac-input").val(addresscity);
                            var geocoder = new google.maps.Geocoder();
                            geocoder.geocode({address: addresscity}, function (
                                results,
                                status
                            ) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    var latitude = results[0].geometry.location.lat();
                                    var longitude = results[0].geometry.location.lng();
                                    pos = {
                                        lat: latitude,
                                        lng: longitude,
                                    };
                                    createMap({
                                        latitude: parseFloat(latitude), //Put your origin latitude here
                                        longitude: parseFloat(longitude), //Put your origin longitude here
                                        polygons: polygons,
                                        mapId: "map-new",
                                        inputId: "pac-input",
                                    });
                                    marker.bindTo("position", map, "center");
                                    marker.setPosition(pos);

                                    map.setZoom(14);

                                    const isLocationInsidePolygonbtn = ({polygon}) =>
                                        poly.containsLocation(marker.getPosition(), polygon);

                                    const matchedPolygonDragbtn = googlePolygons.find(
                                        isLocationInsidePolygonbtn
                                    );

                                    if (!matchedPolygonDragbtn) {
                                        $("#deliver-here-add1").text(
                                            "معذرة ، نحن لا نقوم بالتوصيل هنا."
                                        );
                                        $("#deliver-here1").attr("disabled", true);
                                    } else {
                                    }
                                    $("#popup-modal").modal("openModal");
                                }
                            });
                        });

                        function geolocate() {
                            if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(
                                    function (position) {
                                        pos = {
                                            lat: position.coords.latitude,
                                            lng: position.coords.longitude,
                                        };
                                        createMap({
                                            latitude: parseFloat(position.coords.latitude), //Put your origin latitude here
                                            longitude: parseFloat(position.coords.longitude), //Put your origin longitude here
                                            polygons: polygons,
                                            mapId: "map-new",
                                            inputId: "pac-input",
                                        });

                                        marker.bindTo("position", map, "center");
                                        marker.setPosition(pos);

                                        map.setZoom(14);
                                        geocodePosition(marker.getPosition(), marker);
                                        const isLocationInsidePolygonLocate = ({polygon}) =>
                                            poly.containsLocation(marker.getPosition(), polygon);

                                        const matchedPolygonDragLocate = googlePolygons.find(
                                            isLocationInsidePolygonLocate
                                        );

                                        if (!matchedPolygonDragLocate) {
                                            $("#deliver-here-add1").text(
                                                "معذرة ، نحن لا نقوم بالتوصيل هنا."
                                            );
											$("#error-global").text(
                                                "معذرة ، نحن لا نقوم بالتوصيل هنا."
                                            );
											$(".page.messages").text(
                                                "معذرة ، نحن لا نقوم بالتوصيل هنا."
                                            );
                                            $("#deliver-here1").attr("disabled", true);
                                            //$("#popup-modal").modal("openModal");
                                            return;
                                        } else {
											$("#deliver-here1").click();
                                            //$("#popup-modal").modal("openModal");
                                        }
                                    },
                                    function () {
                                        $("#deliver-here-add1").text("Please give permisssion to access your location.");
                                        $("#deliver-here1").attr("disabled", true);
                                    }
                                );
                            } else {
                                $("#deliver-here-add1").text(
                                    "Geolocation is not supported by this browser."
                                );
                                $("#deliver-here1").attr("disabled", true);
                            }
                        }

                        $("#locate-me").on("click", function (e) {
                            geolocate();
                        });
                        $("#locate-me-global").on("click", function (e) {
                            geolocate();
                        });

                        function geocodePosition(pos, marker) {
                            geocoder.geocode(
                                {
                                    latLng: pos,
                                },
                                function (responses) {
                                    if (responses && responses.length > 0) {
                                        marker.formatted_address = responses[1].formatted_address;
                                        var addressData = marker.formatted_address.split(",");
                                        if (addressData.length < 3) {
                                            marker.formatted_address = responses[1].formatted_address;
                                            addressData = marker.formatted_address.split(",");
                                        }
                                        street = addressData[addressData.length - 3];
                                        if (street == null) {
                                            var cityData = {location_id: location_id};
                                            $.ajax({
                                                url:
                                                    "<?php echo $this->getUrl('locationgroup/index/locationglobal'); ?>",
                                                type: "POST",
                                                dataType: "json",
                                                data: cityData,
                                                showLoader: true,
                                                success: function (data) {
                                                    var dataarray = data;
                                                    if (dataarray.success == true) {
                                                        street = dataarray.group_name;
                                                    }
                                                },
                                            });
                                        }
                                        $("#save_location").removeAttr("disabled");
                                    } else {
                                        marker.formatted_address = "Cannot determine address at this location.";
                                        $("#save_location").attr("disabled", true);
                                    }
                                    if (street == null) {
                                        $("#deliver-here-add1").text('Please select/adjust another location.');
                                        $("#deliver-here1").attr("disabled", true);
                                    } else {
                                        $("#deliver-here-add1").text(street);
                                    }
                                    $(".gm-style-iw-d div").text(marker.formatted_address);
                                    var addressData = marker.formatted_address.split(",");
                                }
                            );
                        }
                    };

                    createMap({
                        latitude: parseFloat($.cookie("latitude")) ? parseFloat($.cookie("latitude")) : 30.04442, //Put your origin latitude here
                        longitude: parseFloat($.cookie("longitude")) ? parseFloat($.cookie("longitude")) : 31.235712, //Put your origin longitude here
                        polygons: polygons,
                        mapId: "map-new",
                        inputId: "pac-input",
                    });


                    $("#deliver-here1").on("click", function (e) {
						redirecturl =1;
                        var selectedLocation = $(".gm-style-iw-d div").text();
                        var addressData = selectedLocation.split(",");
                        var params = marker.getPosition().toUrlValue(6);
                        var coordinateData = params.split(",");

                        <?php if($customerSession->isLoggedIn() || $handle[1] == 'customer_address_form') { ?>
                        $('#popup-modal-address-container-edit').modal('openModal');
                        //$("#street_1-pop").val(addressData[0]);
                        $("#region-pop").val(addressData[addressData.length - 3].trim());
                        $("#city-pop").val(addressData[addressData.length - 2].trim());

                        if (addressData < 3) {
                            $("#city-pop").attr("readonly", true);
                            $('[name="city"]').attr("readonly", true);
                        } else {
                            $("#region-pop").removeAttr("readonly");
                        }

                        $("#longitude-pop").val(coordinateData[1]);
                        $("#latitude-pop").val(coordinateData[0]);
                        <?php } ?>

                        <?php if(!$customerSession->isLoggedIn() ) { ?>
                        var date = new Date();
                        date.setTime(date.getTime() + 10 * 365 * 24 * 60 * 60);
                        $.cookie("latitude", latitude_global, {
                            expires: date,
                            path: "/",
                            domain: domain,
                        });
                        $.cookie("longitude", longitude_global, {
                            expires: date,
                            path: "/",
                            domain: domain,
                        });
                        var cityData = {location_id: location_id};

                        $.ajax({
                            url:
                                "<?php echo $this->getUrl('locationgroup/index/locationglobal'); ?>",
                            type: "POST",
                            dataType: "json",
                            data: cityData,
                            showLoader: true,
                            success: function (data) {
                                var dataarray = data;
                                if (dataarray.success == true) {
                                    if (dataarray.store_id !== $.cookie("Gourmet_Location") && dataarray.cart_count > 0) {
                                        var options = {
                                            type: 'popup',
                                            responsive: true,
                                            innerScroll: true,
                                            modalClass: "popup-modal-yes",
                                            buttons: []
                                        };
                                        var popup = modal(options, $('#popup-modal1'));
                                        $("#popup-modal1").modal("openModal");

                                        $("#popup-modal1 button").on("click", function () {
                                            var confirm = $(this).attr("value");
                                            if (confirm == "true") {
                                                var date = new Date();
                                                date.setTime(date.getTime() + 10 * 365 * 24 * 60 * 60);
                                                $.cookie("Gourmet_Location", dataarray.store_id, {
                                                    expires: date,
                                                    path: "/",
                                                    domain: domain,
                                                });

                                                $.cookie("Gourmet_Knockout_Location", street, {
                                                    expires: date,
                                                    path: "/",
                                                    domain: domain,
                                                });
                                                var paramadd = {location_id: location_id,store_id: dataarray.store_id};
                                                $.ajax({
                                                    url:
                                                        "<?php echo $apiUrl ?>",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: paramadd,
                                                    showLoader: true,

                                                    success: function (datareturn) {
                                                        var slot = datareturn.delivery;
                                                        var date = new Date();
                                                        date.setTime(
                                                            date.getTime() + 10 * 365 * 24 * 60 * 60
                                                        );
                                                        $.cookie("Gourmet_Knockout_Slot", slot, {
                                                            expires: date,
                                                            path: "/",
                                                            domain: domain,
                                                        });
                                                    },
                                                    complete: function () {
                                                        if (dataarray.cart_count > 0 && redirecturl ==1) {
                                                            location.href = "<?php echo $this->getUrl('checkout/cart'); ?>";
                                                        } else {
                                                            location.href = "<?php echo $this->getUrl(''); ?>";
                                                        }
                                                    },
                                                });
                                            } else if (confirm == "false") {
                                                $("#popup-modal1").modal("closeModal");
                                                $("#popup-modal").modal("openModal");
                                            }
                                        });
                                    } else {
                                        var date = new Date();
                                        date.setTime(date.getTime() + 10 * 365 * 24 * 60 * 60);
                                        $.cookie("Gourmet_Location", dataarray.store_id, {
                                            expires: date,
                                            path: "/",
                                            domain: domain,
                                        });
                                        $.cookie("Gourmet_Knockout_Location", street, {
                                            expires: date,
                                            path: "/",
                                            domain: domain,
                                        });
                                        var paramadd = {location_id: location_id,store_id: dataarray.store_id};
                                        $.ajax({
                                            type: "POST",
                                            url: "<?php echo $apiUrl; ?>",
                                            dataType: "json",
                                            data: paramadd,
                                            showLoader: true,

                                            success: function (datareturn) {
                                                var slot = datareturn.delivery;
                                                var date = new Date();
                                                date.setTime(date.getTime() + 10 * 365 * 24 * 60 * 60);
                                                $.cookie("Gourmet_Knockout_Slot", slot, {
                                                    expires: date,
                                                    path: "/",
                                                    domain: domain,
                                                });
                                            },
                                            complete: function () {
                                                if (redirecturl ==1) {
                                                    location.href = "<?php echo $this->getUrl('checkout/cart'); ?>";
                                                } else {
                                                    location.href = "<?php echo $this->getUrl(''); ?>";
                                                }
                                            },
                                        });
                                    }
									$("#pac-input-global").val(street);
                                    $("#store_address_id-pop").val(dataarray.store_id);
                                    $("#location_group_id-pop").val(location_id);
                                }
                            },
                        });
                        <?php } ?>

                        <?php if($customerSession->isLoggedIn() ) { ?>
                        var cityData = {location_id: location_id};

                        $.ajax({
                            url:
                                "<?php echo $this->getUrl('locationgroup/index/locationglobal'); ?>",
                            type: "POST",
                            dataType: "json",
                            data: cityData,
                            showLoader: true,
                            success: function (data) {
                                var dataarray = data;
                                if (dataarray.success == true) {

                                    $("#store_address_id-pop").val(dataarray.store_id);
                                    $("#location_group_id-pop").val(location_id);
                                    if (!$("#location_group_id-pop").val())
                                        $("#save_location").attr("disabled", true);
                                }
                            },
                        });
                        <?php } ?>

                    });

                    var dataForm = $('#form-validate-pop');
                    var ignore = null;
                    dataForm.mage('validation', {
                        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
                    }).find('input:text').attr('autocomplete', 'off');

                    $('#save_location').click(function () {

                        if (!dataForm.validation('isValid')) {
                            return;
                        }

                        var address_id = $(entity_id).val();
                        var customer_id = $("#customer_id").val();
                        var firstname = $("#firstname-pop").val();
                        var lastname = $("#lastname-pop").val();
                        var telephone = $("#telephone-pop").val();
                        var streetaddress = $("#street_1-pop").val();
                        var floor = $("#floor-pop").val();
                        var apartment = $("#apartment-pop").val();
                        var addressname = $("#addressname-pop").val();
                        var building = $("#building-pop").val();
                        var region = $("#region-pop").val();
                        var city = $("#city-pop").val();
                        var store_address_id = $("#store_address_id-pop").val();
                        var location_group_id = $("#location_group_id-pop").val();
                        var longitude = $("#longitude-pop").val();
                        var latitude = $("#latitude-pop").val();
                        var country = "EG";
                        var addresstype = $('input[name="addresstype-pop"]:checked').val();

                        if (addresstype == 'Apartment') {
                            addresstype = 249;
                        }
                        if (addresstype == 'Villa') {
                            addresstype = 250;
                        }
                        if (addresstype == 'Office') {
                            addresstype = 251;
                        }

                        var parameter = {
                            address_id: address_id,
                            customer_id: customer_id,
                            firstname: firstname,
                            lastname: lastname,
                            telephone: telephone,
                            street: streetaddress,
                            floor: floor,
                            apartment: apartment,
                            addressname: addressname,
                            building: building,
                            region: region,
                            city: city,
                            store_address_id: store_address_id,
                            location_group_id: location_group_id,
                            longitude: longitude,
                            latitude: latitude,
                            addresstype: addresstype,
                            country: country,
                        };

                        $.ajax({
                            url: "<?php echo $this->getUrl('locationgroup/index/saveaddress'); ?>",
                            type: "POST",
                            dataType: "json",
                            data: parameter,
                            showLoader: true,

                            success: function (datareturn) {
                                if (datareturn.success == true) {
                                    console.log('Address  has been updated');
                                } else {
                                    console.log('No address found with the Id');
                                }
                            },
                            complete: function () {

                            },
                        });
                        var date = new Date();
                        date.setTime(date.getTime() + 10 * 365 * 24 * 60 * 60);
                        $.cookie("latitude", latitude, {
                            expires: date,
                            path: "/",
                            domain: domain,
                        });
                        $.cookie("longitude", longitude, {
                            expires: date,
                            path: "/",
                            domain: domain,
                        });
                        var cityData = {location_id: location_group_id};
                        $.ajax({
                            url:
                                "<?php echo $this->getUrl('locationgroup/index/locationglobal'); ?>",
                            type: "POST",
                            dataType: "json",
                            data: cityData,
                            showLoader: true,
                            success: function (data) {
                                var dataarray = data;
                                if (dataarray.success == true) {
                                    if (dataarray.store_id !== $.cookie("Gourmet_Location") && dataarray.cart_count > 0) {
                                        var options = {
                                            type: 'popup',
                                            responsive: true,
                                            innerScroll: true,
                                            modalClass: "popup-modal-yes",
                                            buttons: []
                                        };
                                        var popup = modal(options, $('#popup-modal1'));
                                        $("#popup-modal1").modal("openModal");
                                        $(".modal-popup.popup-modal-address-container-edit").hide();
                                        $(".modal-popup.popup-modal-address-container").hide();
                                        $(".modal-popup.popup-geolocation").hide();
                                        $("#popup-modal1 button").on("click", function () {
                                            var confirm = $(this).attr("value");
                                            if (confirm == "true") {
                                                var date = new Date();
                                                date.setTime(date.getTime() + 10 * 365 * 24 * 60 * 60);
                                                $.cookie("Gourmet_Location", dataarray.store_id, {
                                                    expires: date,
                                                    path: "/",
                                                    domain: domain,
                                                });
                                                $.cookie("Gourmet_Knockout_Location", dataarray.group_name, {
                                                    expires: date,
                                                    path: "/",
                                                    domain: domain,
                                                });

                                                var paramadd = {location_id: location_group_id,store_id: dataarray.store_id};
                                                $.ajax({
                                                    url:
                                                        "<?php echo $apiUrl ?>",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: paramadd,
                                                    showLoader: true,

                                                    success: function (datareturn) {
                                                        var slot = datareturn.delivery;
                                                        var date = new Date();
                                                        date.setTime(
                                                            date.getTime() + 10 * 365 * 24 * 60 * 60
                                                        );
                                                        $.cookie("Gourmet_Knockout_Slot", slot, {
                                                            expires: date,
                                                            path: "/",
                                                            domain: domain,
                                                        });
                                                    },
                                                    complete: function () {
                                                        if (dataarray.cart_count > 0) {
                                                            location.href = "<?php echo $this->getUrl('checkout/cart'); ?>";
                                                        } else {
                                                            location.href = "<?php echo $this->getUrl(''); ?>";
                                                        }
                                                    },
                                                });
                                            } else if (confirm == "false") {
                                                $("#popup-modal1").modal("closeModal");
                                                $(".modal-popup.popup-modal-address-container-edit").show();
                                                $(".modal-popup.popup-geolocation").show();
                                                $(".modal-popup.popup-modal-address-container").show();
                                            }
                                        });
                                    } else {
                                        var date = new Date();
                                        date.setTime(date.getTime() + 10 * 365 * 24 * 60 * 60);
                                        $.cookie("Gourmet_Location", dataarray.store_id, {
                                            expires: date,
                                            path: "/",
                                            domain: domain,
                                        });
                                        $.cookie("Gourmet_Knockout_Location", street, {
                                            expires: date,
                                            path: "/",
                                            domain: domain,
                                        });
                                        var paramadd = {location_id: location_group_id,store_id: dataarray.store_id};
                                        $.ajax({
                                            type: "POST",
                                            url: "<?php echo $apiUrl; ?>",
                                            dataType: "json",
                                            data: paramadd,
                                            showLoader: true,

                                            success: function (datareturn) {
                                                var slot = datareturn.delivery;
                                                var date = new Date();
                                                date.setTime(date.getTime() + 10 * 365 * 24 * 60 * 60);
                                                $.cookie("Gourmet_Knockout_Slot", slot, {
                                                    expires: date,
                                                    path: "/",
                                                    domain: domain,
                                                });
                                            },
                                            complete: function () {
                                                if (dataarray.cart_count > 0) {
                                                    location.href = "<?php echo $this->getUrl('checkout/cart'); ?>";
                                                } else {
                                                    location.href = "<?php echo $this->getUrl(''); ?>";
                                                }
                                            },
                                        });
                                    }
                                }
                            },
                        });
                    });
                },
                error: function (e) {
                    console.log(e);
                    console.log("The response is not correct, Please check with admin.");
                },
            });
        } catch (e) {
            console.log(e);
        }

        if ($('.location-error').length > 0) {
            $('.checkout-methods-items .primary.checkout').prop('disabled', true);
        }
    });

    require([
        'jquery'
    ], function ($) {
        'use strict';

        $(window).on('load', function () {
            if ($.cookie("Gourmet_Location") === '' || $.cookie("Gourmet_Location") === undefined || $.cookie("Gourmet_Location") === null || $.cookie("Gourmet_Knockout_Location") === null) {
                $("#locate-me").click();
				$("#location-changed").click();
            }
        });
		$(document).on("click", "#signout-url", function () {
			 localStorage.removeItem("popupShown"); 
        });

    });
	require([
        'jquery'
    ], function ($) {
        'use strict';
        $(window).on('load', function () {
            var location_id = $.cookie("Gourmet_Location_Id");
            if(location_id === '' || location_id === undefined || location_id === null ){
                $('.checkout-methods-items .action.primary.checkout').attr("disabled", true);
                $("span#address-msg").show();
            }
            if(<?php echo $addressEmptyFlag ?> == 0 ){
                $('.checkout-methods-items .action.primary.checkout').attr("disabled", true);
                $("span#address-msg").show();
            }

        });

    });

</script>

<script>
require(['jquery', 'jquery/ui'], function($){
	$('input[type=radio][name=addresstype-pop]').change(function() {
		if (this.value == 'Villa') {
			$("#apartment-pop").removeClass("required-entry");
		}
		else{
			$("#apartment-pop").addClass("required-entry");
		}
	}); 
 });
</script>
<style>
    .address-list ul {
        background: #fff;
        list-style: none;
        padding: 0px;
    }

    .address-list ul li {
        border-bottom: 1px solid #e6e6e6;
        margin: 0;
        font-size: 14px;
        cursor: default;
        padding: 10px 15px 10px 33px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 30px;
        text-align: left;
        border-top: opx solid #e6e6e6;
        color: #999;
        max-height: 72px;
        background-image: url(<?php echo $this->getViewFileUrl('images/location-grey.png'); ?>);
        background-size: auto;
        background-position: 15px 15px;
        background-repeat: no-repeat;
    }

    button#save_location, button#new_location {
        margin: 0;
        background: #33b699;
        border: 1px solid #33b699;
        line-height: 36px;
        color: #fff;
        text-transform: uppercase;
        padding: 0 15px;
        font-size: 17px;
        height: 36px;
        float: right;
        margin: 30px;
    }

    .modals-overlay {
        z-index: 899 !important;
    }

    .popup-geolocation {
        z-index: 902 !important;
    }

    .modal-content .address-list {
        margin-top: 10px;
        overflow-y: scroll;
        max-height: 250px !important;
    }

    .popup-modal-address-container .modal-inner-wrap, popup-modal-address-container-edit .modal-inner-wrap {
        width: 600px;
    }

    .modal-popup.popup-modal-address-container-edit .modal-inner-wrap, .modal-popup.popup-modal-yes .modal-inner-wrap {
        z-index: 1;
        width: 600px;
    }

    #popup-modal h1 {
        font-size: 22px;
        padding-bottom: 9px;
        color: #666;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        text-rendering: optimizeSpeed;
        text-transform: uppercase;
        margin-top: 0;
        letter-spacing: 1px;
        font-family: 'museo_sans700';
    }

    .modal-popup .modal-inner-wrap {
        width: 600px !important;
    }

    #magestore-popup {
        z-index: 999 !important;
    }
	.page.messages {
		margin: 5px 0 10px;
		font-size: 13px;
		color: red;
	}
	#select-link{
		color:#14b395;
	}
	@media (max-width:767px) {
		.address-list ul li {
		white-space: normal;
		line-height: 20px;
	}
	}
</style>
<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Theme::html/custom-location-banner.phtml")->toHtml(); ?>

