<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Request\Http');
$dataId = $request->getParam('data_id');
if ($dataId) {
    ?>
    <?php
    $locationCollectionObj = $objectManager->get('I95Dev\Locationgroup\Model\ResourceModel\Address\CollectionFactory')->create();
    $locationCollection = $locationCollectionObj->addFieldToFilter('location_id',array('in' => $dataId));
    ?>
    <div class="entry-edit form-inline">
        <div style="color:green;" class="custom-success-message"></div>
        <div style="color:red;" class="custom-error-message"></div>
        <div class="fieldset-wrapper">
            <fieldset class="admin__fieldset">
                <div class="admin__field">
                    <div class="admin__field-control">
                        <div class="actions-toolbar">
                            <div class="primary">
                                <button id="view-boundary" class="action submit primary"  name="view-boundary" title="view-boundary" type="button">
                                    <span><span class="deliver-here-text">View Boundry</span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </fieldset>
    </div>
    <?php
    $url = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
    ?>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map-new {
            height: 600px;
            /*position: relative !important;*/
        }
        /* Optional: Makes the sample page fill the window. */
        #pac-input {
            margin-top: 1%;
            /*position: relative !important;*/
        }


        #infowindow-content .title {
            font-weight: bold;
        }




    </style>
    <div id="geolocation" style="display: none">  <div id="map-new"></div>
        <div>
            <span>Deliver To: </span>
            <span id="deliver-here-add"></span>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button id="add-location" class="action submit primary"  name="add-location" title="Draw New Zone" type="button">
                    <span><span class="deliver-here-text">Draw New Zone</span></span>
                </button>
                <button id="save-location" class="action submit primary"  name="send" title="Save Location" type="button">
                    <span><span class="deliver-here-text">Save Location</span></span>
                </button>
                <button id="delete-all-button" class="action submit primary"  name="Delete Zones" title="Delete Zones" type="button">
                    <span><span class="deliver-here-text">Delete Zones</span></span>
                </button>
                <div id="message-error" style="color:red;"> </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group">
                <form name="add_location" id="add_location">
                    <div class="table-responsive">
						<div class="admin__field" >
							<span>Coordinates of the Zone</span>
							<div class="admin__field-control">
								<input class="admin__control-text" type="text" name="vertices" value="" id="vertices" />
							</div>
						</div>
						<div class="admin__field" >
							<span><br>Note: Please use this for bulk import of coordinate provide by admin team</br></span>	
							<span>Coordinates of the Zone to import</span>
							<div class="admin__field-control">
								<input class="admin__control-text" type="text" name="vertices-import" value="" id="vertices-import" />
							</div>
							<input type="hidden" id="zone_id" name="zone_id" value="<?php echo $dataId; ?>" />
						</div>
                        <table class="table table-bordered" id="dynamic_field">
                            <thead>
                            <tr>
                                <th>Co-ordinates</th>
                            </tr>

                            </thead>
                            <tbody>
                            <?php foreach($locationCollection as $location): ?>
                                <tr id="row<?php echo $location['entity_id'] ?>">
                                    <td>
                                        <input class="admin__control-text" type="text" id="coordinate" name="coordinate[]" placeholder="Co-ordinates" value="<?php echo $location['coordination'] ?>" class="form-control coordinate_list dynamicCoordinates" disabled/>
                                    </td>
                                    <td><input type="hidden" id="data_id" name="data[]" value="<?php echo $dataId; ?>" /></td>
                                    <td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        require([
            'jquery',
            'Magento_Ui/js/modal/modal',
            'mage/mage',
            "//maps.googleapis.com/maps/api/js?key=AIzaSyC52Zg8n53z_zLFK9bXjQHx0FszZJKTlKY&libraries=geometry,places,drawing"
        ], function ($, modal) {
            'use strict';
            var geolocation = $('div#geolocation')
                .modal({
                    autoOpen: false,
                    buttons: [
                    ],
                    clickableOverlay: true,
                    focus: '',
                    innerScroll: false,
                    modalClass: '',
                    modalLeftMargin: 60,
                    responsive: true,
                    title: 'Delivery Address',
                    type: 'popup'
                });
            var map; // Global declaration of the map
            var iw = new google.maps.InfoWindow(); // Global declaration of the infowindow
            var lat_longs = new Array();
            var markers = new Array();
            var drawingManager;
            var myPolygons = {};
            var polygons = new Array();
            var bermudaTriangle;
            var all_overlays = [];
            $("#view-boundary").click(function () {
                geolocation.modal("openModal");
                var ceterLat;
                jQuery.ajax({
                    url: "<?php echo $this->getUrl('locationgroup/location/boundarycollection'); ?>",
                    type: "post",
                    success: function(data) {
                        var dataarray = JSON.parse(data);
                        var coordinate = dataarray.coordinates;
                        for (var key in coordinate) {
                            if (coordinate.hasOwnProperty(key)) {
                                var all = new Array();
                                var dummyArray = coordinate[key];
                                for (var i = 0, i_end = dummyArray.length; i < i_end; i++) {
                                    all[i] = {
                                        lat: parseFloat(dummyArray[i][0]),
                                        lng: parseFloat(dummyArray[i][1]),
                                    };
                                }
                                if( key == <?php echo $dataId ?>){
                                    myPolygons = {
                                        name: key,
                                        path: all,
                                        geodesic: true,
                                        strokeColor: "#FFD000",
                                        strokeOpacity: 1.0,
                                        strokeWeight: 4,
                                        fillColor: "#FFFFFF",
                                        fillOpacity: 0.35,
                                    };
                                    ceterLat  = all;
                                }else{
                                    myPolygons = {
                                        name: key,
                                        path: all,
                                        geodesic: true,
                                        strokeColor: "#FF0000",
                                        strokeOpacity: 1.0,
                                        strokeWeight: 4,
                                        fillColor: "#FFFFFF",
                                        fillOpacity: 0.35,
                                    };
                                }
                                polygons.push(myPolygons);
                            }
                        }

                    },
                    complete: function() {
                        if(ceterLat == null){
                            var myLatlng = new google.maps.LatLng(30.0078078440310, 31.487598587690055);
                        }else{
                            var myLatlng = new google.maps.LatLng(parseFloat(ceterLat[0]['lat']), parseFloat(ceterLat[0]['lng']));
                        }

                        var myOptions = {
                            zoom: 11,
                            center: myLatlng,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        }
                        map = new google.maps.Map(document.getElementById("map-new"), myOptions);

                        $.each(polygons, function(propName, polygon) {
                            bermudaTriangle = new google.maps.Polygon({
                                paths: polygon.path,
                                strokeColor: polygon.strokeColor,
                                geodesic: true,
                                strokeOpacity: 1.0,
                                strokeWeight: 4,
                                fillColor: polygon.fillColor,
                                fillOpacity: 0.35,

                            });
                            bermudaTriangle.setMap(map);


                        });


                    },
                    error: function() {
                        console.log("The response is not correct, Please check with admin.");
                    }
                });
                $("#add-location").click(function () {
                    drawingManager = new google.maps.drawing.DrawingManager({
                        drawingMode: google.maps.drawing.OverlayType.POLYGON,
                        drawingControl: true,
                        drawingControlOptions: {
                            position: google.maps.ControlPosition.TOP_CENTER,
                            drawingModes: [google.maps.drawing.OverlayType.POLYGON]
                        },
                        polygonOptions: {
                            editable: true
                        }
                    });
                    drawingManager.setMap(map);
                    google.maps.event.addListener(drawingManager, "overlaycomplete", function(event) {
                        all_overlays.push(event);
                        var newShape = event.overlay;
                        newShape.type = event.type;
                    });

                    google.maps.event.addListener(drawingManager, "overlaycomplete", function(event) {
                        overlayClickListener(event.overlay);
                        $('#vertices').val(event.overlay.getPath().getArray());
                    });
                    function overlayClickListener(overlay) {
                        google.maps.event.addListener(overlay, "mouseup", function(event) {
                            $('#vertices').val(overlay.getPath().getArray());
                        });
                    }
                    $("#delete-all-button").click(function () {
						
                        for (var i = 0; i < all_overlays.length; i++) {
                            all_overlays[i].overlay.setMap(null);
                        }
                        $('#vertices').val("");
                        all_overlays = [];
                    });
                });
                $("#save-location").click(function () {
                    var selectedLocation = $("form").serializeArray();
                    var location = $('#vertices').val();
                    var locationImport = $('#vertices-import').val();
                    if((location == "" || locationImport != "") && (location != "" || locationImport == "")){
                        $("#message-error").text("Please draw/add cooordinates for the current zone.");
                    }else{
                        $.ajax({
                            url: "<?php echo $this->getUrl('locationgroup/location/save'); ?>",
                            type: 'POST',
                            dataType: "json",
                            data: selectedLocation,
                            showLoader: true,
                            success: function (result) {
                                var url = "<?php echo $url; ?>";
                                if (result.type === 'success') {
                                    //console.log()
                                    window.location.href = url;
                                } else {
                                    $(".custom-error-message").show().html(result.message);
                                }
                            }
                        });
                    }

                });

            });
        });
    </script>
    <?php
} else {

}
?>
<div class="entry-edit form-inline">
    <div style="color:green;" class="custom-success-message"></div>
    <div style="color:red;" class="custom-error-message"></div>
    <div class="fieldset-wrapper">
        <fieldset class="admin__fieldset">
            <div class="admin__field" >
                <label class="admin__field-label">
                </label>
                <div class="admin__field-control">
                    <input class="admin__control-text" type="hidden" id="namemessage" name="new_rateclass" maxlength="255">
                </div>
            </div>
    </div>
    </fieldset>
</div>
<script>
    require([
        "jquery"
    ], function ($) {
        $(document).ready(function ()
        {
            window.onload = function (e) {
                checkGroupName();
            };
            function checkGroupName()
            {
                var data_id = "<?php echo $dataId; ?>";
                if (!data_id) {
                    $('.namemessage-error').remove();
                    $("#namemessage").before("<p style='color:red' class='namemessage-error'>Please add a Group and click on save & continue button to add location.</p>");
                }
            }


        });
    });
</script>
<?php //}  ?>
