<?php
/** @var $block \Gourmet\Alert\Block\Email\Stock */
?>
<?php if ($_products = $block->getProducts()): ?>
<p>In stock alert! We wanted you to know that these products are now available:</p>
<table>
<?php foreach ($_products as $_product): ?>
    <tr>
        <td class="col photo">
            <a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo  $block->escapeHtml($_product->getName()); ?>" class="product photo">
                <?php echo $block->getImage($_product, 'product_thumbnail_image', ['class' => 'photo image'])->toHtml(); ?>
            </a>
        </td>
        <td class="col item">
            <p>
                <strong class="product name">
                    <a href="<?php echo $_product->getProductUrl(); ?>"><?php echo  $block->escapeHtml($_product->getName()); ?></a>
                </strong>
                <a href="<?php echo 'a'; ?>">Click here to stop alerts for this product.</a>
            </p>
            <?php if ($shortDescription = $block->getFilteredContent($_product->getShortDescription())): ?>
                <p><small><?php echo $shortDescription; ?></small></p>
            <?php endif; ?>
            <?php echo  $block->getProductPriceHtml($_product, \Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE, \Magento\Framework\Pricing\Render::ZONE_EMAIL, array('display_label' => 'Price:')); ?>
            <p>
                <small>
                    <a href="<?php if($prod_id = $_product->getId()){ echo $block->getProductUnsubscribeUrl($prod_id);} ?>">Click here to stop alerts for this product.</a>
                </small>
            </p>
        </td>
    </tr>
<?php endforeach; ?>
</table>
<p><a href="<?php echo $block->getUnsubscribeUrl(); ?>">Unsubscribe from all stock alerts</a></p>
<?php endif; ?>