<?php 
    $productsCollection = $block->getWishlistProducts();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>
<?php $l = $productsCollection->count() ?>
<div>
    <table>
        <tr>
            <?php $i = 0;
            foreach ($productsCollection as $_prd): $i++ ?>
            <?php /* @var $item \Magento\Wishlist\Model\Item */ ?>
            <?php /* @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_prd->getId()); ?>
            <td class="col product">
                <p>
                    <a href="<?php echo $_product->getProductUrl();?>">
                        <?php echo $block->getImage($_product, 'product_small_image')->toHtml(); ?>
                    </a>
                </p>

                <p>
                    <a href="<?php echo $_product->getProductUrl();?>">
                        <strong><?php echo $block->escapeHtml($_product->getName()) ?></strong>
                    </a>
                </p>
                <p>
                    <a href="<?php echo  $block->getProductUrl($_product) ?>">View Product</a>
                </p>
            </td>
            <?php if ($i % 3 != 0): ?>
                <td></td>
            <?php else: ?>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
            <?php if ($i < $l): ?>
            <tr>
            <?php endif ?>
            <?php endif ?>
            <?php endforeach ?>
    </table>
</div>
