<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Checkout
 */
?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="block__row hidden-print hidden-xs hidden-sm">
    <div class="print__div">    
        <button type="submit"
                name="update_cart_action"
                title="<?php echo $block->escapeHtml(__('Print')); ?>"
                class="print-btn"
                onclick="window.print();">
            <span><?php /* @escapeNotVerified */ echo __('Print'); ?></span>
        </button>
    </div>
</div>
<div class="checkout-success text-center">
    <div class="block__row text-center">
        <img src="<?php echo $block->getViewFileUrl('images/success__banner.png'); ?>" style="margin-bottom: 30px;" />
    </div>
    <?php if ($block->getOrderId()):?>
        <div class="success-messages">
            <h1 class="thankyouheading">Thank You For Your Order!</h1>
            <?php if ($block->getCanViewOrder()) :?>
                <p><?= __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong class="orderNumber">%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p>
            <?php  else :?>
                <p><?= __('Your order number is: <strong class="orderNumber">%1</strong>.', $block->escapeHtml($block->getOrderId())) ?></p>
            <?php endif;?>
            <p><?= __('An order conﬁrmation email has been sent to you. You will also be notiﬁed when your order is on its way to you.<br>We’re proud to be a part of your community. Share your latest and greatest meal creations with us on social!') ?></p>
        </div>
        <?php // $block->getChildHtml('details') ?>
    <?php endif;?>

    <?php // $block->getAdditionalInfoHtml() ?>
    <?php // $block->getChildHtml('cms') ?>

    <div class="cs__detail block__row hidden-print">
        <span class="cs__number hidden-xs">Call 19339</span>
        <a href="tel:19339" class="cs__number  hidden-sm hidden-md hidden-lg">Call 19339</a>
        <a href="javascript:$zopim.livechat.window.show()" class="cs__action">Live Chat</a>
    </div>
    <div class="visible-print-block block__row text-center">
    <img src="<?php echo $this->getViewFileUrl('images/call-n-chat-img.jpg'); ?>" alt="" align="center"></div>
    <div class="block__row">&nbsp;</div>
    <div class="actions-toolbar block__row">
        <div class="primary" style="float: none; margin: 0 auto;">
            <a class="action primary continue" href="<?= $block->getUrl() ?>"><span><?= __('Continue Shopping') ?></span></a>
        </div>
    </div>
    <div class="block__row hrline"></div>
    <!-- <div class="block__row">
        <section class="latest-blog">
            <h2 class="blogheading block__row">Read The Latest From Our Blog</h2>
            <div class="block__row">
                <ol>
                    <li>
                        <div class="upperPart">
                            <a href="javascript:void(0);"><img src="<?php echo $this->getViewFileUrl('images/blog-img-1.jpg'); ?>" alt=""></a>
                            <div class="blog-title"><a href="javascript:void(0);">Thanksgiving with Gourmet Egypt</a></div>
                        </div>
                        <div class="bottomPart">
                            <div class="blog-date">21 Jan</div>
                        </div>
                    </li>
                    <li>
                        <div class="upperPart">
                            <a href="javascript:void(0);"><img src="<?php echo $this->getViewFileUrl('images/blog-img-2.jpg'); ?>" alt=""></a>
                            <div class="blog-title"><a href="javascript:void(0);">Cooking with Chef Bobby Chin</a></div>
                        </div>
                        <div class="bottomPart">
                            <div class="blog-date">23 Jan</div>
                        </div>
                    </li>
                    <li>
                        <div class="upperPart">
                            <a href="javascript:void(0);"><img src="<?php echo $this->getViewFileUrl('images/blog-img-3.jpg'); ?>" alt=""></a>
                            <div class="blog-title"><a href="javascript:void(0);">Making Blueberry Cakeon Facebook Live!</a></div>
                        </div>
                        <div class="bottomPart">
                            <div class="blog-date">25 Jan</div>
                        </div>
                    </li>
                    <li>
                        <div class="upperPart">
                            <a href="javascript:void(0);"><img src="<?php echo $this->getViewFileUrl('images/blog-img-4.jpg'); ?>" alt=""></a>
                            <div class="blog-title"><a href="javascript:void(0);">A light, bright, meat-free meal with a feast of fish</a></div>
                        </div>
                        <div class="bottomPart">
                            <div class="blog-date">27 Jan</div>
                        </div>
                    </li>
                </ol>
            </div>

            <div class="block__row followOurBlogDiv">
                <a href="javascript:void(0);" class="action primary followOurBlogLink">Follow Our Blog!</a>
            </div>
        </section>
    </div> -->
    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('130')->toHtml();?>



<!-- Event snippet for Full Transaction - Sukary conversion page -->
<script>
  gtag('event', 'conversion', {
      'send_to': 'AW-997448411/7LfbCKHbrXoQ27XP2wM',
      'transaction_id': ''
  });
</script>

</div>

