<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php
/** @var \Amasty\ShopbyBase\Model\FilterSetting $filterSetting */
/** @var \Amasty\Shopby\Model\Layer\Filter\Item $filterItem */
/** @var \Amasty\Shopby\Block\Navigation\FilterRenderer\Category $block */
/** @var \Amasty\Shopby\Model\Layer\Filter\CategoryItems $filterItems */
$filterItems = $block->getFilter()->getItems();
$categoryHelper = $block->getCategoryHelper();
$filterSetting = $block->getFilterSetting();
$filterSubcategoriesView = $block->isFolding();
$filterSubcategoriesType = $filterSubcategoriesView ? "amShopbyFilterCategoryLabelsFolding" : '';
$filterFoldingClass = $filterSubcategoriesView ? '-folding' : '';
?>

<?php foreach ($filterItems->getItems($block->getPath()) as $filterItem) : ?>
    <?php $uniqId = uniqid(); ?>
    <?php $currentPath = ($block->getPath() ?: $filterItems->getStartPath()) . '/' . $filterItem->getValueString(); ?>
    <li class="item" data-label="<?= $block->escapeHtml($filterItem->getLabel()) ?>">
        <?php if ($block->isExpandByClick($currentPath)) : ?>
            <span class="am-collapse-icon"></span>
        <?php endif; ?>
        <?php if ($filterItem->getCount() > 0) : ?>
            <a class="am-filter-item-<?= $block->escapeId($uniqId) ?>
               <?php if ($block->isExpandByClick($currentPath)): ?>
                   <?= "amshopby-filter-parent" ?>
               <?php endif; ?>"
               href="<?= $block->escapeUrl($filterItem->getUrl()) ?>"
               <?= $filterItem->getRelNofollow() ? ' rel="nofollow"' : '' ?>
               <?php if (!$filterSetting->isMultiselect()): ?>
                   <?= " forseload " ?>
               <?php endif; ?>
            >
                <input
                    name="amshopby[<?= /* @escapeNotVerified */ $block->getFilter()->getRequestVar(); ?>][]"
                    value="<?= $block->escapeHtml($filterItem->getValueString()); ?>"
                    type="<?= $block->getInputType(); ?>"
                    <?= $block->checkedFilter($filterItem) ? ' checked' : ''; ?>
                />
        <?php endif; ?>
        <?php if ($block->getFilter()->useLabelsOnly()) : ?>
            <span class="label"><?= $filterItem->getLabel() ?></span>
        <?php else : ?>
            <img src="<?= $categoryHelper->getCategoryImageUrl($filterItem->getValue()) ?>"
                 class="am-category-image"
                 title="<?= $block->escapeHtml($filterItem->getLabel()); ?>"
                 height="<?= $categoryHelper->getCategoryFilterImageSize(); ?>"
                 width="<?= $categoryHelper->getCategoryFilterImageSize(); ?>"/>
            <?php if ($block->getFilter()->useLabelsAndImages()) : ?>
                <span class="label"><?= $filterItem->getLabel() ?></span>
            <?php endif; ?>
        <?php endif; ?>
        <?php if ($block->getFilterSetting()->isShowProductQuantities()) : ?>
            <span class="count"><?= $filterItem->getCount()?>
                <span class="filter-count-label">
                        <?php $title = ($filterItem->getCount() == 1) ? __('item') : __('items');?>
                        <?= $block->escapeHtml($title) ?>
                    </span>
                </span>
        <?php endif; ?>
        <?php if ($filterItem->getCount() > 0) : ?>
            </a>
        <?php endif; ?>

        <script type="text/x-magento-init">
            {
                ".am-filter-item-<?= $block->escapeId($uniqId) ?>": {
                    "<?= $filterSubcategoriesType ?>" : {
                        "collectFilters": <?= /* @escapeNotVerified */ $block->collectFilters(); ?>
                    }
                }
            }
        </script>

        <?php if ($filterItems->getItemsCount($currentPath)): ?>
            <ul class="items items-children level-<?= $block->getLevel() . ' ' . $filterFoldingClass; ?>">
                <?= $block->renderChildrenItems($currentPath); ?>
            </ul>
        <?php endif; ?>
    </li>
<?php endforeach; ?>
