<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Edit customer address template
 *
 * @var $block \Magento\Customer\Block\Address\Edit
 */

?>
<?php $currentUrl = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);  ?>
<form class="form-address-edit" action="<?php /* @escapeNotVerified */ echo $block->getSaveUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
    <fieldset class="fieldset">
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Contact Information') ?></span></legend><br>
        <?php echo $block->getBlockHtml('formkey')?>
        <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */ echo $block->getSuccessUrl() ?>"/>
        <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */ echo $block->getErrorUrl() ?>"/>
        <?php //echo $block->getNameBlockHtml() ?>
    </fieldset>
	<?php 
		if($block->getAddress()->getCustomAttribute("apartment")){
           $apartment= $block->getAddress()->getCustomAttribute("apartment")->getValue();
        }else{
            $apartment=''; 
        }
        if($block->getAddress()->getCustomAttribute("building")){
           $building= $block->getAddress()->getCustomAttribute("building")->getValue();
        }else{
            $building=''; 
        }
		if($block->getAddress()->getCustomAttribute("addresstype")){
           $addresstype= $block->getAddress()->getCustomAttribute("addresstype")->getValue();
        }else{
            $addresstype='';
        }	
		if($block->getAddress()->getCustomAttribute("longitude")){
           $longitude= $block->getAddress()->getCustomAttribute("longitude")->getValue();
        }else{
            $longitude=''; 
        }
		if($block->getAddress()->getCustomAttribute("latitude")){
           $latitude= $block->getAddress()->getCustomAttribute("latitude")->getValue();
        }else{
            $latitude=''; 
        }
        if($block->getAddress()->getCustomAttribute("store_address_id")){
            $store_address_id= $block->getAddress()->getCustomAttribute("store_address_id")->getValue();
        }else{
            $store_address_id='';
        }
		if($block->getAddress()->getCustomAttribute("location_group_id")){
            $location_group_id= $block->getAddress()->getCustomAttribute("location_group_id")->getValue();
        }else{
            $location_group_id='';
        }
		if($block->getAddress()->getCustomAttribute("floor")){
           $floor= $block->getAddress()->getCustomAttribute("floor")->getValue();
        }else{
            $floor=''; 
        }
		if($block->getAddress()->getCustomAttribute("addressname")){
           $addressname= $block->getAddress()->getCustomAttribute("addressname")->getValue();
        }else{
            $addressname=''; 
        }
        ?>
     <?php //echo $addresstype; exit;?>
    <fieldset class="fieldset">
        <?php echo $block->getNameBlockHtml() ?>
        <div class="field telephone required">
            <label class="label" for="telephone"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
            <div class="control">
                <input type="tel" name="telephone" maxlength="13" value="<?php echo $block->escapeHtml($block->getAddress()->getTelephone()) ?>" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>" id="telephone"/>
            </div>
        </div>
        
		
        <div class="field field-apartment required">
			<label class="label" for="apartment"><span><?php /* @escapeNotVerified */ echo __('Address name') ?></span></label>
			<div class="control">
			<input type="text" id="addressname" name="addressname" value="<?php echo $block->escapeHtml($addressname) ?>" class="input-text required-entry" aria-required="true">
            </div>
		</div>
          <!--<legend class="legend"><span><?php /* @escapeNotVerified */ //echo __('Address') ?></span></legend><br>-->
		<?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>
		<div class="field street required">
            <label for="street_1" class="label"><span><?php /* @escapeNotVerified */ echo __('Street Address') ?></span></label>
            <div class="control">
                <input type="text" name="street[]" maxlength="50" value="<?php echo $block->escapeHtml($block->getStreetLine(1)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" id="street_1" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>"/>
                <div class="">
                <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                    <div class="field additional">
                        <label class="label" for="street_<?php /* @escapeNotVerified */ echo $_i ?>">
                            <span><?php /* @escapeNotVerified */ echo __('Street Address %1', $_i) ?></span>
                        </label>
                        <div class="control">
                            <input type="text" name="street[]" maxlength="50" value="<?php echo $block->escapeHtml($block->getStreetLine($_i)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address %1', $_i) ?>" id="street_<?php /* @escapeNotVerified */ echo $_i ?>" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>"/>
                        </div>
                    </div>
                <?php endfor; ?>
                </div>
            </div>
        </div>
		<div class="field field-addresstype required">
			<label class="label" for="addresstype"><span><?php /* @escapeNotVerified */ echo __('Address Type') ?></span></label>
			<div class="control">
				<div class="form-outline mb-4 address-field">
					<div class="field field1"><input type="radio" id="249" name="addresstype" value="249" <?php if($addresstype == 249){ ?>checked="checked"<?php }?> >
                                            <label for="apartment"> <i class="fa fa-building"></i><?php /* @escapeNotVerified */ echo __('Apartment') ?></label></div>
					<div class="field field2"><input type="radio" id="250" name="addresstype" value="250"<?php if($addresstype == 250){ ?>checked="checked"<?php }?>>
                                            <label for="villa"> <i class="fa fa-home"></i><?php /* @escapeNotVerified */ echo __('Villa') ?></label></div>
					<div class="field field3"><input type="radio" id="251" name="addresstype" value="251"<?php if($addresstype == 251){ ?>checked="checked"<?php }?>>
                                            <label for="office"> <i class="fa fa-building"></i><?php /* @escapeNotVerified */ echo __('Office') ?></label> </div>
				</div>
            </div>
		</div>
		
      
        
		<div class="field field-building required">
			<label class="label" for="building"><span><?php /* @escapeNotVerified */ echo __('Building No') ?> </span></label>
			<div class="control">
				<input type="text" id="building" name="building" value="<?php echo $block->escapeHtml($building) ?>" class="input-text required-entry" aria-required="true">
            </div>
		</div>
        <div class="field field-floor required">
            <label class="label" for="floor" id="floor-label"><span><?php /* @escapeNotVerified */ echo __('Apartment/Floor Number') ?></span></label>
            <div class="control">
                <input type="text" id="apartment" name="apartment" value="<?php echo $block->escapeHtml($apartment) ?>" class="input-text required-entry" aria-required="true">
            </div>
        </div>
		
		
        <div class="field city required">
            <label class="label" for="city"><span><?php /* @escapeNotVerified */ echo __('City') ?></span></label>
            <div class="control">
                                <!--<select id="city_id" name="city" title="<?php /* /* @escapeNotVerified */ //echo __('Location') */ ?>" class="validate-select">
                   <option value=""><?php /* /* @escapeNotVerified */ //echo __('Please select a Location.') */ ?></option>
                </select>-->
                <input type="text" name="city" value="<?= $block->escapeHtml($block->getAddress()->getCity()) ?>" title="<?= /* @escapeNotVerified */ __('Location') ?>" class="input-text <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city" readonly="readonly" />

            </div>
        </div>
		<div class="field region required">
            <label class="label" for="region_id"><span><?php /* @escapeNotVerified */ echo __('Location') ?></span></label>
            <div class="control">
                <!--select id="region_id" name="region_id" title="<?php /* @escapeNotVerified */ echo __('Location') ?>" class="validate-select" <?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : ''; ?>>
                    <option value=""><?php /* @escapeNotVerified */ echo __('Please select a City.') ?></option>
                </select-->
                <input type="text" id="region" name="region" value="<?php echo $block->escapeHtml($block->getRegion()) ?>"  title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>"<?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : ''; ?> readonly="readonly" />
				
            </div>
        </div>
		<input type="text" id="region_id" name="region_id" class="input-text " value="0" style="display:none;"/>
		
        
        <div class="field country required" style="display:none;">
            <label class="label" for="country" style="display:none;"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
            <div class="control">
                <?php //echo $block->getCountryHtmlSelect() ?>
				<input type="text" id="country" name="country_id" class="input-text required-entry" value="EG" style="display:none;"/>
            </div>
        </div>
		 
		<div class="field field-longitude" style="display:none;">
			<label class="label" for="longitude"><span><?php /* @escapeNotVerified */ echo __('longitude') ?></span></label>
			<div class="control">
				<input type="text" id="longitude" name="longitude" value="<?php echo $block->escapeHtml($longitude) ?>" class="input-text" readonly="readonly">
			</div>
		</div>
		<div class="field field-latitude" style="display:none;">
			<label class="label" for="latitude"><span><?php /* @escapeNotVerified */ echo __('Latitude') ?></span></label>
			<div class="control">
				<input type="text" id="latitude" name="latitude" value="<?php echo $block->escapeHtml($latitude) ?>" class="input-text" readonly="readonly">
			</div>
		</div>
        <div class="field field-store_address_id" style="display:none;">
            <label class="label" for="store_address_id"><span><?php /* @escapeNotVerified */ echo __('store_address_id') ?></span></label>
            <div class="control">
                <input type="text" id="store_address_id" name="store_address_id" value="<?php echo $block->escapeHtml($store_address_id) ?>" class="input-text" readonly="readonly">
            </div>
        </div>
		<div class="field field-location_group_id" style="display:none;">
            <label class="label" for="location_group_id"><span><?php /* @escapeNotVerified */ echo __('Location Group Id') ?></span></label>
            <div class="control">
                <input type="text" id="location_group_id" name="location_group_id" value="<?php echo $block->escapeHtml($location_group_id) ?>" class="input-text" readonly="readonly">
            </div>
        </div>
		
        <?php $userDefinedAttributes = $block->getLayout()->getBlock('customer_form_address_user_attributes'); ?>
        <?php if ($userDefinedAttributes):?>
            <?php //echo $userDefinedAttributes->setShowContainer(false)->toHtml(); ?>
        <?php endif;?>
        <?php if ($block->isDefaultBilling()): ?>
            <div class="message info">
                <span><?php /* @escapeNotVerified */ echo __("This is your default billing address.") ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultBilling()): ?>
        <div class="field choice set billing">
            <input type="hidden" id="primary_billing" name="default_billing" value="1" class="checkbox"/>
            <!--<label class="label" for="primary_billing"><span><?php /* @escapeNotVerified */ //echo __('Use as my default billing address') ?></span></label>-->
        </div>
        <?php else: ?>
            <input type="hidden" name="default_billing" value="1"/>
        <?php endif; ?>

        <?php if ($block->isDefaultShipping()): ?>
            <div class="message info">
                <span><?php /* @escapeNotVerified */ echo __("This is your default shipping address.") ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultShipping()): ?>
            <div class="field choice set shipping">
                <input type="hidden" id="primary_shipping" name="default_shipping" value="1" class="checkbox"/>
                <!--<label class="label" for="primary_shipping"><span><?php /* @escapeNotVerified */ //echo __('Use as my default shipping address') ?></span></label>-->
            </div>
        <?php else: ?>
            <input type="hidden" name="default_shipping" value="1"/>
        <?php endif; ?>
        <button type="button" class="action submit primary openLocationModelAddress"  title="<?php /* @escapeNotVerified */ echo __('Open Map') ?>">
                <span style="font-size:18px"><?php /* @escapeNotVerified */ echo __('Open Map') ?></span>
        </button>
            <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" data-action="save-address" title="<?php /* @escapeNotVerified */ echo __('Save Address') ?>">
                <span><?php /* @escapeNotVerified */ echo __('Save Address') ?></span>
            </button>
			
        </div>
        <div class="secondary">
            <a class="action back" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>">
                <span><?php /* @escapeNotVerified */ echo __('Go back') ?></span>
            </a>
			
        </div>
    </div>
    </fieldset>
    
</form>
<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager= $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $locationurl    = $storeManager->getStore()->getUrl('location/city/view');
    $locationGroup    = $storeManager->getStore()->getUrl('locationgroup/index/boundary');
	if(isset($_COOKIE['Gourmet_Location_Id']))
	$location_id =  $_COOKIE['Gourmet_Location_Id'];
?>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "validation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>

<div id="geolocation-address" style="display:none;"> 
<div class="popup-image-holder"> 
		<?php //echo $this->getLayout()->createBlock("Magento\Theme\Block\Html\Header\Logo")->setTemplate("Magento_Theme::html/header/logo.phtml")->toHtml(); ?>
		<div class="delivery-header"><span><?php /* @escapeNotVerified */ echo __('Locate') ?></span></div>
	</div>

<div class="pac-card-address" id="pac-card">
    <div id="pac-container-address">
        <input id="pac-input-address" type="text"
               placeholder="Enter a location">
    </div>
</div>

 <div id="map-new-address" class="map-container"></div>
    <div id="infowindow-content-address">
        <span id="place-name-address"  class="title"></span><br>
        <span id="place-address-address"></span>
    </div>
    <div class="deliverto">
        <span>Deliver To: </span> 
        <span id="deliver-here-add"></span>
    </div>
    <div class="actions-toolbar">
        <div class="primary">
            <button id="deliver-here-address" class="action submit primary-deliver" name="send" title="Deliver Here" type="button">
                <span><span class="deliver-here-text">Deliver Here</span></span>
            </button>
        </div>
    </div>
</div>
<div style="display:none;" class="gm-style-iw-d" ><div></div></div>

<script>
require(['jquery', 'jquery/ui'], function($){
	$( "#region_id" ).change(function() {
		var selected = $(this).val();
		$.ajax({
            url: '<?php echo $locationurl; ?>'+'?id='+selected,
            success: function(resultOfAjaxCall) {
                $("#city_id").html(resultOfAjaxCall);
            }
        });
	});
 });
</script>
<?php 
	if($block->getAddress()->getCustomAttribute("latitude")){
           $latitude= $block->getAddress()->getCustomAttribute("latitude")->getValue();
        }elseif(!empty($_COOKIE["latitude"]) || isset($_COOKIE["latitude"])){
            $latitude=$_COOKIE["latitude"]; 
        }else{
			$latitude=30.04442; 
		}

		if($block->getAddress()->getCustomAttribute("longitude")){
           $longitude= $block->getAddress()->getCustomAttribute("longitude")->getValue();
        }elseif(!empty($_COOKIE["longitude"]) || isset($_COOKIE["longitude"])){
            $longitude=$_COOKIE["longitude"]; 
        }else{
			$longitude=31.235712; 
		}
		
?>


<script type="text/javascript">
require([
    "jquery",
    "Magento_Ui/js/modal/modal",
    "Magento_Ui/js/modal/confirm",
    "mage/mage",
    'jquery/jquery.cookie',
    "//maps.googleapis.com/maps/api/js?key=AIzaSyC52Zg8n53z_zLFK9bXjQHx0FszZJKTlKY&libraries=geometry,places",
], function($, modal) {
    "use strict";
    var geolocation = $("div#geolocation-address").modal({
        autoOpen: false,
        buttons: [],
        clickableOverlay: true,
        focus: "",
        innerScroll: false,
        modalClass: "",
        modalLeftMargin: 60,
        responsive: true,

        type: "popup",
        buttons: [

        ],
    });

    geolocation.modal("openModal");
    $(document).on("click", ".openLocationModelAddress", function() {
        geolocation.modal("openModal");
    });
    var myPolygons = {};
    var polygons = new Array();
    var geocoder;
    var map;
    var location_id;
    var street;
    var infowindow = new google.maps.InfoWindow({
        size: new google.maps.Size(50, 50),
    });
	var domain = document.domain;
    try {
        jQuery.ajax({
            url: "<?php echo $this->getUrl('locationgroup/index/boundarycollection'); ?>",
            type: "post",
            success: function(data) {
                var dataarray = JSON.parse(data);
                var coordinate = dataarray.coordinates;
                for (var key in coordinate) {
                    if (coordinate.hasOwnProperty(key)) {
                        var all = new Array();
                        var dummyArray = coordinate[key];
                        for (var i = 0, i_end = dummyArray.length; i < i_end; i++) {
                            all[i] = {
                                lat: parseFloat(dummyArray[i][0]),
                                lng: parseFloat(dummyArray[i][1]),
                            };
                        }
                        myPolygons = {
                            name: key,
                            path: all,
                            geodesic: true,
                            strokeColor: "#FFFFFF",
                            strokeOpacity: 1.0,
                            strokeWeight: 4,
                            fillColor: "#FFFFFF",
                            fillOpacity: 0.35,
                        };

                        polygons.push(myPolygons);
                    }
                }
            },
            complete: function() {
                let map;
                let marker;
                geocoder = new google.maps.Geocoder();
                var streetglobal;

                const EGYPT_BOUNDS = {
                    north: 33.599,
                    south: 20.23,
                    west: 22.04,
                    east: 35.81
                };

                const poly = google.maps.geometry.poly;
                const createMap = ({
                    latitude,
                    longitude,
                    polygons,
                    mapId,
                    inputId
                }) => {
                    const center = new google.maps.LatLng(latitude, longitude);

                    map = new google.maps.Map(document.getElementById(mapId), {
                        center,
                        zoom: 14,
                        draggable: true,
                        minZoom: 8,
                        maxZoom: 15,
                        mapTypeControl: false,
                        fullscreenControl: false,
                        streetViewControl: false,
                    });


                    //### Add a button on Google Maps ...
                    var controlMarkerUI = document.createElement("DIV");
                    controlMarkerUI.style.cursor = "pointer";
                    controlMarkerUI.style.backgroundImage = "url(<?php echo $this->getViewFileUrl('images/map-pointer.png'); ?>)";
                    controlMarkerUI.style.height = "42px";
                    controlMarkerUI.style.width = "44px";
                    controlMarkerUI.title = "Click to set the map to location";
                    map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(
                        controlMarkerUI
                    );

                    //### Add a button on Google Maps ...
                    var controlEarthUI = document.createElement("DIV");
                    controlEarthUI.style.cursor = "pointer";
                    controlEarthUI.style.backgroundImage = "url(<?php echo $this->getViewFileUrl('images/map-location-view.png'); ?>)";
                    controlEarthUI.style.height = "42px";
                    controlEarthUI.style.width = "44px";
                    controlEarthUI.title = "Click to set the map to Home";
                    map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(
                        controlEarthUI
                    );

                    google.maps.event.addDomListener(controlMarkerUI, "click", geolocate);
                    google.maps.event.addDomListener(
                        controlEarthUI,
                        "click",
                        changeMapType
                    );

                    function changeMapType() {
                        if (map.getMapTypeId() != "roadmap") {
                            //set the current map type
                            map.setMapTypeId("roadmap");
                        } else {
                            map.setMapTypeId("satellite");
                        }
                    }

                    marker = new google.maps.Marker({
                        map: map,
                        icon: "<?php echo $this->getViewFileUrl('images/marker.png'); ?>",
                        position: {
                            lat: <?php echo $latitude ?> ,
                            lng: <?php echo $longitude ?> ,
                        },
                        //draggable: true,
                    });

                    const createGooglePolygons = ({
                        name,
                        ...polygon
                    }) => {
                        const newPolygon = new google.maps.Polygon(polygon);
                        newPolygon.setMap(map);

                        return {
                            name,
                            polygon: newPolygon,
                        };
                    };

                    const googlePolygons = polygons.map(createGooglePolygons);
                    const isLocationInsidePolygonLoad = ({
                            polygon
                        }) =>
                        poly.containsLocation(marker.getPosition(), polygon);

                    const matchedPolygonLoad = googlePolygons.find(isLocationInsidePolygonLoad);

                    if (!matchedPolygonLoad) {
                        $("#deliver-here-add").text(
                            "This location is not serviceable, Please select the region with boundary"
                        );
                        $("#deliver-here-address").attr("disabled", true);
                        //return;
                    } else {
                        location_id = matchedPolygonLoad.name;
                        geocodePosition(marker.getPosition(), marker);
                    }
                    const input = document.getElementById(inputId);
                    $("#deliver-here-address").attr("disabled", false);
                    const autocomplete = new google.maps.places.Autocomplete(input);
                    autocomplete.setComponentRestrictions({
                        country: ["eg"],
                    });
                    const onAutocompleteChange = () => {
                        const place = autocomplete.getPlace();
                        const location = place.geometry.location;
                        const poly = google.maps.geometry.poly;
                        $("#deliver-here-add").text("");
                        $("#deliver-here-address").attr("disabled", false);
                        if (!place.geometry) {
                            $("#deliver-here-add").text(
                                "This location is not serviceable, Please select the region with boundary"
                            );
                            $("#deliver-here-address").attr("disabled", true);
                            return;
                        }

                        marker.setPosition(location);
                        marker.setMap(map);
                        map.setCenter(location);
                        map.setZoom(14);
                        const isLocationInsidePolygon = ({
                                polygon
                            }) =>
                            poly.containsLocation(location, polygon);

                        const matchedPolygon = googlePolygons.find(isLocationInsidePolygon);

                        if (!matchedPolygon) {
                            $("#deliver-here-add").text(
                                "This location is not serviceable, Please select the region with boundary"
                            );
                            $("#deliver-here-address").attr("disabled", true);
                            //return;
                        } else {
                            location_id = matchedPolygon.name;
                            geocodePosition(marker.getPosition(), marker);
                        }


                        google.maps.event.addListener(map, 'center_changed', function(e) {
                            google.maps.event.addListener(map, 'idle', function() {
                                marker.bindTo('position', map, 'center');
                                $("#deliver-here-add").text("");
                                $("#deliver-here-address").attr("disabled", false);
                                const isLocationInsidePolygonDrag = ({
                                        polygon
                                    }) =>
                                    poly.containsLocation(marker.getPosition(), polygon);

                                const matchedPolygonDrag = googlePolygons.find(
                                    isLocationInsidePolygonDrag
                                );

                                if (!matchedPolygonDrag) {
                                    $("#deliver-here-add").text(
                                        "This location is not serviceable, Please select the region with boundary"
                                    );
                                    $("#deliver-here-address").attr("disabled", true);
                                    return;
                                } else {

                                    geocodePosition(marker.getPosition(), marker);
                                    location_id = matchedPolygonDrag.name;
                                }
                            });
                        });

                        var date = new Date();
                        date.setTime(date.getTime() + (10 * 365 * 24 * 60 * 60));
                        $.cookie('latitude', marker.getPosition().lat(), {
                            expires: date,
                            path: '/',
                            domain: domain
                        });
                        $.cookie('longitude', marker.getPosition().lng(), {
                            expires: date,
                            path: '/',
                            domain: domain
                        });
                    };

                    function geolocate() {
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(
                                function(position) {
                                    var pos = {
                                        lat: position.coords.latitude,
                                        lng: position.coords.longitude,
                                    };
                                    createMap({
                                        latitude: position.coords.latitude, //Put your origin latitude here
                                        longitude: position.coords.longitude, //Put your origin longitude here
                                        polygons: polygons,
                                        mapId: "map-new-address",
                                        inputId: "pac-input-address",
                                    });
                                    marker.bindTo("position", map, "center");
                                    marker.setPosition(pos);

                                    map.setZoom(14);

                                    const isLocationInsidePolygonLocate = ({
                                            polygon
                                        }) =>
                                        poly.containsLocation(marker.getPosition(), polygon);

                                    const matchedPolygonDragLocate = googlePolygons.find(
                                        isLocationInsidePolygonLocate
                                    );

                                    if (!matchedPolygonDragLocate) {
                                        $("#deliver-here-add").text(
                                            "This location is not serviceable, Please select the region with boundary"
                                        );
                                        $("#deliver-here-address").attr("disabled", true);
                                        return;
                                    } else {
                                        //geocodePosition(marker.getPosition(), marker);
                                    }
                                },
                                function() {
                                    handleLocationError(true, infoWindow, map.getCenter());
                                }
                            );
                        } else {
                            $("#deliver-here-add").text(
                                "Geolocation is not supported by this browser."
                            );
                            $("#deliver-here-address").attr("disabled", true);
                        }
                        // window.setTimeout(function () {
                        // $("#popup-modal").modal("openModal");
                        // }, 2000);
                    }


                    autocomplete.addListener("place_changed", onAutocompleteChange);
                    google.maps.event.addListener(map, 'center_changed', function(e) {
                        google.maps.event.addListener(map, 'idle', function() {
                            marker.bindTo('position', map, 'center');
                            $("#deliver-here-add").text("");
                            $("#deliver-here-address").attr("disabled", false);
                            const isLocationInsidePolygonDrag = ({
                                    polygon
                                }) =>
                                poly.containsLocation(marker.getPosition(), polygon);

                            const matchedPolygonDrag = googlePolygons.find(
                                isLocationInsidePolygonDrag
                            );

                            if (!matchedPolygonDrag) {
                                $("#deliver-here-add").text(
                                    "This location is not serviceable, Please select the region with boundary"
                                );
                                $("#deliver-here-address").attr("disabled", true);
                                return;
                            } else {

                                streetglobal = geocodePosition(marker.getPosition(), marker);
                                location_id = matchedPolygonDrag.name;
                                //alert(`The ${matchedPolygonDrag.name} contains the address`);
                            }
                        });
                    });

                    function geocodePosition(pos, marker) {
                        geocoder.geocode({
                                latLng: pos,
                            },
                            function(responses) {
                                if (responses && responses.length > 0) {
                                    marker.formatted_address = responses[0].formatted_address;
                                    var addressData = marker.formatted_address.split(",");
                                    street = addressData[addressData.length - 3].trim();
                                    console.log(street);
                                } else {
                                    marker.formatted_address =
                                        "Cannot determine address at this location.";
                                }
                                
                                $(".gm-style-iw-d div").text(marker.formatted_address);
                                $("#deliver-here-add").text(street);


                            }
                        );
                    }


                };

                createMap({
                    latitude: <?php echo $latitude ?> , //Put your origin latitude here
                    longitude: <?php echo $longitude ?> , //Put your origin longitude here
                    polygons: polygons,
                    mapId: "map-new-address",
                    inputId: "pac-input-address",
                });


                $("#deliver-here-address").click(function() {
                    var selectedLocation = $(".gm-style-iw-d div").text();
                    var addressData = selectedLocation.split(",");

                    var params = marker.getPosition().toUrlValue(6);
                    var coordinateData = params.split(",");
                    if (selectedLocation) {
                        //$('[name="street[]"]').val(addressData[0]);
                        $('[name="region"]').val(addressData[addressData.length - 3].trim()).change();
                        $('[name="city"]').val(addressData[addressData.length - 2].trim()).change();
                        $('[name="longitude"]').val(coordinateData[1]);
                        $('[name="longitude"]').attr("readonly", true);
                        $('[name="latitude"]').val(coordinateData[0]);
                        $('[name="latitude"]').attr("readonly", true);
						if(addressData < 3){
							$('[name="region"]').attr("readonly", true);
							$('[name="city"]').attr("readonly", true);
						}else{
							//$('[name="region"]').removeAttr("readonly");

						}
                        $('[name="store_address_id"]').val($.cookie('Gourmet_Location')).change();
                        $('[name="store_address_id"]').attr("readonly", true);
						$('[name="location_group_id"]').val($.cookie('Gourmet_Location_Id')).change();
                        $('[name="location_group_id"]').attr("readonly", true);
                        //$("#deliver-here-add").text(addressData[2]);
                    } else {
                        $("#deliver-here-add").text('Please check your address or try again by dragging marker.');
                    }
                    //geolocation.modal('closeModal');
                    var cityData = {
                        location_id: location_id
                    };
                    $.ajax({
                        url: "<?php echo $this->getUrl('locationgroup/index/locationglobal'); ?>",
                        type: "POST",
                        dataType: "json",
                        data: cityData,
                        showLoader: true,
                        success: function(data) {
                            var dataarray = data;
                            if (dataarray.success == true) {
                                geolocation.modal('closeModal');
                            }
                        },
                    });
                    //geolocation.modal('closeModal');
                });
            },
            error: function() {
                console.log("The response is not correct, Please check with admin.");
            }
        });
    } catch (e) {
        console.log(e);
    }

    //google.maps.event.addDomListener(window, "load", init);

    function clone(obj) {
        if (obj == null || typeof obj != "object") return obj;
        var temp = new obj.constructor();
        for (var key in obj) temp[key] = clone(obj[key]);
        return temp;
    }



    $(document).ready(function() {
        $('[name="city"]').attr("readonly", true);
        $('[name="region"]').attr("readonly", true);
        $('[name="longitude"]').attr("readonly", true);
        $('[name="latitude"]').attr("readonly", true);

    });
});
</script>

<script>
require(['jquery', 'jquery/ui'], function($){
	$('input[type=radio][name=addresstype]').change(function() {
		if (this.value == '250') {
			$("#apartment").removeClass("required-entry");
		}
		else{
			$("#apartment").addClass("required-entry");
		}
	}); 
 });
</script>

<style>
button.action.submit.primary.openLocationModelAddress {
    background: url(https://geo.gourmetegypt.com/static/version1600097862/frontend/gourmet-egypt/ge-theme/en_US/images/view-map.png);
    width: 159px;
    height: 56px;
    display: inline-block;
	border: 0 !important;
    font-size: 0;

}.field.country.required {
    display: none;
}
.button.action.submit.primary.openLocationModelAddress {
  font-size: 18px !important;
}
</style>