<?php
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>
<script>
    require([
        'jquery',
        'prototype'
    ], function (jQuery) {

        var verifySpan = jQuery('#verify_span');

        jQuery('#paymob_upload_iframe').click(function () {
            
            var iframeHTML = $('payment_other_acceptance_iframe_html').value;
            var iframeCss = $('payment_other_acceptance_iframe_css').value;
            var iframeJs = $('payment_other_acceptance_iframe_js').value;

            var params = {
                iframe_html: iframeHTML,
                iframe_css: iframeCss,
                iframe_js: iframeJs
            };
            
            verifySpan.find('.processing').show();
            verifySpan.find('#iframe_upload_message').html('');

            jQuery.ajax({
                type: "POST",
                url: '<?php echo $block->getAjaxUrl() ?>',
                data: params,
                success: function (data) {                    
                    verifySpan.find('#iframe_upload_message').html(data.message);
                }
            });

            verifySpan.find('.processing').hide();
            verifySpan.find('.verifyed').hide();
        });
    });
</script>
<?php echo $block->getButtonHtml() ?>
<span class="verify-indicator" id="verify_span">
    <img class="processing" hidden="hidden" alt="Uploading Iframe" style="margin:0 5px" src="<?php echo $block->getViewFileUrl('images/process_spinner.gif') ?>"/>
    <img class="verifyed" hidden="hidden" alt="Iframe Uploaded" style="margin:-3px 5px" src="<?php echo $block->getViewFileUrl('images/rule_component_apply.gif') ?>"/>
    <span id="iframe_upload_message"></span>
</span>
<style>
#iframe_upload_message {display:inline-block}
</style>


