<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Grouped product data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\BaseImage
 * @var $block \Magento\GroupedProduct\Block\Product\View\Type\Grouped
 */
?>

<?php $block->setPreconfiguredValue(); ?>
<?php $_product = $block->getProduct(); ?>
<?php $_associatedProducts = $block->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
?>

<div class="table-wrapper grouped">

	<div class="grouped-products">
    <div class="ingredients col-xs-12">Select Ingredients</div>
		<ul>
			<?php if ($_hasAssociatedProducts): ?>
			<?php foreach ($_associatedProducts as $_item): 
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
			$wt = $objectManager->create('Magento\Catalog\Model\Product')->load($_item->getId());
			$tierPrices ='';
			if(count($_item->getTierPrice()) > 0):
				foreach($_item->getTierPrice() as $tierprice):
					if($tierprice['price_qty'] == 1):
						$tierPrices = $tierprice['price'];
					endif;					
				endforeach;
			endif;
			?>
			<?php
			$inventory = 0;
			if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
				$cookie = $_COOKIE["Gourmet_Location"];
				
				$store = $cookie;
				$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_item->getId());
				$storeId = 'store_'.$store;
				$inventory = $productStockObj[$storeId];
			}
			
			?>
			<?php
			$product_id = $_item->getId();
			$_product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
                        if((method_exists($productStockObj, "getMinQty"))){
			$minQty = $productStockObj->getMinQty();
                        }else{
                           $minQty=0; 
                        }
			?>
			<li class="grouped-product-informaions ">
				<div class="productName"><?php echo $block->escapeHtml($_item->getName()) ?></div>
				<div class="proWeiAndPri">
					<div class="productWeight"><?php echo ($wt->getData('product_weight')) ? $wt->getData('product_weight') : '1kg'; ?></div>
					<div class="productPrice"><?php if ($block->getCanShowProductPrice($_product) && (($_item->isSaleable() && (isset($inventory) && $inventory > $minQty)))): ?>
						<?php if ($block->getCanShowProductPrice($_item)): ?>
							<?php /* @escapeNotVerified */ echo $block->getProductPrice($_item) ?>
						<?php endif; ?>
					 <?php endif; ?>
					</div>
				</div>
				<?php if (($_item->isSaleable() && (isset($inventory) && $inventory > $minQty))) { ?>
				<div class="control qty productQuantity">
					<input type="number"  name="super_group[<?php /* @escapeNotVerified */ echo $_item->getId() ?>]"
						   data-selector="super_group[<?php /* @escapeNotVerified */ echo $_item->getId() ?>]"
						   maxlength="12"
						   value="1"
						   title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
						   class="input-text qty"
						   data-validate="{'validate-grouped-qty':'#super-product-table'}"
						   data-errors-message-box="#validation-message-box"/>
				</div>
				<div class="product-addtocart productAddToCart">
					<button price="<?php /* @escapeNotVerified */ echo (($tierPrices != '' )) ? $tierPrices : $_item->getFinalPrice() ?>" class="action removeQty tocart primary btn__toggle"
                            type="button" title="<?php /* @escapeNotVerified */ echo __('Remove') ?>">
                        <span class="hidden"><?php /* @escapeNotVerified */ echo __('- &nbsp;&nbsp; Remove') ?></span>
                        <div class="slider round"></div>
                    </button>
				</div>
				<?php } else { ?>
					<div class="control qty productQuantity">
						<input type="number"  name="super_group[<?php /* @escapeNotVerified */ echo $_item->getId() ?>]"
							   data-selector="super_group[<?php /* @escapeNotVerified */ echo $_item->getId() ?>]"
							   maxlength="12"
							   value="0"
							   title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
							   class="input-text qty"
							   data-validate="{'validate-grouped-qty':'#super-product-table'}"
							   data-errors-message-box="#validation-message-box"/>
					</div>
					<div class="product-addtocart productAddToCart">
						<button class="action addQty tocart primary btn__toggle" disabled
								type="button" title="<?php /* @escapeNotVerified */ echo __('Out of stock') ?>">
							<span class="hidden"><?php /* @escapeNotVerified */ echo __('- &nbsp;&nbsp; Remove') ?></span>
							<div class="slider round"></div>
						</button>
					</div>
				<?php } ?>
			</li>
			<?php endforeach; ?>
			<?php endif; ?>
		</ul>

	</div>


</div>
<div id="validation-message-box"></div>
<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){
    $("button.action").on('click',function () {
		if($(this).hasClass('addQty'))
		{
			$(this).removeClass('addQty');
			$(this).addClass('removeQty');
			$(this).find('span').html('- &nbsp;&nbsp; REMOVE');
			$(this).parent().siblings('.qty').find('input').val(1);
			$(this).attr("title","Remove");
			var tPrice = $('.addAndDeductDiv .actions .show-totalPrice ').attr('tprice');
			console.log(tPrice);
			var cPrice = $(this).attr('price');
			var nPrice = parseFloat(tPrice) + parseFloat(cPrice);
			$('.addAndDeductDiv .actions .show-totalPrice ').attr('tprice',nPrice);
			nPrice = nPrice.toFixed(2);
			if(nPrice > 0)
			{
				$('.allPrice').text('<?php echo $currency; ?>'+nPrice);
			}else{$('.allPrice').text('');}			
		}else if($(this).hasClass('removeQty')){
			var tPrice = $('.addAndDeductDiv .actions .show-totalPrice ').attr('tprice');
			var cPrice = $(this).attr('price');
			var nPrice = parseFloat(tPrice) - parseFloat(cPrice);
			$('.addAndDeductDiv .actions .show-totalPrice ').attr('tprice',nPrice);
			nPrice = nPrice.toFixed(2);
			if(nPrice > 0)
			{
				$('.allPrice').text('<?php echo $currency; ?>'+nPrice);
			}else{ $('.allPrice').text(''); }			
			$(this).addClass('addQty');
			$(this).removeClass('removeQty');
			$(this).find('span').html('+ &nbsp;&nbsp; ADD');
			$(this).attr("title","Add");
			$(this).parent().siblings('.qty').find('input').val(0);
		}

    });
 });
</script>
<?php
$viewedProduct = $block->getProduct();
$typeId = $viewedProduct->getTypeId();
if($typeId == 'grouped') {
?>
<div class="addAndDeductDiv">
<?php } ?>