<div class="customer-loyalty-program" data-bind="visible: isCustomerLoggedIn" >

    <button class="action primary checkout btn-block my-rewards" type="submit" data-bind="
                        click: myRewards,
                        attr: {title: $t('MY REWARDS')}," data-role="review-save" title="MY REWARDS">
        <span data-bind="i18n: 'MY REWARDS'">MY REWARDS</span>
    </button>
</div>

<div class="customer-loyalty-program-guest" data-bind="visible:!isCustomerNotLoggedIn" >
    <p> You are not logged in.To use Gourmet Points please <a  href="javascript:void(0);" onclick="openSignInWindow()">Sign In</a></p>
</div>

<div id="gourmentpointotppoup" style="display: none" >
    <div class="gourmentpointotppoup-header-block">
        <a class="logo-redem" href="https://cdn.gourmetegypt.com/media/logo/default/logo.svg" title="Gourmet Egypt">
            <img src="/media/wysiwyg/mygourmet.png" alt="Gourmet Egypt" width="132" height="77">
        </a>
       
    </div>
     <div id="message_loyalty_chechout_otp" style="color: red;font-size: large;font-weight: bold;padding: 1px;margin: 1px; text-align: center;"></div>
    
    <div class="otp-block">
    <h2>Gourmet Points Redemption Verification</h2>
    <div class="valid-otp-text">Please use the OTP code sent to your Mobile phone for verification.</div>
    <div style="margin: 3%; padding: 7px;">  

        <input type="text" id="redemptions-otp" placeholder="Enter OTP" name="otp" value="" class="redemptions" autocomplete="off" aria-required="true" style="width: 30%;margin-left: 20%;">
        <input type="hidden" id="redemptions-pinId"  name="pinId" value="">
        <div  id="error-message-redemptions-otp" class="mage-error block__row" style="display: none;text-align: center;margin: 3%;color: #e02b27;font-size: 1.2rem;padding-left: 20%;" >This is a required field.</div>
        <button type="submit" id ="validate-otp" class="action submit primary" data-bind="click: validateOtp" title="SUBMIT" style=" width: 23%;"><span>SUBMIT</span></button> 
    </div>
    </div>
    <div class="otp-success-block" style="display: none;">
        <h2 class="validation-success">Validation Success!</h2> 
          <div class="valid-otp-text">Please check the discounted price in the order total before proceeding to place order</div>
          <div class="valid-otp-text">Thanks, Gourmet Team</div>
          <div class="checkout-redirection">Redirecting to checkout page.....</div>
    </div>
</div>