<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<link rel="stylesheet" type="text/css"
      href="<?php echo $block->getViewFileUrl('Magento_Catalog::css/owl.carousel.css') ?>">

<small class="copyright">
    <span><?php /* @escapeNotVerified */
        echo $block->getCopyright() ?></span>
</small>


<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Apptrian_FacebookPixel::code.phtml")->toHtml() ?>
