<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Create account form template
 */
/* @var $block \Magento\CustomAttributeManagement\Block\Form\Renderer\Text */
?>
<?php
$fieldCssClass = 'field field-' . $block->getHtmlId();
$fieldCssClass .= $block->isRequired() ? ' required' : '';
$attr="";
if(($block->getHtmlId()=="primary_mobile_number"||$block->getHtmlId()=="isd_code")){
    $attr="readonly";
}
if(($block->getHtmlId()!="isd_code")){
?>
<div class="<?= /* @escapeNotVerified */ $fieldCssClass ?>">
    <label class="label" for="<?= $block->getHtmlId() ?>"><span><?= /* @escapeNotVerified */ $block->getLabel() ?></span></label>
    <div class="control">
        <input type="text" id="<?= $block->getHtmlId() ?>" name="<?= /* @escapeNotVerified */ $block->getFieldName() ?>" value="<?= /* @escapeNotVerified */ $block->getEscapedValue() ?>" class="input-text<?= $block->getHtmlClass() ?>" <?= $attr ?>>
        <?php if ($_message = $block->getAdditionalDescription()) : ?>
        <div class="note"><?= /* @escapeNotVerified */ $_message ?></div>
        <?php endif; ?>
    </div>
</div>
<?php
}else { ?>
<input type="hidden" id="<?= $block->getHtmlId() ?>" name="<?= /* @escapeNotVerified */ $block->getFieldName() ?>" value="<?= /* @escapeNotVerified */ $block->getEscapedValue() ?>" class="input-text<?= $block->getHtmlClass() ?>" <?= $attr ?>>
<?php }
if(($block->getHtmlId()=="primary_mobile_number")&&($block->getRequest()->getFullActionName()=="customer_account_create")){ ?> 
  <div class="primary" style="text-align: center;margin: 19px;">
            <button type="button" id="upadte-mobile-number" class="action save primary" title="Update"><span>Verify Mobile</span></button>
        </div>  
<?php }
?>
