<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Checkout
 */
?>
<?php /** @var \Amasty\Checkout\Block\Sales\Order\Info\Delivery $block */?>
<?php if ($fields = $block->getDeliveryDateFields()): ?>
<div class="block ">
    <div class="block-title"><strong><?= __('Delivery Information') ?></strong></div>
    <div class="block-content">
        <div class="box">
            <?php $i=0; foreach ($fields as $field): if($i == 1){continue;} ?>
                <div class="box-content">
                    <p><?= __($field['label']); ?>: <?= $field['value']; $i++; ?></p>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>
<?php endif ?>
