<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying products list widget
 *
 * @var $block \Magento\CatalogWidget\Block\Product\ProductsList
 */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $title = $block->getTitle() ? __($block->getTitle()) : '';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
?>
    <div class="block widget block-products-list <?php /* @escapeNotVerified */ echo $mode; ?>">
        <?php if ($title):?>
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo $title; ?></strong>
        </div>
        <?php endif ?>
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                <ol class="product-items <?php /* @escapeNotVerified */ echo $type; ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <?php
							$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
							$productImage = $_imagehelper->init($_item, 'product_page_image_large')->setImageFile($_item->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(297)->getUrl();
							?>
							<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-photo">
                                <img src="<?php echo $productImage; ?>"/><?php //echo $block->getImage($_item, $image)->toHtml(); ?>
                            </a>
                            <div class="product-item-details">
                                <div class="product-item-name">
                                    <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                       href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                       class="product-item-link">
                                        <?php echo $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </div>
								<?php
								if($_item->getTypeId() == 'grouped'):
								$tagsWithCommas = $_item->getResource()->getAttribute('tag')->getFrontend()->getValue($_item);
								$tags = '';
								if ($tagsWithCommas) :
									$tags = explode(",", $tagsWithCommas);
								?>
								<div class="recipe-tag"><?php echo $tags[0]; ?></div>
								<?php 
								endif;
								endif;
								?>
								<?php 
								$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
								$tierPricesList = $_item->getPriceInfo()->getPrice('tier_price')->getTierPriceList();
								if($tierPricesList):
								?>
								<div class="tier-price">
									<ul>
										<?php foreach ($tierPricesList as $index => $_price):?>
											<li>													
												<?php												
												$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
												$tierPrice =  trim($_price['price']); //Your Price
												$formattedPrice = $priceHelper->currency($tierPrice, true, false);
												$tax = $_price['price']->getAdjustmentAmounts();
												if(count($tax) > 0) {
													$sumarTax = $tax['tax'];
													$percentage = ceil(100 - ((100 / $_item->getFinalPrice())* ($_price['price']->getBaseAmount() + $sumarTax)));
													echo __(
																'Buy %1 for %2 each and <strong class="benefit">save<span class="percent tier-%3">&nbsp;%4</span>%</strong>',
																$_price['price_qty'],
																$formattedPrice,
																$index,
																$percentage
															);
												}
												?>
											</li>
										<?php endforeach; ?>
									</ul>
								</div>
								<?php endif; ?>
								<?php 
								$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
								$wt = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getId());
								$data = $objectManager->create('Magento\Catalog\Model\Product')->load($_item->getId())->getData();?>
								<div class="home-productWeight"><?php echo  $objectManager->create('Magento\Catalog\Model\Product')->load($_item->getId())->getProductWeight(); ?></div>
                                <?php
								if($_item->getTypeId() != 'grouped'):
									$inventory = 0;
									if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
										$cookie = $_COOKIE["Gourmet_Location"];
										$lochelper = $objectManager->get('\Gourmet\Location\Helper\Data');
										$datas = $lochelper->getLocationById($cookie);
										$store = $datas->getStoreId();
										$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_item->getId());
										$storeId = 'store_'.$store;
										$inventory = $productStockObj[$storeId];
										$minQty = $productStockObj->getMinQty();										
									}
									
									if($_item->isSaleable() && (isset($inventory) && $inventory > $minQty)):
										echo $block->getProductPriceHtml($_item, $type);
									endif;
								endif;
                                ?>
								

                                <?php if ($templateType): ?>
                                    <?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                <?php endif; ?>

                                <?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product-item-actions">
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary">
                                                <?php if ($_item->isSaleable()): ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <button class="action tocart primary"
                                                                data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}'
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                        ?>
                                                        <button class="action tocart primary"
                                                                data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($_item->getIsSalable()): ?>
                                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($showWishlist || $showCompare): ?>
                                            <div class="actions-secondary" data-role="add-to-links">
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <a href="#"
                                                       data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
                                                       class="action towishlist" data-action="add-to-wishlist"
                                                       title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                    <a href="#" class="action tocompare"
                                                       data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>'
                                                       title="<?php /* @escapeNotVerified */ echo __('Compare') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('Compare') ?></span>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
