<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying products list widget
 *
 * @var $block \Magento\CatalogWidget\Block\Product\ProductsList
 */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $title = $block->getTitle() ? __($block->getTitle()) : '';
    $items = $block->getProductCollection()->getItems();
	$title_name = strip_tags(strtolower(str_replace(' ', '-', $title)));
	$title_name = preg_replace('/!+$/', '', $title_name);
    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
?>
    <div class="block widget block-products-list <?php /* @escapeNotVerified */ echo $mode; ?>">
        <?php if ($title):?>
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo $title; ?></strong>
        </div>
        <?php endif ?>
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                <ol class="product-items <?php /* @escapeNotVerified */ echo $type; ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <?php
							$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
							$productImage = $_imagehelper->init($_item, 'product_page_image_large')->setImageFile($_item->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(297)->getUrl();
							?>
							<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-photo">
                                <img src="<?php echo $productImage; ?>"/><?php //echo $block->getImage($_item, $image)->toHtml(); ?>
                            </a>
                            <div class="product-item-details">
                                <div class="product-item-name">
                                    <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                       href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                       class="product-item-link">
                                        <?php echo $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </div>
								<?php
								if($_item->getTypeId() == 'grouped'):
								$tagsWithCommas = $_item->getResource()->getAttribute('tag')->getFrontend()->getValue($_item);
								$tags = '';
								if ($tagsWithCommas) :
									$tags = explode(",", $tagsWithCommas);
								?>
								<div class="recipe-tag"><?php echo $tags[0]; ?></div>
								<?php 
								endif;
								endif;
								?>
								<?php 
								$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
								$tierPricesList = $_item->getPriceInfo()->getPrice('tier_price')->getTierPriceList();
								if($tierPricesList):
								?>
								<div class="tier-price">
									<ul>
										<?php foreach ($tierPricesList as $index => $_price):?>
											<li>													
												<?php												
												$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
												$tierPrice =  trim($_price['price']); //Your Price
												$formattedPrice = $priceHelper->currency($tierPrice, true, false);
												$tax = $_price['price']->getAdjustmentAmounts();
												if(count($tax) > 0) {
													$sumarTax = $tax['tax'];
													$percentage = ceil(100 - ((100 / $_item->getFinalPrice())* ($_price['price']->getBaseAmount() + $sumarTax)));
													echo __(
																'Buy %1 for %2 each and <strong class="benefit">save<span class="percent tier-%3">&nbsp;%4</span>%</strong>',
																$_price['price_qty'],
																$formattedPrice,
																$index,
																$percentage
															);
												}
												?>
											</li>
										<?php endforeach; ?>
									</ul>
								</div>
								<?php endif; ?>
								<?php 
								$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
								$wt = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getId());
								$data = $objectManager->create('Magento\Catalog\Model\Product')->load($_item->getId())->getData();
                                                                 $_product=$objectManager->create('Magento\Catalog\Model\Product');
                                                                ?>
                                                               
								<div class="home-productWeight"><?php echo $_product->load($_item->getId())->getProductWeight(); ?></div>
                                
                                                                   
									<?php				
										$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
										$product = $_objectManager->get('\Magento\Catalog\Model\Product')->load($_product->getId());
										$options = $product->getOptions();
										$appState = $objectManager->get('\Magento\Framework\App\State');
										$currencysymbol = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
										$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();	
									?>
                                                                <div class="custom-dropdowns-option">
									<?php if(count($options) > 0) { ?>
									<?php
									$product = $objectManager->get('Magento\Catalog\Model\Product')->load($_product->getId());
									$customOptions = $objectManager->get('Magento\Catalog\Model\Product\Option')->getProductOptionCollection($product);
									$oldPrice = $product->getPrice();
									$basePrice = $product->getPrice();
									$finalPrice = $_product->getFinalPrice(); 
									if($product->getTierPrice()):
										foreach ($product->getTierPrice() as $tierPrice) {
											if($tierPrice['price_qty'] == 1):
												$finalPrice = $tierPrice['price'];
											endif;
										}					
									endif;
									
									?>
									
										<?php $count = 1; 
										$countCustomOption = count($customOptions);
										foreach ($customOptions as $option):?> 
										<?php $values = $option->getValues();  ?>
										<?php switch ($option->getData()['type']) {
											case 'drop_down': 
												$values = $option->getValues(); ?>													
                                                                            <select style="color:#a2a2a2;" class="sel-option product-custom-option-<?php echo $_product->getId().$title_name ?> admin__control-select" pro-id="<?php echo $_product->getId() ?>" id="<?php echo $_product->getId().$count ?>" data-selector="options[<?php echo $option->getId() ?>]" name="options[<?php echo $option->getId() ?>]">
													<?php foreach($values as $value):							
													$customPrice = $value->getData('default_price');
													$getprice = ($customPrice) ? $customPrice : 0;
													$sign = ($value->getData('default_price') < 0) ? '-' : '+';
													?>
													<option final-price="<?php echo $finalPrice; ?>" price-type="<?php echo $value->getData('price_type'); ?>" price="<?php echo $value->getData('default_price'); ?>" value="<?php echo $value->getData('option_type_id') ?>" data-orig="<?php echo $basePrice; ?>" data-type="<?php echo $sign; ?>" data-orig-price="<?php echo $basePrice; ?>" data-price="<?php echo $getprice; ?>"><?php echo $value->getTitle() ?>
													</option>								
													<?php endforeach; ?>
												</select>
										<?php break; } ?>
										<?php 
										if($count == $countCustomOption)
										{
											$count = 1;
										}
										$count++;
										?>											
										<?php endforeach; ?>
										<?php 
										$oldPrice = $_product->getPrice();
										$newPrice = ($product->getTierPrice()) ? $finalPrice : $_product->getFinalPrice();
										if ($oldPrice < $newPrice && $inventory > $minQty):
										?>				
										<script type="text/x-magento-init">
											{
												"#product_addtocart_form_<?php echo $product->getId() ?>": {
												"priceOptions": {
												"productId" : "<?php echo $product->getId() ?>",
												"optionConfig": <?php echo $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View\Options')->setProduct($product)->getJsonConfig();?>,
												"controlContainer": "#product_addtocart_form_<?php echo $product->getId() ?> .field",
												"priceHolderSelector": "[data-product-id=<?php echo $product->getId() ?>][data-role=priceBox]",
												"optionsSelector": ".product-custom-option-<?php echo $product->getId().$title_name ?>"
												}
												}
											}
										</script>
										<?php else:?>
										<script>
										require(['jquery', 'jquery/ui'], function($){ 
											var priceOldList = [];
											var priceNewList = [];
											var oldPrice = '<?php echo $_product->getPrice(); ?>';
											var newPrice = '<?php echo ($product->getTierPrice()) ? $finalPrice : $_product->getFinalPrice(); ?>';
											var currency = '<?php echo $currency; ?>';
											var product_id = '<?php echo $_product->getId()?>'
											
											$('.product-custom-option-<?php echo $_product->getId().$title_name ?> ').each(function(){						
												var priceType = $(this).find('option:first').attr('price-type');						
												var deductPrice = $(this).find('option:first').attr('price');
												
												switch(priceType) {
													case 'percent':
															var nowOldPrice = (oldPrice*deductPrice)/100;
															priceOldList.push(nowOldPrice);
															var nowNewPrice = (newPrice*deductPrice)/100;							
															priceNewList.push(nowNewPrice);										
														break;
													case 'fixed':
														
														break;						
												}
											});
											var oldTotal =0;
											var newTotal =0;
											
											for (var i = 0; i < priceOldList.length; i++) {						
												oldTotal = parseFloat(oldTotal) + parseFloat(priceOldList[i]) ;
											}					
											for (var i = 0; i < priceNewList.length; i++) {
												newTotal = parseFloat(newTotal) + parseFloat(priceNewList[i]) ;
											}
											oldTotal = parseFloat(oldPrice) + parseFloat(oldTotal);
											newTotal = parseFloat(newPrice) + parseFloat(newTotal);
											$('[data-product-id=<?php echo $product->getId() ?>][data-role=priceBox] [data-price-type=oldPrice] span').text(currency + oldTotal.toFixed(2));
											$('[data-product-id=<?php echo $product->getId() ?>][data-role=priceBox] [data-price-type=finalPrice] span').text(currency + newTotal.toFixed(2));
										});
										</script>				
										<?php endif; ?>		
									
														
										<?php }  ?> 
                                                                                </div>
                                                                    <?php
								if($_item->getTypeId() != 'grouped'):
									$inventory = 0;
//									if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
//										$cookie = $_COOKIE["Gourmet_Location"];
//										$lochelper = $objectManager->get('\Gourmet\Location\Helper\Data');
//										$datas = $lochelper->getLocationById($cookie);
//										$store = $datas->getStoreId();
//										$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_item->getId());
//										$storeId = 'store_'.$store;
//										$inventory = $productStockObj[$storeId];
//										$minQty = $productStockObj->getMinQty();										
//									}
									
									if($_item->isSaleable()):
										echo $block->getProductPriceHtml($_item, $type);
									endif;
								endif;
                                ?>
								

                                <?php if ($templateType): ?>
                                    <?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                <?php endif; ?>

                                <?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product-item-actions">
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary">
                                                <?php if ($_item->isSaleable()): ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <button class="action tocart primary"
                                                                data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}'
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                        ?>
                                                        <button class="action tocart primary"
                                                                data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($_item->getIsSalable()): ?>
                                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($showWishlist || $showCompare): ?>
                                            <div class="actions-secondary" data-role="add-to-links">
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <a href="#"
                                                       data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
                                                       class="action towishlist" data-action="add-to-wishlist"
                                                       title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                    <a href="#" class="action tocompare"
                                                       data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>'
                                                       title="<?php /* @escapeNotVerified */ echo __('Compare') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('Compare') ?></span>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
<?php				
	$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$currencysymbol = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
	$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
?>
<script>
	require(['jquery', 'jquery/ui'], function($){ 
		$(".sel-option").change(function(){
			var finalCalPrice = [];
			var finalNewPricce = [];
			var currency = '<?php echo $currency; ?>';
			var id = $(this).attr("id");		
			var productId = $(this).attr("pro-id");
			var priceType = $(this).children('option:selected').attr("price-type");
			var additionPrice = $(this).children('option:selected').attr("price");
			if($('[data-role=priceBox][data-product-id='+productId+']').find('span.old-price').length > 0)
			{
				var oldPrice = $(this).children('option:selected').attr("data-orig");							
			}
			var lenght = $("#product_addtocart_form_"+productId+" .product-custom-option-"+productId).length;
			switch (priceType){				
				case 'percent':
					var basePrice = $(this).children('option:selected').attr("final-price");
					
					if(oldPrice && oldPrice > basePrice)
					{
						var nowOldPrice = (oldPrice*additionPrice)/100;
						finalCalPrice.push(nowOldPrice);						
						var nowNewPrice = (basePrice*additionPrice)/100;
						finalNewPricce.push(nowNewPrice);
						
						if(lenght > 1)
						{
							var additionPrice1 = $(this).siblings('select').find('option:selected').attr('data-price');
							if(additionPrice1 != '')
							{
								nowOldPrice = (oldPrice*additionPrice1)/100;
								finalCalPrice.push(nowOldPrice);
								nowNewPrice = (basePrice*additionPrice1)/100;
								finalNewPricce.push(nowNewPrice);	
							}
						}						
					}else
					{
						var nowOldPrice = (basePrice*additionPrice)/100;
						finalNewPricce.push(nowOldPrice);						
					}					
				break;
			}
			var oldCalTotal =0;
			var newCalTotal =0;
			
			if(finalCalPrice.length > 0)
			{
				for (var i = 0; i < finalCalPrice.length; i++) {						
					oldCalTotal = parseFloat(oldCalTotal) + parseFloat(finalCalPrice[i]) ;
				}
				oldCalTotal = parseFloat(oldPrice) + parseFloat(oldCalTotal);
				/* console.log(oldCalTotal); */
				$('[data-product-id='+productId+'][data-role=priceBox] [data-price-type=oldPrice] span').text(currency+ oldCalTotal.toFixed(2));
			}
			if(finalNewPricce.length > 0)
			{
				for (var i = 0; i < finalNewPricce.length; i++) {						
					newCalTotal = parseFloat(newCalTotal) + parseFloat(finalNewPricce[i]) ;
				}
				newCalTotal = parseFloat(basePrice) + parseFloat(newCalTotal);				
				$('[data-product-id='+productId+'][data-role=priceBox] [data-price-type=finalPrice] span').text(currency+ newCalTotal.toFixed(2));
			}
		});
	});
</script>