<!-- ko foreach: getRegion('authentication') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('estimation') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('messages') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<div class="block__row checkoutPageContainer">
    <div class="cc__field-container">
        <div class="block__row">
            <ul class="list-unstyled sign_on_options">
                <li class="first">
                    <h4>Returning Customer</h4>
                    <p>
                        Sign in to import your address
                        and payment preferences
                    </p>
                    <a class="btn__link" href="#">SIGN IN</a>
                </li>

                <li class="last">
                    <h4>New Users</h4>
                    <p>
                        Create an account to shop faster
                        and track the status of your orders
                    </p>
                    <a class="btn__link" href="#">Register</a>
                </li>
            </ul>
        </div>

        <!--Tab switch-->
        <div class="block__row hidden">
            <div class="checkout__tabs">
                <a href="javascript:void(0);" class="ck__tab active first">Delivery</a>
                <a href="javascript:void(0);" class="ck__tab last">Pickup</a>
            </div>
        </div>

        <div class="block__row">
            <div id="ck__delivery" class="ck__tab-content active">
                <div class="checkout-header">
                    <h1 class="checkout__title"><span data-bind="i18n: '1. Enter Your Delivery Details'"></span> </h1>
                </div>
                <div class="ck__container" data-bind="errorFocus">
                    <!--<div class="opc-wrapper layout-2-columns ck__container">-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="checkout-column opc block__row form__wrapper">
                                <div class="checkout-block block__row">
                                    <!-- ko with: getChild('steps').getChild('shipping-step').getChild('step-config') -->
                                    <!-- ko template: getTemplate() --><!-- /ko -->
                                    <!--/ko-->

                                    <!-- ko with: getChild('steps').getChild('shipping-step').getChild('shippingAddress') -->
                                    <!-- ko template: 'Amasty_Checkout/onepage/shipping/address' --><!-- /ko -->
                                    <!--/ko-->

                                    <div class="additional-options slide__toggle checkout__comment">
                                        <!-- ko with: requestComponent('checkout.additional') -->
                                        <!-- ko template: getTemplate() --><!-- /ko -->
                                        <!--/ko-->
                                    </div>

                                    <div class="additional-options">
                                        <a href="cart/#location" class="openLocationModel"><span data-bind="i18n: 'Click here to change Location'"></span></a>
                                    </div>
                                </div>
								
                                <div class="checkout-block block__row">
                                    <!-- ko with: requestComponent('checkout.steps.shipping-step.amcheckout-delivery-date') -->
                                    <!-- ko template: getTemplate() --><!-- /ko -->
                                    <!--/ko-->

                                    <!-- ko with: getChild('steps').getChild('shipping-step').getChild('shippingAddress') -->
                                    <!-- ko template: 'Amasty_Checkout/onepage/shipping/methods' --><!-- /ko -->
                                    <!--/ko-->


                                </div>
                            </div>
                        </div>
                          <!-- ko if:(enabledLoyality) -->
                          <div class="col-xs-12">
                            <div class="checkout-column opc">
                                <div class="checkout-block">
                                    <div class="checkout__title" style="margin-top: 30px;"><span data-bind="i18n: '3. Use my points(Optional)'"></span>(<span data-bind="text:loyalityPoints"></span><span data-bind="i18n: 'POINTS'"></span>)</div>  
                                  

                                
                                               <!-- ko with: requestComponent('checkout.steps.shipping-step.customer-loyalty-program') -->
                                    <!-- ko template: getTemplate() --><!-- /ko -->
                                    <!--/ko-->
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="checkout-column opc">
                                <div class="checkout-block">
                                    <div class="checkout__title" style="margin-top: 30px;"><span data-bind="i18n: '4. Choose Payment Mode'"></span></div>
                                    <ul class="payment-method-block payment__nav">
                                        <li class="current" data-tab="payment-method-getCod" data-bind="payTabs">
                                            <span data-bind="i18n: 'Cash On Delivery'"></span>
                                           
                                        </li>
										
										<li data-tab="payment-method-getCard-on-delivery" data-bind="payTabs">
                                           <span data-bind="i18n: 'Credit card on delivery'"></span> 
                                        </li>
										<li data-tab="payment-method-getAonline" data-bind="payTabs" id="payment-method-getAonline-div" class="payment-method-getAonline-div">
                                           <span data-bind="i18n: 'Online credit/debit card'"></span> 
                                        </li>
										<li data-tab="payment-method-getWallet" data-bind="payTabs">
											<span data-bind="i18n: 'Vodafone Cash'"></span>
                                        </li>
										<!-- ko if:(ordertotal > 600) -->
										<!--li data-tab="payment-method-getValu" data-bind="payTabs">
                                            <span data-bind="i18n: 'ValU'"></span>
                                        </li-->
										<li data-tab="payment-method-installments" data-bind="payTabs">
                                            <span data-bind="i18n: 'CIB Installments'"></span>
                                        </li>
                                        <!--/ko-->
                                    </ul>

                                    <!-- ko with: getChild('steps').getChild('billing-step') -->
                                    <ul class="payment-method-collections block__row list-unstyled">
                                        <!-- ko template: getTemplate() --><!-- /ko -->
                                    </ul>
                                    <!--/ko-->
                                </div>
                            </div>
                        </div>
                            <!--/ko-->
                               <!-- ko ifnot:(enabledLoyality) -->
                                 <div class="col-xs-12">
                            <div class="checkout-column opc">
                                <div class="checkout-block">
                                    <div class="checkout__title" style="margin-top: 30px;"><span data-bind="i18n: '3. Choose Payment Mode'"></span></div>
                                    <ul class="payment-method-block payment__nav">
                                        <li class="current" data-tab="payment-method-getCod" data-bind="payTabs">
                                            <span data-bind="i18n: 'Cash On Delivery'"></span>
                                           
                                        </li>
										
										<li data-tab="payment-method-getCard-on-delivery" data-bind="payTabs">
                                           <span data-bind="i18n: 'Credit card on delivery'"></span> 
                                        </li>
										
										<li data-tab="payment-method-getAonline" data-bind="payTabs" id="payment-method-getAonline-div" class="payment-method-getAonline-div">
                                           <span data-bind="i18n: 'Online credit/debit card'"></span> 
                                        </li>
										<li data-tab="payment-method-getWallet" data-bind="payTabs">
											<span data-bind="i18n: 'Vodafone Cash'"></span>
                                        </li>
										<!-- ko if:(ordertotal > 600) -->
										<!--li data-tab="payment-method-getValu" data-bind="payTabs">
                                            <span data-bind="i18n: 'ValU'"></span>
                                        </li-->
										<li data-tab="payment-method-installments" data-bind="payTabs">
                                            <span data-bind="i18n: 'CIB Installments'"></span>
                                        </li>
										<!--/ko-->
                                        
                                    </ul>

                                    <!-- ko with: getChild('steps').getChild('billing-step') -->
                                    <ul class="payment-method-collections block__row list-unstyled">
                                        <!-- ko template: getTemplate() --><!-- /ko -->
                                    </ul>
                                    <!--/ko-->
                                </div>
                            </div>
                        </div>
                                <!--/ko-->
                    </div>
                </div>
                <div class="checkout-payment-method ck__container submit">
                    <div class="payment-methods">
                        <div class="actions-toolbar">
                            <button class="action primary checkout btn-block btn-placeorder" type="submit"
                                    data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: isPlaceOrderActionAllowed(),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        " data-role="review-save">
                                <span data-bind="i18n: 'PLACE ORDER'"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Pickup data-->
            <div id="ck__pickup" class="ck__tab-content">
                Pickup
            </div>
        </div>
    </div>
    <div class="cc__cart-container">
        <div class="checkout-block block__row">
            <div class="cs__block block__row">
                <span class="cs__title"><span data-bind="i18n: 'Need Assistance?'"></span></span>
                <div class="cs__detail block__row">
                    <span class="cs__number hidden-xs">اتصل 19339</span>
                    <a href="tel:19339" class="cs__number  hidden-sm hidden-md hidden-lg">اتصل 19339</a>
                    <a href="javascript:$zopim.livechat.window.show()" class="cs__action">Live Chat</a>
                </div>
            </div>
            <!-- ko with: requestComponent('checkout.sidebar.summary') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <!-- ko with: requestComponent('checkout.steps.billing-step.payment.afterMethods.discount') -->
            <div class="checkout-payment-method chk__discount block__row">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <!--/ko-->
             <div onclick="location.href=document.referrer" class="checkout_continue-shop"><a href="#" class="action primary"><span data-bind="i18n: 'Continue Shopping'"></span></a></div>  
        </div>
    </div>
</div>