<!--@subject {{trans "Reset your %store_name password" store_name=$store.getFrontendName()}}  @-->
<!--@vars {
"var this.getUrl($store, 'admin')":"Warehouse Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}} <!-- pathe of template header-->


<!-- you can Modify content of template according to your requirement-->
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">Hi {{trans "%customer_name," customer_name=$customer_name}}</p>
            <p>
                {{trans "Your OTP verification code is %otp, Please enter the verification code and reset password to proceed further - Gourmet Egypt" otp=$otp |raw}}
            </p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}} <!--footer of template-->