<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Wishlist\Block\Catalog\Product\View\Addto\Wishlist */
?>
<?php
$viewedProduct = $block->getProduct();
$typeId = $viewedProduct->getTypeId();
?>
<?php /*if ($block->isWishListAllowed()) : ?>
    <?php if($typeId == 'grouped') { ?><div class="wishlist-btn"><?php } ?><a href="#"
       class="action towishlist"
       data-post='<?php /* @escapeNotVerified */ /*echo $block->getWishlistParams(); ?>'
       data-action="add-to-wishlist"><span><?php /* @escapeNotVerified */ /*echo __('Add to Wishlist') ?></span></a><?php if($typeId == 'grouped') { ?></div><?php } ?>
<?php endif;*/ ?>
<script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?php /* @escapeNotVerified */ echo $block->getWishlistOptionsJson() ?>
        }
    }
</script>
