<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $url = $block->getReviewsUrl() . '#reviews'; ?>
<?php $urlForm = $block->getReviewsUrl() . '#review-form'; ?>
<?php if ($block->getReviewsCount()): ?>
<?php $rating = $block->getRatingSummary(); ?>
<div class="product-reviews-summary<?php echo !$rating ? ' no-rating' : ''?> text-center" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <?php if ($rating):?>
    <div class="rating-summary col-xs-12">
         <span class="label"><span><?php /* @escapeNotVerified */ echo __('Rating') ?>:</span></span>
         <div class="rating-result" title="<?php /* @escapeNotVerified */ echo $rating; ?>%">
             <span style="width:<?php /* @escapeNotVerified */ echo $rating; ?>%"><span><span itemprop="ratingValue"><?php /* @escapeNotVerified */ echo $rating; ?></span>% of <span itemprop="bestRating">100</span></span></span>
         </div>
		<a class="action view" href="<?php /* @escapeNotVerified */ echo $url ?>"><span itemprop="reviewCount">(<?php /* @escapeNotVerified */ echo $block->getReviewsCount() ?>)</span>&nbsp;<span><?php /* @escapeNotVerified */ //echo($block->getReviewsCount() == 1) ? __('Review') : __('Reviews') ?></span></a>         
     </div>
    <?php endif;?>

    <div class="col-xs-12">
    	<a id="review-form1" class="action add" href="javascript:void(0)"><?php /* @escapeNotVerified */ echo __('Write a Review') ?></a>
    </div>
</div>
<?php elseif ($block->getDisplayIfEmpty()): ?>
<div class="product-reviews-summary empty">
    <div class="reviews-actions">
        <a id="review-form1" class="action add" href="javascript:void(0)">
            <?php /* @escapeNotVerified */ echo __('Be the first to review this product') ?>
        </a>
    </div>
</div>
<?php endif; ?>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: false,
				clickableOverlay: true,
				modalClass: 'showReviewPopup'
            };

            var popup = modal(options, $('#popup-modal'));
			$("#review-form1").on('click',function() {
				$('#popup-modal').modal('openModal');
			});
			$("#review-form2").on('click',function() { 			
				$('#popup-modal').modal('openModal');
			});
			
			$(".popup-overlay").on("click",function (){  
				$('#popup-modal').modal('clickPopupOverlay');  
			});


            $('#popup-modal').on("modalclosed", function () {
                var form = $(this).find("form");

                // Reset form on popup close
                if(form) {
                    form[0].reset();
                }
            });
        }
    );
</script>

