
<?php
 /**
 * Copyright © 2016 Magestore. All rights reserved.
 * See COPYING.txt for license details.
 *
 */
?>

<?php
      $this->_getSingtoneSession()->setCurrentPage($this->getCurrentUrl());

 ?>
<?php $check = $this->getShownPositions();?>

<?php $arrayButton = $this->makeArrayButton(); $temp = $arrayButton; ?>
<?php $numberShow = $this->getNumberShow();?>

<?php $countAll = 0;?>
<?php $countMain = 0;?>
<?php $count = 0;?>	

	<div id="magestore-popup">
        <div class="border-popup">
		<div id="sociallogin-close-popup" title="Close"></div>
		<div id="magestore-login-form">
			
			<!-- formm Login -->
			<form id="magestore-sociallogin-form" class="magestore-login-form-popup" autocomplete="off">
            	<h3 class="magestore-loign-h3"><?php echo __("Sign In") ?></h3>
                <div id="sociallogin-forgot"></div>
            
				<!-- email -->
				<div class="magestore-login-input-box">
					<div class="sociallogin-input-box">
						<input id="magestore-sociallogin-popup-email" placeholder="<?php echo __("Email Address") ?>" class="input-text required-entry validate-email" type="text" title="Email Address" value="" name="socialogin_email" autocomplete="off">						
					</div>
				</div>
				<!-- password -->
				<div id="magestore-sociallogin-password" class="magestore-login-input-box">
					<div class="sociallogin-input-box">
						<input type="password" id="magestore-sociallogin-popup-pass" placeholder="<?php echo __("Password") ?>" class="input-text required-entry validate-password" type="text" title="Password" value="" name="socialogin_password" autocomplete="off">						
					</div>
				</div>
				<!-- image ajax -->
				<div id="progress_image_login" class="ajax-login-image" style="display: none">					
				</div>
				<!-- error invalid email -->
				<div id="magestore-invalid-email" class="magestore-invalid-email"></div>
				<!-- sumbit -->
				
				<div class="magestore-login-popup-button">
                    <button id="magestore-button-sociallogin" class="button popup_click_btn" name="send" title="Sign In" type="button">
                        <span><span><?php echo __('Sign In')?></span></span>
                    </button>
                </div>  
			</form>		
			<!-- form forgot -->
			
			<form id="magestore-sociallogin-form-forgot" class="magestore-login-form-popup" style="display: none; margin-bottom: 10px" autocomplete="off">
            	<h3 class="magestore-forgot-h3"><?php echo __("Forgot your password?") ?></h3>
                <div id="sociallogin-forgot">
                    <span class="sociallogin-forgot-content"><?php echo __('We will send OTP for recovering your password to the email address on record for your account.');?></span>
                </div>
				<div class="magestore-login-input-box">
					<div class="sociallogin-input-box">
						<input id="magestore-sociallogin-popup-email-forgot" placeholder="<?php echo __("Email Address") ?>" class="input-text required-entry validate-email" type="text" title="Email Address" value="" name="socialogin_email_forgot" autocomplete="off">						
					</div>
				</div>
				<!-- image ajax -->
				<div id="progress_image_login_forgot" class="ajax-login-image" style="display: none">					
				</div>
				<!-- error invalid email -->				
				<!-- sumbit -->
				<div class="magestore-login-popup-button">	
					<button id="magestore-button-sociallogin-forgot" class="button popup_click_btn" title="<?php echo __('Send OTP');?>" type="button">
						<span><span><?php echo __('Send OTP')?></span></span>
					</button>				
					
					
				</div>
				<div id="magestore-message-head	" class="magestore-invalid-email"></div>
				<div id="magestore-invalid-email-forgot" class="magestore-invalid-email"></div>
				<a id="magestore-forgot-back" class ="text-center" href="javascript:void(0);"><?php echo __('Back to Login') ?></a>
				
			</form>
			
			<!-- OTP form -->
			<form id="magestore-sociallogin-form-otp" class="magestore-login-form-popup" style="display: none; margin-bottom: 10px" autocomplete="off">
            	<h3 class="magestore-forgot-h3"><?php echo __("Enter your OTP") ?></h3>
                <div id="sociallogin-forgot">
                    <span class="sociallogin-forgot-content"><?php echo __('Please check your registered email for OTP.');?></span>
                </div>
				<div id="magestore-invalid-email-forgot" class="magestore-invalid-email"></div>
				<div class="magestore-login-input-box">
					<div class="sociallogin-input-box">
						<input id="magestore-sociallogin-popup-email-otp" placeholder="<?php echo __("Please enter OTP") ?>" class="input-text required-entry validate-digits validate-length minimum-length-6" type="text" title="OTP" value="" name="socialogin_email_otp" autocomplete="off">
						<input id="email-otp"  value="" name="email-otp" style="display:none;">						
					</div>
				</div>
				<!-- image ajax -->
				<div id="progress_image_login_forgot" class="ajax-login-image" style="display: none">					
				</div>
				<!-- error invalid email -->				
				<!-- sumbit -->
				<div class="magestore-login-popup-button">	
					<button id="magestore-button-sociallogin-otp" class="button popup_click_btn" style="margin:0" title="<?php echo __('Send Password');?>" type="button">
						<span><span><?php echo __('Submit')?></span></span>
					</button>				
					<!--<a id="magestore-forgot-back" href="javascript:void(0);"><?php echo __('Back to Form Login') ?></a>-->
					
				</div>
				<div id="magestore-invalid-otp" style="color: red;" class="magestore-invalid-email"></div>
			</form>
			
			<form id="magestore-sociallogin-form-reset-password" class="magestore-login-form-popup" style="display: none; margin-bottom: 10px" autocomplete="off">
            	<h3 class="magestore-forgot-h3"><?php echo __("Reset your Password") ?></h3>
				<div id="magestore-invalid-email-forgot" class="magestore-invalid-email"></div>
				<div class="magestore-login-input-box">
					<div class="sociallogin-input-box">
						<input id="magestore-sociallogin-popup-email-password" placeholder="<?php echo __("New Password") ?>" class="input-text required-entry validate-password" type="password" title="New Password" value="" name="socialogin_email_new_password">						
					</div>
				</div>
				<div class="magestore-login-input-box">
					<div class="sociallogin-input-box">
						<input id="magestore-sociallogin-popup-email-password-re" placeholder="<?php echo __("Confirm New Password") ?>" class="input-text required-entry validate-cpassword" type="password" title="New Password" value="" name="socialogin_email_new_password_re" autocomplete="off">						
					</div><input id="email-otp1"  value="" name="email-otp1" style="display:none;">	
				</div>
				<!-- image ajax -->
				<div id="progress_image_login_forgot" class="ajax-login-image" style="display: none">					
				</div>
				<!-- error invalid email -->				
				<!-- sumbit -->
				<div class="magestore-login-popup-button">	
					<button id="magestore-button-sociallogin-reset-password" class="button popup_click_btn" style="margin:0" title="<?php echo __('Send Password');?>" type="button">
						<span><span><?php echo __('Submit')?></span></span>
					</button>	
					<div id="magestore-invalid-password" style="color: red;" class="magestore-invalid-email"></div>					
					<!--<a id="magestore-forgot-back" href="javascript:void(0);"><?php echo __('Back to Form Login') ?></a>-->
					
				</div>
			</form>
            
        </div>
		
		<!-- create new user -->
		<div id="magestore-create-user" style="display: none" >
			<h3 class="magestore-loign-h3"><?php echo __("Create new account") ?></h3>
            <div class="loginBenifits" >
            	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span class="icon-checkmark" ></span><?php echo __("Store your details") ?></div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span class="icon-checkmark" ></span><?php echo __("Access order") ?><br class="hidden-xs" /><?php echo __("history") ?></div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span class="icon-checkmark" ></span><?php echo __("Earn points & rewards") ?></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center alreadyAccount"><a id="go-back" href="javascript:void(0);" title="Back" style="float: left; display: none;"><?php echo __("Back") ?></a>
            	<?php echo __("Already have an account?") ?> <a id="magestore-create-back" href="javascript:void(0);" title="Sign in" ><?php echo __("Sign in") ?></a>
            	<span class="text-right mandatoryNote"><?php echo __("All fields mandatory") ?></span>
            </div>
            <div id="magestore-invalid-create-success" style="display:none" class="magestore-invalid-email"></div>
            	<form id="magestore-sociallogin-form-mobile-validate" class="magestore-login-form-popup" autocomplete="off">
				<ul class="form-list">
                                                         <li class="fields">
                        <div class="sociallogin-field  form-group primary_mobile_number" style="width: 41%;clear: none;">

    <!--<label class="required" for="email"><?php echo __('Primary Mobile Number '); ?></label>-->
                            <div class="input-box">
                                <select name="isd_code" disabled="true" class="input-text" id="isd_code">
                                     <option data-countryCode="EG" value="2">Egypt (+2)</option>
                                    <optgroup label="Other countries">
                                        <option data-countryCode="DZ" value="213">Algeria (+213)</option>
                                        <option data-countryCode="AD" value="376">Andorra (+376)</option>
                                        <option data-countryCode="AO" value="244">Angola (+244)</option>
                                        <option data-countryCode="AI" value="1264">Anguilla (+1264)</option>
                                        <option data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>
                                        <option data-countryCode="AR" value="54">Argentina (+54)</option>
                                        <option data-countryCode="AM" value="374">Armenia (+374)</option>
                                        <option data-countryCode="AW" value="297">Aruba (+297)</option>
                                        <option data-countryCode="AU" value="61">Australia (+61)</option>
                                        <option data-countryCode="AT" value="43">Austria (+43)</option>
                                        <option data-countryCode="AZ" value="994">Azerbaijan (+994)</option>
                                        <option data-countryCode="BS" value="1242">Bahamas (+1242)</option>
                                        <option data-countryCode="BH" value="973">Bahrain (+973)</option>
                                        <option data-countryCode="BD" value="880">Bangladesh (+880)</option>
                                        <option data-countryCode="BB" value="1246">Barbados (+1246)</option>
                                        <option data-countryCode="BY" value="375">Belarus (+375)</option>
                                        <option data-countryCode="BE" value="32">Belgium (+32)</option>
                                        <option data-countryCode="BZ" value="501">Belize (+501)</option>
                                        <option data-countryCode="BJ" value="229">Benin (+229)</option>
                                        <option data-countryCode="BM" value="1441">Bermuda (+1441)</option>
                                        <option data-countryCode="BT" value="975">Bhutan (+975)</option>
                                        <option data-countryCode="BO" value="591">Bolivia (+591)</option>
                                        <option data-countryCode="BA" value="387">Bosnia Herzegovina (+387)</option>
                                        <option data-countryCode="BW" value="267">Botswana (+267)</option>
                                        <option data-countryCode="BR" value="55">Brazil (+55)</option>
                                        <option data-countryCode="BN" value="673">Brunei (+673)</option>
                                        <option data-countryCode="BG" value="359">Bulgaria (+359)</option>
                                        <option data-countryCode="BF" value="226">Burkina Faso (+226)</option>
                                        <option data-countryCode="BI" value="257">Burundi (+257)</option>
                                        <option data-countryCode="KH" value="855">Cambodia (+855)</option>
                                        <option data-countryCode="CM" value="237">Cameroon (+237)</option>
                                        <option data-countryCode="CA" value="1">Canada (+1)</option>
                                        <option data-countryCode="CV" value="238">Cape Verde Islands (+238)</option>
                                        <option data-countryCode="KY" value="1345">Cayman Islands (+1345)</option>
                                        <option data-countryCode="CF" value="236">Central African Republic (+236)</option>
                                        <option data-countryCode="CL" value="56">Chile (+56)</option>
                                        <option data-countryCode="CN" value="86">China (+86)</option>
                                        <option data-countryCode="CO" value="57">Colombia (+57)</option>
                                        <option data-countryCode="KM" value="269">Comoros (+269)</option>
                                        <option data-countryCode="CG" value="242">Congo (+242)</option>
                                        <option data-countryCode="CK" value="682">Cook Islands (+682)</option>
                                        <option data-countryCode="CR" value="506">Costa Rica (+506)</option>
                                        <option data-countryCode="HR" value="385">Croatia (+385)</option>
                                        <option data-countryCode="CU" value="53">Cuba (+53)</option>
                                        <option data-countryCode="CY" value="90392">Cyprus North (+90392)</option>
                                        <option data-countryCode="CY" value="357">Cyprus South (+357)</option>
                                        <option data-countryCode="CZ" value="42">Czech Republic (+42)</option>
                                        <option data-countryCode="DK" value="45">Denmark (+45)</option>
                                        <option data-countryCode="DJ" value="253">Djibouti (+253)</option>
                                        <option data-countryCode="DM" value="1809">Dominica (+1809)</option>
                                        <option data-countryCode="DO" value="1809">Dominican Republic (+1809)</option>
                                        <option data-countryCode="EC" value="593">Ecuador (+593)</option>
<!--                                        <option data-countryCode="EG" value="20">Egypt (+20)</option>-->
                                        <option data-countryCode="SV" value="503">El Salvador (+503)</option>
                                        <option data-countryCode="GQ" value="240">Equatorial Guinea (+240)</option>
                                        <option data-countryCode="ER" value="291">Eritrea (+291)</option>
                                        <option data-countryCode="EE" value="372">Estonia (+372)</option>
                                        <option data-countryCode="ET" value="251">Ethiopia (+251)</option>
                                        <option data-countryCode="FK" value="500">Falkland Islands (+500)</option>
                                        <option data-countryCode="FO" value="298">Faroe Islands (+298)</option>
                                        <option data-countryCode="FJ" value="679">Fiji (+679)</option>
                                        <option data-countryCode="FI" value="358">Finland (+358)</option>
                                        <option data-countryCode="FR" value="33">France (+33)</option>
                                        <option data-countryCode="GF" value="594">French Guiana (+594)</option>
                                        <option data-countryCode="PF" value="689">French Polynesia (+689)</option>
                                        <option data-countryCode="GA" value="241">Gabon (+241)</option>
                                        <option data-countryCode="GM" value="220">Gambia (+220)</option>
                                        <option data-countryCode="GE" value="7880">Georgia (+7880)</option>
                                        <option data-countryCode="DE" value="49">Germany (+49)</option>
                                        <option data-countryCode="GH" value="233">Ghana (+233)</option>
                                        <option data-countryCode="GI" value="350">Gibraltar (+350)</option>
                                        <option data-countryCode="GR" value="30">Greece (+30)</option>
                                        <option data-countryCode="GL" value="299">Greenland (+299)</option>
                                        <option data-countryCode="GD" value="1473">Grenada (+1473)</option>
                                        <option data-countryCode="GP" value="590">Guadeloupe (+590)</option>
                                        <option data-countryCode="GU" value="671">Guam (+671)</option>
                                        <option data-countryCode="GT" value="502">Guatemala (+502)</option>
                                        <option data-countryCode="GN" value="224">Guinea (+224)</option>
                                        <option data-countryCode="GW" value="245">Guinea - Bissau (+245)</option>
                                        <option data-countryCode="GY" value="592">Guyana (+592)</option>
                                        <option data-countryCode="HT" value="509">Haiti (+509)</option>
                                        <option data-countryCode="HN" value="504">Honduras (+504)</option>
                                        <option data-countryCode="HK" value="852">Hong Kong (+852)</option>
                                        <option data-countryCode="HU" value="36">Hungary (+36)</option>
                                        <option data-countryCode="IS" value="354">Iceland (+354)</option>
                                        <option data-countryCode="IN" value="91">India (+91)</option>
                                        <option data-countryCode="ID" value="62">Indonesia (+62)</option>
                                        <option data-countryCode="IR" value="98">Iran (+98)</option>
                                        <option data-countryCode="IQ" value="964">Iraq (+964)</option>
                                        <option data-countryCode="IE" value="353">Ireland (+353)</option>
                                        <option data-countryCode="IL" value="972">Israel (+972)</option>
                                        <option data-countryCode="IT" value="39">Italy (+39)</option>
                                        <option data-countryCode="JM" value="1876">Jamaica (+1876)</option>
                                        <option data-countryCode="JP" value="81">Japan (+81)</option>
                                        <option data-countryCode="JO" value="962">Jordan (+962)</option>
                                        <option data-countryCode="KZ" value="7">Kazakhstan (+7)</option>
                                        <option data-countryCode="KE" value="254">Kenya (+254)</option>
                                        <option data-countryCode="KI" value="686">Kiribati (+686)</option>
                                        <option data-countryCode="KP" value="850">Korea North (+850)</option>
                                        <option data-countryCode="KR" value="82">Korea South (+82)</option>
                                        <option data-countryCode="KW" value="965">Kuwait (+965)</option>
                                        <option data-countryCode="KG" value="996">Kyrgyzstan (+996)</option>
                                        <option data-countryCode="LA" value="856">Laos (+856)</option>
                                        <option data-countryCode="LV" value="371">Latvia (+371)</option>
                                        <option data-countryCode="LB" value="961">Lebanon (+961)</option>
                                        <option data-countryCode="LS" value="266">Lesotho (+266)</option>
                                        <option data-countryCode="LR" value="231">Liberia (+231)</option>
                                        <option data-countryCode="LY" value="218">Libya (+218)</option>
                                        <option data-countryCode="LI" value="417">Liechtenstein (+417)</option>
                                        <option data-countryCode="LT" value="370">Lithuania (+370)</option>
                                        <option data-countryCode="LU" value="352">Luxembourg (+352)</option>
                                        <option data-countryCode="MO" value="853">Macao (+853)</option>
                                        <option data-countryCode="MK" value="389">Macedonia (+389)</option>
                                        <option data-countryCode="MG" value="261">Madagascar (+261)</option>
                                        <option data-countryCode="MW" value="265">Malawi (+265)</option>
                                        <option data-countryCode="MY" value="60">Malaysia (+60)</option>
                                        <option data-countryCode="MV" value="960">Maldives (+960)</option>
                                        <option data-countryCode="ML" value="223">Mali (+223)</option>
                                        <option data-countryCode="MT" value="356">Malta (+356)</option>
                                        <option data-countryCode="MH" value="692">Marshall Islands (+692)</option>
                                        <option data-countryCode="MQ" value="596">Martinique (+596)</option>
                                        <option data-countryCode="MR" value="222">Mauritania (+222)</option>
                                        <option data-countryCode="YT" value="269">Mayotte (+269)</option>
                                        <option data-countryCode="MX" value="52">Mexico (+52)</option>
                                        <option data-countryCode="FM" value="691">Micronesia (+691)</option>
                                        <option data-countryCode="MD" value="373">Moldova (+373)</option>
                                        <option data-countryCode="MC" value="377">Monaco (+377)</option>
                                        <option data-countryCode="MN" value="976">Mongolia (+976)</option>
                                        <option data-countryCode="MS" value="1664">Montserrat (+1664)</option>
                                        <option data-countryCode="MA" value="212">Morocco (+212)</option>
                                        <option data-countryCode="MZ" value="258">Mozambique (+258)</option>
                                        <option data-countryCode="MN" value="95">Myanmar (+95)</option>
                                        <option data-countryCode="NA" value="264">Namibia (+264)</option>
                                        <option data-countryCode="NR" value="674">Nauru (+674)</option>
                                        <option data-countryCode="NP" value="977">Nepal (+977)</option>
                                        <option data-countryCode="NL" value="31">Netherlands (+31)</option>
                                        <option data-countryCode="NC" value="687">New Caledonia (+687)</option>
                                        <option data-countryCode="NZ" value="64">New Zealand (+64)</option>
                                        <option data-countryCode="NI" value="505">Nicaragua (+505)</option>
                                        <option data-countryCode="NE" value="227">Niger (+227)</option>
                                        <option data-countryCode="NG" value="234">Nigeria (+234)</option>
                                        <option data-countryCode="NU" value="683">Niue (+683)</option>
                                        <option data-countryCode="NF" value="672">Norfolk Islands (+672)</option>
                                        <option data-countryCode="NP" value="670">Northern Marianas (+670)</option>
                                        <option data-countryCode="NO" value="47">Norway (+47)</option>
                                        <option data-countryCode="OM" value="968">Oman (+968)</option>
                                        <option data-countryCode="PW" value="680">Palau (+680)</option>
                                        <option data-countryCode="PA" value="507">Panama (+507)</option>
                                        <option data-countryCode="PG" value="675">Papua New Guinea (+675)</option>
                                        <option data-countryCode="PY" value="595">Paraguay (+595)</option>
                                        <option data-countryCode="PE" value="51">Peru (+51)</option>
                                        <option data-countryCode="PH" value="63">Philippines (+63)</option>
                                        <option data-countryCode="PL" value="48">Poland (+48)</option>
                                        <option data-countryCode="PT" value="351">Portugal (+351)</option>
                                        <option data-countryCode="PR" value="1787">Puerto Rico (+1787)</option>
                                        <option data-countryCode="QA" value="974">Qatar (+974)</option>
                                        <option data-countryCode="RE" value="262">Reunion (+262)</option>
                                        <option data-countryCode="RO" value="40">Romania (+40)</option>
                                        <option data-countryCode="RU" value="7">Russia (+7)</option>
                                        <option data-countryCode="RW" value="250">Rwanda (+250)</option>
                                        <option data-countryCode="SM" value="378">San Marino (+378)</option>
                                        <option data-countryCode="ST" value="239">Sao Tome &amp; Principe (+239)</option>
                                        <option data-countryCode="SA" value="966">Saudi Arabia (+966)</option>
                                        <option data-countryCode="SN" value="221">Senegal (+221)</option>
                                        <option data-countryCode="CS" value="381">Serbia (+381)</option>
                                        <option data-countryCode="SC" value="248">Seychelles (+248)</option>
                                        <option data-countryCode="SL" value="232">Sierra Leone (+232)</option>
                                        <option data-countryCode="SG" value="65">Singapore (+65)</option>
                                        <option data-countryCode="SK" value="421">Slovak Republic (+421)</option>
                                        <option data-countryCode="SI" value="386">Slovenia (+386)</option>
                                        <option data-countryCode="SB" value="677">Solomon Islands (+677)</option>
                                        <option data-countryCode="SO" value="252">Somalia (+252)</option>
                                        <option data-countryCode="ZA" value="27">South Africa (+27)</option>
                                        <option data-countryCode="ES" value="34">Spain (+34)</option>
                                        <option data-countryCode="LK" value="94">Sri Lanka (+94)</option>
                                        <option data-countryCode="SH" value="290">St. Helena (+290)</option>
                                        <option data-countryCode="KN" value="1869">St. Kitts (+1869)</option>
                                        <option data-countryCode="SC" value="1758">St. Lucia (+1758)</option>
                                        <option data-countryCode="SD" value="249">Sudan (+249)</option>
                                        <option data-countryCode="SR" value="597">Suriname (+597)</option>
                                        <option data-countryCode="SZ" value="268">Swaziland (+268)</option>
                                        <option data-countryCode="SE" value="46">Sweden (+46)</option>
                                        <option data-countryCode="CH" value="41">Switzerland (+41)</option>
                                        <option data-countryCode="SI" value="963">Syria (+963)</option>
                                        <option data-countryCode="TW" value="886">Taiwan (+886)</option>
                                        <option data-countryCode="TJ" value="7">Tajikstan (+7)</option>
                                        <option data-countryCode="TH" value="66">Thailand (+66)</option>
                                        <option data-countryCode="TG" value="228">Togo (+228)</option>
                                        <option data-countryCode="TO" value="676">Tonga (+676)</option>
                                        <option data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
                                        <option data-countryCode="TN" value="216">Tunisia (+216)</option>
                                        <option data-countryCode="TR" value="90">Turkey (+90)</option>
                                        <option data-countryCode="TM" value="7">Turkmenistan (+7)</option>
                                        <option data-countryCode="TM" value="993">Turkmenistan (+993)</option>
                                        <option data-countryCode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
                                        <option data-countryCode="TV" value="688">Tuvalu (+688)</option>
                                        <option data-countryCode="UG" value="256">Uganda (+256)</option>
                                         <option data-countryCode="GB" value="44">UK (+44)</option>
                                        <option data-countryCode="UA" value="380">Ukraine (+380)</option>
                                        <option data-countryCode="AE" value="971">United Arab Emirates (+971)</option>
                                        <option data-countryCode="UY" value="598">Uruguay (+598)</option>
                                         <option data-countryCode="US" value="1">USA (+1)</option>
                                        <option data-countryCode="UZ" value="7">Uzbekistan (+7)</option>
                                        <option data-countryCode="VU" value="678">Vanuatu (+678)</option>
                                        <option data-countryCode="VA" value="379">Vatican City (+379)</option>
                                        <option data-countryCode="VE" value="58">Venezuela (+58)</option>
                                        <option data-countryCode="VN" value="84">Vietnam (+84)</option>
                                        <option data-countryCode="VG" value="84">Virgin Islands - British (+1284)</option>
                                        <option data-countryCode="VI" value="84">Virgin Islands - US (+1340)</option>
                                        <option data-countryCode="WF" value="681">Wallis &amp; Futuna (+681)</option>
                                        <option data-countryCode="YE" value="969">Yemen (North)(+969)</option>
                                        <option data-countryCode="YE" value="967">Yemen (South)(+967)</option>
                                        <option data-countryCode="ZM" value="260">Zambia (+260)</option>
                                        <option data-countryCode="ZW" value="263">Zimbabwe (+263)</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="sociallogin-field  form-group primary_mobile_number" style="width: 59%;clear: none;">

    <!--<label class="required" for="email"><?php echo __('Primary Mobile Number '); ?></label>-->
                            <div class="input-box">
                                <input type="text" id="primary_mobile_number" placeholder="<?php echo __("Primary Mobile Number") ?>" name="primary_mobile_number" value="" class="input-text required-entry validate-digits validate-length minimum-length-11 maximum-length-11" autocomplete="off" aria-required="true">
                            </div>
                        </div>
                    </li>
			</ul>

				<!-- error invalid create ACC -->
				<div id="magestore-invalid-mobile-validate" class="magestore-invalid-email"></div>
				<div class="magestore-create-popup-button">

					<button id="magestore-button-sociallogin-mobile-validate" class="button" title="<?php echo __('Validate');?>" type="submit">
						<span><span><?php echo __('Validate')?></span></span>
					</button>


				</div>
                    <button id="magestore-button-sociallogin-mobile-call" class="button-call" title="<?php echo __('Call Me');?>">
                        <span><span><?php echo __('Call Me')?></span></span>
                    </button>
			</form>

            <form id="magestore-sociallogin-form-otp-validate" style="display:none" class="magestore-login-form-popup" autocomplete="off">
				<ul class="form-list">
                                                         <li class="fields">
                        <div class="sociallogin-field  form-group primary_mobile_number" style="width: 50%;clear: none;">

    <!--<label class="required" for="email"><?php echo __('Primary Mobile Number '); ?></label>-->
                            <div class="input-box">
                             <input type="text" id="otp-create" placeholder="<?php echo __('OTP');?>" name="otp-create" value="" class="input-text required-entry validate-digits validate-length minimum-length-4" autocomplete="off" aria-required="true">
                              <input type="hidden" id="pin_id_create" placeholder="<?php echo __('OTP');?>" name="otp_primary_mobile_number_loyalty" value="" class="" autocomplete="off" aria-required="true">
                                <input type="hidden" id="message_id_create" placeholder="<?php echo __('OTP');?>" name="otp_primary_mobile_number_loyalty_call" value="" class="" autocomplete="off" aria-required="true">
                            </div>
                        </div>
                        <div class="sociallogin-field  form-group primary_mobile_number" style="width: 50%;clear: none;">



					<button id="magestore-button-sociallogin-otp-validate" class="button" title="<?php echo __('Submit');?>" type="submit">
						<span><span><?php echo __('Submit')?></span></span>
					</button>


                        </div>
                    </li>
			</ul>

				<!-- error invalid create ACC -->
				<div id="magestore-invalid-otp-validate" class="magestore-invalid-email"></div>

			</form>
            <form id="magestore-sociallogin-form-create" style="display: none;" class="magestore-login-form-popup" autocomplete="off">
				<ul class="form-list">

					<li class="fields">
						<div class="name-firstname sociallogin-field form-group">
							<!--<label class="required" for="firstname"><?php echo __('First Name ');?></label>-->
							<div class="input-box">
								<input id="socialogin.firstname" placeholder="<?php echo __('First Name');?>" class="input-text required-entry" type="text" title="First Name" value="" name="firstname" autocomplete="off">
							</div>
						</div>
						<div class="name-lastname sociallogin-field  form-group right">
							<!--<label class="required" for="lastname"><?php echo __('Last Name ');?></label>-->
							<div class="input-box">
								<input id="socialogin.lastname" placeholder="<?php echo __('Last Name');?>" class="input-text required-entry" type="text" title="Last Name" value="" name="lastname" autocomplete="off">
							</div>
						</div>
					</li>
					<li class="fields">
						<div class="sociallogin-field  form-group email">
							<!--<label class="required" for="email"><?php echo __('Email ');?></label>-->
							<div class="input-box">
								<input id="socialogin.email" placeholder="<?php echo __('Email Address');?>" class="input-text required-entry validate-email" type="text" title="Email Address" value="" name="email" autocomplete="off">
							</div>
						</div>
					</li>


                                   <li class="fields">
						<div class="prefered_contact sociallogin-field form-group">
							<div class="required"><?php echo __('Please select prefered contact.');?></div>
							<div class="input-box">
                                                            <input type="checkbox" name="prefered_contact[]" value="211" /> <?php echo __('Call');?>
                                                            <input type="checkbox" name="prefered_contact[]" value="212" /> <?php echo __('SMS');?>
                                                            <input type="checkbox" name="prefered_contact[]" value="213"  class=" validate-one-required-by-name"/><?php echo __('Email');?>
							</div>
						</div>
						<div class="prefered_language sociallogin-field  form-group right">

							<div class="input-box">
                                                            <select id="prefered_language" name="prefered_language"  class="input-text required-entry">
                                                                <option value="" selected="selected"><?php echo __('Please select prefered language.');?></option>
                                                                <option value="209">English</option>
                                                                <option value="210">اللغة العربية</option>
                                                            </select>
                                                        </div>
						</div>
					</li>
					<li class="fields">
						<div class="form-group sociallogin-field">
							<!--<label class="required" for="pass"><?php echo __('New Password ');?></label>-->
							<div class="input-box">
								<input id="socialogin.pass" placeholder="<?php echo __('Password');?>" class="input-text required-entry validate-password" type="password" title="Password" value="" name="pass" autocomplete="off">
							</div>
						</div>
						<div class="sociallogin-field  form-group  right">
							<!--<label class="required" for="pass-confirm"><?php echo __('Confirm Password');?></label>-->
							<div class="input-box">
								<input id="socialogin.pass.confirm" placeholder="<?php echo __('Confirm Password');?>" class="input-text required-entry validate-cpassword" type="password" title="Confirm Password" value="" name="passConfirm" autocomplete="off">
							</div>
						</div>
					</li>
				</ul>
				<!-- image ajax -->
				<div id="progress_image_login_create" class="ajax-login-image" style="display: none">
				</div>
				<!-- error invalid create ACC -->
				<div id="magestore-invalid-create" class="magestore-invalid-email"></div>
				<div class="magestore-create-popup-button">

					<button id="magestore-button-sociallogin-create" class="button popup_click_btn" title="<?php echo __('Register');?>" type="button">
						<span><span><?php echo __('Register')?></span></span>
					</button>
					<!--<a id="magestore-create-back" href="javascript:void(0);">
							<?php echo __('Back to Form Login') ?>
					</a>-->
				</div>
			</form>
		</div>
		<!-- end code create account -->
		<!-- social login -->
		<div id="magestore-login-social">
			<!--<h3 class="magestore-loign-h3"><?php echo __("Sign in with");?></h3>-->
			<!-- default -->
			<ul class="magestore-login-social">
			<?php foreach($arrayButton as $key => $button):?>	
				<?php $check =$button['check'];?>
				<?php if($check): unset($temp[$key]);?>					
					<li class="button popup"> <?php echo $button['button']?> </li>
					
					<script type="text/javascript">
									require([
									'prototype' 
									], function  () {
										
										if($('<?php echo $button['id'] ?>' ))
										$('<?php echo $button['id'] ?>').addClassName('visible');
									});
					</script>	
					<?php ++$countMain ;?>			
				<?php endif;?>
				<?php if($countMain == $numberShow){break;} ?>
			<?php endforeach;?>  		
			</ul>			
		</div>		
		
        
		<?php if(count($temp)):?>
			<?php $noEmpty = false;?>
			<?php foreach($temp as $tem):?>
			<?php if($tem['check']):?>
			<?php $noEmpty = true;?>
			<?php endif;?>
			<?php endforeach;?>
			<?php if($noEmpty):?>
			<!-- other login -->
			<div class="sociallogin-other"  style="text-align: right;">
				<div id="sociallogin-other-div-popup">
					<div id="sociallogin-other-div-popup-hover" style="float: right; display: block;">
						<a id="sociallogin-other-a-popup" style="text-decoration: none;"><span class="sociallogin-other-span"><?php echo __('Other Login') ?></span><span class="sociallogin-other-span-img-popup"></span></a>										
						
						<ul class="sociallogin-other-button-popup" id="sociallogin-other-button-popup" style="display:none;">
						<?php foreach($temp as $button):?>				
							<?php $check = $button['check']; ?>
							<?php if($check): $count ++;?>				
								<li class="button other-button"> <?php echo $button['button'] ?> </li>
								<script type="text/javascript">
									require([
									'prototype' 
									], function  () {
										
										$('<?php echo $button['id'] ?>').addClassName('non-visible');
									});
								</script>					
							<?php endif;?>			
						<?php endforeach;?>  
						</ul>
					</div>					
				</div>
			</div>	
				

			<?php endif; ?>
			<?php endif; ?>
            
         
         	<div id="forgotten-and-register" class="text-center">
                <span id="reset-link" class="block__row">
                    <?php echo __('Forgot your password?') ?><a id="magestore-forgot-password" title="Reset Password" href="javascript:void(0);"><strong><?php echo __('Reset Password') ?></strong></a>
                </span>
                 <?php echo __('Don’t have an account?') ?> <a id="magestore-sociallogin-create-new-customer" title="Sign up" href="javascript:void(0);"><strong><?php echo __('Sign up') ?></strong></a>
        	</div>   
                 </div>
	</div>

	<script type="text/javascript">

	try{
		<?php if (in_array("popup", $this->getShownPositions())):?>
		require(['prototype',
			'LightboxSocial'
			], function  () {
	
	});	
		<?php endif; ?>

	}catch(exception)
	{ 
		alert(exception);
	}		
	</script>
	
	<script type="text/javascript">
	require(['PopupLogin','prototype' ], function( LoginPopup){
		Event.observe(window, 'load', function() {
			var options = {                 
	            login_url  : "<?php echo $this->getPopupLoginUrl();?>",
	            send_pass_url : "<?php echo $this->getPopupSendPass();?>",
	            otp_url : "<?php echo $this->getPopupOtp();?>",
	            reset_url : "<?php echo $this->getResetPassword();?>",
	            create_url : "<?php echo $this->getPopupCreateAcc();?>",
	            baseurl :"<?php echo $this->getBaseUrl();?>"
	        };
	        Login = new LoginPopup(options);
		});
	});
	</script>
        
        <script type="text/javascript">
               require([
                'jquery','Magento_Ui/js/modal/modal','mage/mage'
            ], function ($) {
                'use strict';
                $(document).ready(function () {
                    var dataForm = $('#magestore-sociallogin-form-mobile-validate');
                    dataForm.mage('validation', {});
                   $('#magestore-sociallogin-form-mobile-validate').submit(function () {
                           if (dataForm.validation('isValid')){
                       
                              var isd = $("#isd_code").val();
                         var  mobile= $("#primary_mobile_number").val();
                      var params = {phone: mobile,isd:isd};                    
            $.ajax({
                type: 'POST',
                url: '<?php echo $block->getUrl('loyalty/customer/sentotp'); ?>',
                data: params,
                showLoader: true,
                success: function (data) {
                    var messageData = JSON.parse(data);
            
                    if (messageData.success == true) {
                        
                            $("#pin_id_create").val(messageData.pinId);
                            $("#magestore-sociallogin-form-mobile-validate").hide();
                            $("#magestore-sociallogin-form-otp-validate").show();
                    } else {
                        $("#magestore-invalid-mobile-validate").html(messageData.message);
                    }
                }

            });
   
                 }
                           return false;
                        });

                    $("#magestore-button-sociallogin-mobile-call").click(function () {
                        var isd = $("#isd_code").val();
                        var  mobile= $("#primary_mobile_number").val();
                        var params = {phone: mobile,isd:isd};


                        $.ajax({
                            type: 'POST',
                            url: '<?php echo $block->getUrl('loyalty/customer/call'); ?>',
                            data: params,
                            showLoader: true,
                            success: function (data) {
                                var messageData = JSON.parse(data);

                                if (messageData.success == true) {

                                    $("#message_id_create").val(messageData.messageId);
                                    $("#magestore-sociallogin-form-mobile-validate").hide();
                                    $("#magestore-sociallogin-form-otp-validate").show();
                                } else {
                                    $("#magestore-invalid-mobile-validate").html(messageData.message);
                                }
                            }

                        });
                    });

                        
               var dataFormOtp = $('#magestore-sociallogin-form-otp-validate');
            dataFormOtp.mage('validation', {});
              $("#magestore-sociallogin-form-otp-validate").submit(function () {
                 var isd = $("#isd_code").val();
                         var  mobile= $("#primary_mobile_number").val();
                        var pinId= $("#pin_id_create").val();
                        var messageId= $("#message_id_create").val();

                        var otp= $("#otp-create").val();
                   
             
            
                  if (dataFormOtp.validation('isValid')){
                          
                           var url = "<?php echo $this->getUrl('loyalty/customer/verifyOtp'); ?>";
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {mobile: mobile,pinId:pinId,otp:otp,isd:isd},
                    showLoader: true,
                    cache: false,
                    success: function (result) {
                          var response = JSON.parse(result);
                          if(response.type=='error'){
                                $("#magestore-invalid-otp-validate").html(response.message);
                          }else{
                                $("#magestore-sociallogin-form-mobile-validate").hide();
                                $("#magestore-sociallogin-form-otp-validate").hide();
                                $("#magestore-sociallogin-form-create").show();
                                $("#go-back").show();
                           
                          }
                      
                    }
                });
                      var url = "<?php echo $this->getUrl('loyalty/customer/verifyOtpCall'); ?>";
                      $.ajax({
                          url: url,
                          type: "POST",
                          data: {mobile: mobile,messageId:messageId,otp:otp,isd:isd},
                          showLoader: true,
                          cache: false,
                          success: function (result) {
                              var response = JSON.parse(result);
                              if(response.type=='error'){
                                  $("#magestore-invalid-otp-validate").html(response.message);
                              }else{
                                  $("#magestore-sociallogin-form-mobile-validate").hide();
                                  $("#magestore-sociallogin-form-otp-validate").hide();
                                  $("#magestore-sociallogin-form-create").show();
                                  $("#go-back").show();

                              }

                          }
                      });
                  }
                   return false;
               });
               
               $("#go-back").click(function(){
 $("#magestore-sociallogin-form-mobile-validate").show();
                                $("#magestore-sociallogin-form-otp-validate").hide();
                                $("#magestore-sociallogin-form-create").hide();
                                $("#go-back").hide();
                                $("#otp-create").val('');
});
                });
                        });
        </script>
