<div class="gourmet-notify">
	<?php /* do not remove out-notify class*/ ?>
	<a href='javascript:void(0)' class="action primary out-notify" data-alert='<?php echo $block->getAlertUrl(); ?>'><?php echo __('Notify me'); ?></a>
</div>