<?php if(!$block->isCustomerLoggedIn()): ?>
<div class="hidden" id="gourmet-alert-container">
	<div class="gourmet-alert-modal">
		<div class="gourmet-alert-wrapper">
			<form data-role="gourmet-guest-notofy-form">
				<div class="input-wrappers">
					<input name="email" type="email" placeholder="Email Address" data-validate="{required:true, 'validate-email':true}" value="" />
				</div>
			</form>
		</div>
	</div>
</div>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        "*": {
			"gourmetAlert":{
        		"loggedIn" : <?php echo $block->isCustomerLoggedIn() ? 1 : 0; ?>
            },
            "gourmetAlertCheck":{}
        }
    }        
</script>