<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title><?php echo $this->pageTitle?></title>
    <base href="<?php echo $this->getViewFileUrl()?>" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="*"/>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>
<style>
.page-main {
    padding: 97px 334px !important;
}
.maintenancemode{width: 700px;
    height: auto;}
</style>

<body>	
    <main class="page-main">
		<img class="maintenancemode" src="https://www.gourmetegypt.com/errors/maintenancemode/images/coming_soon.jpg" />
        <?php //require_once $contentTemplate; ?>
    </main>
</body>
</html>
