<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="payment-method-getCard-on-delivery" class="block__row payment__method">
    <div class="payment-method block__row">
        <div class="payment-method-title field choice">
            <input type="radio"
                   name="payment[method]"
                   class="radio"
                   data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
            <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
        </div>
		<p data-bind="html: getMailingAddress()"></p>
        <div class="payment-method-content">
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="payment-method-billing-address">
                <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <!-- ko if: getMailingAddress() || getPayableTo() -->
            <dl class="items check payable">
                <!-- ko if: getPayableTo() -->
                <dt class="title"><!-- ko i18n: 'Make Check payable to:' --><!-- /ko --></dt>
                <dd class="content"><!-- ko text: getPayableTo() --><!-- /ko --></dd>
                <!-- /ko -->
                <!-- ko if: getMailingAddress() -->
                <dt class="title"><!-- ko i18n: 'Send Check to:' --><!-- /ko --></dt>
                <dd class="content">
                    <address class="checkmo mailing address" data-bind="html: getMailingAddress()"></address>
                </dd>
                <!-- /ko -->
            </dl>
            <!-- /ko -->
            <div class="checkout-agreements-block">
                <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button class="action primary checkout"
                            type="submit"
                            data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                            disabled>
                        <span data-bind="i18n: 'Place Order'"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
        