
<?php
$option = $block->getOption();
$productId = $block->getProduct()->getId();
$class = ($option->getIsRequire()) ? ' required' : '';
?>
<div class="field<?= /* @escapeNotVerified */  $block->escapeHtmlAttr($class); ?>">
    <label class="label" for="select_<?= $block->escapeHtmlAttr($productId . '_' .$option->getId()) ?>">
        <span><?=  $block->escapeHtml($option->getTitle()) ?></span>
    </label>
    <div class="control">
        <?= $block->getValuesHtml() ?>
        <?php if ($option->getIsRequire()): ?>
            <?php if ($option->getType() == \Magento\Catalog\Model\Product\Option::OPTION_TYPE_RADIO || $option->getType() == \Magento\Catalog\Model\Product\Option::OPTION_TYPE_CHECKBOX): //phpcs:ignore?>
                <span id="options-<?= $block->escapeHtmlAttr($productId . '-' .$option->getId()) ?>-container"></span>
            <?php endif; ?>
        <?php endif;?>
    </div>
</div>
<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){
    
    $(window).on('load', function() {
    reloadOption();
    });
     function reloadOption() {

   $('.product-custom-option').trigger("change");
 }
 });
</script>