<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>

<?php
if(!isset($_SESSION["store"])){
	$_SESSION["store"] = 7;
}
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_labelsBlock = $block->getLayout()->createBlock('Gourmet\Assist\Block\Labels');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?php /* @escapeNotVerified */
            echo __('We can\'t find products matching the selection.') ?></div>
    </div>
<?php else: ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$catblock = $objectManager->create('Magento\Catalog\Block\Category\View');
?>
<?php $a = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>
<?php if (strpos($a, 'catalogsearch') === false) { ?>
<?php
$catId = $this->helper('Magento\Catalog\Helper\Data')->getCategory()->getId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$modelCatRep = $objectManager->create('Magento\Catalog\Model\CategoryRepository');
$categoryObj = $modelCatRep->get($catId);
$hasChildren = $categoryObj->getChildrenCategories();
$rootCat = $categoryObj->getParentCategory()->getName();
$currentCat = $categoryObj->getName(); ?>
<?php $_rootproductCollectionCount = $_productCollection->count(); ?>
<?php $count = ($_rootproductCollectionCount > 100 ? "100+" : $_rootproductCollectionCount) ?>
<!--div class="cat-menu">
    
    <div class="cat-menu-parent"><?php echo $categoryObj->getName(); ?></div>
	<?php $catgoryName = ($categoryObj->getName() ==  'Recipes') ? $count .' '.__('Recipes') : $count .' '.__('Products') ?>
    <div class="total-products"><?php echo $catgoryName; ?></div>	

    <div class="col-lg-12 text-center top-category-links">
        <ul>
            <li class="active"><a href="javascript:void(0);"><?php echo __('All'); ?></a></li>
            <?php foreach ($hasChildren as $subcategorie) : ?>
                <li><a href="<?php echo $subcategorie->getUrl(); ?>"> <?php echo $subcategorie->getName(); ?> </a></li>
            <?php endforeach; ?>
        </ul>
        
        <div class="topMoreCategoriesLink">
            <a href="javascript:void(0)" ><?php echo __('More'); ?></a>
        </div>
        
        <div class="topCategoriesCollapseAll">
            <a href="javascript:void(0)">&nbsp;</a>
        </div> 
        
    </div>
    
</div-->
<?php if ($catblock ->isContentMode() || $catblock ->isMixedMode()): ?>
    <div class="category-cms" style="margin-top:70px;">
        <?php echo $catblock ->getCmsBlockHtml(); ?>
    </div>
<?php endif; ?>
<?php } ?>
    <div class="category-top-wrapper">
        <div class="category-top-inner-wrapper">
            <div class="row">
                <div class="col-xs-6 col-sm-2 w50">
                    <?php $view = $this->getRequest()->getFullActionName(); ?>
					<?php if($view != 'catalogsearch_advanced_result') echo $block->getChildBlock('toolbar')->setDisplayArea('count')->toHtml(); ?>
                    <div class="block__row hide-on-sticky hide">
                        <?php echo $block->getChildHtml('sticky.bread'); ?>
                    </div>
                </div>

                <div class="col-sm-8 show-on-sticky text-center tm10">
                    <?php echo $block->getChildHtml('sticky.bread'); ?>
                </div>

                <div class="col-xs-6 col-sm-10 hide-on-sticky w50">
                    <div class="right-filter-sortby hide-on-sticky mobileFilterPopup">
                        <button class="remove_item removeFiterShown" data-role="closeBtn" type="button">
                            <span>Close</span>
                        </button>
                        <?php echo $block->getAdditionalHtml() ?>
						<?php $currentUrl = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>
						<?php if(!(strpos ( $currentUrl , 'recipes'))): ?>
                        <?php echo $block->getChildBlock('toolbar')->setDisplayArea('sorter')->toHtml(); ?>
						<?php endif; ?>

                    </div>
                    <div class="mobFilterIcon">
                        <a href="javascript:void(0);" class="filter-icon activeFilter">
                            <img src="<?php echo $this->getViewFileUrl('images/filter-icon.png'); ?>" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-2 show-on-sticky">
                    <div class="show-on-sticky">
                        <a href="#" class="btn btn__sticky-filter scroll__top">Show filters</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */
    echo $viewMode; ?> products-<?php /* @escapeNotVerified */
    echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <?php
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $cart = $objectManager->get('\Magento\Checkout\Model\Cart');
        $items = $cart->getQuote()->getAllItems();
        $count = 0;
        ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>

                <?php /* @escapeNotVerified */
                $prod_id_cl = 'prod-swatch-' . $_product->getId();
                if ($_product->getTypeId() == 'grouped') {
                    echo ($iterator++ == 1) ? '<li class="item product product-item recipe-lists ' . $prod_id_cl . '">' : '</li><li class="item product product-item recipe-lists ' . $prod_id_cl . '">';
                } else {
                    echo ($iterator++ == 1) ? '<li class="item product product-item ' . $prod_id_cl . '">' : '</li><li class="item product product-item ' . $prod_id_cl . '">';
                }
                ?>
				<?php
				$inventory = 0;
				if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
					$cookie = $_COOKIE["Gourmet_Location"];
                    $store = $cookie;
					$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId());
					$storeId = 'store_'.$store;
					$inventory = $productStockObj[$storeId];
				} else {
					$cookie = 7;
                    $store = $cookie;
					$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId());
					$storeId = 'store_'.$store;
					$inventory = $productStockObj[$storeId];
				}
				?>
				<?php
				$product_id = $_product->getId();
				$minQty = $productStockObj['min_qty'];
				?>

                <div class="product__info">
                    <div class="product-item-info" data-container="product-grid">
                        <?php
                        $productImage = $block->getImage($_product, $image);
                        if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;"';
                        }
                        ?>
                        <?php // Product Image ?>
                        <div class="upperRelativeDiv <?php echo $_product->getId(); ?>">

                            <a href="<?php /* @escapeNotVerified */
                            echo $_product->getProductUrl() ?>" onclick="window.location.href = '<?php /* @escapeNotVerified */
                            echo $_product->getProductUrl() ?>';" class="product photo product-item-photo" onfocus="klevu_eventHandler.handleProductFocusEvent('kuAddtocart-<?php echo $_product->getId(); ?>', event);" 
                            onmousedown="return klevu_analytics.trackClickedProduct(event, {data: {code: '<?php echo $_product->getId(); ?>',url: '<?php /* @escapeNotVerified */
                            echo rawurlencode($_product->getProductUrl()) ?>',name: '<?php /* @escapeNotVerified */
                                            echo rawurlencode($_helper->productAttribute($_product, $_product->getName(), 'name')); ?>',salePrice: '<?php echo $_product->getFinalPrice(); ?>',rating: '',position: <?php echo $count; ?>,category: '',sku: '<?php echo $_product->getSku(); ?>'},apiKey: null});" 
                           onkeydown="return klevu_eventHandler.handleElementKeydownEvent(event, {data: {code: '<?php echo $_product->getId(); ?>',url: '<?php /* @escapeNotVerified */
                            echo rawurlencode($_product->getProductUrl()) ?>',name: '<?php /* @escapeNotVerified */
                                            echo rawurlencode($_helper->productAttribute($_product, $_product->getName(), 'name')); ?>',salePrice: '<?php echo $_product->getFinalPrice(); ?>',rating: '',position: <?php echo $count; ?>,category: '',sku: '<?php echo $_product->getSku(); ?>'},apiKey: null}, klevu_analytics.trackClickedProduct);" onclick="klevu_analytics.stopClickDefault( event );"
                                            tabindex="-1">

                                <?php echo $productImage->toHtml(); ?>
                                <div class="product-qty-wrapper" style="display:none;">
                                    <div class="update_qty">
                                        <span class="product-qty-inCart"></span>
                                        <span class="in-your-cart">in your cart</span>
                                    </div>
                                </div>
                            </a>

                            <?php $prod_label = $_labelsBlock->fetchLabel($_product, $inventory);
                            if (!empty($prod_label)):
                                ?>
							<?php if($_product->getTypeId() != 'grouped') { ?>
                                <?php if($prod_label == 'Special Offer') { ?>
                                    <div class="offer-tag-sp"><?php echo $prod_label; ?></div>
								<?php }elseif($prod_label == 'Only In Ramdan'){ ?>
										<div class="offer-tag offer-tag-ramadan"><?php echo $prod_label; ?></div>
								<?php }elseif($prod_label == 'New'){ ?>
										<div class="offer-tag offer-tag-new"><?php echo $prod_label; ?></div>	
								<?php }else{ ?>
										<div class="offer-tag"><?php echo $prod_label; ?></div>
								<?php } ?>
							<?php } ?>
                            <?php endif; ?>
                            <?php if ($_product->getData('enable_dp_tag')){ ?>
                                <div class="offer-tag-dp"><?php echo __('Double Points'); ?></div>
                            <?php   } ?>
                            <?php if($_product->getTypeId() == 'grouped') { ?>
                                <div class="offer-tag"><?php echo "Shop Recipe Now"; ?></div>
                            <?php } ?>

                            <?php
                            if ($_product->getTypeId() != 'grouped'):
                                $tagsWithCommas = $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_product);
                                $tags = '';
                                if ($tagsWithCommas) :
                                    $tags = explode(",", $tagsWithCommas);
                                    $t = 1;
                                    ?>
                                    <div class="allTagsContainer">
                                        <ul>
                                            <?php foreach ($tags as $tag): ?>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <?php $img = str_replace(" ", "-", strtolower(trim($tag))); ?>
                                                        <img src="<?php echo $this->getViewFileUrl('images/' . $img . '.png'); ?>"
                                                             alt="<?php echo $tag; ?>">
                                                        <span><?php echo $tag; ?></span>
                                                    </a>
                                                </li>
                                                <?php $t++;
                                                if ($t == 6) break; endforeach; ?>
                                        </ul>
                                    </div>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div><!--upperRelativeDiv-->
                        <div class="product details product-item-details">
                            <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            ?>
                            <div class="productDetail">
                                <div class="pild">
                                    <div class="product name product-item-name">
                                        <a class="product-item-link" onclick="window.location.href = '<?php /* @escapeNotVerified */
                            echo $_product->getProductUrl() ?>';" onfocus="klevu_eventHandler.handleProductFocusEvent('kuAddtocart-<?php echo $_product->getId(); ?>', event);" 
                            onmousedown="return klevu_analytics.trackClickedProduct(event, {data: {code: '<?php echo $_product->getId(); ?>',url: '<?php /* @escapeNotVerified */
                            echo rawurlencode($_product->getProductUrl()) ?>',name: '<?php /* @escapeNotVerified */
                                            echo rawurlencode($_helper->productAttribute($_product, $_product->getName(), 'name')); ?>',salePrice: '<?php echo $_product->getFinalPrice(); ?>',rating: '',position: <?php echo $count; ?>,category: '',sku: '<?php echo $_product->getSku(); ?>'},apiKey: null});" 
                           onkeydown="return klevu_eventHandler.handleElementKeydownEvent(event, {data: {code: '<?php echo $_product->getId(); ?>',url: '<?php /* @escapeNotVerified */
                            echo rawurlencode($_product->getProductUrl()) ?>',name: '<?php /* @escapeNotVerified */
                                            echo rawurlencode($_helper->productAttribute($_product, $_product->getName(), 'name')); ?>',salePrice: '<?php echo $_product->getFinalPrice(); ?>',rating: '',position: <?php echo $count; ?>,category: '',sku: '<?php echo $_product->getSku(); ?>'},apiKey: null}, klevu_analytics.trackClickedProduct);" onclick="klevu_analytics.stopClickDefault( event );"
                                            tabindex="-1"
                                           href="<?php /* @escapeNotVerified */
                                           echo $_product->getProductUrl() ?>">
                                            <?php /* @escapeNotVerified */
                                            echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                        </a>										
                                    </div>
									<div class="product-weight">	
											<?php echo $_product->getResource()->getAttribute('product_weight')->getFrontend()->getValue($_product); ?>	
										</div>
										
                                    <?php if ($_product->getTag() && $_product->getTypeId() == 'grouped'):
                                        $tags = $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_product); ?>
                                        <div class="block__row">
                                            <ul class="tag__list">
                                                <li class="product-tags">
                                                    <?php echo $tags; ?>
                                                </li>
                                            </ul>
                                        </div>
                                    <?php endif; ?>
                                    <div class="tier-price">
                                        <ul>
                                            <?php
                                            $tierPricesList = $_product->getPriceInfo()->getPrice('tier_price')->getTierPriceList();
                                            if ($tierPricesList && $inventory > $minQty):
                                                foreach ($tierPricesList as $index => $_price): ?>
                                                    <li>
                                                        <?php
                                                        $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
                                                        $tierPrice = trim($_price['price']); //Your Price
                                                        $formattedPrice = $priceHelper->currency($tierPrice, true, false);
                                                        $tax = $_price['price']->getAdjustmentAmounts();
                                                        $sumarTax = isset($tax['tax']) ? $tax['tax'] : 0;
                                                        $percentage = ceil(100 - ((100 / $_product->getFinalPrice()) * ($_price['price']->getBaseAmount() + $sumarTax)));
                                                        echo __(
                                                            'Buy %1 for %2 each and <strong class="benefit">save<span class="percent tier-%3">&nbsp;%4</span>%</strong>',
                                                            $_price['price_qty'],
                                                            $formattedPrice,
                                                            $index,
                                                            $percentage
                                                        );
                                                        ?>
                                                    </li>
                                                <?php endforeach; endif; ?>
                                        </ul>
                                    </div>
                                </div>
                                <div data-role="add-to-links"
                                     class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?php echo $addToBlock->setProduct($_product)->getChildHtml(); ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product__details">
                    <?php if ($_product->getTypeId() == 'grouped'): 
					$currentUrl = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
					if(!(strpos ( $currentUrl , 'catalogsearch'))):
					?>
					<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                    <?php endif; ?>
                    <?php endif; ?>
                    <?php echo $block->getProductDetailsHtml($_product); ?>
                    <div class="product-item-inner">
                        <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                            <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                <?php if (($_product->isSaleable() && (isset($inventory) && $inventory > $minQty)) || $_product->getTypeId() == 'grouped'): ?>
                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                    <?php
									$postParams = $block->getAddToCartPostParams($_product);
                                    $baseUrl = $this->getBaseUrl() . 'checkout/cart/add/';
                                    $cartUrl = $baseUrl . $postParams['data'][Action::PARAM_NAME_URL_ENCODED] . '/' . $postParams['data'][Action::PARAM_NAME_URL_ENCODED] . '/product/' . $_product->getId();
                                    ?>
                                    <form id="product_addtocart_form_<?php echo $_product->getId() ?>" onsubmit="return false;"
                                          data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $cartUrl; ?>" method="post">
                                        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */
                                        echo $postParams['data']['product']; ?>">
                                        <input type="hidden" name="<?php /* @escapeNotVerified */
                                        echo Action::PARAM_NAME_URL_ENCODED; ?>"
                                               value="<?php /* @escapeNotVerified */
                                               echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                        <?php echo $block->getBlockHtml('formkey') ?>

									<?php				
										$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
										$product = $_objectManager->get('\Magento\Catalog\Model\Product')->load($_product->getId());
										$options = $product->getOptions();
										$appState = $objectManager->get('\Magento\Framework\App\State');
										$currencysymbol = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
										$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();	
									?>
									<?php if(count($options) > 0) { ?>
									<?php
									$product = $objectManager->get('Magento\Catalog\Model\Product')->load($_product->getId());
									$customOptions = $objectManager->get('Magento\Catalog\Model\Product\Option')->getProductOptionCollection($product);
									$oldPrice = $product->getPrice();
									$basePrice = $product->getPrice();
									$finalPrice = $_product->getFinalPrice(); 
									if($product->getTierPrice()):
										foreach ($product->getTierPrice() as $tierPrice) {
											if($tierPrice['price_qty'] == 1):
												$finalPrice = $tierPrice['price'];
											endif;
										}					
									endif;
									
									?>
									<div class="custom-dropdowns-option">
										<?php $count = 1; 
										$countCustomOption = count($customOptions);
										foreach ($customOptions as $option):?> 
										<?php $values = $option->getValues();  ?>
										<?php switch ($option->getData()['type']) {
											case 'drop_down': 
												$values = $option->getValues(); ?>													
												<select class="sel-option product-custom-option-<?php echo $_product->getId() ?> admin__control-select" pro-id="<?php echo $_product->getId() ?>" id="<?php echo $_product->getId().$count ?>" data-selector="options[<?php echo $option->getId() ?>]" name="options[<?php echo $option->getId() ?>]">
													<?php foreach($values as $value):							
													$customPrice = $value->getData('default_price');
													$getprice = ($customPrice) ? $customPrice : 0;
													$sign = ($value->getData('default_price') < 0) ? '-' : '+';
													?>
													<option final-price="<?php echo $finalPrice; ?>" price-type="<?php echo $value->getData('price_type'); ?>" price="<?php echo $value->getData('default_price'); ?>" value="<?php echo $value->getData('option_type_id') ?>" data-orig="<?php echo $basePrice; ?>" data-type="<?php echo $sign; ?>" data-orig-price="<?php echo $basePrice; ?>" data-price="<?php echo $getprice; ?>"><?php echo $value->getTitle() ?>
													</option>								
													<?php endforeach; ?>
												</select>
										<?php break; } ?>
										<?php 
										if($count == $countCustomOption)
										{
											$count = 1;
										}
										$count++;
										?>											
										<?php endforeach; ?>
										<?php 
										$oldPrice = $_product->getPrice();
										$newPrice = ($product->getTierPrice()) ? $finalPrice : $_product->getFinalPrice();
										if ($oldPrice < $newPrice && $inventory > $minQty):
										?>				
										<script type="text/x-magento-init">
											{
												"#product_addtocart_form_<?php echo $product->getId() ?>": {
												"priceOptions": {
												"productId" : "<?php echo $product->getId() ?>",
												"optionConfig": <?php echo $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View\Options')->setProduct($product)->getJsonConfig();?>,
												"controlContainer": "#product_addtocart_form_<?php echo $product->getId() ?> .field",
												"priceHolderSelector": "[data-product-id=<?php echo $product->getId() ?>][data-role=priceBox]",
												"optionsSelector": ".product-custom-option-<?php echo $product->getId() ?>"
												}
												}
											}
										</script>
										<?php else:?>
										<script>
										require(['jquery', 'jquery/ui'], function($){ 
											var priceOldList = [];
											var priceNewList = [];
											var oldPrice = '<?php echo $_product->getPrice(); ?>';
											var newPrice = '<?php echo ($product->getTierPrice()) ? $finalPrice : $_product->getFinalPrice(); ?>';
											var currency = '<?php echo $currency; ?>';
											
											$('.product-custom-option-<?php echo $_product->getId() ?> ').each(function(){						
												var priceType = $(this).find('option:first').attr('price-type');						
												var deductPrice = $(this).find('option:first').attr('price');
												
												switch(priceType) {
													case 'percent':
															var nowOldPrice = (oldPrice*deductPrice)/100;
															priceOldList.push(nowOldPrice);
															var nowNewPrice = (newPrice*deductPrice)/100;							
															priceNewList.push(nowNewPrice);										
														break;
													case 'fixed':
														
														break;						
												}
											});
											var oldTotal =0;
											var newTotal =0;
											
											for (var i = 0; i < priceOldList.length; i++) {						
												oldTotal = parseFloat(oldTotal) + parseFloat(priceOldList[i]) ;
											}					
											for (var i = 0; i < priceNewList.length; i++) {
												newTotal = parseFloat(newTotal) + parseFloat(priceNewList[i]) ;
											}
											oldTotal = parseFloat(oldPrice) + parseFloat(oldTotal);
											newTotal = parseFloat(newPrice) + parseFloat(newTotal);
											$('[data-product-id=<?php echo $product->getId() ?>][data-role=priceBox] [data-price-type=oldPrice] span').text(currency + oldTotal.toFixed(2));
											$('[data-product-id=<?php echo $product->getId() ?>][data-role=priceBox] [data-price-type=finalPrice] span').text(currency + newTotal.toFixed(2));
										});
										</script>				
										<?php endif; ?>		
									</div>
														
										<?php }  ?>
									
                                        <?php if ($_product->getTypeId() != 'grouped'): ?>
                                            <div class="add-product">
                                                <div class="price__wrapper">
                                                    <div class="discount__percentage">
                                                        <?php
														$ctPrice= $_product->getPriceModel()->getFinalPrice(1,$_product);
                                                        $FPrice = $_product->getFinalPrice();
                                                        $newPrice = $_product->getPrice();
                                                        if (($FPrice!='' && $ctPrice!='')):
															$percentChange = (1 - $FPrice / $newPrice) * 100;
															if(round($percentChange) > 0 && $inventory > $minQty):
																echo round($percentChange) . "% Off";
															endif;
                                                        endif;
                                                        ?>
                                                    </div>
                                                    <?php /* @escapeNotVerified */
                                                    echo $block->getProductPrice($_product) ?>
                                                </div>
                                                <div class="pull-right">
                                                    
														<?php
															//if(isset($_COOKIE['Gourmet_Location']) && (isset($_SESSION["locationconfirm"]) && $_SESSION["locationconfirm"] == 1)){
															if(isset($_COOKIE['Gourmet_Location'])){
															if($inventory > $minQty){
														?>
															<button type="button" data-action="addto-cart-deduct"
																title="<?php echo $block->escapeHtml(__('Remove Product')); ?>"
																class="action deduct hidden primary button__inverse">
																<span><?php /* @escapeNotVerified */
																echo __('-') ?></span>
															</button>
															<button type="submit"
																	title="<?php echo $block->escapeHtml(__('+ Add')); ?>"
																	class="action tocart primary"
																	qty-inCart="<?php echo $_product->getId(); ?>">
																	<span><?php /* @escapeNotVerified */ echo __('+ Add') ?></span>
															</button>
															<div class="messages-error notQty<?php echo $_product->getId(); ?> notify-box" ></div>
															<?php } else { ?>
																<?php 
																$block->getChildBlock('gourmet.alert.notify')->setProdId($_product->getId());
																echo $block->getChildHtml('gourmet.alert.notify', false); ?>
															<?php } ?>
														<?php } else { ?>
															<a href="javascript:void(0);" class="openLocationModel action tocart primary"><?php /* @escapeNotVerified */ echo __('+ Add') ?></a>
														<?php } ?>
                                                </div>
                                            </div>
                                        <?php endif; ?>
                                    </form>
                                <?php else: ?>
                                    <!--<?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php /* @escapeNotVerified */
                                        echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */
                                        echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>-->
                                <?php endif; ?>
                                <?php if (((isset($inventory) && $inventory <= $minQty) || (!isset($inventory))) && $_product->getTypeId() != 'grouped'): ?>
                                    <?php //if (!$_product->isSaleable() && $block->getChildBlock('gourmet.alert.notify')): ?>
                                        <?php
                                        $block->getChildBlock('gourmet.alert.notify')->setProdId($_product->getId());
                                        echo $block->getChildHtml('gourmet.alert.notify', false); ?>
                                    <?php //endif; ?>

                                <?php endif; ?>
                            </div>
                            <?php if ($_product->getTypeId() == 'grouped' && $_product->getResource()->getAttribute('preparation_time')->getFrontend()->getValue($_product) != ""): ?>
                                <div class="prep-time">
                                    <?php echo $_product->getResource()->getAttribute('preparation_time')->getFrontend()->getValue($_product); ?>
                                </div>
                            <?php endif; ?>
                        </div>

                        <?php if ($showDescription): ?>
                            <div class="product description product-item-description">
                                <?php /* @escapeNotVerified */
                                echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                <a href="<?php /* @escapeNotVerified */
                                echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */
                                echo $_productNameStripped ?>"
                                   class="action more"><?php /* @escapeNotVerified */
                                    echo __('Learn More') ?></a>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?php echo ($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>

            <?php endforeach; ?>
        </ol>

    </div>
    <?php echo $block->getChildBlock('toolbar')->setTemplate('Magento_Catalog::product/list/toolbar/bottom.phtml')->toHtml(); ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
<?php				
	$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$currencysymbol = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
	$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
?>
<script>
	require(['jquery', 'jquery/ui'], function($){
		$(".sel-option").change(function(){
			var finalCalPrice = [];
			var finalNewPricce = [];
			var currency = '<?php echo $currency; ?>';
			var id = $(this).attr("id");		
			var productId = $(this).attr("pro-id");
			var priceType = $(this).children('option:selected').attr("price-type");
			var additionPrice = $(this).children('option:selected').attr("price");
			if($('[data-role=priceBox][data-product-id='+productId+']').find('span.old-price').length > 0)
			{
				var oldPrice = $(this).children('option:selected').attr("data-orig");							
			}
			var lenght = $("#product_addtocart_form_"+productId+" .product-custom-option-"+productId).length;
			switch (priceType){				
				case 'percent':
					var basePrice = $(this).children('option:selected').attr("final-price");
					
					if(oldPrice && oldPrice > basePrice)
					{
						var nowOldPrice = (oldPrice*additionPrice)/100;
						finalCalPrice.push(nowOldPrice);						
						var nowNewPrice = (basePrice*additionPrice)/100;
						finalNewPricce.push(nowNewPrice);
						
						if(lenght > 1)
						{
							var additionPrice1 = $(this).siblings('select').find('option:selected').attr('data-price');
							if(additionPrice1 != '')
							{
								nowOldPrice = (oldPrice*additionPrice1)/100;
								finalCalPrice.push(nowOldPrice);
								nowNewPrice = (basePrice*additionPrice1)/100;
								finalNewPricce.push(nowNewPrice);	
							}
						}						
					}else
					{
						var nowOldPrice = (basePrice*additionPrice)/100;
						finalNewPricce.push(nowOldPrice);						
					}					
				break;
			}
			var oldCalTotal =0;
			var newCalTotal =0;
			
			if(finalCalPrice.length > 0)
			{
				for (var i = 0; i < finalCalPrice.length; i++) {						
					oldCalTotal = parseFloat(oldCalTotal) + parseFloat(finalCalPrice[i]) ;
				}
				oldCalTotal = parseFloat(oldPrice) + parseFloat(oldCalTotal);
				/* console.log(oldCalTotal); */
				$('[data-product-id='+productId+'][data-role=priceBox] [data-price-type=oldPrice] span').text(currency+ oldCalTotal.toFixed(2));
			}
			if(finalNewPricce.length > 0)
			{
				for (var i = 0; i < finalNewPricce.length; i++) {						
					newCalTotal = parseFloat(newCalTotal) + parseFloat(finalNewPricce[i]) ;
				}
				newCalTotal = parseFloat(basePrice) + parseFloat(newCalTotal);				
				$('[data-product-id='+productId+'][data-role=priceBox] [data-price-type=finalPrice] span').text(currency+ newCalTotal.toFixed(2));
			}
		});
	});
</script>

<script>
        require(
                [
                    'jquery',
                    'Magento_Ui/js/modal/modal'
                ],
               function ($) {
                   $(document).ready(function() {
   //code here
   klevu_activeSearchBox = document.getElementById("search");
});
                   $('.sel-option').change(function()
                   {
                        var main_product_id = $(this).attr("pro-id");
                        var ajx_url = "<?php echo $block->getUrl('customcart'); ?>";
                        var product_id = $(this).val();
                        $.ajax
                        ({
                            url: ajx_url,
                            type: 'POST',
                            showLoader: true,
                            data: {
                                'product_id': product_id,'main_product_id':main_product_id
                            },
                            dataType: 'json',
                            success: function (data) 
                            {
                                var obj = JSON.parse(data);
                                $('.product-weight-value-'+main_product_id).html(obj.weight);
                                $('.product-item-photo-id'+main_product_id+' img').attr('src', obj.imageUrl);
                                $('#product-price-'+main_product_id+' .price').text(obj.finalPrice);
                                   $('#custom-price-'+main_product_id).remove();
                               var priceHtml= '<input type="hidden" id="custom-price-'+main_product_id+'" name="custom-price" value="'+obj.finalPriceWc+'">'
                                $('#product_addtocart_form_'+main_product_id).prepend(priceHtml);
                            }
                        });
                   });
                }
        );
    </script>