<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>
<div class="block block-search">
    <div class="block block-title"><strong><?php /* @escapeNotVerified */
            echo __('Search'); ?></strong></div>
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form" action="<?php /* @escapeNotVerified */
        echo $helper->getResultUrl() ?>" method="get">
            <div class="field search">
                <label class="label search__trigger" for="search" data-role="minisearch-label">
                    <span><?php /* @escapeNotVerified */
                        echo __('Search'); ?></span>
                </label>
                <div class="control">
                    <input id="search"
                           data-mage-init='{"quickSearch":{
                                "formSelector":"#search_mini_form",
                                "url":"<?php /* @escapeNotVerified */
                           echo $block->getUrl('search/ajax/suggest', ['_secure' => $block->getRequest()->isSecure()]); ?>",
                                "destinationSelector":"#search_autocomplete"}
                           }'
                           type="text"
                           name="<?php /* @escapeNotVerified */
                           echo $helper->getQueryParamName() ?>"
                           value="<?php /* @escapeNotVerified */
                           echo $helper->getEscapedQueryText() ?>"
                           placeholder="<?php /* @escapeNotVerified */
                           echo __('SEARCH...'); ?>"
                           class="input-text"
                           maxlength="<?php /* @escapeNotVerified */
                           echo $helper->getMaxQueryLength(); ?>"
                           role="combobox"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           autocomplete="off"/>
                    <div class="search-result-area">
                        <div id="search_autocomplete" class="search-autocomplete"></div>
                    </div>
                    <?php echo $block->getChildHtml() ?>
                </div>
            </div>
            <div class="actions">
                <button type="submit"
                        title="<?php echo $block->escapeHtml(__('Search')) ?>"
                        class="action search">
                    <span><?php /* @escapeNotVerified */
                        echo __('Search'); ?></span>
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    require(['jquery'], function ($) {
        var searchBtn = $(".search__trigger");

        $(document).ready(function () {
            searchBtn.on("click", function () {
                $(this).addClass("active");
				$(this).parent().parent().addClass("active");
                $(this).before("<span id='search__overlay'></span>");
				searchOverlay();
            });
			
			
        });
		
		function searchOverlay(){
			$("#search__overlay").click(function (e) {				
				if (searchBtn.is('.active') && !$(e.target).is(searchBtn) && $(e.target).is("#search__overlay")) {
					searchBtn.removeClass('active');
					searchBtn.parent().parent().removeClass("active");
					$("#search__overlay").remove();				
				}
			});
		}
		
    });

    require([
            'jquery',
            'mCustomScrollbar'
        ],
        function ($, mCustomScrollbar) {
            /* Disable search result scroll
             $(".search-result-area").mCustomScrollbar({
             theme: "dark-3",
             autoExpandScrollbar: true
             });
             */

            // For search result interaction
            $(window).on("keyup", function (e) {
                if (e.which === 13) {
                    // nothing for now
                } else if (e.which === 40 || e.which === 38) {
                    var selectedSearch = $("#search_autocomplete ul li.selected");

                    if (selectedSearch) {
                        // For removing placeholder in safari
                        // Set search term {Do it twice for placeholder bug in safari}
                        $("#search").val(selectedSearch.find(".search__term").text().trim());
                        // Hack for safari
                        $("#search").val(selectedSearch.find(".search__term").text().trim());

                    }
                }
            });

            $('#search_mini_form').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();

                    var selectedSearch = $("#search_autocomplete ul li.selected");

                    if (selectedSearch.length) {
                        var url = selectedSearch[0].getAttribute("click-url");
                        document.location.href = url;
                    }
                    return false;
                }
            });
        });
</script>
