<div class="amcheckout-delivery-date" data-bind="blockLoader: isLoading">
    <div class="checkout__title" data-bind="i18n: '2. Choose Delivery Time & Shipping Slot'" data-role="title"></div>
    <span class="shipping__note" data-bind="i18n: window.checkoutConfig.checkoutdata.textone"></span>
    <div class="shipping__note" data-bind="i18n: window.checkoutConfig.checkoutdata.texttwo"></div>
 <div>
     <p>
         <select class="preferedContact" data-bind="options: preferedContact,value: preferedValue,optionsCaption: 'Please select prefered contact'"></select> 
     </p>
 

    </div>
    <div>
        <each args="data: elems, as: 'element'">
            <render if="hasTemplate()"/>
        </each>
        <div class="clearer"></div>
    </div>
</div>
