<div class="block items-in-cart" data-bind="mageInit: {'collapsible':{'openedState': 'active', 'active': isItemsBlockExpanded()}}">
    <div class="title chc__header" data-role="title">
        <strong role="heading">
			<!-- ko if: itemsQty() == 1 -->
            <!-- ko i18n: 'Your cart has ' --><!-- /ko -->
			<span data-bind="text: itemsQty()"></span>
            <!-- /ko -->
            
			<!-- ko if: itemsQty() == 1 -->
            <!-- ko i18n: 'Item' --><!-- /ko -->
            <!-- /ko -->
			
            <!-- ko if: itemsQty() > 1 -->
            <!-- ko i18n: 'Your cart has ' --><!-- /ko -->
			<span class="qty" data-bind="text: itemsQty()"></span>
            <!-- /ko -->
            
			<!-- ko if: itemsQty() > 1 -->
            <!-- ko i18n: 'Items' --><!-- /ko -->
            <!-- /ko -->
        </strong>
    </div>
    <div class="content minicart-items block_row" data-role="content">
        <div class="chk__wrapper">
            <ol class="minicart-items" data-bind="miniCartScroll">
                <!-- ko foreach: getItems() -->
                <li class="product-item">
                    <div class="product ci__itemwrapper">
                        <!-- ko foreach: $parent.elems() -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                    </div>
                </li>
                <!-- /ko -->
            </ol>
        </div>
    </div>
</div>