<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>

<div class="order-status">
<span class="label"><span class="minw">Order Status</span>:</span>
<span class="orss"><?php /* @escapeNotVerified */ echo $block->getOrder()->getStatusLabel() ?></span>
</div>
