<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_ShopbyBrand
 */
?>
<?php
/** @var \Amasty\ShopbyBrand\Block\Widget\BrandList $this */
$items = $this->getIndex();
$columns = abs((int)$this->getData('columns'));
$brandLetters   = $this->getAllLetters();
$isShowCount = $this->getData('show_count');
$isShowImages = $this->getData('show_images');
$imgWidth = abs($this->getData('image_width'));
$imgHeight =  abs($this->getData('image_height'));
$isShowSearch =$this->getData('show_search');
$isShowFilter = $this->getData('show_filter');
$filterDisplayAll = $this->getData('filter_display_all');
$display_zero = $this->getData('display_zero');
$width = floor(100/$columns);
?>
<style>
    ul.bare-list img {
    <?php if ($imgWidth) : ?>
        max-width: <?= /* @escapeNotVerified */ $imgWidth;?>px;
    <?php endif;?>
    <?php if ($imgHeight) : ?>
        max-height: <?= /* @escapeNotVerified */ $imgHeight;?>px;
    <?php endif;?>
    }

    .brand-item .am-image-wrapper {
        height: <?= /* @escapeNotVerified */ $imgWidth;?>px;
    }

    .brand-item {
        max-width: <?= /* @escapeNotVerified */ $imgWidth;?>px;
        min-height: <?= /* @escapeNotVerified */ $imgWidth+30;?>px;
    }
    .brand-item .no-img {
        width: <?= /* @escapeNotVerified */ $imgWidth;?>px;
        line-height: <?= /* @escapeNotVerified */ $imgWidth;?>px;
        font-size: <?= /* @escapeNotVerified */ $imgWidth*0.65;?>px;
    }
    @media (min-width: 768px) {
        .brand-images .brands-letter {
            width:<?= /* @escapeNotVerified */ $width ?>%;
        }
    }
</style>

<div class="content">
<?php if ($items) : ?>
    <?php if ($isShowSearch || $isShowFilter) :?>
        <div class="brands-filters">
            <?= /* @escapeNotVerified */ $this->getSearchHtml(); ?>
            <?php if ($isShowFilter) :?>
                <div class="letters">
                    <div class="letters-box">
                        <a href="javascript:void(0)" class="letter letter-all" title="<?= $block->escapeHtml(__('All Brands'))?>">
                            <?= $block->escapeHtml(__('All Brands'))?>
                        </a>
                    </div>
                    <div class="letters-box">
                        <?php if ($filterDisplayAll) :?>
                            <?php foreach (array_merge(range('A', 'Z'), ['#']) as $letter) :?>
                                <a href="javascript:void(0)"
                                    <?php if (!(in_array($letter, $brandLetters))) : ?>
                                        <?= 'class="disabled letter"' ?>
                                    <?php else : ?>
                                    <?= /* @escapeNotVerified */ "class=\"letter letter-$letter\"" ?>
                                    <?php endif; ?>>
                                    <?= /* @escapeNotVerified */ $letter?></a>
                            <?php endforeach;  ?>
                        <?php else : ?>
                            <?php foreach ($brandLetters as $letter) :?>
                                <a href="javascript:void(0)" class="letter letter-<?= /* @escapeNotVerified */ $letter?>">
                                    <?= /* @escapeNotVerified */ $letter?>
                                </a>
                            <?php endforeach;  ?>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    <?php endif; ?>
<?php foreach ($items as $letters) : ?>
    <div class="brand-images">
    <?php foreach ($letters as $letter => $options) : ?>
    <dl class="brands-letter letter-<?= /* @escapeNotVerified */ $letter?>">
        <dt class="letter">
            <span class="title"><?= /* @escapeNotVerified */ $letter ?></span>
        </dt>
        <dd>
            <ul class="bare-list">
            <?php foreach ($options as $o) : ?>
                <li class="brand-item" <?= $this->getTooltipAttribute($o);?>>
                    <a href="<?= /* @escapeNotVerified */ $o['url'] ?>"
                       class="item"
                       title="<?= $block->escapeHtml($o['label']) ?>">
                        <?php if ($o['img'] && $isShowImages) : ?>
                            <div class="am-image-wrapper"><img src="<?= /* @escapeNotVerified */ $o['img'] ?>" /></div>
                        <?php else : ?>
                            <div class="am-image-wrapper"><p class="no-img"><?= /* @escapeNotVerified */ $letter ?></p></div>
                        <?php endif ?>
                            <p class="label"><?= $block->escapeHtml($o['label']) ?></p>
                        <?php if ($isShowCount) : ?>
                            <p class="count"><?= /* @escapeNotVerified */ $o['cnt'] ?></p>
                        <?php endif; ?>
                    </a>
                </li>
            <?php endforeach ?>
            </ul>
        </dd>
    </dl>
    <?php endforeach ?>
    </div>
<?php endforeach ?>
    <div style="clear:both;"></div>
<?php else : ?>
    Please select brand attribute in Stores -> Configuration -> Amasty Extensions -> Improved Layered Navigation:
    Brands.
</div>
<?php endif ?>

<script>
    require([
        'jquery',
        'Amasty_ShopbyBrand/js/brand-filter',
        'domReady!'
    ], function ($) {
        $(".letters-box a").click(function(e) {
            e.preventDefault();
            $(this).applyBrandFilter('.brands-letter');
        });
    });

    <?php if ($this->isTooltipEnabled()) :?>
    require([
        'jquery',
        "mage/tooltip"
    ], function ($) {
        $('[data-amshopby-js="brand-tooltip"]').tooltip({
            position: {
                my: "left-20 bottom",
                at: "right top",
                collision: "flip flip",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                        .addClass("arrow")
                        .addClass(feedback.vertical)
                        .addClass(feedback.horizontal)
                        .appendTo(this);
                }
            },
            tooltipClass: "amshopby-brand-tooltip",
            content: function () {
                var current = $(this).is('li') ? $(this) : $(this).parent();
                return current.data('tooltip-content');
            }
        });
    });
    <?php endif ?>
</script>
