<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Checkout
 */
?>
<?php /** @var \Amasty\Checkout\Block\Onepage\Head $block */ ?>
<script>
    require(['jquery'], function ($) {
        window.openForgetPasswordWindow = function () {
            socialRegister.close();
            socialForgottenRegister.close();
            socialLogin.open();
            socialForgotten.open();
            socialSignIn.open();
            $("#magestore-login-form").addClass("hideAfter");
        }
    });
</script>
<style>
<?php foreach ($block->getFields() as $code => $width): ?>
        #shipping-new-address-form [name="shippingAddress.<?= $code ?>"] {
            width: <?= $width ?>%;
        }	
<?php endforeach; ?>
    #shipping-new-address-form [name="shippingAddress.region_id"] {
        width: 50%;
    }
    
<?php if ($font = $block->getCustomFont()): ?>
        body {
            font-family: '<?= $font ?>', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
        }
<?php endif ?>
    
<?php if ($color = $block->getHeadingTextColor()): ?>
        .step-title {
            color: <?= $color ?> !important;
        }
<?php endif ?>

<?php if ($color = $block->getBackgroundColor()): ?>
        #checkout {
            background: <?= $color ?> !important;
        }
<?php endif ?>

<?php if ($color = $block->getSummaryBackgroundColor()): ?>
        .opc-block-summary {
            background-color: <?= $color ?> !important;
        }
<?php endif ?>

<?php if ($color = $block->getButtonColor()): ?>
        .action.primary {
            background-color: <?= $color['normal'] ?> !important;
            border: none !important;
        }
        .action.primary:hover {
            background-color: <?= $color['hover'] ?> !important;
            border: none !important;
        }
<?php endif ?>
</style>


<?php $helper = $this->helper('I95Dev\Loyalty\Helper\Data');
 $catalogHelper = $this->helper('Magento\Catalog\Helper\Image');
$customerEmail=$helper->getCustomer()->getEmail();
$availableCoupon = $helper->BloyalAvailableCoupons($customerEmail)->data;
$beaFoodie = $helper->getProductCollection('1144');
$makeanImpact = $helper->getProductCollection('1145');
// var_dump(get_class_methods($beaFoodie)); exit;
// var_dump($beaFoodie->getAllIds()); exit;
?>

  



<div id="gourmentrewardspopup" style="display: none" >
    <div class="gourmentpointpopup-header-block">
        <a class="logo-redem" href=" <?php echo $block->getBaseUrl(); ?>" title="Gourmet Egypt">
            <img src="/media/wysiwyg/mygourmet.png" alt="Gourmet Egypt" width="132" height="77">
        </a>
        <h2><?= __("My Rewards") ?></h2> 
    </div>
  <div id="message_loyalty_chechout" style="color: red;font-size: large;font-weight: bold;padding: 1px;margin: 1px; text-align: center;"></div>
    <div class="tab-container">  
        <ul class="tabs-nav">
            <li class=""><a href="#tab-3" rel="nofollow"><?= __("Be a Foodie") ?></a>
            </li>
            <li class=""><a href="#tab-1" rel="nofollow"><?= __("Shop Gourmet") ?></a>
            </li>
            <li class=""><a href="#tab-2" rel="nofollow"><?= __("Make an Impact") ?></a>
            </li>
            <li class=""><a href="#tab-4" rel="nofollow"><?= __("Lifestyle & Leisure") ?></a>
            </li>
        </ul>
        <div class="tabs-stage">
             <div id="tab-1" class="tab-content make_impact" style="display: none;">
<?php


foreach ($beaFoodie as $product) {
 
 $image_url = $catalogHelper->init($product, 'product_thumbnail_image')->setImageFile($product->getFile())->resize(255, 255)->getUrl();
//    var_dump($product->getName()); exit;
    ?>
                    <div class="coupon-code-block">
                        <div class="coupon-details">
                            <a class="productimage" href="<?= $product->getUrl() ?>" title="<?= $product->getName() ?>">
                                <img src="<?= $image_url ?>" alt="Gourmet Egypt" width="132" height="77">
                            </a>
                           
                            <div class="offer-tag"><?= $product->getName() ?></div>
                        </div>
                        <div class="coupon_redeem">
                            <div class="redeem-points"><?= round($product->getPrice(), 0)." ".__("points"); ?></div>
                            <div class="redeem-add add-redeem-product" itemid="<?= $product->getId() ?>" ><?= __("+ ADD") ?></div>
                          
                        </div>
                    </div>
                    <?php 
                }
                ?>
            </div>
            <div id="tab-2" class="tab-content make_impact" style="display: none;">
                <div class="all-coupon-code-block">
                    <div class="inorder-to-avail"><?= __("Inorder to avail discount,please add one of the below coupon.Need Assistace, You can also call us at") ?><a href="tel:19339"> 19339</a> or <a href="tel:19339">Live Chat</a></div>
                    <?php
                    $i = 1;
                     $noDisplayCouponcode=array('BAGFLOWER', 'BAGTREE', 'SPICEGURU', 'CANAPE');
                                     foreach ($availableCoupon as $Coupon) {
                 
                   if (!in_array($Coupon->Code, $noDisplayCouponcode)){
      $availableCoupons[str_replace('EGP', '', $Coupon->Code)]=$Coupon;
                   }
  }
               ksort($availableCoupons); 
                   
                    foreach ($availableCoupons as $Coupon) {
                       
                        ?>
                        <div class="coupon-code-block">
                            <div class="coupon-details">
                                <a class="logo" href=" <?php echo $block->getBaseUrl(); ?>" title="Gourmet Egypt">
                                    <img src="/media/wysiwyg/buy_gourmet_icon.png" alt="Gourmet Egypt" width="132" height="77">
                                </a>
                                <div class="coupon_block">
                                    <input type="hidden" name="uid-<?= $i ?>" value="<?= $Coupon->Uid ?>">
                                    <input type="hidden" name="code-<?= $i ?>" value="<?= $Coupon->Code ?>">
                                    <div class="redeem-text"><?= __("REDEEM") ?></div>
                                    <div class="coupon-code"><?= $Coupon->Code ?></div>
                                    <div class="coupon-name"><?= $Coupon->Name ?></div>
                                </div>
                            </div>
                            <div class="redeem-popup" id="code-<?= $i ?>"><?= __("REDEEM") ?></div>
                        </div>
                        <?php
                        $i++;
                    } 
                    ?>
                </div>  
            </div>
            <div id="tab-3" class="tab-content make_impact" style="display: none;">
            <?php


foreach ($makeanImpact as $product) {
 
 $image_url = $catalogHelper->init($product, 'product_thumbnail_image')->setImageFile($product->getFile())->resize(255, 255)->getUrl();
//    var_dump($product->getName()); exit;
    ?>
                    <div class="coupon-code-block">
                        <div class="coupon-details">
                            <a class="productimage" href="<?= $product->getUrl() ?>" title="<?= $product->getName() ?>">
                                <img src="<?= $image_url ?>" alt="Gourmet Egypt" width="132" height="77">
                            </a>
                           
                            <div class="offer-tag"><?= $product->getName() ?></div>
                        </div>
                        <div class="coupon_redeem">
                            <div class="redeem-points"><?= round($product->getPrice(), 0)." ".__("points"); ?></div>
                            <div class="redeem-add add-redeem-product" itemid="<?= $product->getId() ?>" ><?= __("+ ADD") ?></div>
                          
                        </div>
                    </div>
                    <?php 
                }
                ?>
            </div>
           
            <div id="tab-4" class="tab-content make_impact" style="display: none;">
<div class="comming-soon"> <?= __("Comming Soon!") ?></div>
            </div>
        </div>
    </div>
</div>
<script>
    // From http://learn.shayhowe.com/advanced-html-css/jquery

// Change tab class and display content
    require(['jquery', 'jquery/ui', 'Magento_Ui/js/modal/modal','Magento_Checkout/js/model/quote','Magento_Catalog/js/price-utils'], function ($,quote, priceUtils) {
        $('.tabs-nav a').on('click', function (event) {
            event.preventDefault();

            $('.tab-active').removeClass('tab-active');
            $(this).parent().addClass('tab-active');
            $('.tabs-stage .tab-content').hide();
            $($(this).attr('href')).show();
        });

        $('.tabs-nav a:first').trigger('click');
        $('.redeem-popup').on('click', function (event) {
  $("div#message_loyalty_chechout_otp").html('');
              $('#redemptions-otp').val('');
            var redemptionsId = $(this).attr('id');

            var redemptions = $("input[name=" + redemptionsId + "]").val();
          

            if (redemptions) {
                var params = {redemptions: redemptions,type:"coupon"};
                $.ajax({
                    type: 'POST',
                    url: '<?php echo $block->getUrl('loyalty/index/sentotp'); ?>',
                    data: params,
                    showLoader: true,
                    success: function (data) {
                        var messageData = JSON.parse(data);
                        if (messageData.success == true) {
                            $("#redemptions-pinId").val(messageData.pinId);
                            $('div#gourmentrewardspopup').modal("closeModal");
                            var loyaltyPopup = $('div#gourmentpointotppoup')
                                    .modal({
                                        autoOpen: false,
                                        buttons: [
                                        ],
                                        clickableOverlay: true,
                                        focus: '',
                                        innerScroll: false,
                                        modalClass: 'loyalty-checkout-pointotp-popup',
                                        responsive: true,
                                        buttons: [{
                                                text: 'close',
                                                class: 'action-close',
                                                click: function () {
//                                                        self.radioSelectedOptionValue('0');
                                                    this.closeModal();
                                                    $('.opc-payment-additional.loyalty').hide();

                                                }
                                            }],
                                        closeOnEscape: false,

                                        type: 'popup'
                                    });
                                 $('.otp-block').show();
                                 $('.otp-success-block').hide();
                            $('div#gourmentpointotppoup').show();
                            loyaltyPopup.modal("openModal");
                        } else {
                            $("div#message_loyalty_chechout").html(messageData.message);
                        }
                    }

                });
            } else {
                $('div#message_loyalty_chechout').show();
            }
        });
        $('.add-redeem-product').on('click', function (event) {
$("div#message_loyalty_chechout_otp").html('');
              $('#redemptions-otp').val('');
            var redemptionsId = $(this).attr('itemid');

           
           

            if (redemptionsId) {
                var params = {redemptions: redemptionsId,type:"product"};
                $.ajax({
                    type: 'POST',
                    url: '<?php echo $block->getUrl('loyalty/index/sentotp'); ?>',
                    data: params,
                    showLoader: true,
                    success: function (data) {
                        var messageData = JSON.parse(data);
                        if (messageData.success == true) {
                            $("#redemptions-pinId").val(messageData.pinId);
                            $('div#gourmentrewardspopup').modal("closeModal");
                            var loyaltyPopup = $('div#gourmentpointotppoup')
                                    .modal({
                                        autoOpen: false,
                                        buttons: [
                                        ],
                                        clickableOverlay: true,
                                        focus: '',
                                        innerScroll: false,
                                        modalClass: 'loyalty-checkout-pointotp-popup',
                                        responsive: true,
                                        buttons: [{
                                                text: 'close',
                                                class: 'action-close',
                                                click: function () {
//                                                        self.radioSelectedOptionValue('0');
                                                    this.closeModal();
                                                    $('.opc-payment-additional.loyalty').hide();

                                                }
                                            }],
                                        closeOnEscape: false,

                                        type: 'popup'
                                    });
                                     $('.otp-block').show();
                                 $('.otp-success-block').hide();
                            $('div#gourmentpointotppoup').show();
                            loyaltyPopup.modal("openModal");
                        } else {
                            $("div#message_loyalty_chechout").html(messageData.message);
                        }
                    }

                });
            } else {
                $('div#message_loyalty_chechout').show();
            }
        });

    

    });

</script>
<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Apptrian_FacebookPixel::code.phtml")->toHtml() ?>