.search-item.search-input-div input#pac-input-global {
    font-size: 18px;
    height: 50px;
    margin-top: auto;
    display: inline-block;
    width: 100%;
    padding-left: 25px;
}
body .global-banner-popup .modal-inner-wrap {
  max-width: 1000px;
}
button#locate-me.locate-me-map {
    right: 2%;
}
button#locate-me {
    top: 16px;
    line-height: 24px;
    height: 37px;
}
body button#new_location {
    margin: 15px auto 5px;
    float: none;
    height: 36px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.modal-content span.location-container,
span.modal-header.address-label-container {
    font-family: 'museo_sans500';
    color: #14b395;
    display: block;
    font-size: 25px;
    text-align: center;
}
.modal-content .address-list {
    margin-top: 10px;
	overflow-y: scroll;
	max-height: 250px;
}
.modal-content .address-list ul li {
    border-bottom: 1px solid #4e5754;
}
.modal-content .address-list ul li a.adddress-link-popup {
    color: #333;
    margin: 0;
    font-size: 13px;
    font-family: 'museo_sans500';
    text-transform: uppercase;
}
.modal-content .address-list ul li.valid-address {
    background-image: url(../images/location-green.png);
}
.modal-content .address-list ul li.invalid-address {
    background-image: url(../images/location-red.png);
}


.form-address-edit-pop .one-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.form-address-edit-pop .input-bottom {
    margin-bottom: 38px;
}
.form-address-edit-pop label {
    color: #4D4D4D;
    font-size: 14px;
    font-family: 'museo_sans100';
}
.form-address-edit-pop .address-field .field label {
    font-size: 12px;
    margin-bottom: 0;
}
.form-address-edit-pop input {
    font-size: 13px;
    border: 1px solid #B1B1B1;
    height: 44px;
}
.form-address-edit-pop input#region-pop, 
.form-address-edit-pop input#city-pop
{
    background: #EEEEEE;
}
body .address-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 11px;
}
body .address-field .field input {
    height: auto;
    margin-right: 5px;
    vertical-align: sub;
}
body .address-field .field .fa:before {
    color: #14B393;
    margin-right: 6px;
}
.form-address-edit-pop .address {
    margin-bottom: 14px;
}
.form-address-edit-pop .address label {
    margin-bottom: 5px;
}
.popup-modal-address-container-edit .modal-inner-wrap .modal-content {
    padding: 27px 25px 20px;
}
.popup-modal-address-container-edit .modal-inner-wrap .modal-content .address-label-container {
    padding: 0 0 20px;
}
body .map-container {
    height: 400px;
}
body.account .form-address-edit fieldset.fieldset {
	 display: grid;
	 grid-template-columns: 1fr 1fr;
	 grid-gap: 0 38px;
}
 body.account .form-address-edit fieldset.fieldset .field .label {
	 width: 100%;
	 float: none;
	 text-align: left;
}
 body.account .form-address-edit fieldset.fieldset .field .control {
	 width: 100%;
	 float: left;
}
aside.modal-popup.popup-geolocation .modal-inner-wrap {
    width: 600px;
}
aside.modal-popup.popup-geolocation .modal-inner-wrap .address-field {
    grid-gap: 10px;
}
aside.modal-popup.popup-geolocation .modal-inner-wrap .address-field label {
    font-size: 12px;
}
/* responsive */
@media screen and (max-width: 396px) {
    body .address-field {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1092px) {
    body .address-field {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 767px) {
    .form-address-edit-pop .one-rows {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    body.account .form-address-edit fieldset.fieldset {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 767px) {
  .modal-popup.popup-modal-address-container-edit .modal-inner-wrap,
  aside.modal-popup.popup-geolocation .modal-inner-wrap {
    width: 100%;
  }  
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .modal-popup.popup-modal-address-container-edit .modal-inner-wrap {
        width: 950px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
.modal-popup.popup-modal-address-container-edit .modal-inner-wrap {
    width: 98%;
  }
  body .address-field {
      grid-gap: 10px;
  }
  .form-address-edit-pop .one-rows {
      grid-gap: 20px;
  }
  .popup-modal-address-container-edit .modal-inner-wrap .modal-content {
      padding: 27px 18px 20px;
  }
}
@media (max-width: 598px) {
    aside.modal-popup.global-banner-popup .modal-inner-wrap {
        padding: 0;
    }
    body button#locate-me {
        position: absolute;
        right: 25%;
        font-weight: bold;
        vertical-align: middle;
        background: none;
    }
    body a#geo-selectbtn {
        font-size: 14px;
        font-weight: bold;
    }
    .search-input-container {
        height: 100%;
    }
    input, input::-webkit-input-placeholder {
        font-size: 16px;
    }
    #locate-me span {
        display: none;
    }
    .search-item.search-input-div input#pac-input-global {
        padding-left: 5px !important;
    }
    button#locate-me::before {
        margin-right: 0px !important;
    }
}
.location-hidden {
    display: none;
}
.not-location-hidden{
	display: block;
}

body .popup-modal-address-container-edit .modal-inner-wrap {
    width: 700px;
}
@media screen and (max-width: 475px) {
   body button#locate-me, body button#locate-me-global {
        font-size: 0;
        background: none;
    }
}
@media screen and (max-width: 767px) {
    body .modal-popup.modal-slide._inner-scroll .modal-inner-wrap {
        min-height: auto;
    }
    body .modal-popup.modal-slide, body .multiwishlist-modal  {
        top: 0;
    }
    body .geo-container h2 {
        font-size: 26px;
    }
    div#error-global {
        font-size: 12px !important;
        line-height: 14px;
    }
    body .modal-popup.modal-slide._show.popup-modal-address-container-edit .modal-inner-wrap {
        top: 2% !important;
    }
}
@media screen and (min-width: 768px) {
    body .modal-popup.modal-slide._show.popup-modal-address-container-edit .modal-inner-wrap {
        top: 0 !important;
    }
}
@media screen and (max-width: 874px) {
    body aside.modal-popup.global-banner-popup.modal-slide._show .modal-inner-wrap {
        background: url(../images/search-mbg.png);
        min-height: 320px;
        background-size: cover;
    }
    body .modal-popup.modal-slide._show .modal-inner-wrap {
        top: 50% !important;
    }
}
body .modal-popup.modal-slide._show .modal-inner-wrap {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 45%;
}
body aside.modal-popup.global-banner-popup.modal-slide._show .modal-inner-wrap {
     overflow-y: hidden;
}
body .global-banner-popup .modal-inner-wrap {
    background-size: cover;
    max-height: 482px;
    min-height: 482px;
}
body .global-banner-popup .modal-inner-wrap .geo-container h2 {
  margin-bottom: 30px;
}
@media screen and (max-width: 1599px) {
    body .global-banner-popup .modal-inner-wrap .modal-content {
        margin: 4rem auto;
    }
}
@media screen and (min-width: 1600px) and (max-width: 1999px) {
    body .global-banner-popup .modal-inner-wrap .modal-content {
        margin: -2rem auto;
    }
}
@media screen and (min-width: 2000px) and (max-width: 2600px) {
    body .global-banner-popup .modal-inner-wrap .modal-content {
        margin: -6rem auto;
    }
}
div#error-global {
    margin-top: 5px;
}
body .modal-popup.modal-slide._show.popup-modal-address-container-edit .modal-inner-wrap {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
body .modal-popup.modal-slide._show.loyalty-checkout-rewards-popup .modal-inner-wrap {
    top: 0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

body.checkout-index-index .modal-popup >.modal-inner-wrap {
    max-width: 1300px !important;
}

.offer-tag.offer-tag-ramadan {
    background: #d02329;
    color: #ffd16b;
}

.offer-tag.offer-tag-ramadan:before, .offer-tag.offer-tag-ramadan:after{
    border-top: 18px solid #d02329;
    border-bottom: 21px solid #d02329;
}
.offer-tag.offer-tag-new:after, .offer-tag.offer-tag-new:before {
    border-top: 18px solid #ffd16b;
    border-bottom: 21px solid #ffd16b;
}
.offer-tag.offer-tag-new {
    background: #ffd16b;
    color: #d02329;
    text-align: center;
}