/* responsive css*/
.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
    margin-left: auto;
    margin-right: auto;
}

.page-header .header.panel {
    -o-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.action.skip.contentarea, .switcher.language.switcher-language {
    /*display: none;*/
}

input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    font-family: 'museo_sans300';
}

/*.product-listing .content .hsid {min-width: 867.63px;}*/
ol.product-items.widget-product-grid > li.product-item {
    width: 144.59px;
    display: inline-block;
}

.location-popup-header .form-area input#search-box {
    background-position: right 20px center !important;
}

.location-popup-header h3, .location-footer-container {
    padding: 0px 20px;
}

#location-popup .location-popup-header .form-group {
    position: relative;
}

#search-box + #suggesstion-box {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 60px;
    background-color: rgba(255, 255, 255, .98);
    z-index: 9;
    border: 1px solid #ddd;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    display: none;

}

#search-box + #suggesstion-box .mCSB_inside > .mCSB_container {
    margin-right: 0
}

#search-box + #suggesstion-box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#search-box + #suggesstion-box .mCSB_scrollTools .mCSB_draggerRail {
    width: 6px
}

#search-box + #suggesstion-box .mCSB_scrollTools .mCSB_draggerRail {
    right: 10px
}

#search-box + #suggesstion-box .mCSB_scrollTools .mCSB_draggerContainer {
    height: 96%;
    top: 2%
}

#search-box + #suggesstion-box:empty {
    display: none;
}

#search-box + #suggesstion-box ul {
    margin: 0px;
    padding: 0px;
    text-align: left;
    list-style: none;
    width: 100%;
    float: left;
    height: auto;
    max-height: 327px;
    overflow-y: auto
}

#search-box + #suggesstion-box ul li {
    width: 100%;
    float: left;
    padding: 10px 15px;
    border-bottom: 1px solid #f5f5f5;
    margin: 0px;
    cursor: pointer;
}

#search-box + #suggesstion-box ul li:hover {
    background-color: #242d2a;
    color: #ddd
}

#search-box + #suggesstion-box ul li.selected {
    background-color: #f5f5f5;
    color: rgb(51, 51, 51);
}

.txt-white {
    color: #fff !important;
}

.cms-home #maincontent .home-categories-list a.see-all {
    border: 1px solid #29b799;
    border-radius: 6px;
    padding: 5px 15px;
    top: 15px;
}

.cms-home #maincontent .product-listing .product-image-container {
    height: auto;
}

.products-grid .product-item {
    margin-bottom: 17px;
}

.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background-color: white;
    border: 1px solid #4b4b4b;
    border-radius: 10px;
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #4b4b4b;
}

/*************************/
/*---CSS For Product Listing Page---*/
.page-products .column.main .product-items,
.block.related .product-items,
.block.upsell .product-items,
.block.crosssell .product-items {
    margin-left: 0px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.page-products .column.main .product-items > li,
.block.related .product-items li.product-item,
.block.upsell .product-items li.product-item,
.block.crosssell .product-items li.product-item,
.tier-price ul li {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: white;
    border-radius: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}

.tier-price ul li {
    background: transparent !important;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.tier-price ul li strong.benefit {
    margin-left: 5px;
}

.page-products .product__info,
.catalog-product-view .product__info {
    float: left;
    width: 100%;
}

.page-products .product__details,
.catalog-product-view .product__details,
.checkout-cart-index .product__details {
    width: 100%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 10px;
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.product__details form {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.page-products.page-layout-1column .products-grid .product-item {
    width: 334px;
}

.page-products.page-layout-1column .products-grid .product-item /*,
.block.related .product-items li.product-item, .block.upsell .product-items li.product-item */
{
    margin-left: 17px;
    padding-left: 0px;
}

.page-products .product-item-info,
.catalog-product-view .product-item-info,
.checkout-cart-index .product-item-info {
    width: 100%;
    margin: 0px;
    position: relative;
}

.product-quantity {
    font-size: 12px;
    opacity: .6;
    font-weight: 300;
    display: none;
}

/*****************************/
/*-----Css For Footer --- For Desktop-----*/
.footer-top {
    position: relative;
}

.footer-top:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 0;
    background-color: #f1f1f1;
    left: 75%;
}

.footer.content .footer-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.footer.content .footer-top > div .footer-sm-links ul {
    max-height: 35px;
}

.footer.content .switcher.store {
    padding: 0 2em;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*For widths above tablet*/
@media screen and (min-width: 768px) {
    .ie10 .page-wrapper, .ie11 .page-wrapper {
        min-height: 100%;
        height: auto;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 1800px) {
    /*---------------------------------------------------------------*/
    .page-products.page-layout-1column .products-grid .product-item:nth-child(5n+1) /*,
    .block.related .product-items li.product-item:nth-child(5n+1), .block.upsell .product-items li.product-item:nth-child(5n+1)*/
    {
        margin-left: 0px;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 1799px) {
    /*---------------------------------------------------------------*/
    .cms-home #maincontent .product-listing .product-item {
        /*width: 233px;*/
        /*float: left;*/
        /*display: -ms-flexbox;*/
        /*display: -webkit-box;*/
        /*display: flex;*/
    }

    .cms-home #maincontent .product-listing .product-item + .product-item {
        /*margin-left: 20px;*/
    }

    .mCSB_horizontal.mCSB_inside > .mCSB_container {
        margin-bottom: 0px;
    }

    .table-wrapper.grouped .grouped-products > ul > li {
        max-width: 550px;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 1447px) and (max-width: 1799px) {
    /*---------------------------------------------------------------*/
    .page-products.page-layout-1column .products-grid .product-item:nth-child(4n+1) {
        margin-left: 0px;
    }

    /*html.desktop body.landing-page .products-grid .product-item:first-child,
    html.desktop body.catalog-product-view .products-grid .product-item:first-child {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
    }*/
    body.landing-page .products-grid .product-item:nth-child(5n+5),
    .products-grid .category-landing .product-item:nth-child(5n+5),
    body.catalog-product-view .products-grid .product-item:nth-child(5n+5) {
        display: none !important
    }

    .page-main, .footer.content .footer-wrapper, .page-header .header.content, .headerBottom {
        max-width: 1447px;
    }

    .cms-newsletter-archive-list .nl_row > div {
        width: 32.5%
    }

    .cms-newsletter-archive-list .nl_row > div:nth-child(4n+1) {
        margin-left: 17px
    }

    .cms-newsletter-archive-list .nl_row > div:nth-child(3n+1) {
        margin-left: 0
    }

}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 1200px) and (max-width: 1446px) {
    /**** Mega Menu ***
    .nav-sections .navigation {
        max-width: 1150px
    }

    .header.content .ms-megamenu .ms-submenu {
        width: 870px
    }

    .header.content .ms-megamenu .ms-submenu .mCS_no_scrollbar .f-product {
        margin: 0 0.96%;
    }

    .header.content .ms-megamenu .ms-submenu .f-product {
        max-width: 133px
    }*/
    .header .block-search {
        width: 300px
    }

    .cms-newsletter-archive-list .nl_row > div {
        width: 32.3%
    }

    .cms-newsletter-archive-list .nl_row > div:nth-child(4n+1) {
        margin-left: 17px
    }

    .cms-newsletter-archive-list .nl_row > div:nth-child(3n+1) {
        margin-left: 0
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1465px) {
    /*---------------------------------------------------------------*/
    .page-products.page-layout-1column .products-grid .product-item {
        width: calc((100% - 51px) / 4);
    }

    .page-products.page-layout-1column .products-grid .product-item:nth-child(4n+1) {
        margin-left: 0px;
    }

    .footer.content .footer-top > div > div:nth-child(2) > div {
        padding-left: 15px;
    }

    .cms-home #maincontent .product-listing .product-item {
        /*width: calc((100% - 80px) / 5);*/
    }

    .footer.content .footer-top > div > div:nth-child(2) .customer-service {
        /*padding-left: 23%*/
    }

    body.landing-page .products-grid .product-item:nth-child(5n+5),
    .products-grid .category-landing .product-item:nth-child(5n+5),
    body.catalog-product-view .products-grid .product-item:nth-child(5n+5) {
        display: none !important
    }

    html.desktop body.landing-page .products-grid .product-item:first-child,
    html.desktop body.catalog-product-view .products-grid .product-item:first-child {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
    }

    .block.related .product-item, .block.upsell .product-item, .block.crosssell .product-item {
        max-width: calc((100% - 51px) / 4);
    }

    /*----PDP----*/
    .page-layout-1column .product.media {
        width: 46%;
    }

    .page-layout-1column .product-info-main {
        width: 51%;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1365px) {
    .account.page-products .column.main .product-items > li {
        min-width: auto;
        width: calc((100% - 48px) / 3);
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 875px) and (max-width: 1200px) {
    /*#location-popup {
        background-size: auto 380px;
    }*/
    .catalog-topnav .filter-options .filter-options-item + .filter-options-item, .category-top-wrapper .sort-menu {
        padding-left: .9em !important;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    /*---------------------------------------------------------------*/
    .header .nav-toggle[data-action="toggle-nav"] {
        left: 178px;
    }

    .headerBottom-left.col-md-7 {
        /*max-width: 540px;*/
    }

    .headerBottom > div.headerBottom-left.col-md-7 ul > li {
        font-size: 14px;
    }

    .headerBottom > div.headerBottom-right > div.widget.block.block-static-block {
        margin-left: 18px;
    }

    .sections.nav-sections {
        margin-left: 15px;
    }

    .footer.content .links > div:nth-child(3) ul > li:first-child, .footer.content .links > div:nth-child(3) ul > li + li {
        margin-right: 13px;
    }

    .footer.content .links > div:nth-child(3) ul > li:last-child {
        margin-right: 0px;
    }

    .cms-home #maincontent .home-category-block .heading-block > h2 {
        letter-spacing: 9px;
        font-size: 50px;
    }

    .cms-home #maincontent .heading-block h3 {
        font-size: 25px;
        margin-top: 25px
    }

    .header .block.block-search {
        width: 195px;
    }

    .location-popup-header h3 {
        font-size: 26px;
    }

    .header.panel .header.links > li, .header.panel .header.links > li.signIn-register {
        margin-left: 0px;
    }

    .header.panel .header.links > li.signIn-register a:nth-of-type(1), .header.panel ul.header.links > li.signIn-register a {
        margin-left: 5px !important;
        margin-top: -7px;
        width: 80px;
        padding: 6px 0px 3px;
    }

    .headerBottom > div.headerBottom-left ul li:nth-child(1):before {
        top: -9px;
    }

    .headerBottom > div.headerBottom-left ul li, .headerBottom > div.headerBottom-right > div a {
        font-size: 13px;
    }

    .headerBottom > div.headerBottom-right > div a span {
        top: -4px;
    }

    .headerBottom > div {
        padding-top: 13px;
    }

    .headerBottom > div.headerBottom-left ul {
        margin-top: 2px;
    }

    .footer.content .footer-top > div .footer-sm-links ul li {
        margin-right: 11px;
    }

    /**** Mega Menu ****/
    .nav-sections .navigation {
        max-width: 950px
    }

    .header.content .ms-megamenu .ms-submenu {
        width: 750px
    }

    /*.header.content .ms-megamenu .ms-submenu .f-product {
        width: 98%;
        margin-bottom: 10px
    }*/
    .header.content .ms-megamenu .ms-submenu .f-product:last-of-type {
        margin-bottom: 0
    }

    .header.content .ms-megamenu .form-group {
        margin-bottom: 0
    }

    .modal-popup .modal-inner-wrap {
        width: 950px
    }

    .cms-newsletter-archive-list .nl_row > div {
        width: 32%
    }

    .cms-newsletter-archive-list .nl_row > div:nth-child(4n+1) {
        margin-left: 17px
    }

    .cms-newsletter-archive-list .nl_row > div:nth-child(3n+1) {
        margin-left: 0
    }

}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 875px) and (max-width: 991px) {
    /*---------------------------------------------------------------*/
    a.logo {
        /*max-width: 110px;*/
        margin-top: 10px;
        margin-bottom: 6px;
    }

    .header .nav-toggle[data-action="toggle-nav"] {
        left: 172px;
        width: 130px;
    }

    .sections.nav-sections {
        width: 130px;
        margin-top: 0;
    }

    .header .nav-sections > div > .nav-sections-item-title:nth-child(1), .header .block-search .control {
        margin-top: 35px;
    }

    .header .nav-sections > div > .nav-sections-item-title:nth-child(1) a.nav-sections-item-switch {
        padding-left: 32px;
        font-size: 11px
    }

    .header .block.block-search {
        width: 180px;
    }

    .sections.nav-sections {
        margin-left: 10px;
    }

    .header.panel ul.header.links > li, .header.panel ul.header.links > li.signIn-register {
        font-size: 13px;
    }

    .headerBottom > div.headerBottom-left.col-md-7 ul > li {
        font-size: 12px;
        font-family: 'museo_sans500';
    }

    .headerBottom > div.headerBottom-right > div.widget.block.block-static-block {
        margin-left: 8px;
        font-size: 12px;
    }

    .headerBottom-left.col-md-7 {
        min-width: 470px;
        padding-right: 0px;
        max-width: 50%;
    }

    .cms-home #maincontent .home-category-block .heading-block > h2 {
        letter-spacing: 4px;
        font-size: 40px;
    }

    .cms-home #maincontent .heading-block h3 {
        font-size: 18px;
        margin-top: 15px
    }

    .header .block-search input[type=text]::-moz-placeholder {
        font-size: 11px;
    }

    .header .block-search input[type=text]::-webkit-input-placeholder {
        font-size: 11px;
    }

    .header .block-search input[type=text]:-ms-placeholder {
        font-size: 11px;
    }

    .header .block-search input[type=text]:-moz-placeholder {
        font-size: 11px;
    }

    .modal-popup .modal-inner-wrap {
        width: 85%;
    }

    .location-popup-header h3 {
        font-size: 24px;
    }

    .header.panel ul.header.links > li, .header.panel ul.header.links > li.signIn-register {
        font-size: 10px;
    }

    .header.panel .header.links > li.signIn-register a:nth-of-type(1), .header.panel ul.header.links > li.signIn-register a {
        width: 70px;
    }

    .header .block-search input {
        padding-left: 30px;
    }

    .header .block-search .action.search {
        left: 5px
    }

    .header .block.block-search {
        width: 160px;
    }

    .footer.content .footer-top > div > div:nth-child(2) > div:nth-child(1) h4 {
        margin-right: 5px;
    }

    .footer.content .footer-top > div .footer-sm-links ul li {
        margin-right: 5px;
    }

    .footer.content .footer-top > div > div:nth-child(2) > div {
        padding-left: 15px;
    }

    .cms-home #maincontent .product-listing .product-item {
        /*width: calc((100% - 80px) / 5);*/
        width: 25%;
    }

    /*------Product Listing Page Css-----*/
    .page-products.page-layout-1column .products-grid .product-item, .block.related .product-item, .block.upsell .product-item, .block.crosssell .product-item {
        width: calc((100% - 34px) / 3);
    }

    .page-products.page-layout-1column .products-grid .product-item:nth-child(3n+1) {
        margin-left: 0px;
    }

    .header.panel .header.links {
        margin-left: 10px;
    }

    /**** Mega Menu ****/
    .nav-sections .navigation {
        max-width: 830px
    }

    .header.content .ms-megamenu .ms-submenu {
        width: 635px
    }

    .header.content .ms-megamenu .ms-submenu .f-product {
        width: 98%;
        margin-bottom: 10px;
        max-width: 100%
    }

    .header.content .ms-megamenu .ms-submenu .f-product:last-of-type {
        margin-bottom: 0
    }

    .header.content .ms-megamenu .form-group {
        margin-bottom: 0
    }

    .header.content .ms-megamenu .ms-submenu .block.widget .products-grid .product-item {
        max-width: 100%
    }

    .header.content .ms-topmenu li.ui-menu-item.first .cat-first-product-listing {
        padding-left: 0
    }

    .modal-popup .modal-inner-wrap {
        width: 830px
    }

    .table-wrapper.grouped .grouped-products > ul > li {
        max-width: 100%;
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        border-bottom: 1px solid #d3d5d4;
    }

    .headerBottom > div.headerBottom-left {
        max-width: 565px;
    }

    .cms-newsletter-archive-list .nl_row > div {
        width: 48%
    }

    .cms-newsletter-archive-list .nl_row > div:nth-child(4n+1),
    .cms-newsletter-archive-list .nl_row > div:nth-child(3n+1) {
        margin-left: 17px
    }

    .cms-newsletter-archive-list .nl_row > div:nth-child(2n+1) {
        margin-left: 0
    }
}

@media screen and (max-width: 1400px) {
    .cc__field-container {
    }

    .cc__cart-container {

    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .account.page-products .column.main .product-items > li {
        min-width: auto;
        width: calc((100% - 32px) / 2);

    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
    /*---------------------------------------------------------------*/
    .headerBottom .headerBottom-left.col-md-7 ul, .headerBottom > div.headerBottom-left ul li {
        margin-right: 0px;
    }

    .headerBottom > div.headerBottom-right > div.widget.block.block-static-block:nth-of-type(1) {
        margin-left: 0px;
    }

    .column.main ol.product-items.widget-product-grid {
        margin-left: 0px;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
    }

    ol.product-items.widget-product-grid > li.product-item {
        max-width: 157px;
    }

    .page-layout-1column .block.widget .products-grid .product-item {
        /*margin-left: 36.141px;*/
        /*padding-left: 0px;*/
    }

    .page-layout-1column .block.widget .products-grid .product-item:nth-child(5n + 1) {
        margin-left: 0px;
    }

    .header.panel .header.links > li, .header.panel .header.links > li.signIn-register {
        margin-left: 0px;
    }

    .header.panel .header.links > li.signIn-register a:nth-of-type(1), .header.panel ul.header.links > li.signIn-register a {
        margin-left: 0px;
        margin-top: -7px;
        padding: 6px 0px 3px;
    }

    .headerBottom > div.headerBottom-left ul li:nth-child(1):before {
        top: -9px;
    }

    .headerBottom > div.headerBottom-right > div a span {
        top: -4px;
    }

    .headerBottom > div {
        padding-top: 13px;
    }

    .headerBottom > div.headerBottom-left ul {
        margin-top: 2px;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 991px) {

    /*--Header CSS--*/
    .headerBottom > div.headerBottom-right {
        padding-top: 17px;
    }

    .headerBottom > div.headerBottom-left {
        padding-top: 14px;
    }

    .cms-home .product-item-info {
        padding-bottom: 35px;
    }

    /*-----PDP-----*/
    .column.main {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .columns .column.main {
        padding-bottom: 40px;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
        width: 100%;
    }

    .page-product-grouped .columns .column.main {
        padding: 0px;
    }

    .catalog-product-view .product.media {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }

    .page-layout-1column .product.media, .page-layout-1column .product-info-main {
        width: 100%;
    }

    .ck__container {
        margin-bottom: 20px;
    }

    .catalog-product-view .fotorama__loaded > img {
        width: auto;
        max-width: 100%;
    }

    /*cHECKOUT cART pAGE*/
    .cart-summary {
        width: 35%;
    }

    .cart-container .form-cart {
        width: 60%;
    }

    /*--My Account--*/
    .account .fieldset > .field:not(.choice) > .label {
        width: 36%;
    }

    .account .fieldset > .field:not(.choice) > .control {
        width: 64%;
    }

    .account .fieldset > .field.choice {
        margin-left: 36%;
    }

    .account .actions-toolbar:not(.order-actions-toolbar):not(.addNewAddress), .account.customer-address-form .message.info {
        margin-left: 36% !important;
        width: 64%;
    }

}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 874px) {

    .page-header {
        margin-bottom: 0
    }
	
	html.android .location-tab-content ul li a:focus {
		text-decoration:underline
	}

    .top-category-links, .cat-menu-nav {
        display: none
    }

    .cms-home #maincontent > div.columns > div > div.block-static-block > p:first-child {
        display: none
    }

    .header .nav-toggle {
        background: url(../images/hamburger.png) no-repeat left top / 100%;
        width: 61px;
        height: 57px;
        margin: 20px 0 0 30px;
        position: static;
        float: left;
    }

    .header .block-search .search-autocomplete {
        float: none;
    }

    .header .block-search .search-result-area {
        top: 85px
    }

    .search-result-area .mCustomScrollBox {
        max-height: 86.5vh !important
    }

    .search-autocomplete ul {
        max-height: 200px;
        min-height: 150px;
    }

    .header .block-search, .header .block-search .block-content {
        position: static;
    }

    .header .block-search {
        width: 42px;
        margin-top: 22px;
        margin-left: calc(25% - 102px);
        padding: 0px;
    }

    .header .block-search .control {
        padding: 0px;
        border: none;
        margin: 0px;
    }

    .block-search .label {
        padding: 0px;
        margin-bottom: 0;
        position: static;
        width: auto;
        height: auto;
    }

    .block-search input {
        top: -300px;
        left: 30px;
        right: 30px;
        z-index: 9;
        width: calc(100% - 60px);
        position: absolute;
    }

    .block-search #search_mini_form .control {
        display: none
    }

    .block-search #search_mini_form.active .control {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 20;
        width: 100%
    }
	
	html.android .block-search #search_mini_form.active .control,
	html.android .block-search #search_mini_form.active .control:before,
	html.android .header .block-search .action.search {
		position:absolute;
	}

    .block-search #search_mini_form.active .control:before {
        content: " ";
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 85px;
        background-color: #d5d5d5;
    }

    #search__overlay {
        content: " ";
        position: fixed;
        z-index: 19;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    .searchsuite-autocomplete {
        top: 80px;
    }

    .search-autocomplete {
        margin-top: 80px;
        margin-left: 20px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px
    }

    .header .block-search .action.search {
        display: none;
        position: fixed;
        z-index: 20;
        top: 21px;
        right: 21px;
        left: auto;
        border: 0;
        background-color: #33b699;
        border-radius: 0 5px 5px 0 !important;
        -moz-border-radius: 0 5px 5px 0 !important;
        -webkit-border-radius: 0 5px 5px 0 !important;
        cursor: pointer;
    }

    .header .block-search #search_mini_form.active .action.search {
        display: block;
    }

    .block-search .action.search[disabled] {
        opacity: 0.5;
        filter: alpha(opacity=50);
        cursor: default
    }

    .header .block-search .action.search:before {
        -webkit-font-smoothing: antialiased;
        color: #fff;
        content: '\e615';
        font-family: 'icons-blank-theme';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
        background: none;
        width: 50px;
        height: auto;
        font-size: 38px;
        line-height: 35px
    }

    .block-search .action.search > span {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .block-search #search_mini_form.active .control input {
        top: 20px;
        position: absolute;
        padding-left: 15px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-left: 1px solid #ccc;
        height: 45px;
        width: calc(100% - 40px);
        left: 0;
        right: 0;
        margin: auto;
        padding-right: 50px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .block-search .label:before, .header .minicart-wrapper .action.showcart:before {
        font-size: 42px;
        line-height: 57px;
    }

    .block-search .label:before {
        color: #33b699;
    }

    .block-search .label:hover:before {
        color: #33b699;
    }

    .logo {
        position: absolute;
        left: 0;
        right: 0;
        margin: 14px auto;
        width: 132px;
    }

    .header.content .ms-megamenu #close-megamenu {
        display: none
    }

    .nav-before-open, .nav-before-open body {
        width: 100%;
        height: 100% !important;
        overflow-x: hidden;
        position: fixed;
    }

    .header.content .nav-sections nav.ms-megamenu {
        background-color: #EFEFEF
    }

    .header .nav-toggle:after {
        z-index: 10
    }

    .ms-megamenu .mb-label.glyphicon {
        font-size: 13px
    }

    .sections.nav-sections {
        margin: 0px;
        position: fixed;
        overflow: auto;
        height: 100%;
        display: none;
        left: 0;
        z-index: 999
    }

    .nav-sections .navigation {
        top: 0;
    }

    .sections.nav-sections {
        width: 500px;
        background-color: #ffffff
    }

    .nav-open .page-wrapper {
        width: 100%;
        left: 0
    }

    .nav-open .nav-sections-item-title,
    .nav-open .nav-sections-item-title {
        display: none
    }

    .header.content .ms-topmenu .ms-label > span.mm-text {
        width: 90%
    }

    .nav-open .header.content .ms-topmenu .ms-label span.ms-iconmega {
        float: left
    }

    .nav-open .header .nav-sections > div > .nav-sections-item-title:nth-child(1) {
        display: none
    }

    .header.content .ms-megamenu .ms-topmenu li.ui-menu-item.first > a,
    .header.content .ms-megamenu .ms-topmenu li.ui-menu-item.first .mb-label.glyphicon,
    .ms-topmenu .ms-level0.active .mb-label.glyphicon
    .header.content .ms-megamenu .ms-topmenu:hover li.ui-menu-item.first > a,
    .header.content .ms-megamenu .ms-topmenu:hover li.ui-menu-item.first .mb-label.glyphicon {
        background-color: #EFEFEF
    }

    .header.content .ms-topmenu li.ui-menu-item.first.active.mbactive .ms-label,
    .header.content .ms-megamenu .ms-topmenu li.ui-menu-item.first.active.mbactive .mb-label.glyphicon {
        background-color: #fff
    }

    .header.content .ms-topmenu li.ui-menu-item.first .cat-first-heading {
        margin-bottom: 0
    }

    .header.content .ms-topmenu li.ui-menu-item.first .cat-first-heading a {
        padding-left: 10px
    }

    .header.content .ms-topmenu li.ui-menu-item.first .mb-submain div {
        padding-left: 0;
        padding-right: 0;
        min-height: 1px;
    }

    .header.content .ms-topmenu li.ui-menu-item.first .hidden-xs {
        display: none
    }

    .header.content .ms-topmenu li.ui-menu-item.first .col-sm-6 {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-open .sections.nav-sections {
        display: block
    }

    .nav-open .ms-megamenu .mb-submenu a {
        color: #000000;
        font-family: 'museo_sans700';
        font-weight: normal;
        padding: 10px 0 10px 10px;
    }

    .nav-open .mb-content .col-category > div > div > p:nth-of-type(1) {
        margin-bottom: 0
    }

    .nav-open .ms-megamenu .mb-submenu .col-sub a {
        color: #33B699;
        border: 0;
        padding: 0;
        text-indent: 5px
    }

    .nav-open .header.content .ms-megamenu .ms-topmenu,
    .nav-open .header.content .ms-topmenu .ms-label {
        width: 100%
    }

    .nav-open .ms-megamenu .mb-label {
        z-index: 202;
        top: 5px
    }

    .nav-open .ms-megamenu .mb-submain > div {
        margin-bottom: 0
    }

    .nav-open .ms-megamenu .mb-submain > div > div:nth-of-type(1) {
        padding: 0;
        width: 100%
    }

    .nav-open .ms-megamenu .mb-submain > div > div:nth-of-type(3) {
        display: none
    }

    .header .nav-sections > div > .nav-sections-item-title:nth-child(1) a {
        display: none
    }

    .nav-open .header.content .ms-topmenu .mb-submenu.blind .ms-label {
        display: none
    }

    .header.content .ms-topmenu li.ui-menu-item.first .ms-label span.ms-iconmega {
        background-position: inherit
    }

    .header.content .ms-topmenu li.ui-menu-item.first a {
        color: inherit
    }

    .header.content .ms-topmenu li.ui-menu-item.mbactive .ms-label,
    .nav-open .ms-topmenu .ms-level0:hover .ms-label {
        color: #33B699
    }

    .header.content .ms-topmenu li.ui-menu-item.mbactive .ms-label span.ms-iconmega {
        background-position: bottom left
    }

    .nav-open .mb-content .col-category {
        padding-top: 0;
        padding-bottom: 0
    }

    .nav-open .mb-content > div:nth-of-type(2) {
        margin-bottom: 0
    }

    .nav-open .ms-megamenu .parent .small {
        top: 13px;
        color: #000;
        width: 15px
    }

    .mb-submenu .ms-category-level .col-category a.form-group {
        border: 0
    }

    .ms-category-level a.form-group {
        text-indent: 15px
    }

    .nav-open .ms-topmenu .ms-label {
        padding: 10px 15px !important
    }

    .headerBottom > div.headerBottom-right {
        display: none;
    }

    .header .minicart-wrapper {
        margin-top: 39px;
    }

    .header.panel .header.links > li.signIn-register a:nth-of-type(1), .header.panel ul.header.links > li.signIn-register a {
        padding: 6px 0;
    }

    .headerBottom > div.headerBottom-left {
        margin-left: 0px;
        padding: 17px 30px 0;
    }

    .headerBottom > div.headerBottom-left ul {
        width: 100%;
        text-align: center;
        margin: 0
    }

    .headerBottom > div.headerBottom-left ul li {
        font-size: 13px;
        line-height: 22px;
    }

    .headerBottom > div.headerBottom-left ul li:nth-child(1) {
        display: inline;
        padding-left: 0px;
    }

    .headerBottom > div.headerBottom-left ul li:nth-child(1)::before {
        position: static;
        display: inline;
        vertical-align: middle;
        line-height: 12px;
    }

    .page-header .header.panel {
        margin-left: 0px;
        margin-top: 17px;
    }

    .page-header .panel.wrapper {
        padding: 0px 30px;
    }

    .page-header .panel.wrapper, .page-header .panel.header, .page-header .panel.wrapper .panel.header ul {
        border: 0;
        background-color: transparent !important;
        border-bottom: 0px;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: none;
        width: 100%;
        float: left;
        display: block;
    }

    .page-header .panel.wrapper .panel.header ul {
        padding: 10px 0;
    }

    .page-header .panel.wrapper {
        border-top: 1px solid #6a706e;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .page-header .panel.wrapper .panel.header ul > li.signIn-register {
        float: right;
    }

    .page-header .panel.wrapper .panel.header ul > li.signIn-register a + a {
        margin-right: 0px;
    }

    .cms-home #maincontent > div.columns > div > div.block-static-block > div:nth-of-type(1) .home-category-block {
        margin-top: 20px;
    }

    .cms-home #maincontent > div.columns .home-category-block {
        background: #fff;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 100%;
    }

    .cms-home #maincontent .home-category-block .heading-block > h2 {
        letter-spacing: 3px;
        font-size: 28px;
        margin-bottom: 4px;
        padding: 0px 15px;
        line-height: 36px;
    }

    .cms-home .home-page-offers {
        white-space: nowrap;
    }

    .cms-home #maincontent .home-category-logo-left, .cms-home #maincontent .home-category-logo-right {
        left: 3%;
        width: 100px;
    }

    .cms-home #maincontent .home-categories-list {
        padding-bottom: 0;
    }

    .panel.header .links, .panel.header .switcher, .cms-home #maincontent .home-categories-list .shop-now {
        display: none;
    }

    .cms-home #maincontent .heading-block {
        position: static;
        top: 0;
    }

    .cms-home #maincontent .heading-block h3 {
        font-size: 14px;
        margin-top: 0;
        padding: 0px 10px;
        line-height: 20px;
    }

    .cms-home #maincontent .heading-block h2, .cms-home #maincontent .heading-block h3 {
        color: inherit !important;
        margin-top: 10px;
    }

    .cms-home #maincontent .product-listing .product-item {
        width: 30.333333%;
    }

    .cms-home .flickity-prev-next-button {
        display: none;
    }

    .product-items.widget-product-grid .product-item-info {
        padding: 0 5px;
    }

    .widget.block-products-list .products-grid.grid {
        padding: 0;
    }

    .widget.block-products-list .products-grid.grid .flickity-slider {
        /*margin-left: 20px;*/
    }

    .cms-home #maincontent .product-listing a.product-item-link {
        height: 40px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .cms-home #maincontent .home-categories-list .block-title {
        padding: 0 5px;
    }

    .product-listing .products-grid .mCSB_scrollTools.mCSB_scrollTools_horizontal {
        opacity: 0 !important;
        height: 0px;
    }

    html.desktop .cms-home #maincontent .product-listing .product-item {
        width: calc((100% - 60px) / 4);
    }

    /*html.desktop .cms-home #maincontent .product-listing .product-item:last-child {
        display: none;
    }*/
    /*------Product Listing Page Css-----*/
    .page-products.page-layout-1column .products-grid .product-item {
        width: calc((100% - 17px) / 2);
    }

    .page-products.page-layout-1column .products-grid .product-item:nth-child(2n+1) {
        margin-left: 0px;
    }

    .page-main, .footer.content .footer-wrapper, .page-header .header.content, .headerBottom {
        max-width: 745px;
    }

    /****************************/
    /*-----CSS FOR POPUPS-----*/
    /*.modal-popup.modal-slide{left: 30px; right: 30px;}*/
    #location-popup {
        background-size: auto 391px;
    }

    /****************************/
    /*--------CSS FOR FOOTER---------*/
    .footer-top:before {
        left: 0px;
        top: inherit;
        height: 234px;
    }

    .footer.content .footer-top > div .footer-sm-links .widget.block {
        margin-top: 23px;
    }

    .footer.content .footer-top > div.footer-wrapper > div {
        width: 100%;
    }

    .footer.content .footer-top > div > div:nth-child(2) > div {
        padding-left: 0px;
    }

    .footer.content .footer-top .widget.block + .widget.block + .widget.block {
        margin-bottom: 45px;
    }

    .footer.content .footer-top .customer-service .widget.block {
        margin-bottom: 14px;
    }

    .header.panel .header.links > li.myacount ul {
        display: none;
        background-color: #242d2a !important;
        width: 225px !important;
        padding: 0 !important;
        right: 0;
    }

    .header.panel .header.links > li.myacount {
        float: right;
    }

    .header.panel .header.links > li.myacount > a {
        padding: 12px;
        padding-right: 28px;
        margin: 0;
    }

    /*------Listing Page Css-------*/
    .cat-menu + .top-category-links, .cat-menu > .cat-menu-nav {
        display: none;
    }

    .cat-menu .cat-menu-parent {
        margin-bottom: 0;
    }

    .category-top-wrapper,
    .category-top-wrapper > .toolbar.toolbar-products .total-products.product__count {
        padding-top: 0;
        margin: 0;
    }

    .products.wrapper {
        margin-top: 0px;
    }

    .category-top-wrapper > .toolbar.toolbar-products {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }

    .right-filter-sortby {
        float: none;
        display: table;
        margin: 0 auto;
    }

    .menu-crumbs {
        margin-bottom: 20px;
    }

    /** Store Popup **/
    .modal-popup .modal-inner-wrap {
        width: 600px
    }

    .location-popup-header h3 {
        font-family: 'museo_sans500';
        font-size: 20px;
        color: #000;
        margin: 25px 0 10px
    }

    /*#store-location-popup #storeList .storeView {
        display: none
    }

    #store-location-popup #storeList .storeView.active {
        display: block
    }*/
    #store-location-popup #storeList {
        height: 200px !important
    }

    .modal-popup.modal-slide .modal-inner-wrap {
        height: 98%
    }

    .showReviewPopup .modal-inner-wrap {
        height: auto !important;
        margin: 2em auto !important;
    }

    .modal-popup.modal-slide .modal-inner-wrap {
        transform: translateY(-200%);
        -webkit-transform: translateY(-200%)
    }

    .modal-popup.modal-slide._show .modal-inner-wrap {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        background: #fff;
    }

    .location-popup-header {
        min-height: 200px
    }

    .location-popup-header .form-area {
        margin-top: 20px
    }

    .location-tab-content ul li {
        width: 32%
    }

    .location-tab-container ul.tab li a {
        font-size: 17px
    }

    /*-Recipe Detail Page-*/
    .table-wrapper.grouped .grouped-products > ul > li {
        max-width: 100%;
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        border-bottom: 1px solid #d3d5d4;
    }

    .product.grouped-images .product-addto-links > * {
        width: 15%;
    }

    .product.grouped-images .product-info-price {
        width: 33.3333333333%;
    }

    .product.grouped-images .product-addto-links > div.wishlist-btn {
        width: 20.5%;
    }

    .w100 {
        width: 100% !important;
    }

    .w50 {
        width: 50% !important;
    }

    .w100 .toolbar.toolbar-products {
        display: block !important;
    }

    .header .minicart-wrapper .block-minicart {
        overflow-y: scroll;
    }

    /*cHECKOUT cART pAGE*/
    .cart-summary, .cart-container .form-cart {
        width: 100%;
        float: left;
        position: static !important;
    }

    .cart-container .form-cart .action.update {
        display: block;
        margin: 0 auto 10px;
        width: 100%;
        text-align: center;
    }

    .cart-container .form-cart .action.continue, .cart-container .form-cart .action.clear {
        display: none;
    }

    body.checkout-cart-index td .product-image-container {
        max-width: 60px;
    }

    .cart.items.data.table tr.item-info td:first-child {
        border-top: none;
    }

    .cart.items.data.table thead tr th {
        border-top: none;
    }

    .cart.items.data.table tr td {
        border-color: #eee !important;
        text-align: left;
    }

    .mobFilterIcon {
        display: block;
        text-align: right;
    }

    a.filter-icon.activeFilter, a.filter-icon.activeFilter:hover {
        display: inline-block;
        color: #242d2a;
        text-decoration: none;
    }

    a.filter-icon.activeFilter:after {
        content: "FILTER";
        width: 100%;
        display: block;
        color: #242d2a;
        text-decoration: none;
    }

    a.filter-icon.activeFilter:hover:after {
        color: #242d2a;
        text-decoration: none;
    }

    .page-layout-checkout .logo {
        margin: 10px auto;
        float: none;
        text-align: center;
        display: block;
        width: 132px;
    }

    .product__count {
        margin-top: 6px;
    }

    /*----Filter-----*/
    .right-filter-sortby {
        padding: 0 1em;
    }

    .category-top-wrapper .amasty-catalog-topnav, .catalog-topnav .filter-options .filter-options-item, .filter-options-selected {
        width: 100%;
    }

    .catalog-topnav .filter-options .filter-options-item + .filter-options-item {
        padding-left: 0 !important;
    }

    .category-top-wrapper .sort-menu > #collapsed-sorter div[data-role="content"], .catalog-topnav .filter-options-content {
        min-width: 100%;
    }

    .catalog-topnav .filter-options .filter-options-item + .filter-options-item, .category-top-wrapper .sort-menu {
        padding-left: 0;
        width: 100%;
        max-width: 100%;
    }

    .filter-options-item .filter-options-title, .sorter-label, .filter-options-selected, .category-top-wrapper .sort-menu > #collapsed-sorter ul.sorter-options > li {
        text-align: left;
    }

    .filter-options-title:after, .sorter-label:after {
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .category-top-wrapper .sort-menu > #collapsed-sorter div[data-role="content"] {
        top: 26px;
    }

    .category-top-wrapper .sort-menu > #collapsed-sorter div[data-role="content"] + .filter-options-selected {
        padding-left: 10px;
    }

    .filter-options-selected {
        max-width: 100%;
        left: 0;
        right: 0;
    }

    .mobileFilterPopup {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        z-index: 9999;
        width: 100%;
        max-width: 320px;
        padding-top: 40px;
        padding-bottom: 40px;
        height: 100%;
        overflow: auto;
    }

    .mobileFilterPopup.filtershown, .removeFiterShown {
        display: block !important;
    }

    .phOnClick {
        z-index: 0 !important;
    }

    .filter-options-item.allow.active .selected-filter-wrapper, .sort-menu > .active .filter-options-selected {
        display: none;
    }

    .filter-options-item .filter-options-title {
        border-bottom: 1px solid #8d8e8f;
    }

    .filter-options-item.active .filter-options-title, .category-top-wrapper .sort-menu > #collapsed-sorter.active > div[data-role="collapsible"] {
        border: none;
        padding: 7px 10px 0px;
        border-radius: 0;
        border-bottom: 1px solid #8d8e8f;
    }

    .catalog-topnav .filter-options-content, .category-top-wrapper .sort-menu > #collapsed-sorter div[data-role="content"] {
        position: static;
        border: none;
        border-radius: 0;
    }

    .catalog-topnav .filter-options .filter-options-item {
        border-bottom: none;
        min-height: 50px;
        margin-bottom: 10px;
    }

    .category-top-wrapper .sort-menu > #collapsed-sorter div[data-role="content"] {
        min-width: 100%;
        margin-left: -10px;
        margin-right: -10px;
    }

    .category-top-wrapper .sort-menu > #collapsed-sorter > div[data-role="collapsible"] {
        border-bottom: 1px solid #8d8e8f;
    }

    .category-top-wrapper .sort-menu {
        border-bottom: 0;
    }

    .filter-options .filter-options-content .item a, .category-top-wrapper .sort-menu > #collapsed-sorter ul.sorter-options > li {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .filter-options .filter-options-content .item:last-child, .category-top-wrapper .sort-menu > #collapsed-sorter ul.sorter-options > li:last-child {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .mbactive.nav-2 .ms-iconmega, .mbactive.nav-5 .ms-iconmega, .mbactive.nav-15 .ms-iconmega, .nav-15:hover .ms-iconmega,
    .header.content .ms-topmenu li.ui-menu-item.nav-2:hover .ms-label span.ms-iconmega,
    .header.content .ms-topmenu li.ui-menu-item.nav-5:hover .ms-label span.ms-iconmega,
    .header.content .ms-topmenu li.ui-menu-item.nav-15:hover .ms-label span.ms-iconmega {
        background-position-y: -46px !important;
    }

    /*--Recipe Detail Page--*/
    body.page-product-configurable .product.data.items > .item.title.active > .switch,
    body.catalog-product-view .product.data.items > .item.title.active > .switch,
    .table-wrapper.grouped .grouped-products div.ingredients, .product.grouped-images .gphd > h1 {
        font-size: 22px;
        line-height: 26px;
    }

    .table-wrapper.grouped {
        width: 100%;
        float: left;
        margin-bottom: 0;
    }

    .table-wrapper.grouped .grouped-products div.ingredients {
        border-bottom: 1px solid #d3d5d4;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .cms-newsletter-archive-list .nl_row > div {
        width: 48%
    }

    .cms-newsletter-archive-list .nl_row > div:nth-child(4n+1),
    .cms-newsletter-archive-list .nl_row > div:nth-child(3n+1) {
        margin-left: 17px
    }

    .cms-newsletter-archive-list .nl_row > div:nth-child(2n+1) {
        margin-left: 0
    }

    /*----Thank You Page----*/
    .latest-blog ol {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .latest-blog ol > li {
        flex: 0 1 50%;
        border: 1px solid #d5d5d5;
        outline-offset: 0;
        position: relative;
    }

    .latest-blog ol > li + li {
        margin-left: 0;
    }

    a.action.primary.followOurBlogLink {
        min-width: 100%;
    }

    h2.blogheading {
        font-size: 20px;
        line-height: 24px;
    }

    .catalog-product-view .tag__list {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .tag__list li {
        white-space: nowrap;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media (max-width: 768px) {
    .cms-home .block.widget .products-grid .product-item:nth-of-type(1n+4) {
        display: none;
    }

    .cms-home .block.widget .products-grid .product-items.flickity-enabled .product-item:nth-of-type(1n+4) {
        display: block;
    }

    .addresses .shipping-address-items > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .cms-home #maincontent > div.columns > div > div.block-static-block > p:first-child {
        display: none
    }

    /*Product detail page*/
    body.catalog-product-view.page-product-grouped #maincontent .columns {
        padding: 0;
    }

    body.catalog-product-view #maincontent .columns {
        padding: 1em;
    }

    .page-layout-1column .product.media {
        width: 100%;
        margin-bottom: 20px;
    }

    .page-layout-1column .product-info-main {
        width: 100%;
    }

    .box-tocart .fieldset {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
    }

    .box-tocart .fieldset .actions {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .block.related .product-item, .block.upsell .product-item, .block.crosssell .product-item {
        max-width: calc((100% - 16px) / 2);
        margin: 0 8px !important;
    }

    html.mobile body.cms-home #maincontent.page-main {
        padding: 0 10px;
    }

    .modal-popup.modal-slide .modal-inner-wrap {
        position: relative;
        z-index: 1;
        -webkit-overflow-scrolling: touch;
    }

    html.mobile .cms-home #maincontent .home-categories-list {
        padding-right: 0px;
        padding-left: 0px;
    }

    #store-location-popup .store-tabs {
        display: none
    }

    #store-location-popup > div:nth-of-type(1) {
        border: 0
    }

    #store-location-popup #storeList .storeView h2 {
        font-size: 18px
    }

    html.mobile .cms-home #maincontent .product-listing .product-item:last-child {
        margin-right: 5%;
    }

    .cms-home #maincontent .home-categories-list .see-all {
        display: none;
    }

    .modal-popup .modal-title {
        font-size: 20px;
    }

    .cc__field-container {
        width: 100%;
    }

    .cc__cart-container {
        width: 100%;
        margin-left: 0;
    }

    .sign_on_options {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .sign_on_options li {
        max-width: 100%;
        padding: 30px 0 !important;
        margin: 0;
    }

    .sign_on_options li.first {
        border-right: none;
        border-bottom: 1px solid #dbdbdb;
    }

    .modal-popup.modal-slide, .multiwishlist-modal {
        left: 10px;
        right: 10px;
        top: 10px;
    }

    .btnArewhnsignin, .btnArewhnsignin .btn_deliver {
        min-width: 100%;
    }

    .dis__fWrapper {
        padding: 0 15px;
    }

    .header .block-search .search-autocomplete {
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .page-header {
        z-index: 10;
    }

    .right-filter-sortby.active {
        display: block;

        position: fixed;
        z-index: 999;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: #f5f5f5;
    }

    .checkout-index-index .modal-popup .modal-inner-wrap {
        margin-left: -50%;
        width: 100%;
        left: 50%;
    }

    #shipping-new-address-form {
        width: auto;
        margin: 0 -7px;
    }

    .checkout-index-index .action.primary.action-save-address {
        width: 100%;
    }

    .gp-header .fotorama__loaded.img-overlay > img {
        min-height: 1px;
    }

    /*.gp-header .fotorama__stage__shaft:after, .gp-header .fotorama__loaded.img-overlay:after {
        content: none;
    }

    .product.grouped-images .gphd {
        position: relative;
        color: #333;
        bottom: 0;
    }*/
    /*--Checout Page Mobile--*/
    .checkout-index-index .page-main, .checkout-index-index .page-header .header.content {
        max-width: 550px;
    }

    .checkoutPageContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        float: left;
    }

    .checkoutPageContainer > * {
        min-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .checkoutPageContainer > .cc__field-container {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .checkoutPageContainer > .cc__cart-container {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 40px;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 767px) {
    .oth__des .col-sm-6.imgRight > img,
    .sec__box .col-sm-6.imgRight > img {
        margin-top: 15px;
    }

    .fieldset > .field:not(.choice) > .label {
        margin-bottom: 5px;
    }

    .product-info-main .page-title-wrapper h1.page-title {
        font-size: 22px;
        line-height: 26px;
    }

    .description-content h3, .description-heading, .oth__des > section h3, .sec__box h3, .product__detail--title, .page-product-grouped .description-content h3 {
        font-size: 22px;
        line-height: 26px;
    }

    .oth__des > section h4, .sec__box h4 {
        font-size: 14px;
        line-height: 18px;
    }

    .description-content h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .product__detail--title {
        display: block;
        text-align: left;
    }

    .allTagsContainer ul > li > a > img {
        width: 100%;
        height: auto;
        max-width: 18px;
    }

    .headerBottom > div.headerBottom-left ul li {
        font-size: 13px;
        margin-right: 3px;
    }

    .catalog-product-view #product-options-wrapper .bootstrap-select, .catalog-product-view .box-tocart .bootstrap-select {
        width: 100%;
    }

    .product.data.items > .item.content {
        border: none;
    }

    .review-ratings {
        margin-bottom: 0;
    }

    .review-ratings ~ .review-content, .review-ratings ~ .review-details {
        margin-left: 0;
    }

    .review-short .rating-summary .rating-result {
        width: 132px;
    }

    .review-short .rating-summary .rating-result:before, .review-short .rating-summary .rating-result > span:before {
        font-size: 40px;
        letter-spacing: -16px;
    }

    .product-reviews-summary .rating-summary, .product-reviews-summary .reviews-actions {
        display: block;
    }

    .page-with-filter .product-reviews-summary .rating-summary,
    .page-with-filter .product-reviews-summary .reviews-actions,
    .account .product-reviews-summary .reviews-actions,
    .account .product-reviews-summary .rating-summary {
        display: table-cell;
        margin-top: 0;
        margin-left: -10px;
    }

    .page-with-filter .product-reviews-summary .reviews-actions a {
        margin-right: 0;
    }

    .product-reviews-summary .reviews-actions {
        float: left !important;
    }

    .review-short .reviews-actions span.action.view {
        font-size: 14px;
        line-height: 14px;
        margin-top: 0;
    }

    .page-product-grouped .product.data.items .reviews-actions a {
        font-size: 12px;
    }

    .headerBottom > div.headerBottom-left {
        padding-top: 17px;
    }

    .ck__container {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .payment__nav {
        padding: 0;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e9e9e9;
    }

    .payment__nav li {
        margin: 0;
        padding: 3px 1.8em;
        position: relative;
        border: none;
        margin: 10px 0 0;
    }

    .payment__nav li + li {
        /*margin-top: 0px;*/
    }

    .payment__nav li:before, .payment__nav li:after {
        content: "";
        display: inline-block;
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 2px solid #b4b4b4;
        border-radius: 100%;
        top: 50%;
        margin-top: -9px;
    }

    .payment__nav li:after {
        width: 6px;
        height: 6px;
        background: transparent;
        margin-top: -4px;
        left: 5px;
        border: none;
    }

    .payment__nav li.current:before {
        border: 2px solid #28b799;
    }

    .payment__nav li.current:after {
        background: #28b799;
    }

    .payment__nav li.current {
        border: none;
    }

    .cs__detail {
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: row;
    }

    .cs__number {
        margin-bottom: 0;
    }

    #store-location-popup .storeAreas > div {
        padding: 0
    }

    #store-location-popup #map {
        height: 400px
    }

    /*------Recipe Detail Page-------*/
    .product.grouped-images .product-addto-links > * {
        margin: 0;
    }

    .product.grouped-images .product-addto-links {
        padding: 10px 10px 0;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: row-reverse;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .product.grouped-images .product-addto-links .preparation-time {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .product.grouped-images .product-addto-links .preparation-time .ptidiv {
        width: auto;
        float: right;
        min-width: 108px;
    }

    .product.grouped-images .product-reviews-summary {
        margin: 0;
        /* width: auto;
         float: right;*/
    }

    .product.grouped-images .product-info-price {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .product.grouped-images .product-reviews-summary.empty .reviews-actions {
        float: none !important;
    }

    .product.grouped-images .product-addto-links > div.share-btn {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .product.grouped-images .product-addto-links .share__btn {
        min-width: 79px;
        margin-right: 0;
    }

    .product.grouped-images .product-addto-links > div.wishlist-btn {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .product.grouped-images .product-addto-links .serving {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .product.grouped-images .gphd {
        bottom: 18px;
    }

    .product.grouped-images .gphd > span {
        padding: 0 10px;
        display: block;
    }

    /*------Product Listing Page Css-----*/
    .page-products.page-layout-1column .products-grid .product-item {
        -ms-flex: 0 1 49.999999999%;
        -webkit-box-flex: 0;
        flex: 0 1 49.999999999%;
        outline: 1px solid #d5d5d5;
        outline-offset: 0;
        position: relative;
        margin: 0;
    }

    /*----Listing Items For Mobiles-----*/
    .productDetail > div.pild + div.actions-secondary > a.action.tocompare, .allTagsContainer {
        display: none;
    }

    /*------*/
    /*---Mobile PDP---*/
    .product-options-wrapper .fieldset, .product-add-form .product-options-wrapper .fieldset > .field, .product-add-form .product-options-wrapper select {
        width: 100%;
        margin-left: 0px;
        float: left;
        min-width: 1px;
    }

    .product-add-form .product-options-wrapper .fieldset > .field {
        width: calc(50% - 7px);
    }

    .product-add-form .product-options-wrapper .fieldset > .field + .field {
        float: right;
    }

    body.page-product-configurable .product-info-main .product-addto-links,
    body.catalog-product-view .product-info-main .product-addto-links {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        /*justify-content: space-between;*/
    }

    /*body.page-product-configurable .product-info-main .product-addto-links > *,
    body.catalog-product-view .product-info-main .product-addto-links > * {
        margin-right: 0 !important;
    }*/
    body.catalog-product-view .product-info-main .product-addto-links a.towishlist:before {
        margin-left: -10px;
    }

    body.page-product-configurable .fotorama__wrap,
/*    body.catalog-product-view .fotorama__wrap {
        pointer-events: none;
    }*/

    .cart.table-wrapper .item .col.item {
        padding-top: 15px;
        min-height: 85px;
    }

    .product-info-main .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart {
        padding: 10px 17px !important;
        font-size: 18px !important;
    }

    /*--My Account--*/
    .account .fieldset > .field:not(.choice) > .label,
    .account .actions-toolbar,
    .account .fieldset > .field:not(.choice) > .control,
    .account .fieldset > .field.choice {
        width: 100%;
    }

    .account .fieldset > .field:not(.choice) > .label {
        text-align: left;
    }

    .account .fieldset > .field:not(.choice) > .control {
    }

    .account .fieldset > .field.choice, .account.customer-address-form .message.info {
        margin-top: 17px;
        float: left;
    }

    .account .fieldset > .field.choice, .account .actions-toolbar:not(.order-actions-toolbar):not(.addNewAddress),
    .account.customer-address-form .actions-toolbar, .account.customer-address-form .message.info {
        margin-left: 0 !important;
        width: 100%;
    }

    .account .fieldset > .field.choice {
        margin-bottom: 0;
    }

    .account .actions-toolbar:not(.order-actions-toolbar):not(.addNewAddress) {
        padding-top: 20px;
    }

    .account .toolbar .toolbar-amount, .account .toolbar .limiter {
        text-align: left;
        padding-top: 0;
        margin-bottom: 10px;
    }

    .order-status {
        margin-bottom: 0;
    }

    .block-addresses-default {
        margin-bottom: 20px;
    }

    body.customer-account-login a#bt-loginfb {
        width: 100%;
        float: left;
    }

    .account .page.messages {
        margin-bottom: 0;
    }

    .account .columns .column.main {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .account.page-products .column.main .product-items {
        margin: 0;
    }

    .account.page-products .column.main .product-items > li {
        min-width: 50%;
        width: 50%;
        margin: 0;
        max-width: 50%;

    }

    .header .minicart-wrapper .block-minicart {
        width: 100%;
    }

    body.openCart .header .minicart-wrapper .cart-overlay {
        height: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    body.catalog-category-view .columns .column.main > div.products {
        margin-top: 0;
        margin-bottom: 10px
    }

    .page-products .column.main .product-items {
        margin-top: 20px
    }

    .location-footer-container {
        text-align: left;
    }

    .header.content .ms-topmenu li.ui-menu-item.first .mb-submain div {
        min-height: 1px;
        padding: 0
    }

    .catalog-product-view .page-main {
        margin-top: 0;
    }

    .checkout-index-index .page-main, .checkout-index-index .page-header .header.content {
        max-width: 1000px;
    }

    #store-location-popup #storeList .mCSB_container {
        margin-right: 10px;
    }

    .cart.table-wrapper .item .col.item {
        min-height: 1px;
    }

    .idcp {
        margin-bottom: 5px;
    }

    /*--Thank You Page*/
    #registration {
        text-align: center;
    }

    #registration form {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        position: static;
    }

    .contactDetailDiv .description-heading {
        margin-top: 4px;
    }

    /*---MiniCart -- max-767px-Device*/
    .header .minicart-wrapper .block-minicart {
        padding-top: 0px;
    }

    /*----CheckOut Page----*/
    .checkout-payment-method .payment-option{
        margin:0;
    }
    .checkout-payment-method .payment-option .payment-option-title{
        padding: 15px 0;
    }
    .checkout-payment-method .payment-option .payment-option-content {
       padding: 0 0 20px;
    }
    .checkout-payment-method .payment-option-inner{
        margin-top: 0;
    }
    .checkout-payment-method .payment-option-inner + .actions-toolbar{
        width: 100%;
    }
    .checkout-payment-method .payment-option-inner + .actions-toolbar .primary{
        float: left;
    }
    .checkout-payment-method .payment-option-inner + .actions-toolbar .primary button#use-customer-balance{
        width: auto;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 560px) {

    /*body.page-product-configurable .product-info-main .product-addto-links a span,
    body.catalog-product-view .product-info-main .product-addto-links a span,
    body.page-product-configurable .product-info-main .product-addto-links .share__btn span,
    body.catalog-product-view .product-info-main .product-addto-links .share__btn span {
        display: none;
    }

    body.page-product-configurable .product-info-main .product-addto-links a.tocompare,
    body.catalog-product-view .product-info-main .product-addto-links a.tocompare {
        padding-left: 25px !important;
    }

    body.page-product-configurable .product-info-main .product-addto-links a.tocompare:before,
    body.catalog-product-view .product-info-main .product-addto-links a.tocompare:before {
        top: -4px;

    }

    body.catalog-product-view .product-info-main .product-addto-links .share__btn:before {
        margin-right: 0;

    }*/

}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 640px) {

    .header.panel .header.links {
        margin: 0;
    }

    .header .nav-toggle {
        width: 35px;
        height: 33px;
        margin: 20px 0 0 10px;
    }

    .block-search .label:before, .header .minicart-wrapper .action.showcart:before {
        font-size: 32px;
        line-height: 37px;
    }

    .logo {
        width: 100px;
        margin-top: 11px;
    }

    .header .minicart-wrapper {
        margin-right: 10px;
    }

    .header .block-search {
        width: 32px;
        margin-left: calc(25% - 62px);
    }

    .page-header .panel.wrapper {
        padding: 0px 10px;
    }

    .header.panel .header.links > li, .header.panel .header.links > li.signIn-register {
        margin-left: 0;
        font-size: 12px;
        /*border-left: 0px;*/
    }

    .header .minicart-wrapper {
        margin-top: 27px;
    }

    .header-wrapper {
        width: 100%;
        float: left;
        min-height: auto;
    }

    .headerBottom > div.headerBottom-left {
        padding: 10px;
    }

    .header.panel .header.links > li.welcome, .header.panel .header.links > li a {
        /*margin: 0px;*/
        text-transform: none;
    }

    .page-header .panel.wrapper .panel.header ul > li.signIn-register a {
        width: 70px;
    }

    .headerBottom > div.headerBottom-left {
        padding: 15px 10px;
    }

    /*.headerBottom > div.headerBottom-left ul li:nth-child(1) {
        font-size: 12px;
    }*/
    #maincontent.page-main {
        float: left;
        width: 100%;
    }

    #maincontent > .columns {
        width: 100%;
    }

    .cms-home #maincontent .home-category-logo-left, .cms-home #maincontent .home-category-logo-right {
        top: 0px;
        left: 0px;
        width: 50px;
    }

    .cms-home #maincontent .home-categories-list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .cms-home #maincontent .home-categories-list .block-title {
        margin-bottom: 15px;
    }

    .cms-home #maincontent .home-categories-list .block-title strong {
        font-size: 14px;
    }

    .shop-now + span + br {
        display: none;
    }

    .cms-home #maincontent .home-categories-list {
        padding-top: 17px;
    }

    .cms-home #maincontent .home-categories-list span.block-category-link-inline a {
        padding: 0px;
        font-size: 12px;
        top: 13px;
        right: 20px;
        line-height: 26px;
        height: 26px;
        width: 70px;
    }

    .cms-home .home-page-offers .left-banner, .cms-home .home-page-offers .right-banner {
        width: 100%;
        margin-right: 0px;
        display: block;
        margin-bottom: 20px;
    }

    .cms-home .home-page-offers .right-banner {
        margin-bottom: 0 !important;
    }

    /*  ol.product-items.widget-product-grid {min-width: 542px;}*/
    .page-layout-1column .block.widget ol.product-items.widget-product-grid > li.product-item {
        margin-left: 14px;
        margin-bottom: 10px;
    }

    .page-layout-1column .block.widget ol.product-items.widget-product-grid > li.product-item:first-child {
        margin-left: 0px;
    }

    html.mobile .cms-home #maincontent .product-listing .product-item {

    }

    html.mobile .cms-home #maincontent .product-listing .product-item:first-child,
    html.mobile .cms-home #maincontent .product-listing .product-item:last-child {

    }

    .column.main ol.product-items.widget-product-grid {
        display: block;
    }

    html.mobile .cms-home #maincontent .product-listing .product-item:last-child {
        margin-right: 20px;
    }

    .cms-home #maincontent .product-listing .product-item {
        margin-bottom: 5px;
    }

    .location-popup-header h3 {
        font-size: 24px
    }

    /*.location-footer-container {
        font-size: 12px
    }*/
    .location-tab-container ul.tab li {
        margin-bottom: 0
    }

    .location-tab-container ul.tab li a {
        font-size: 16px
    }

    .location-tab-content ul li {
        width: 45%;
        margin-bottom: 5px;
        margin-right: 10px;
        font-size: 14px
    }

    .feature-listing-header > * {
        width: 100%;
        text-align: center;
    }

    .feature-listing-header > h2 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 0
    }

    .feature-listing-header > h2 + a {
        font-size: 13px;
        line-height: 16px;
        margin-top: 0;
    }

    body.catalog-category-view .columns .column.main > div.products {
        margin-top: 0;
        margin-bottom: 10px;
    }

    /*
    #store-location-popup #storeList {
        height: 225px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    */
    #store-location-popup #map {
        margin-top: 15px;
    }

    #store-location-popup .storeAreas > div:nth-child(1) {
        width: 100%;
        float: left;
    }

    .right-filter-sortby:before {
        display: none;
    }

    /*.page-main,.footer.content .footer-wrapper,.page-header .header.content,.headerBottom{max-width: 320px;}*/
    .footer-top:before {
        display: none;
    }

    .footer.content .footer-top > div.footer-wrapper > div {
        padding: 0px 10px;
    }

    .footer.content .footer-wrapper {
        padding: 15px 0 0px;
    }

    html.iphone .footer.content .footer-wrapper {
        padding-top: 13px;
    }

    .footer.content .footer-top > div.footer-wrapper > div {
    }

    .footer.content .footer-wrapper {
    }

    .footer.content .footer-top > div > div:nth-child(2) > div:nth-child(1) h4 {
        margin-right: 15px;
    }

    .footer.content .footer-top > div .footer-sm-links ul li {
        margin-right: 6px;
    }

    .footer.content .footer-top .widget.block {
        width: 100%;
        margin: 0px 0px 15px;
    }

    .footer-copyright .footer-wrapper > div {
        width: 100%;
        text-align: center;
    }

    .footer .copyright {
        padding: 0px 16px;
        line-height: 18px;
    }

    .footer .footer-copyright ul li:first-child {
        margin-left: 0px;
    }

    .footer.content .footer-top > div > div:nth-child(1) > div ul li {
        display: block;
        float: left;
        line-height: normal;
        margin-right: 15px;
    }

    .footer.content .footer-top .widget.block + .widget.block + .widget.block {
        margin-bottom: 18px;
    }

    .footer.content .footer-top > div .footer-sm-links .widget.block {
        margin-top: 25px;
    }

    .footer.content .switcher.store {
        padding: 0 1em;
    }

    /** Mega Menu **/
    .sections.nav-sections {
        width: 300px
    }

    .header.content .ms-topmenu .ms-label > span.mm-text {
        font-size: 13px;
        width: 83%;
        padding-right: 40px
    }

    .header.content .ms-topmenu .mb-featured {
        display: none
    }

    /*body.page-product-configurable .product-info-main .product-addto-links a,
    body.catalog-product-view .product-info-main .product-addto-links a,
    .share__btn {
        display: table !important;
        margin: 5px auto;
    }*/
    /*--Recipe Detail Page--*/
    .table-wrapper.grouped .grouped-products > ul > li > div.productName {
        width: calc(100% - 162px);
        font-weight: bold;
        margin-bottom: 10px;
    }

    .table-wrapper.grouped .grouped-products > ul > li > div.proWeiAndPri {
        width: 87px;
    }

    .table-wrapper.grouped .grouped-products > ul > li > div.proWeiAndPri > div {
        width: 100%;
        text-align: right;
    }

    .table-wrapper.grouped .grouped-products > ul > li > div.proWeiAndPri > div.productPrice {
        margin-bottom: 10px;
        padding-bottom: 4px;
    }

    .table-wrapper.grouped .grouped-products > ul > li > div.productAddToCart {
        width: 75px;
    }

    .productAddToCart .action.primary.tocart {
        top: 0;
    }

    .addAndDeductDiv > .box-tocart button.action.primary.tocart {
        font-size: 12px;
    }

    .cms-newsletter-archive-list .nl_row > div {
        width: 100%;
        margin-left: 0 !important
    }

    .cart.items.data.table .cart.item tr td.col.qty .field.qty .control.qty {
        position: relative;
    }

    .cart.items.data.table .cart.item tr td.col.qty .field.qty .control.qty .mage-error {
        position: absolute;
        left: -95px;
        top: 27px;
        width: 190px;
    }

    .catalog-product-view .gourmet-notify.active .ui-dialog > div:first-child {
        width: calc(100% - 154px);
    }

    .catalog-product-view .gourmet-notify button.out-notify {
        margin-left: 12px
    }

    .minicart-items-wrapper {
        max-height: 44vh !important;
    }

}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 480px) and (max-width: 640px) {
    .action.deduct.primary {
        padding: 0px 5px !important;
    }

    .action.primary.tocart,
    .page-products .column.main .product-items > li .gourmet-notify .out-notify,
    .catalog-product-view .block.related .gourmet-notify.active .ui-dialog > .out-notify,
    .catalog-product-view .block.upsell .gourmet-notify.active .ui-dialog > .out-notify,
    .catalog-product-view .block.crosssell .gourmet-notify.active .ui-dialog > .out-notify,
    .block.related .gourmet-notify .out-notify:focus,
    .block.upsell .gourmet-notify .out-notify:focus,
    .block.crosssell .gourmet-notify .out-notify:focus,
    .block.related .gourmet-notify .out-notify,
    .block.upsell .gourmet-notify .out-notify,
    .block.crosssell .gourmet-notify .out-notify,
    .products-grid .product-item-inner .product-item-actions .gourmet-notify .out-notify {
        padding: 6px 5px 5px !important;
        font-size: 10px !important;
    }

    .discount__percentage {
        font-size: 11px;
        line-height: 20px;
    }

    .product-item .price-box .price {
        font-size: 11px;
    }

    .page-products .column.main .product-items > li .gourmet-notify .out-notify,
    .catalog-product-view .block.related .gourmet-notify.active .ui-dialog > div .out-notify,
    .catalog-product-view .block.upsell .gourmet-notify.active .ui-dialog > div .out-notify,
    .catalog-product-view .block.crosssell .gourmet-notify.active .ui-dialog > div .out-notify,
    .block.related .gourmet-notify .out-notify:focus,
    .block.upsell .gourmet-notify .out-notify:focus,
    .block.crosssell .gourmet-notify .out-notify:focus,
    .block.related .gourmet-notify .out-notify,
    .block.upsell .gourmet-notify .out-notify,
    .block.crosssell .gourmet-notify .out-notify,
    .products-grid .product-item-inner .product-item-actions .gourmet-notify .out-notify {
        width: 75px !important;
    }

    .catalog-product-view .block.related .gourmet-notify.active .ui-dialog > div:first-child,
    .catalog-product-view .block.upsell .gourmet-notify.active .ui-dialog > div:first-child,
    .catalog-product-view .block.crosssell .gourmet-notify.active .ui-dialog > div:first-child,
    .page-products .column.main .product-items > li .gourmet-notify.active .ui-dialog > div:first-child {
        width: calc(100% - 85px);
    }

    form[data-role="gourmet-guest-notofy-form"] .input-wrappers input[type="email"] {
        height: 27px;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 639px) {

    .data.table.table-order-items tr td, .data.table.table-order-items tr th {
        white-space: normal;
    }

    .account .column.main .table > tbody > tr > td a.action.view, .account .column.main .table > tbody > tr > td a.action.order {
        padding-left: 5px;
        padding-right: 5px;
        min-width: 110px;
    }

    .account .table-wrapper .action {
        margin-right: 5px;
    }

    .account .column.main table:not(.cart):not(.totals) > tbody > tr > td.col.actions {
        text-align: center;
    }

    .account .column.main table:not(.cart):not(.totals):not(.table-balance-history) > tbody > tr > td.col.actions:before {
        display: none !important
    }

    .account .column.main table:not(.cart):not(.totals) > tbody > tr:not(:first-child) > td.col.id, .table-order-items:not(.cart):not(.totals) > tbody + tbody > tr > td.col.name, .account .column.main table:not(.cart):not(.totals).table-balance-history > tbody > tr:not(:first-child) > td.col.actions {
        padding-top: 35px !important;
    }

    .order-details-items .table-order-items tbody + tbody {
        border-top: none;
    }

    .account.sales-order-view .page-title-wrapper {
        padding-top: 25px;
    }

    .actions-toolbar.order-actions-toolbar {
        right: 0;
        top: -10px;
    }

    .toolbar.bottom .pager, .toolbar.bottom .pager .pages {
        margin: 0;
    }

    .order-products-toolbar.toolbar.bottom + .actions-toolbar {
        display: none;
    }

    .table-wrapper.orders-history {
        margin-bottom: 0;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 479px) {
    /* .block.related .gourmet-notify a.out-notify:focus, .block.upsell .gourmet-notify a.out-notify:focus,
     .block.related .gourmet-notify a.out-notify, .block.upsell .gourmet-notify a.out-notify,
     .products-grid .product-item-inner .product-item-actions .gourmet-notify a.out-notify {
         padding: 5px 5px;
         font-size: 10px;
         width: auto;
     }*/
    .catalog-product-view .block.related .gourmet-notify.active .ui-dialog > div:first-child,
    .catalog-product-view .block.upsell .gourmet-notify.active .ui-dialog > div:first-child,
    .catalog-product-view .block.crosssell .gourmet-notify.active .ui-dialog > div:first-child,
    .page-products .column.main .product-items > li .gourmet-notify.active .ui-dialog > div:first-child {
        width: 100%;
    }

    .page-products .column.main .product-items > li .gourmet-notify button.out-notify, .catalog-product-view .block.related .gourmet-notify.active .ui-dialog > div button.out-notify, .catalog-product-view .block.upsell .gourmet-notify.active .ui-dialog > div button.out-notify, .catalog-product-view .block.crosssell .gourmet-notify.active .ui-dialog > div button.out-notify {
        margin: 5px 0 0;
    }

    .gourmet-notify {
        float: left
    }

    .flickity-prev-next-button {
        /*background: rgba(20, 179, 149, 0.7) !important;*/
        width: 35px !important;
        height: 35px !important;
    }

    .flickity-prev-next-button.next {
        right: 5px !important;
    }

    .flickity-prev-next-button.previous {
        left: 5px !important;
    }

    .page-products.page-layout-1column .products-grid .product-item {
        margin-left: 0px;
    }

    div.products.wrapper.grid {
        max-width: 100% !important;
        margin: 0 auto;
        float: none;
        display: table;
    }

    .showReviewPopup .modal-inner-wrap, .modal__small .modal-inner-wrap {
        width: auto;
    }

    #maincontent.page-main {
        padding: 0 10px;
    }

    .block.related .product-item, .block.upsell .product-item, .block.crosssell .product-item {
        max-width: 100%;
        margin: 0 8px !important;
    }

    .page-products.page-layout-1column .products-grid .product-item {
        -ms-flex: 0 1 50%;
        -webkit-box-flex: 0;
        flex: 0 1 50%;
        outline: 1px solid #d5d5d5;
        outline-offset: 0;
        position: relative;
        margin: 0;
    }

    .product-item-inner .add-product {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

    }

    .product-item-inner .add-product .price__wrapper {
    }

    .product-item-inner .add-product .pull-right {

    }

    .product-item-inner .add-product .pull-right .button__inverse {
    }

    .page-products .product__details, .catalog-product-view .product__details, .checkout-cart-index .product__details {
        padding: 5px 10px 10px;
    }

    .allTagsContainer {
        padding: 5px 0;
    }

    .allTagsContainer ul > li > a > span {
        display: none !important;
    }

    .products-grid .recipe-lists .product-item-inner .product-item-actions {
        float: left;
        width: 100%;
    }

}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 414px) {

    .right-filter-sortby {
        width: 100%;
    }

    .catalog-topnav .filter-options .filter-options-item,
    .category-top-wrapper > .toolbar.toolbar-products,
    .category-top-wrapper .amasty-catalog-topnav,
    .category-top-wrapper .sort-menu {
        width: 100%;
    }

    .catalog-topnav .filter-options .filter-options-item + .filter-options-item,
    .category-top-wrapper .sort-menu {
        padding-left: 0;
        width: 100%;
        max-width: 320px;
    }

    .filter-options-selected {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .category-top-wrapper .sort-menu > #collapsed-sorter div[data-role="content"],
    .catalog-topnav .filter-options-content {
        min-width: 100%;
    }

    .catalog-topnav .filter-options .filter-options-item + .filter-options-item {
        padding-left: 0 !important;
    }

    .filter-options-selected {
        max-width: 100%;
    }

    .account .column.main .table > tbody > tr > td a.action.view, .account .column.main .table > tbody > tr > td a.action.order {
        min-width: 48%;
        line-height: 30px;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 374px) {
    .page-header .panel.wrapper .panel.header ul > li.signIn-register a {
        width: 58px;
    }

    .header.panel .header.links > li {
        border-left: none;
    }

    .header.panel .header.links > li.welcome, .header.panel .header.links > li a {
        margin: 0;
    }

    .header.panel .header.links > li, .header.panel .header.links > li.signIn-register {
        margin-left: 7px;
    }

    body.page-product-configurable .product-info-main .product-addto-links a,
    body.catalog-product-view .product-info-main .product-addto-links a,
    .share__btn {
        font-size: 12px;
    }
}

@media screen and (max-height: 700px) and (min-width: 875px) {
    .nav-sections .navigation {
        -webkit-transform: scale(.85);
        transform: scale(.85);
        top: -40px;
    }
}

@media screen and (max-height: 780px) {
    .minicart-items-wrapper {
        max-height: 30vh !important;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .minicart-items-wrapper {
        max-height: 44vh !important;
    }
}

@media(max-width: 767px){
    .cms-store-locations .col-lg-3 {
    width: 100% !important;
}
}
.cms-store-location-mobile .nl_row .nl_bottom a {
    font-size: 14px;
    font-weight: 400;
    font-family: 'museo_sans700';
    border-radius: 0;
    text-transform: uppercase;
    position: relative;
    background-color: #14b395;
    border: 1px solid #14b395;
    padding: 8px 15px 7px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
    display: block;
text-align: center;
}

.cms-store-location-mobile .nl_row .nl_bottom{
  margin-bottom: 21px;
}
@media(min-width:1200px){
.cms-store-locations .nl_row > div {
    width: 32% !important;
}
}
.opc-block-summary .discount.coupon {
     display: inline-block !important; 
}
@media(max-width: 767px){
    .pre-order-note .modal-inner-wrap {
     
        height: 16%;
}
}
@media(min-width:1200px){
  .pre-order-note .modal-inner-wrap {
        width: 30%;
       
}
}
button#empty_cart_button {
    float: left;
}
button.print-btn {
    display: inline-block !important;
    margin-bottom: 10px;
}

@media (max-width:767px) {
	button.print-btn {
    float: right;
	}
}


/* */

.language-switcher-mobile {
		display:none;
	}
@media screen and (max-width: 874px) {
	.logo {
		width: 140px;
	}
	.switcher.language.switcher-language {
		display: none; 
	}
	.language-switcher-mobile {
		display:block;
		float: left;
	}
	.language-switcher-mobile.not-logged-in div#switcher-language{
		margin: 0px 0px 0 7px;
	}
	.language-switcher-mobile div#switcher-language {
		display: block;
		margin: 0px 0px 0 25px;
		float: right;
	}
	.language-switcher-mobile div#switcher-language a {
		content: "";
		background:url(../images/egypt_flag.png) no-repeat;
		font-size: 0;
		width: 25px;
		height: 17px;
		display: block;
	}
} 