<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="payment-option opc-payment-additional loyalty" data-bind="visible: isAvailable" id="customerloyalty-placer">
  
    <div class="payment-loyalty">
       	<table class="table-checkout-loyalty table ">
    <thead>
        <tr class="row">

            <th class="col col-method"><!-- ko i18n: 'Points redeemed' --><!-- /ko --></th>
            <th class="col col-price" >:  <span id="loyalty-points-redeemed" data-bind="text: getPoints()"></span> Pts</th>

        </tr>
    </thead>
    <tbody>


        <tr class="row">
            <td class="col col-method">
  <!-- ko i18n: 'Subtotal' --><!-- /ko --> 
            </td>
            <td class="col col-method" >  :  <span id="loyalty-subtotal" data-bind="text: subTotal()"></span></td>

        </tr>
        <tr class="row">
            <td class="col col-method">
  <!-- ko i18n: 'Shipping' --><!-- /ko --> 
            </td>
            <td class="col col-method" >  :  <span id="loyalty-shipping" data-bind="text: getShippingAmount()"></span></td>

        </tr>
  <tr class="row">
            <td class="col col-method">
  <!-- ko i18n: 'Points Value' --><!-- /ko --> 
            </td>
            <td class="col col-method" >  :  <span id="loyalty-points-value" data-bind="text: getUsedAmount()"></span></td>

        </tr>
  <tr class="row">
            <td class="col col-method">
  <!-- ko i18n: 'Amount to pay' --><!-- /ko --> 
            </td>
            <td class="col col-method" >  :  <span id="loyalty-amount-to-pay" data-bind="text: toPay()"></span></td>

        </tr>


    </tbody>
    </table>
    </div>
</div>




	
