<?php if($block->shouldShow() && $block->getProduct()): ?>
	<?php
		$viewedProduct = $block->getProduct();
		$active_class = $block->isWishlistExist($viewedProduct->getId()) ? 'active':'';
		$typeId = $viewedProduct->getTypeId();
		$view = $this->getRequest()->getFullActionName();
	?>
	<?php if($typeId == 'grouped') { ?>
		<div class="wishlist-btn">
	<?php } ?>
		<a href="javascript:void(0)" class="multiwishlist <?php echo $active_class; ?> <?php if($view == 'catalog_product_view' || $view == 'checkout_cart_configure'){echo 'towishlist';} ?>" 
			title="<?php echo $block->escapeHtml(__('Add to Favourites')); ?>" 
			aria-label="<?php echo $block->escapeHtml(__('Add to Favourites')); ?>" 
			wishlist-post='<?php echo $block->getAddToWishlistParams($viewedProduct); ?>'  
			role="button">
		    <span><?php echo __('Add to Favourites') ?></span>
		</a>
	<?php if($typeId == 'grouped') { ?>
		</div>
	<?php } ?>
<?php endif; ?>