<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko foreach: getRegion('before_details') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="ci__content">
    <div class="ci__detail">
        <!--<div class="product-item-details">-->		
        <div class="block__row">			
            <div class="product-item-inner">
                <div class="product-item-name-block">
                    <strong class="product-item-name" data-bind="text: $parent.name"></strong>
					<!--ko foreach: JSON.parse($parent.options)-->
						<div class="details-qty">
							<strong><span class="value" data-bind="text: label"></span>: </strong><span class="value" data-bind="text: value"></span></span>
						</div>
					<!-- /ko -->
                    <div class="details-qty">
                        <strong>Quantity: </strong><span class="value" data-bind="text: $parent.qty"></span>
                    </div>
					<div class="details-qty">
                        <div class="product-lead-time">
						    <span class="product-item-new lead-time" data-bind="text: getItemTag($parent)"></span>
                        </div>
					</div>
                </div>
            </div>
        </div>		
    </div>

    <div class="ci__action">
        <!-- ko foreach: getRegion('after_details') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <!-- ko if: (JSON.parse($parent.options).length > 0)-->
        <div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">

            <div data-role="content" class="content">
                <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
                <dl class="item-options">
                    <!--ko foreach: JSON.parse($parent.options)-->
                    <!-- ko if: ($data.full_view)-->
                    <dd class="values" data-bind="html: full_view"></dd>
                    <!-- /ko -->
                    <!-- ko ifnot: ($data.full_view)-->
					                   
                    <!-- /ko -->
                    <!-- /ko -->
                </dl>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
