<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;

$widgetOptions = $block->getWidgetOptionsJson();
$widgetArr = json_decode($widgetOptions, true);
$url = '';
if(isset($widgetArr['productListToolbarForm']) && isset($widgetArr['productListToolbarForm']['url'])){
    $url = $widgetArr['productListToolbarForm']['url'];
}
?>
<div id="collapsed-sorter">
    <div data-role="collapsible">
        <div data-role="title" class="sorter-label" for="sorter">
            <span><?php /* @escapeNotVerified */ echo __('Sort By') ?></span>
        </div>
        <div data-role="content">
            <ul id="collapsed-sorter-options" class="sorter-options">
                <?php 
                    $activeLabel = '';
                    foreach ($block->getAvailableOrders() as $_key => $_order): 
                ?>
                    <?php if($_order != 'Price'): ?>
					<li data-val="<?php /* @escapeNotVerified */ echo $_key; ?>" 
                        data-dir="<?php if(!isset($_GET['product_list_order'])){ echo 'asc';} else { echo $block->getCurrentDirection() == 'desc' ? 'asc':'desc'; } ?>" 
                        <?php if($block->isOrderCurrent($_key)): 
                            $activeLabel = $block->escapeHtml(__($_order));
                        ?>
                            class="active"
                        <?php endif; ?>
                    ><?php echo $block->escapeHtml(__($_order == "Position" ? 'Popularity': $_order)); ?></li>
					<?php else : ?>
					<li data-val="<?php /* @escapeNotVerified */ echo $_key; ?>" 
                        data-dir="<?php echo 'asc'; ?>" 
                         <?php if($block->isOrderCurrent($_key) && $block->getCurrentDirection() == 'asc'): 
                            $activeLabel = 'Price : Low to High';
                        ?>
                            class="active"
                        <?php endif; ?>
                    ><?php echo __('Price : Low to High'); ?></li>
					<li data-val="<?php /* @escapeNotVerified */ echo $_key; ?>" 
                        data-dir="<?php echo 'desc'; ?>" 
                         <?php if($block->isOrderCurrent($_key) && $block->getCurrentDirection() == 'desc'): 
                            $activeLabel = 'Price : High to Low';
                        ?>
                            class="active"
                        <?php endif; ?>
                    ><?php echo __('Price : High to Low'); ?></li>
					<?php endif; ?>
                <?php endforeach;?>
            </ul>
        </div>
        <?php if(!empty($activeLabel)): ?>
            <div class="filter-options-selected"><?php echo $activeLabel == "Position" ? __('Popularity'): $activeLabel; ?></div>
        <?php endif; ?>
    </div>
</div>

<script>
    require([
        'jquery',
        "jquery/ui",
        "mage/collapsible",
        "domReady!"], function ($) {
            var sortgp = $("#collapsed-sorter").collapsible({
                "openedState": "active",
                "collapsible": true,
                "active": false, 
                "collateral": { 
                    "openedState": "filter-active", 
                    "element": "body" 
                } 
            }).on("beforeOpen", function () {
                $.each($('#narrow-by-list div[data-role="collapsible"]'), function(i) {
                    $(this).collapsible("deactivate");
                });
            });

            $.each($('#narrow-by-list div[data-role="collapsible"]'), function(i) {
                $(this).on("beforeOpen", function () {
                    sortgp.collapsible("deactivate");
                });
            });
            

            $('#collapsed-sorter-options li').click(function(){
                var paramValue = $(this).attr('data-val');
                var dir = $(this).attr('data-dir');
                var pageurl = '<?php echo $url; ?>';

                var decode = window.decodeURIComponent;
                var urlPaths = pageurl.split('?'),
                    baseUrl = urlPaths[0],
                    urlParams = urlPaths[1] ? urlPaths[1].split('&') : [],
                    paramData = {},
                    parameters;

                for (var i = 0; i < urlParams.length; i++) {
                    parameters = urlParams[i].split('=');
                    paramData[decode(parameters[0])] = parameters[1] !== undefined ? decode(parameters[1].replace(/\+/g, '%20')) : '';
                }

                if((typeof paramData.product_list_order === "undefined") || (paramData.product_list_order != paramValue)){
                    paramData.product_list_order = paramValue;
                }
                if((typeof paramData.product_list_dir === "undefined") || (paramData.product_list_dir != dir)){
                    paramData.product_list_dir = dir;
                }

                paramData = $.param(paramData);
                var loadurl = baseUrl + (paramData.length ? '?' + paramData : '');
                $("#amasty-shopby-overlay").show();
                location.href = baseUrl + (paramData.length ? '?' + paramData : '');
            });
    });
</script>