<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>

<div data-block="minicart" class="minicart-wrapper">
    <?php if(isset($_SESSION["shippinglist"])) { ?>
	<a class="action showcart list"  style="cursor:pointer;"
       data-bind="scope: 'minicart_content'">
        <span class="text"><?php /* @escapeNotVerified */ echo __('My Shopping List'); ?></span>
        <span class="counter qty empty"
              data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
            <!-- ko if: getCartParam('summary_count') == 0 -->
				<span class="counter-number">0</span>
			  <!-- /ko -->			  
			  
			  <!-- ko if: getCartParam('summary_count') > 0 -->
				<span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
			  <!-- /ko -->
            <span class="counter-label">
            <!-- ko if: getCartParam('summary_count') -->
                <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                <!-- ko i18n: 'items' --><!-- /ko -->
            <!-- /ko -->
            </span>
        </span>
    </a>
	<?php } else { ?>
	<a class="action showcart" style="cursor:pointer;"
       data-bind="scope: 'minicart_content'">
        <span class="text"><?php /* @escapeNotVerified */ echo __('My Cart'); ?></span>
        <span class="counter qty empty"
              data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">            
			  <!-- ko ifnot: getCartParam('summary_count') -->
				<span class="counter-number">0</span>
			  <!-- /ko -->
			  <!-- ko if: getCartParam('summary_count') > 0 -->
				<span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
			  <!-- /ko -->
            <span class="counter-label">
            <!-- ko if: getCartParam('summary_count') -->
                <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                <!-- ko i18n: 'items' --><!-- /ko -->
            <!-- /ko -->
            </span>
        </span>
    </a>
	<?php } ?>
	<div id="messages-cart" style="display:none;"><?php /* @escapeNotVerified */ echo __('Product successfully added in your cart.'); ?></div>
    <?php if ($block->getIsNeedToDisplaySideBar()): ?>
        <div class="block block-minicart empty"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"activeTrigger",
                "parentClass":"activeParent",
                "bodyClass":"openCart",
                "closeOnClickOutside": false,
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" class="dummy-2" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <div class="cart-overlay" ></div>
            <?php echo $block->getChildHtml('minicart.addons'); ?>
        </div>
    <?php endif ?>
    <script>
	
        window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
		
		require(['jquery', 'jquery/ui'], function($){ 
			
			$("a[data-bind=\"scope: 'minicart_content'\"]").click(function(){
				$("html").attr("data-minicart","opened");
				loadWindowSystem();
			})
			
			function loadWindowSystem(){
				$("button[data-action=\"close\"]").click(function(){	
					$("html").removeAttr("data-minicart");						
				});

                $(".cart-overlay").click(function(){                
                    var minicart = $('[data-block=\'minicart\']');
                    minicart.find('[data-role="dropdownDialog"]').dropdownDialog('close');
                    $("html").removeAttr("data-minicart");
                });
			}
			

			
		});
		
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }
    </script>
</div>

