<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-option _collapsible opc-payment-additional discount-code"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice text-center dis__outer" data-role="title">
        <span class="action action-toggle cop__title" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Have a coupon or discount code?'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form class="form form-discount" id="discount-form">
            <div class="dis__fWrapper">
                <div class="payment-option-inner">
                    <div class="field">
                        <label class="label hidden" for="discount-code">
                            <span data-bind="i18n: 'Enter discount code'"></span>
                        </label>
                        <div class="control">
                            <input class="input-text"
                                   type="text"
                                   id="discount-code"
                                   name="discount_code"
                                   data-validate="{'required-entry':true}"
                                   data-bind="value: couponCode, attr:{placeholder: $t('Enter coupon code')} "/>
                        </div>
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <!-- ko ifnot: isApplied() -->
                        <button class="action action-apply btn-block dis__fbtn" type="submit"
                                data-bind="'value': $t('Apply'), click: apply">
                            <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
                        </button>
                        <!-- /ko -->
                        <!-- ko if: isApplied() -->
                        <button class="action action-cancel" type="submit"
                                data-bind="'value': $t('Cancel'), click: cancel">
                            <span><!-- ko i18n: 'Cancel'--><!-- /ko --></span>
                        </button>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
