<?php $block->setPreconfiguredValue(); ?>
<?php $_product = $block->getProduct(); ?>
<?php $_associatedProducts = $block->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currencysymbol = $objectManager->get(\Magento\Store\Model\StoreManagerInterface::class);
$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
?>
<?php $helper = $block->getI95DevHelper(); ?>
<?php if ($helper->getConfig()): ?>
    <input type="hidden" name="I95Dev-option" value="1">
<?php endif;?>
<div class="table-wrapper grouped">

	<div class="grouped-products" id="super-product-table">
    <div class="ingredients col-xs-12">Select Ingredients</div>
		<ul>
			<?php if ($_hasAssociatedProducts): ?>
			<?php foreach ($_associatedProducts as $_item): 
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
			$wt = $objectManager->create('Magento\Catalog\Model\Product')->load($_item->getId());
			$tierPrices ='';
			if(count($_item->getTierPrice()) > 0):
				foreach($_item->getTierPrice() as $tierprice):
					if($tierprice['price_qty'] == 1):
						$tierPrices = $tierprice['price'];
					endif;					
				endforeach;
			endif;
			?>
			<?php
			$inventory = 0;
			if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) {
				$cookie = $_COOKIE["Gourmet_Location"];
				$lochelper = $objectManager->get('\Gourmet\Location\Helper\Data');
				$data = $lochelper->getLocationById($cookie);
				$store = $data->getStoreId();
				$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_item->getId());
				$storeId = 'store_'.$store;
				$inventory = $productStockObj[$storeId];
			}
			
			?>
			<?php
			$product_id = $_item->getId();
			$_product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
                        if((method_exists($productStockObj, "getMinQty"))){
			$minQty = $productStockObj->getMinQty();
                        }else{
                           $minQty=0; 
                        }
                        $defaultQty=round($_item->getQty(), 0);
                        if(!$defaultQty){
                            $defaultQty=1;
                        }
			?>
			<li class="grouped-product-informaions ">
                            <div class="qunatity" style="margin-right: 15px;"><?php /* @escapeNotVerified */ echo $defaultQty; ?>X</div>
				<div class="productName"><?php echo $block->escapeHtml($_item->getName()) ?></div>
                             
				<div class="proWeiAndPri">
					<div class="productWeight"><?php echo ($wt->getData('product_weight')) ? $wt->getData('product_weight') : ''; ?></div>
					<div class="productPrice"><?php if ($block->getCanShowProductPrice($_product) && (($_item->isSaleable() && (isset($inventory) && $inventory > $minQty)))): ?>
						<?php if ($block->getCanShowProductPrice($_item)): ?>
							<?php /* @escapeNotVerified */ echo $block->getProductPrice($_item) ?>
						<?php endif; ?>
					 <?php endif; ?>
					</div>
				</div>
				<?php if (($_item->isSaleable() && (isset($inventory) && $inventory > $minQty))) { ?>
				<div class="control qty productQuantity">
					  <input type="number" avlqty="<?php echo $defaultQty ?>" name="super_group[<?php /* @escapeNotVerified */ echo $_item->getId(); ?>]"
                               data-selector="super_group[<?php /* @escapeNotVerified */ echo $_item->getId(); ?>]"
                               maxlength="12"
                               value="<?php /* @escapeNotVerified */ echo $defaultQty; ?>"
                               title="<?php /* @escapeNotVerified */ echo __('Qty'); ?>"
                               class="input-text qty"
                               data-validate="{'validate-grouped-qty':'#super-product-table'}"
                               data-product-id="<?php /* @escapeNotVerified */ echo $_item->getId(); ?>"
                               data-errors-message-box="#validation-message-box"/>
                    
				</div>
                                <div class="product-addtocart productAddToCart">
					<button price="<?php /* @escapeNotVerified */ echo (($tierPrices != '' )) ? $tierPrices*$defaultQty : $_item->getFinalPrice()*$defaultQty ?>" class="action removeQty tocart primary btn__toggle  group-p-add-tocart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>"
                            type="button" title="<?php /* @escapeNotVerified */ echo __('Remove') ?>">
                        <span class="hidden"><?php /* @escapeNotVerified */ echo __('- &nbsp;&nbsp; Remove') ?></span>
                        <div class="slider round"></div>
                    </button>
				</div>
                                   <?php if ($helper->getConfig() && $block->renderBlockProduct($_item)) :?>
                        <div class="I95Dev-option-child-product-info I95Dev-option-child-product-id-<?php /* @escapeNotVerified */ echo $_item->getId() ?>" <?php if (!$helper->getConfig('show_option_default') || ($_item->isSaleable() && (isset($inventory) && $inventory > $minQty))) echo 'style="display: block;width: 80%;"';?>>
                            <div class="product-options-wrapper">
                                <?php /* @escapeNotVerified */ echo $block->renderBlockProduct($_item);?>
                            </div>
                        </div>
                    <?php endif; ?>
				
				<?php } else { ?>
					<div class="control qty productQuantity">
						<input type="number"  name="super_group[<?php /* @escapeNotVerified */ echo $_item->getId() ?>]"
							   data-selector="super_group[<?php /* @escapeNotVerified */ echo $_item->getId() ?>]"
							   maxlength="12"
							   value="0"
							   title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
							   class="input-text qty"
							   data-validate="{'validate-grouped-qty':'#super-product-table'}"
							   data-errors-message-box="#validation-message-box"/>
					</div>
					<div class="product-addtocart productAddToCart">
						<button class="action addQty tocart primary btn__toggle" disabled
								type="button" title="<?php /* @escapeNotVerified */ echo __('Out of stock') ?>">
							<span class="hidden"><?php /* @escapeNotVerified */ echo __('- &nbsp;&nbsp; Remove') ?></span>
							<div class="slider round"></div>
						</button>
					</div>
				<?php } ?>
			</li>
			<?php endforeach; ?>
			<?php endif; ?>
		</ul>

	</div>


</div>
<div id="validation-message-box"></div>
<?php // phpcs:disable ?>
<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){

        $("document").ready(function() {
            $(".price-wrapper ").each(function(){
                var id=$(this).attr('id');
                var pid = id.replace('product-price-','');
                var I95DevProductId = pid.replace('old-price-','');
                var qty= $('.group-p-add-tocart-' + I95DevProductId).parent().siblings('.qty').find('input').attr('avlqty');
                var price=$(this).attr('data-price-amount')*qty;
                var nfprice=price.toFixed(2);
                $(this).find(".price").text('<?php echo $currency; ?>'+nfprice);
                $('.product-custom-option').trigger("change");
            });

        });


        $("button.action").on('click',function () {
            $('.product-custom-option').trigger("change");
            if($(this).hasClass('addQty'))
            {
                $(this).removeClass('addQty');
                $(this).addClass('removeQty');
                $(this).find('span').html('- &nbsp;&nbsp; REMOVE');
                $(this).parent().siblings('.qty').find('input').val(1);
                $(this).attr("title","Remove");
                var tPrice = $('.addAndDeductDiv .actions .show-totalPrice ').attr('tprice');
                console.log(tPrice);
                var cPrice = $(this).attr('price');
                var nPrice = parseFloat(tPrice) + parseFloat(cPrice);
                $('.addAndDeductDiv .actions .show-totalPrice ').attr('tprice',nPrice);
                nPrice = nPrice.toFixed(2);
                $(this).parent().siblings('.qty').find('input').val($(this).parent().siblings('.qty').find('input').attr('avlqty'));
                if(nPrice > 0)
                {
                    $('.allPrice').text('<?php echo $currency; ?>'+nPrice);
                }else{$('.allPrice').text('');}
            }else if($(this).hasClass('removeQty')){
                var tPrice = $('.addAndDeductDiv .actions .show-totalPrice ').attr('tprice');
                var cPrice = $(this).attr('price');
                var nPrice = parseFloat(tPrice) - parseFloat(cPrice);
                $('.addAndDeductDiv .actions .show-totalPrice ').attr('tprice',nPrice);
                nPrice = nPrice.toFixed(2);
                if(nPrice > 0)
                {
                    $('.allPrice').text('<?php echo $currency; ?>'+nPrice);
                }else{ $('.allPrice').text(''); }
                $(this).addClass('addQty');
                $(this).removeClass('removeQty');
                $(this).find('span').html('+ &nbsp;&nbsp; ADD');
                $(this).attr("title","Add");
                $(this).parent().siblings('.qty').find('input').val(0);
            }

        });
    });

</script>

<?php
$viewedProduct = $block->getProduct();
$typeId = $viewedProduct->getTypeId();
if ($typeId == 'grouped') {
?>
<div class="addAndDeductDiv">
    <?php } ?>
    <script type="text/x-magento-init">
    {
        "#super-product-table": {
            "I95Dev_GroupOption/js/grouped": {
                "show_option": <?php echo $helper->getConfig('show_option_default') ? 'true' : 'false';?>,
                "json": <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>
            }
        }
    }
</script>
    <style>
        .header .minicart-wrapper .block-minicarta {
            margin-top: 0;
            height: 100%;
            border: 0;
            position: fixed;
            top: 0;
            right: 0;
            width: 360px;
            min-width: inherit;
            padding-top: 20px;
            overflow-y: auto;
            padding-bottom: 0;
            margin: 0;
            padding: 25px 20px;
            margin: 0;
            background: #fff;
            z-index: 101;
            box-sizing: border-box;
            box-shadow: 0 3px 3px rgba(0,0,0,.15);

        }
        #messages-cart{
            z-index: 1000;
        }

        .minicart-wrapper .messages-error.notify-box {
            right: 0 !important;
            left: inherit !important;
        }

        .minicart-items .action.primary.tocart .messages-error:before, .minicart-items .action.primary.tocart .messages-error:after {
            right: 19px;
            left: inherit;
        }


    </style>

    <div  style="display:none" class="block block-minicarta empty"
          data-role="dropdownDialog"
          data-mage-init='{"dropdownDialog":{
     "appendTo":"[data-block=minicart]",
     "triggerTarget":".showQtyerrorProduct",
     "timeout": "2000",
     "closeOnMouseLeave": false,
     "closeOnEscape": true,
     "triggerClass":"activeTrigger",
     "parentClass":"activeParent",
     "bodyClass":"openCart",
     "closeOnClickOutside": false,
     "buttons":[]}}'>
        <div id="minicart-content-wrapper" class="dummy-2">
            <div class="block-content">
                <button type="button" id="btn-minicart-close" class="action close" data-action="close"  title="Close">
                    <span><span>Close</span></span>
                </button>
                <div class="cart-overlay" ></div>
                <div>All the below products do not have quantity as you requested.</div>
                <div data-action="scroll"  class="minicart-items-wrapper block__row mCustomScrollbar _mCS_59" style="max-height: 80vh !important;"><div id="mCSB_59" class="mCustomScrollBox mCS-dark-3 mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0"><div id="mCSB_59_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px; height: 99px;" dir="ltr">
                            <ol id="group-product-error" class="minicart-items cartitem__wrapper" >
                            </ol>
                        </div><div id="mCSB_59_scrollbar_vertical" class="mCSB_scrollTools mCSB_59_scrollbar mCS-dark-3 mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_59_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px; height: 41px; display: block; max-height: 54px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
            </div>

        </div>
    </div>
    <div class="showQtyerrorProduct" style="display:none">Show Box</div>

    <!--<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){


        $("#btn-minicart-close-qty").on('click',function () {
           $('.showQtyerrorProduct').trigger("click");
       });
       });
       </script>-->