<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @description:
 *
 */
?>
<?php
    $_items = $block->getReviewsCollection()->getItems();
    $format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
	$_product = $block->getProduct();
	$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$_reviewFactory = $_objectManager->create('Magento\Review\Model\Review');
	$storeManager = $_objectManager->get('\Magento\Store\Model\StoreManagerInterface');
	$_storeId = $storeManager->getStore()->getStoreId(); //Store ID;
	$_reviewFactory->getEntitySummary($_product, $_storeId);
	$_ratingSummary = $_product->getRatingSummary()->getRatingSummary();
	$_reviewCount = $_product->getRatingSummary()->getReviewsCount();
	
?>
<?php if (count($_items)):?>
<div class="block review-list" id="customer-reviews">
    <div class="block-title">
        <!--<strong><?php /* @escapeNotVerified */ echo __('Customer Reviews') ?></strong>-->
    </div>
    <div class="row">
        <div class="col-xs-12">
			<?php if ((int)$_ratingSummary > 0) : ?>
				<div class="product-reviews-summary review-short">
					<div class="rating-summary">
						<span class="label"><span>Rating:</span></span>

						<div title="<?php echo (int)$_ratingSummary; ?>%"
							 class="rating-result">
								<span style="width:<?php echo (int)$_ratingSummary; ?>%"><span><?php echo (int)$_ratingSummary; ?>
										%</span></span>
						</div>
					</div>
					<div class="reviews-actions">
						<span class="action view">(<?php echo $_reviewCount; ?>)</span>
					</div>
				</div>
			<?php endif; ?>
            <div class="reviews-actions">
                <a id="review-form2" class="action add" href="javascript:void(0)"><?php /* @escapeNotVerified */ echo __('Write a Review') ?></a>
            </div>
        </div>
    </div>
    <div class="block-content">
        
        <!--<div class="toolbar review-toolbar">
            <?php // echo $block->getChildHtml('toolbar') ?>
        </div>-->
        <ol class="items review-items">
        <?php foreach ($_items as $_review):?>
            <li class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                <div class="review-title" itemprop="name"><?php echo $block->escapeHtml($_review->getTitle()) ?></div>
                <?php if (count($_review->getRatingVotes())): ?>
                    <div class="review-ratings">
                    <?php $i = 1; foreach ($_review->getRatingVotes() as $_vote): ?>
                    <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <!--<span class="label rating-label"><span><?php echo $block->escapeHtml($_vote->getRatingCode()) ?></span></span>-->
                        <div class="rating-result" title="<?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%">
	                        <meta itemprop="worstRating" content = "1"/>
	                        <meta itemprop="bestRating" content = "100"/>
                            <span style="width:<?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%">
                                <span itemprop="ratingValue"><?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%</span>
                            </span>
                        </div>
                    </div>
                    <?php if($i == 1) break; endforeach; $i++ ?>
                    </div>
                <?php endif; ?>
                <div class="review-details">
                	<time class="review-details-value" itemprop="datePublished" datetime="<?php /* @escapeNotVerified */ echo $block->formatDate($_review->getCreatedAt(), $format) ?>"><?php /* @escapeNotVerified */ echo $block->formatDate($_review->getCreatedAt(), $format) ?></time>;
                    <span class="review-details-label"><?php /* @escapeNotVerified */ echo __('Reviewed by')?></span>
                    <span class="review-details-value" itemprop="author"><?php echo $block->escapeHtml($_review->getNickname()) ?></span>
                </div>
                <div class="review-content" itemprop="description">
                    <?php echo nl2br($block->escapeHtml($_review->getDetail())) ?>
                </div>
                
            </li>
        <?php endforeach; ?>
        </ol>
        
    </div>
</div>
<?php else : ?>
<div class="block review-list" id="customer-reviews">
    <div class="block-title">
        <!--<strong><?php /* @escapeNotVerified */ echo __('Customer Reviews') ?></strong>-->
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="reviews-actions">
                <a id="review-form2" class="action add" href="javascript:void(0)"><?php /* @escapeNotVerified */ echo __('Write a Review') ?></a>
            </div>
        </div>
    </div>
</div>
<?php endif;?>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

			$("#review-form2").on('click',function() { 			
				$('#popup-modal').modal('openModal');
			});
        }
    );
</script>
