<?php
	/*
		- always showing first category
	*/
	$categories = $block->listCategories();
	if(!empty($categories)):
?>
	<?php 
		$parent = 0;
		$nav_cats = array();
		$catName = $this->getCategory()->getName();
		
		foreach ($categories as $id => $cat) {
			if($cat['active']){
				$parent = $cat['name'];
				$parentUrl = $cat['url'];
				if(array_key_exists('children', $cat)){
					$nav_cats = $cat['children'];
				}
				break;
			}
		}

	?>
	<?php if($parent): ?>
		<div class="cat-menu">
			<div class="cat-menu-parent"><?php echo $catName; ?></div>
			<div class="col-lg-12 text-center top-category-links">
				
				<?php if(!empty($nav_cats)): ?>
					<?php echo $block->traverseCategoriesRoot($nav_cats, $parentUrl);?>
				<?php endif; ?>
                
                <div class="topMoreCategoriesLink">
                	<a href="javascript:void(0)" >More</a>
                </div>
                
                <div class="topMoreSubCategoriesLink">
                	<a href="javascript:void(0)">More</a>
                </div>
                
                <div class="topCategoriesCollapseAll">
                	<a href="javascript:void(0)">&nbsp;</a>
                </div> 
                
			</div>
            
            
            
		</div>
	<?php endif; ?>	
<?php endif; ?>	
