<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php
if(!isset($_SESSION["store"])){
	$_SESSION["store"] = 7;
}
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$modelCatRep = $objectManager->create('Magento\Catalog\Model\CategoryRepository');
$productblock = $objectManager->create('Magento\Catalog\Block\Product\ListProduct');
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$catId = $this->helper('Magento\Catalog\Helper\Data')->getCategory()->getId();

$categoryObj = $modelCatRep->get($catId);
$hasChildren = $categoryObj->getChildrenCategories();
$rootCat = $categoryObj->getParentCategory()->getName();
$currentCat = $categoryObj->getName();
?>
<?php
$viewMode = 'grid';
$image = 'category_page_grid';
$showDescription = false;
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
$pos = $productblock->getPositioned();
?>
<?php $_rootproductCollection = $categoryObj->getProductCollection()->addAttributeToSelect('*'); ?>
<?php $_rootproductCollectionCount = $_rootproductCollection->count(); ?>
<?php $count = ($_rootproductCollectionCount > 100 ? "100+" : $_rootproductCollectionCount) ?>
<?php //if(count($hasChildren)): ?>
<?php if ($rootCat == "Default Category"): ?>
<div class="cat-menu">
    
    <div class="cat-menu-parent"><?php echo $categoryObj->getName(); ?></div>
	<?php $catgoryName = ($categoryObj->getName() ==  'Recipes') ? $count .' Recipes' : $count .' Products' ?>
    <div class="total-products"><?php echo $catgoryName; ?></div>	

    <div class="col-lg-12 text-center top-category-links">
        <ul>
            <li class="active"><a href="javascript:void(0);">All</a></li>
            <?php foreach ($hasChildren as $subcategorie) : ?>
                <li><a href="<?php echo $subcategorie->getUrl(); ?>"> <?php echo $subcategorie->getName(); ?> </a></li>
            <?php endforeach; ?>
        </ul>
        
        <div class="topMoreCategoriesLink">
            <a href="javascript:void(0)" >More</a>
        </div>
        
        <div class="topCategoriesCollapseAll">
            <a href="javascript:void(0)">&nbsp;</a>
        </div> 
        
    </div>
    
</div>
<?php if ($block->isContentMode() || $block->isMixedMode()): ?>
    <div class="category-cms">
        <?php echo $block->getCmsBlockHtml(); ?>
    </div>
<?php endif; ?>
<?php $ids = array(); ?>
<?php foreach ($hasChildren as $subcategorie) : ?>

<?php $_productCollection = $subcategorie->getProductCollection()->addAttributeToSelect('*'); ?>
<?php
$_labelsBlock = $block->getLayout()->createBlock('Gourmet\Assist\Block\Labels');
?>
<?php if (count($_productCollection) > 0) : ?>
<div class="feature-listing-header">
    <h2><?php echo $subcategorie->getName(); ?></h2> <?php if(count($_productCollection) > 4) { ?><a href="<?php echo $subcategorie->getUrl(); ?>">View More</a> <?php } ?>
</div>
<div class="products wrapper <?php /* @escapeNotVerified */
echo $viewMode; ?> products-<?php /* @escapeNotVerified */
echo $viewMode; ?>">
    <?php $iterator = 1; ?>
    <?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $cart = $objectManager->get('\Magento\Checkout\Model\Cart');
    $items = $cart->getQuote()->getAllItems();
    $count = 0;
    ?>

    <ol class="products list items product-items category-landing">
        <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
        <?php $k = 0; ?>
		
        <?php foreach ($_productCollection as $_product): ?>
            <?php if(!in_array($_product->getId(),$ids)) { ?>
			<?php $ids[] = $_product->getId(); ?>
			<?php /* @escapeNotVerified */
            $prod_id_cl = 'prod-swatch-'.$_product->getId();
            if ($_product->getTypeId() == 'grouped') {
                echo ($iterator++ == 1) ? '<li class="item product product-item recipe-lists '.$prod_id_cl.'">' : '</li><li class="item product product-item recipe-lists '.$prod_id_cl.'">';
            } else {
                echo ($iterator++ == 1) ? '<li class="item product product-item '.$prod_id_cl.'">' : '</li><li class="item product product-item '.$prod_id_cl.'">';
            }
            ?>
			
			<?php
			$inventory = 0;
			if(isset($_COOKIE['Gourmet_Location']) && !empty($_COOKIE['Gourmet_Location'])) :
				$cookie = $_COOKIE["Gourmet_Location"];
				$lochelper = $objectManager->get('\Gourmet\Location\Helper\Data');
				$data = $lochelper->getLocationById($cookie);
				$store = $data->getStoreId();
				$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId());
				$storeId = 'store_'.$store;
				$inventory = $productStockObj[$storeId];
				$minQty = $productStockObj['min_qty'];
			else :
				$cookie = 73;
				$lochelper = $objectManager->get('\Gourmet\Location\Helper\Data');
				$data = $lochelper->getLocationById($cookie);
				$store = $data->getStoreId();
				$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId());
				$storeId = 'store_'.$store;
				$inventory = $productStockObj[$storeId];
				$minQty = $productStockObj['min_qty'];
			endif;
			$product_id = $_product->getId();
			?>

            <div class="product__info">
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $productblock->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <div class="upperRelativeDiv <?php echo $_product->getId(); ?>">
                        
                        <a href="<?php /* @escapeNotVerified */
                        echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                            <?php echo $productImage->toHtml(); ?>
                            <div class="product-qty-wrapper" style="display:none;">
                                <div class="update_qty">
                                    <span class="product-qty-inCart"></span>
                                    <span class="in-your-cart">in your cart</span>
                                </div>
                            </div>
                        </a>

                        <?php $prod_label = $_labelsBlock->fetchLabel($_product, $inventory);
                        if (!empty($prod_label)):
                            ?>
						<?php if($_product->getTypeId() != 'grouped') { ?>
                            <div class="offer-tag"><?php echo $prod_label; ?></div>
						<?php } ?>
                        <?php endif; ?>
                        <?php if($_product->getTypeId() == 'grouped') { ?>
                            <div class="offer-tag"><?php echo "Shop Recipe Now"; ?></div>
                        <?php } ?>

                        <?php if ($_product->getTag() && $_product->getTypeId() != 'grouped'):
                            $tagsWithCommas = $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_product);
                            $tags = '';
                            if ($tagsWithCommas) :
                                $tags = explode(",", $tagsWithCommas);
                                $t = 1;
                                ?>
                                <div class="allTagsContainer">
                                    <ul>
                                        <?php foreach ($tags as $tag): ?>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <?php $img = str_replace(" ", "-", strtolower(trim($tag))); ?>
                                                    <img src="<?php echo $this->getViewFileUrl('images/' . $img . '.png'); ?>"
                                                         alt="<?php echo $tag; ?>">
                                                    <span><?php echo $tag; ?></span>
                                                </a>
                                            </li>
                                            <?php $t++;
                                            if ($t == 6) break; endforeach; ?>
                                    </ul>
                                </div>
                            <?php endif; ?>
                        <?php endif; ?>

                    </div><!--upperRelativeDiv-->
                    <div class="product details product-item-details">
                        <div class="productDetail">
                            <div class="pild">
                                <?php
                                $_productNameStripped = $productblock->stripTags($_product->getName(), null, true);
                                ?>
                                <div class="product name product-item-name">
                                    <a class="product-item-link"
                                       href="<?php /* @escapeNotVerified */
                                       echo $_product->getProductUrl() ?>">
                                        <?php /* @escapeNotVerified */
                                        echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                    </a>									
                                </div>
								<div class="product-weight">	
									<?php echo $_product->getResource()->getAttribute('product_weight')->getFrontend()->getValue($_product); ?>	
								</div>
                                <?php if ($_product->getTag() && $_product->getTypeId() == 'grouped'):
                                    $tags = $_product->getResource()->getAttribute('tag')->getFrontend()->getValue($_product); ?>
                                    <div class="block__row">
                                        <ul class="tag__list">
                                            <li class="product-tags">
                                                <?php echo $tags; ?>
                                            </li>
                                        </ul>
                                    </div>
                                <?php endif; ?>

                                <?php //echo $productblock->getReviewsSummaryHtml($_product, $templateType); ?>

                                <?php //echo $productblock->getProductDetailsHtml($_product); ?>
                            </div>
                            <div data-role="add-to-links"
                                 class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>

                                <?php /*if ($addToBlock = $objectManager->create('Magento\Wishlist\Block\Catalog\Product\ProductList\Item\AddTo\Wishlist')): ?>
                                    <a href="#"
                                       class="action towishlist"
                                       title="<?php echo $addToBlock->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php echo $addToBlock->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php /* @escapeNotVerified */
                                       /*echo $addToBlock->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <span><?php /* @escapeNotVerified */
                                            /*echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif;*/ ?>
                                <?php echo $objectManager->create('Gourmet\MultiWishlist\Block\GourmetWishlist')->setProduct($_product)->setTemplate('Gourmet_MultiWishlist::catalog/product/list/addto/wishlist.phtml')->toHtml(); ?>
                                <?php if ($addToBlock = $objectManager->create('Magento\Catalog\Block\Product\ProductList\Item\AddTo\Compare')): ?>
                                    <a href="#"
                                       class="action tocompare"
                                       title="<?php echo $addToBlock->escapeHtml(__('Compare')); ?>"
                                       aria-label="<?php echo $addToBlock->escapeHtml(__('Compare')); ?>"
                                       data-post='<?php /* @escapeNotVerified */
                                       echo $addToBlock->getCompareHelper()->getPostDataParams($_product); ?>'
                                       role="button">
                                        <span><?php /* @escapeNotVerified */
                                            echo __('Compare') ?></span>
                                    </a>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php $postParams = $productblock->getAddToCartPostParams($_product); ?>
				<?php
				$baseUrl = $this->getBaseUrl() . 'checkout/cart/add/';
				$cartUrl = $baseUrl . $postParams['data'][Action::PARAM_NAME_URL_ENCODED] . '/' . $postParams['data'][Action::PARAM_NAME_URL_ENCODED] . '/product/' . $_product->getId();
				?>
				<form id="product_addtocart_form_<?php echo $_product->getId() ?>"
					  data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $cartUrl; ?>" method="post">
					<input type="hidden" name="product" value="<?php /* @escapeNotVerified */
                    echo $postParams['data']['product']; ?>">
                    <input type="hidden" name="<?php /* @escapeNotVerified */
                    echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */
                    echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                    <?php echo $block->getBlockHtml('formkey') ?>
                <?php				
					$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
					$product = $_objectManager->get('\Magento\Catalog\Model\Product')->load($_product->getId());
					$options = $product->getOptions();
					$appState = $objectManager->get('\Magento\Framework\App\State');
					$currencysymbol = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
					$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
				?>
				<?php if(count($options) > 0) { ?>
				<?php
				$product = $objectManager->get('Magento\Catalog\Model\Product')->load($_product->getId());
				$customOptions = $objectManager->get('Magento\Catalog\Model\Product\Option')->getProductOptionCollection($product);
				$oldPrice = $product->getPrice();
				$basePrice = $product->getPrice();
				$finalPrice = $_product->getFinalPrice();
				
				if($product->getTierPrice()):
					foreach ($product->getTierPrice() as $tierPrice) {
						if($tierPrice['price_qty'] == 1):
							$finalPrice = $tierPrice['price'];
						endif;
					}					
				endif;
				?>
				<div class="custom-dropdowns-option">
				<?php $count = 1; 
				$countCustomOption = count($customOptions);
				foreach ($customOptions as $option):?> 
				<?php $values = $option->getValues();  ?>
				<?php switch ($option->getData()['type']) {
					case 'drop_down': 
						$values = $option->getValues(); ?>													
						<select class="sel-option product-custom-option-<?php echo $_product->getId() ?> admin__control-select" pro-id="<?php echo $_product->getId() ?>" id="<?php echo $_product->getId().$count ?>" data-selector="options[<?php echo $option->getId() ?>]" name="options[<?php echo $option->getId() ?>]">
							<?php foreach($values as $value):							
							$customPrice = $value->getData('default_price');
							$getprice = ($customPrice) ? $customPrice : 0;
							$sign = ($value->getData('default_price') < 0) ? '-' : '+';
							?>
							<option final-price="<?php echo $finalPrice; ?>" price-type="<?php echo $value->getData('price_type'); ?>" price="<?php echo $value->getData('default_price'); ?>" value="<?php echo $value->getData('option_type_id') ?>" data-orig="<?php echo $basePrice; ?>" data-type="<?php echo $sign; ?>" data-orig-price="<?php echo $basePrice; ?>" data-price="<?php echo $getprice; ?>"><?php echo $value->getTitle() ?>
							</option>								
							<?php endforeach; ?>
						</select>
				<?php break; } ?>
				<?php 
				if($count == $countCustomOption)
				{
					$count = 1;
				}
				$count++;
				?>											
				<?php endforeach; ?>
				
				<?php 
				$oldPrice = $_product->getPrice();
				$newPrice = ($product->getTierPrice()) ? $finalPrice : $_product->getFinalPrice();
				if ($oldPrice < $newPrice && $inventory > $minQty):
				?>				
				<script type="text/x-magento-init">
					{
						"#product_addtocart_form_<?php echo $product->getId() ?>": {
						"priceOptions": {
						"productId" : "<?php echo $product->getId() ?>",
						"optionConfig": <?php echo $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View\Options')->setProduct($product)->getJsonConfig();?>,
						"controlContainer": "#product_addtocart_form_<?php echo $product->getId() ?> .field",
						"priceHolderSelector": "[data-product-id=<?php echo $product->getId() ?>][data-role=priceBox]",
						"optionsSelector": ".product-custom-option-<?php echo $product->getId() ?>"
						}
						}
					}
				</script>
				<?php else:?>
				<script>
				require(['jquery', 'jquery/ui'], function($){ 
					var priceOldList = [];
					var priceNewList = [];
					var oldPrice = '<?php echo $_product->getPrice(); ?>';
					var newPrice = '<?php echo ($product->getTierPrice()) ? $finalPrice : $_product->getFinalPrice(); ?>';
					var currency = '<?php echo $currency; ?>';
					
					$('.product-custom-option-<?php echo $_product->getId() ?> ').each(function(){						
						var priceType = $(this).find('option:first').attr('price-type');						
						var deductPrice = $(this).find('option:first').attr('price');
						
						switch(priceType) {
							case 'percent':
									var nowOldPrice = (oldPrice*deductPrice)/100;
									priceOldList.push(nowOldPrice);
									var nowNewPrice = (newPrice*deductPrice)/100;							
									priceNewList.push(nowNewPrice);										
								break;
							case 'fixed':
								
								break;						
						}
					});
					var oldTotal =0;
					var newTotal =0;
					
					for (var i = 0; i < priceOldList.length; i++) {						
						oldTotal = parseFloat(oldTotal) + parseFloat(priceOldList[i]) ;
					}					
					for (var i = 0; i < priceNewList.length; i++) {
						newTotal = parseFloat(newTotal) + parseFloat(priceNewList[i]) ;
					}
					oldTotal = parseFloat(oldPrice) + parseFloat(oldTotal);
					newTotal = parseFloat(newPrice) + parseFloat(newTotal);
					$('[data-product-id=<?php echo $product->getId() ?>][data-role=priceBox] [data-price-type=oldPrice] span').text(currency + oldTotal.toFixed(2));
					$('[data-product-id=<?php echo $product->getId() ?>][data-role=priceBox] [data-price-type=finalPrice] span').text(currency + newTotal.toFixed(2));
				});
				</script>				
				<?php endif; ?>	
				</div>								
				<?php }  ?>
                <div class="product__details">
                    <div class="product-item-inner">
                        <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                            <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                <?php if (($_product->isSaleable() && (isset($inventory) && $inventory > $minQty)) || $_product->getTypeId() == 'grouped'): ?>
                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                    <?php
                                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                    $baseUrl = $storeManager->getStore()->getBaseUrl() . 'checkout/cart/add/';
                                    $cartUrl = $baseUrl . $postParams['data'][Action::PARAM_NAME_URL_ENCODED] . '/' . $postParams['data'][Action::PARAM_NAME_URL_ENCODED] . '/product/' . $_product->getId();
                                    ?>
                                    <div class="tier-price">
                                        <ul>
                                            <?php
                                            $tierPricesList = $_product->getPriceInfo()->getPrice('tier_price')->getTierPriceList();
                                            if ($tierPricesList && $inventory > $minQty):
                                                foreach ($tierPricesList as $index => $_price): ?>
                                                    <li>
                                                        <?php
                                                        $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
                                                        $tierPrice = trim($_price['price']); //Your Price
                                                        $formattedPrice = $priceHelper->currency($tierPrice, true, false);
                                                        $tax = $_price['price']->getAdjustmentAmounts();
                                                        if(count($tax) > 0) {
															$sumarTax = $tax['tax'];
															$percentage = ceil(100 - ((100 / $_product->getFinalPrice()) * ($_price['price']->getBaseAmount() + $sumarTax)));
															echo __(
																'Buy %1 for %2 each and <strong class="benefit">save<span class="percent tier-%3">&nbsp;%4</span>%</strong>',
																$_price['price_qty'],
																$formattedPrice,
																$index,
																$percentage
															);
														}
                                                        ?>
                                                    </li>
                                                <?php endforeach; endif; ?>
                                        </ul>
                                    </div>
                                    <?php
                                    $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                    $_reviewFactory = $_objectManager->create('Magento\Review\Model\Review');
                                    $_storeId = $storeManager->getStore()->getStoreId(); //Store ID;
                                    $_reviewFactory->getEntitySummary($_product, $_storeId);
                                    $_ratingSummary = $_product->getRatingSummary()->getRatingSummary();
                                    $_reviewCount = $_product->getRatingSummary()->getReviewsCount();
                                    ?>
                                    <?php if ((int)$_ratingSummary > 0) : ?>
                                        <div class="product-reviews-summary short">
                                            <div class="rating-summary">
                                                <span class="label"><span>Rating:</span></span>

                                                <div title="<?php echo (int)$_ratingSummary; ?>%"
                                                     class="rating-result">
    													<span style="width:<?php echo (int)$_ratingSummary; ?>%"><span><?php echo (int)$_ratingSummary; ?>
                                                                %</span></span>
                                                </div>
                                            </div>
                                            <div class="reviews-actions">
                                                <a href="javascript:void(0)" class="action view">(<?php echo $_reviewCount; ?>)</a>
                                            </div>
                                        </div>
                                    <?php endif; ?>


                                    <div class="add-product">
                                        <?php if ($_product->getTypeId() != 'grouped'): ?>
                                            <div class="price__wrapper">
                                                <div class="discount__percentage">
                                                    <?php
                                                    $oldPrice = $_product->getFinalPrice();
                                                    $newPrice = $_product->getPrice();
                                                    if ($oldPrice != $newPrice && $inventory > $minQty) {
                                                        $percentChange = (1 - $oldPrice / $newPrice) * 100;
                                                        echo round($percentChange) . "% Off";
                                                    }
                                                    ?>
                                                </div>
                                                <?php /* @escapeNotVerified */
                                                echo $productblock->getProductPrice($_product) ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($_product->getTypeId() != 'grouped'): ?>
										<div class="pull-right">
                                                    
											<?php
												if(isset($_COOKIE['Gourmet_Location']) && (isset($_SESSION["locationconfirm"]) && $_SESSION["locationconfirm"] == 1)){
												if($inventory > $minQty){
											?>
												<button type="button" data-action="addto-cart-deduct"
													title="<?php echo $block->escapeHtml(__('Remove Product')); ?>"
													class="action deduct hidden primary button__inverse">
													<span><?php /* @escapeNotVerified */
													echo __('-') ?></span>
												</button>
												<button type="submit"
														title="<?php echo $block->escapeHtml(__('+ Add')); ?>"
														class="action tocart primary"
														qty-inCart="<?php echo $_product->getId(); ?>">
														<span><?php /* @escapeNotVerified */ echo __('+ Add') ?></span>
												</button>
												<div class="messages-error notQty<?php echo $_product->getId(); ?> notify-box" ></div>
												<?php } else { ?>
													<?php echo $block->getLayout()->createBlock('Gourmet\Alert\Block\Alert')->setProdId($_product->getId())->setTemplate('Gourmet_Alert::catalog/product/notify.phtml')->toHtml() ?>
												<?php } ?>
											<?php } else { ?>
												<a href="javascript:void(0);" class="openLocationModel action tocart primary"><?php /* @escapeNotVerified */ echo __('+ Add') ?></a>
											<?php } ?>
										</div>
                                        <?php endif; ?>
                                    </div>

                                <?php else: ?>
                                    <!--<?php if ($_product->getIsSalable()): ?>
                                        <div class="stock available"><span><?php /* @escapeNotVerified */
                                        echo __('In stock') ?></span></div>
                                    <?php else: ?>
                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */
                                        echo __('Out of stock') ?></span></div>
                                    <?php endif; ?>-->
                                <?php endif; ?>

								<?php if (((isset($inventory) && $inventory <= $minQty) || (!isset($inventory))) && $_product->getTypeId() != 'grouped'): ?>
                                    <?php //if (!$_product->isSaleable() && $block->getChildBlock('gourmet.alert.notify')): ?>
                                        <?php echo $block->getLayout()->createBlock('Gourmet\Alert\Block\Alert')->setProdId($_product->getId())->setTemplate('Gourmet_Alert::catalog/product/notify.phtml')->toHtml() ?>
                                    <?php //endif; ?>

                                <?php endif; ?>
                            </div>

                        </div>
                        <?php /* if ($showDescription):?>
                            <div class="product description product-item-description">
                                <?php /* @escapeNotVerified  echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                <a href="<?php /* @escapeNotVerified echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified  echo $_productNameStripped ?>"
                                   class="action more"><?php /* @escapeNotVerified  echo __('Learn More') ?></a>
                            </div>
                        <?php endif; */ ?>
                        <?php $prep_time = $_product->getResource()->getAttribute('preparation_time')->getFrontend()->getValue($_product); ?>
						<?php if ($_product->getTypeId() == 'grouped' && $prep_time): ?>
							<div class="prep-time">
                                <?php echo $prep_time ?>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </form>

			

            <?php echo ($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
            <?php $k++;
            if ($k == 5) break; ?>
			<?php } ?>
        <?php endforeach; ?>
    </ol>
</div>
    <?php endif; ?>
    <?php endforeach; ?>
		<script>
		require(['jquery', 'jquery/ui'], function($){ 
			$(window).load(function() {
				$("body").addClass('landing-page');
			});
		 });
		</script>
    <?php else : ?>
        <?php if (!$block->isContentMode() || $block->isMixedMode()): ?>
            <?php echo $block->getProductListHtml() ?>
        <?php endif; ?>
		<script>
		require(['jquery', 'jquery/ui'], function($){ 
			$(window).load(function() {
				$("body").addClass('listing-page');
			});
		 });
		</script>
    <?php endif; ?>
    <script type="text/x-magento-init">
	{
		"[data-role=tocart-form], .form.map.checkout": {
			"catalogAddToCart": {}
		}
	}
    </script>
<?php				
	$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$currencysymbol = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
	$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
?>
<script>
	require(['jquery', 'jquery/ui'], function($){
		$(".sel-option").change(function(){
			var finalCalPrice = [];
			var finalNewPricce = [];
			var currency = '<?php echo $currency; ?>';
			var id = $(this).attr("id");		
			var productId = $(this).attr("pro-id");
			var priceType = $(this).children('option:selected').attr("price-type");
			var additionPrice = $(this).children('option:selected').attr("price");
			if($('[data-role=priceBox][data-product-id='+productId+']').find('span.old-price').length > 0)
			{
				var oldPrice = $(this).children('option:selected').attr("data-orig");							
			}
			var lenght = $("#product_addtocart_form_"+productId+" .product-custom-option-"+productId).length;
			switch (priceType){				
				case 'percent':
					var basePrice = $(this).children('option:selected').attr("final-price");
					
					if(oldPrice && oldPrice > basePrice)
					{
						var nowOldPrice = (oldPrice*additionPrice)/100;
						finalCalPrice.push(nowOldPrice);						
						var nowNewPrice = (basePrice*additionPrice)/100;
						finalNewPricce.push(nowNewPrice);
						
						if(lenght > 1)
						{
							var additionPrice1 = $(this).siblings('select').find('option:selected').attr('data-price');
							if(additionPrice1 != '')
							{
								nowOldPrice = (oldPrice*additionPrice1)/100;
								finalCalPrice.push(nowOldPrice);
								nowNewPrice = (basePrice*additionPrice1)/100;
								finalNewPricce.push(nowNewPrice);	
							}
						}						
					}else
					{
						var nowOldPrice = (basePrice*additionPrice)/100;
						finalNewPricce.push(nowOldPrice);						
					}					
				break;
			}
			var oldCalTotal =0;
			var newCalTotal =0;
			
			if(finalCalPrice.length > 0)
			{
				for (var i = 0; i < finalCalPrice.length; i++) {						
					oldCalTotal = parseFloat(oldCalTotal) + parseFloat(finalCalPrice[i]) ;
				}
				oldCalTotal = parseFloat(oldPrice) + parseFloat(oldCalTotal);
				/* console.log(oldCalTotal); */
				$('[data-product-id='+productId+'][data-role=priceBox] [data-price-type=oldPrice] span').text(currency+ oldCalTotal.toFixed(2));
			}
			if(finalNewPricce.length > 0)
			{
				for (var i = 0; i < finalNewPricce.length; i++) {						
					newCalTotal = parseFloat(newCalTotal) + parseFloat(finalNewPricce[i]) ;
				}
				newCalTotal = parseFloat(basePrice) + parseFloat(newCalTotal);				
				$('[data-product-id='+productId+'][data-role=priceBox] [data-price-type=finalPrice] span').text(currency+ newCalTotal.toFixed(2));
			}
		});
	});
</script>