<?php // phpcs:disable
$url = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
?>
<div class="page-main-actions"><div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <button id="domain-save" title="Create Domain" type="button" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false"><span class="ui-button-text">
                <span>Create Domain</span>
            </span></button>
    </div>
</div>
<div class="entry-edit form-inline">
    <div style="color:green;" class="custom-success-message"></div>
    <div style="color:red;" class="custom-error-message"></div>
    <div class="fieldset-wrapper">
        <fieldset class="admin__fieldset">
            <div class="admin__field _required">
                <label class="admin__field-label">
                    <span>Domain</span>
                </label>
                <div class="admin__field-control">
                    <input class="admin__control-text" type="text" id="domain-name" name="new_domain" maxlength="255">

                </div>
                <div><p>for example .com, .org, .net, .co.in, .us</p></div>
            </div>
    </div>

</fieldset>
</div>
<script>
    require([
        'jquery',
        'mage/url',
    ], function ($, url) {
        $("#domain-save").click(function () {
            var domainName = $('#domain-name').val();
            $(".custom-success-message").hide();
            $(".custom-error-message").hide();
            var com = ".com";
            var co = ".co.in";
            var org = ".org";
            var net = ".net";
            var us = ".us";

            var type = 'domain';
            var popupimageData = {provider: domainName, type: type}
            if ((domainName) && ((domainName.indexOf(com) != -1) ||(domainName.indexOf(co) != -1)||(domainName.indexOf(net) != -1)||(domainName.indexOf(us) != -1)||(domainName.indexOf(org) != -1))) {
                $.ajax({
                    url: "<?php echo $this->getUrl('i95dev_customergrouprules/ParticipantsField/Save'); ?>",
                    type: 'POST',
                    dataType: "json",
                    data: popupimageData,
                    showLoader: true,
                    success: function (result) {
                        var url = "<?php echo $url; ?>";
                        if (result.type === 'success') {
                            $(".custom-success-message").show().html(result.message);
                            window.location.href = url;
                        } else {
                            $(".custom-error-message").show().html(result.message);
                    }
                    }
                });
            } else {
                $(".custom-error-message").show().html('Please enter valid Domain Name.');
               // $(".custom-error-message").show().html('Please enter Domain Name.');
            }


        });

//if()
    });
</script>
<style>
    button.action-basic {
        margin-left: calc((100%)*.2715 - 30px);
        margin-bottom: 30px;
</style>