<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="opc-block-summary chk__opc-block bm0 block__row" data-bind="blockLoader: isLoading">
   <!--  <span data-bind="i18n: 'Order Summary'" class="title"></span> -->
    <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
