<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="payment-method-getPayfort" class="payment-method block__row payment__method" data-bind="setChecked">
    <div class="field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
	<div class="block__row">
        <div class="block__row ">
            <p class="block__row cards-img"></p>
           
            <p class="block__row">مدفوعاتك عبر الإنترنت آمنة ومضمونة على منصات التجارة الإلكترونية الخاصة بنا.نستخدم Paymob كمعالج بطاقة ائتمان رسمي لدينا، متخصص في معالجة معلومات الدفع بأعلى مستوى من الأمان.لا نقوم بتخزين رقم بطاقتك الائتمانية بالكامل أو رمز CVV بعد إرساله إلى Paymob.يمكنك معرفة المزيد عن Paymob وامتثال PCI على موقع الويب الخاص بهم.</p>
        </div>
        
    </div>
    <div class="payment-method-content">
        
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <iframe src="" id='paymob-checkout-iframe' frameborder="0" style="overflow: hidden;height:175px;width:100%"/>
        
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" 
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Pay with PAYMOB')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Pay with PAYMOB'"></span>
                </button>                
            </div>
        </div>

    </div>
</div>