/*
 * Copyright © 2016 Magestore. All rights reserved.
 * See COPYING.txt for license details.
 *
 */

.magestore-popup_social {
    width: 60%;
    max-width: 650px;
}
.clear{
 width:100%;
 height:0;
 clear:both;
 font-size:0;
 line-height:0;
}

#sociallogin_button{
    width: 100%;
}

#sociallogin_button button span{
	box-sizing: border-box;
}

#sociallogin_button #bt-loginfb span, #bt-loginfb > span{
    height:48px;
    /*background: url("sociallogin/fb.png") no-repeat;*/
    display: block;
    float: left;
	width:100%;
	font-family:'museo_sans700';
}

#bt-loginfb > span > span:before {
	content:"";
	width:8px;
	height:15px;
	display: inline-block;
	background:url(../images/facebook-icon.png) no-repeat;
	position:relative;
	top:1px;
	margin-right:7px;
}
/*#sociallogin_button #bt-loginfb span span, #bt-loginfb span span{background: none repeat scroll 0 0 #2d78bd;}*/
#sociallogin_button #bt-loginamazon span, #bt-loginamazon span{
    height:35px;
    background: url("sociallogin/bt_amazon.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginamazon span span, #bt-loginamazon span span{background: none repeat scroll 0 0 #fe9900;}
#sociallogin_button #bt-loginins span, #bt-loginins span{
    height:35px;
    background: url("sociallogin/bt_intagram.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginins span span, #bt-loginins-popup span span{background: none repeat scroll 0 0 #42729a;}
#sociallogin_button #bt-logingo span, #bt-logingo span{
    height: 35px;
    background: url("sociallogin/google.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-logingo span span, #bt-logingo span span{background: none repeat scroll 0 0 #dd4b39;}
#magestore-popup  .input-box{width:100%;}
#sociallogin_button #bt-loginvk span, #bt-loginvk span{
    height: 35px;
    background: url("sociallogin/vk.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginvk span span, #bt-loginvk span span{background: none repeat scroll 0 0 #44678d;}
#sociallogin_button #bt-loginper span, #bt-loginper span{
    height: 35px;
    background: url("sociallogin/persional.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginper span span, #bt-loginper span span{background: none repeat scroll 0 0 #ffc823;}
#bt-logintw span{
    height: 35px;
    background: url("sociallogin/twit.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginse span, #bt-loginse span{
    height: 35px;
    background: url("sociallogin/stack.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginse span span, #bt-loginse span  span{background: none repeat scroll 0 0 #3170c3;}

#sociallogin_button #bt-logintw span, #bt-loginaol span{
    height: 35px;
	background: url("sociallogin/twit.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-logintw span span, #bt-loginaol span span{background: none repeat scroll 0 0 #28bceb;}
#sociallogin_button #bt-loginwp span, #bt-loginwp span{   
	background: url("sociallogin/wpress.png") no-repeat;  
}
#sociallogin_button #bt-loginwp span span, #bt-loginwp span span{background: none repeat scroll 0 0 #555555;}
#sociallogin_button #bt-loginya span, #bt-loginya span{
    height: 35px;
	background: url("sociallogin/yh.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginya span span, #bt-loginya span span{background: none repeat scroll 0 0 #6f2b90;}
/* by Hai Ta */
#sociallogin_button #bt-loginaol span, #bt-loginaol span{    
	background: url("sociallogin/aol.png") no-repeat;  
}
#sociallogin_button #bt-loginaol span span, #bt-loginaol span span{background: none repeat scroll 0 0 #ffc923;}
#sociallogin_button #bt-loginwp span, #bt-loginwp span{   
	background: url("sociallogin/wpress.png") no-repeat;  
}
#sociallogin_button #bt-loginwp span span, #bt-loginwp-popup span span{background: none repeat scroll 0 0 #555555;}
#sociallogin_button #bt-logincal span, #bt-logincal span{    
	background: url("sociallogin/clavid.png") no-repeat;    
}
#sociallogin_button #bt-logincal span span, #bt-logincal span span{ background: none repeat scroll 0 0 #12396b;}
#sociallogin_button #bt-loginorg span, #bt-loginorg span{    
	background: url("sociallogin/orange.png") no-repeat;    
}
#sociallogin_button #bt-loginorg span span, #bt-loginorg span span{background: none repeat scroll 0 0 #ff6501;}
#sociallogin_button #bt-loginmp span, #bt-loginmp span{    
	background: url("sociallogin/mysp.png") no-repeat;    
}
#sociallogin_button #bt-loginmp span span, #bt-loginmp span span{background: none repeat scroll 0 0 #ff6501;}
#sociallogin_button #bt-loginlive span, #bt-loginlive span{    
	background: url("sociallogin/live.png") no-repeat;
}
#sociallogin_button #bt-loginlive span span, #bt-loginlive span span{  background: none repeat scroll 0 0 #30a8e4;}
#sociallogin_button #bt-loginfq span, #bt-loginfq span{    
	background: url("sociallogin/fq.png") no-repeat;   
}
#sociallogin_button #bt-loginfq span span, #bt-loginfq span span{	background: none repeat scroll 0 0 #099eba;}

#sociallogin_button #bt-loginlinked span, #bt-loginlinked span{    
	background: url("sociallogin/linked.png") no-repeat;   
}
#sociallogin_button #bt-loginlinked span span, #bt-loginlinked span span{background: none repeat scroll 0 0 #017fb2;}
#sociallogin_button #bt-loginopen span, #bt-loginopen span{    
	background: url("sociallogin/myop.png") no-repeat;
}
#sociallogin_button #bt-loginopen span span, #bt-loginopen span span{background: none repeat scroll 0 0 #74bc52;}
#sociallogin_button #bt-loginlj span, #bt-loginlj span{    
	background: url("sociallogin/liveJ.png") no-repeat;   
}
#sociallogin_button #bt-loginlj span span, #bt-loginlj span span{background: none repeat scroll 0 0 #143ea9;}

#sociallogin-other-div{	
	display: block;	
	float: right;      
}
#sociallogin-other-a{
	width: 91px;
	display: block;
}
.sociallogin-other{
	display: block;	
	float: right;
    width: 100%;
}
.sociallogin-other-span{
	cursor: pointer;    
	font-weight: bold;
    white-space: nowrap;
}

.sociallogin-other-span-img-popup{	
	float: right;
	width: 26px;
	height: 16px;
	cursor: pointer;        
	background: url("sociallogin/add.png") no-repeat right;
}

.other-button{
	/* margin: 7px 3px 5px 4px; */
}
.sociallogin-other-button{	
    width: auto;
	max-width:375px;
}
button.bt-login-social{background:none;border:none;cursor: pointer;}
button.bt-login-social:hover{opacity: 0.9;}
button.bt-login-social > span{	
	height:48px;
	line-height:48px;
	color:#fff;
	padding:0;
	float:left;
	}

button.bt-login-social span span{
	background-position:100% 0 !important;
	/* padding-right:10px !important; */
	padding-left:0 !important; 
	text-align: center;
	color:#fff;
	min-width: 110px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: inherit;
	text-transform:uppercase;
	letter-spacing:1px;
}
button.bt-login-social span span {
	min-width: 100%;
}
	
/* change poppup */
#magestore-popup{
    z-index: 100;
    /*border: 10px solid rgba(255, 255, 255, 0.58);*/
    /*max-width: 354px;
    width: 80%;
    display: none;
	top:5rem !important;*/
	-webkit-overflow-scrolling: touch;
	
	width:100%;
	height:100%;
	overflow-y:auto;
	top:auto !important;
	left:0 !important;
	right:0;
	display: none;
	opacity:0;
	background-color:rgba(0,0,0,0.3);
	transition:all ease 0.5s;
	-moz-transition:all ease 0.5s;
	-webkit-transition:all ease 0.5s;
}
.border-popup {
    float: left;
    width: 100%;
    padding: 30px 30px;
    height: auto;
    background: #fff;
    box-sizing: border-box;
	position:absolute;
	left:0;
	right:0;
	margin:5rem auto;
	max-width: 354px;
	z-index:12;
	/*border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow:0 0 12px 2px rgba(0,0,0,0.35);
	-moz-box-shadow:0 0 12px 2px rgba(0,0,0,0.35);
	-webkit-box-shadow:0 0 12px 2px rgba(0,0,0,0.35);*/
}

html[data-popup=opened-signin-reg-popup] #magestore-popup { opacity:1}

#magestore-login-social{
    float: right;
    box-sizing: border-box;
    padding: 0;
	width:100%;
}

#bg_fade {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: calc(100% - 17px) !important;
    z-index: 11 !important;
}

#sociallogin-close{
	cursor: pointer;
    height: 33px;
    position: absolute;
    right: -20px;
    top: -16px;   
    z-index: 9999;
    right: -20px;
    top: -20px;
	height: 34px;
	width: 33px;
	background:url("sociallogin/close.png") no-repeat;
}

#sociallogin-close-popup, #sociallogin-close-popup:focus {position:absolute;cursor:pointer;padding:0;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;top:15px;right:15px;width:22px;height:22px;background: url(../images/close-icon.png) no-repeat left top;}

/*#sociallogin-close-popup:before {-webkit-font-smoothing:antialiased;content:'\e616';font-family:'icons-blank-theme';margin: 0;vertical-align: top;display: inline-block;font-weight: normal;overflow: hidden;speak: none;text-align: center;color:#000;font-weight:700;font-size:20px;line-height:19px;position:relative}*/

#sociallogin-close-popup:hover,#sociallogin-close-popup:focus:hover {opacity: .5;}
/*#sociallogin-close-popup:hover:before { color:#9b9b9b !important}*/

#sociallogin-close:hover{
	text-decoration: underline;
}

html[data-popup=opened-signin-reg-popup],
html[data-popup=opened-signin-reg-popup] body { width:100%; height:100%; overflow-y:hidden}

html[data-popup=opened-signin-reg-popup].mobile,
html[data-popup=opened-signin-reg-popup].mobile body { position:relative;height:auto}


#sociallogin-close-popup:hover{
	text-decoration: underline;
}
#magestore-create-user,
#magestore-login-form {
    padding:0;
    width: 100%;
    float: left;
    box-sizing: border-box;
    background:url("sociallogin/bg-login.png") no-repeat right center;
}

#magestore-message-head.magestore-invalid-email { display:none}

.magestore-loign-h3, .magestore-forgot-h3, #magestore-message-head.magestore-invalid-email {
    font-size: 22px;
    padding-bottom: 9px;
    color: #666;
    font-weight: normal;
    font-style: normal;
	text-align:center;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
	margin-top:0;
	letter-spacing:1px;
	font-family:'museo_sans700';
}


.login-label{
    float: left;
    padding-top: 5px;
    width: 100%;
    font-weight: normal;
    color: #666;
}
#magestore-popup .form-list label{

    float: left;
    text-align: left;
    display: inline-block;
    font-size: 13px;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: 600;
    color: #666;
    -webkit-user-select: none;
}

#magestore-popup .form-list .sociallogin-field {clear: both;margin-bottom: 5px;}
.login-label em{
	color: red;
}
.sociallogin-input-box{
    clear: both;
    float: left;
	width: 100%;
    margin-bottom: 15px;
}
.sociallogin-input-box .input-text{
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);	
    font-size: 13px;
    margin: 0;
    padding:10px 15px;
    width: 100%;
    height: 48px;
	outline:none;
	border:0;
}
#magestore-forgot-password, #magestore-forgot-back,
#magestore-sociallogin-create-new-customer, #magestore-forgot-password + strong{
    font-size: 15px;
	color:#14b393;
    font-family: 'museo_sans700';
    font-weight: normal;
}
#magestore-forgot-back {
    width: 100%;
}
#magestore-forgot-password strong, #magestore-sociallogin-create-new-customer strong, #magestore-forgot-password strong{
    font-weight: normal;
}
#magestore-forgot-back{
    margin-top: 18px;
    font-size: 15px;
	float: left;
    margin-right: 5px;
}
#magestore-button-sociallogin-forgot{
    float: left;
}

/*.ajax-login-image {
	position:fixed; top:0; left:0; right:0; bottom:0;
	z-index:9999;
	width: 100%;
	height: 100%;
	background-color:rgba(225,225,225,0.3);
}

#progress_image_login_forgot:after {
	content:"";
	width:100px;
	height:100px;
	background: url("sociallogin/opc-ajax-loader.gif") no-repeat 50% 50% #ffffff;
	position:absolute;
	top:0;
	left:0;
	background-size:80%;	
	top:0; left:0; right:0; bottom:0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:auto;
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.2);
}*/

#sociallogin-forgot{
	margin-bottom :20px;
}
.magestore-sociallogin-create-new-customer{
	float: left;	
	clear: both;
}
.magestore-sociallogin-create-new-customer a{	
	margin-left: 10px;
	font-weight: bold;
}
#magestore-create-back{
	font-size: 10px;
}
.sociallogin-other-button-popup{
	float: left;
    padding: 0;
    text-align: center;
    margin-top: 15px;
}
#sociallogin_button ul.right{float:right;}
#sociallogin_button ul.left{float:left;padding: 0;}

.magestore-login-popup-button .pass-register {
    float: left;
    width: 100%;
}
.magestore-login-popup-button button {
    margin: 15px 14px;
    background: #26b496;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);	
    border: 0;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
	width:100%;
	height:48px;
    line-height:48px;
	padding:0 15px;
	opacity:1;
	letter-spacing:1px;
    font-family: 'museo_sans700';
}

.magestore-login-popup-button button:hover {
	opacity:0.9;
}

 .fields{
	list-style:none;
}
.sociallogin-field {
    width: 100%;
    float: left;
}
a#magestore-create-back {
    font-size: 15px;
    float: left;
    margin-left: 10px;
    margin-top: 6px;
}
a#magestore-create-back:hover{
    color: #33b699;
}


.magestore-create-popup-button { float:left;width:100%;margin-top:15px}

button#magestore-button-sociallogin-create,button#magestore-button-sociallogin-mobile-validate,button#magestore-button-sociallogin-otp-validate {
    margin:0 0 8px;
    background: #26b496;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);	
    border: 0;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
	width:100%;
	height:48px;
    line-height:48px;
	padding:0 15px;
	opacity:1;
	letter-spacing:1px;
	font-family:'museo_sans700';
}

button#magestore-button-sociallogin-create:hover {
	opacity:0.9;
}

label.required:after, span.required:after {
    content: ' *';
    color: red;
    font-weight: normal;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 12px;
}
.input-text.validation-failed {
    border-color: red;
}
p.required, .validation-advice {
    margin: 5px 0 0;
    color: red;
    font-size: 13px;
}
#magestore-create-user ul.form-list{
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

#magestore-invalid-email-forgot { float:left;width:100%;font-size:13px;margin:0; color: red;}

#magestore-create-user ul.form-list li:last-child > div:nth-child(2),
#magestore-create-user ul.form-list li:last-child > div:nth-child(2) > div { margin-bottom:0}

#magestore-create-user ul.form-list .input-text{
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);	
    font-size: 13px;
    margin:0;
    padding:10px 15px;
    width: 100%;
    height: 48px;
	outline:none;
	border:0;
}
@media screen and (min-width: 768px) and (max-width: 992px){
    /*#magestore-login-form,#magestore-create-user{width: 60%;padding: 0 30px 0 2%;}*/
    #magestore-login-social{padding:0 2% 0 0 }

}
@media screen and (max-width: 767px){
	
	#magestore-login-form,#magestore-create-user{width: 100%;padding:0; background: none;}
    #magestore-login-social{padding:0;float: left; width: 100% }
    ul.magestore-login-social{
        text-align: center;
        float: left;
        width: 100%;
    }
    #magestore-login-form,#magestore-create-user{
        min-height: 160px;
    }
    #magestore-login-social ul.magestore-login-social li{
        /*display: inline-block;*/
        margin: 5px auto;
        padding: 3px;
    }
    .magestore-login-popup-button{
        float: left;
        width: 100%;
    }
    .magestore-login-popup-button button{
        float: right;
        margin: 0;
    }
    #magestore-sociallogin-form-forgot{
        float: left;
        width: 100%;
    }
    .magestore-login-popup-button .pass-register,
    #magestore-sociallogin-form .magestore-login-input-box{
        width: 50%;
        float: left;
    }
   #magestore-sociallogin-form-forgot .magestore-login-input-box,
   #magestore-sociallogin-form-forgot .sociallogin-input-box{
       width: 100%;
   }
    #magestore-sociallogin-form-forgot .sociallogin-input-box{

   }
    #magestore-sociallogin-form-create .sociallogin-field{
        /*width: 50%;
        float: left;
        clear: none !important;*/
    }
    #magestore-popup .input-box{
       /* width: 98%;*/
    }
    #magestore-forgot-back{
        margin-top: 0;
    }
    .sociallogin-input-box .input-text{
        width: 100%;
    }
}
@media screen and (max-width: 550px){
    .magestore-login-popup-button .pass-register{
        width: 70%;
    }
    #magestore-sociallogin-form .sociallogin-input-box,
    #magestore-sociallogin-form .magestore-login-input-box{
        width: 100%;
        float: left;
    }
    #magestore-sociallogin-form-create .sociallogin-field,
    .sociallogin-input-box .input-text{
       width: 100%;
    }
    #sociallogin_button .sociallogin-other #other_sociallogin_label{
        font-size: 27px;
        line-height: 40px;
    }
}

#sociallogin_button ul li.button.right{
    float:right;
}

button#magestore-button-sociallogin {
    margin:0 0 8px;
    font-family: 'museo_sans700'
}

a#magestore-forgot-back {
    margin:10px 0 0;
}

button#magestore-button-sociallogin-forgot {
    margin:0 0 9px;
}
 
#magestore-create-user, #magestore-login-form { background:none}
.magestore-login-form, #forgotten-and-register { float:left;width:100%}
#forgotten-and-register { margin-top:2px;font-size: 15px;}
#magestore-create-user:after, #magestore-login-form:after {content:"أو";float:left;width:100%;text-align:center;font-size:15px;margin-bottom:9px}
#magestore-login-form.hideAfter:after {display:none;}
#magestore-login-form .magestore-login-input-box,
#magestore-login-form .magestore-login-popup-button,
#magestore-login-form #magestore-invalid-email {float:left;width:100%;}
#magestore-login-form #magestore-invalid-email {margin:5px 0 10px;font-size:13px;color: red;}
button.bt-login-social { background-color:#355c96;width:100%;text-transform:uppercase;box-shadow: 0 0 5px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);font-size:16px;font-family: 'museo_sans700';}

#magestore-login-form #magestore-sociallogin-password .sociallogin-input-box { margin-bottom:0}

#magestore-create-user .loginBenifits { float:left;width:100%;margin-bottom:10px}
#magestore-create-user #magestore-invalid-create,#magestore-invalid-mobile-validate,#magestore-invalid-otp-validate { float:left;width:100%;font-size:13px;color:red;}
#magestore-create-user .loginBenifits > div { padding:0 0 0 21px;font-size:12px;font-style:italic}
#magestore-create-user .loginBenifits span { background:url(../images/check.png) no-repeat;width:19px;height:19px;position:absolute;top:0;left:0}
#magestore-create-user .alreadyAccount { font-size:15px;padding:0}
#magestore-create-user .alreadyAccount a { float:none;margin:0;font-family:'museo_sans700';}
#magestore-create-user .alreadyAccount span { display:block;color:#9a9a9a;font-size:12px;padding:10px 0}

#magestore-create-user ul.form-list li:nth-child(1) .sociallogin-field { clear:none;width:50%}
#magestore-create-user ul.form-list li:nth-child(1) .input-text[placeholder="First Name"] { border-radius:2px 0 0 2px}
#magestore-create-user ul.form-list li:nth-child(1) .input-text[placeholder="Last Name"] { border-radius:0 2px 2px 0}

#magestore-sociallogin-form-create .input-box {  margin-bottom:10px}

/*#amasty-shopby-overlay { position:fixed !important;top:0;bottom:0;left:0;right:0;width:105px !important;height:105px !important;background-color:#3b4440 !important;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin:auto;z-index:9999;opacity:1 !important}
#amasty-shopby-overlay img { left:0 !important;top:0 !important;right:0;bottom:0;margin:auto}
#amasty-shopby-overlay:after { content:"";position:fixed;top:0;bottom:0;left:0;right:0;width:100%;height:100%;background-color:rgba(0,0,0,0.3) !important;z-index:9998}*/