<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isAvailable() -->
<tr class="totals balance">
    <th class="mark" scope="row">
        <!-- ko text: title --><!-- /ko -->
		<span>
			<a class="action delete" href="/storecredit/cart/remove/" title="Remove">
				<span><!-- ko text: $t('') --><!-- /ko --></span>
			</a>        
		</span>
    </th>
    <td class="amount">
        <span class="price" data-bind="text: getCartValue()"></span>
    </td>
</tr>
<!-- /ko -->