{{template config_path="design/email/header_template"}}

<p>{{trans "%customer_name wants to share this Wish List from %store_name with you:" customer_name=$customerName store_name=$store.getFrontendName()}}</p>

{{depend message}}
<table class="message-info">
    <tr>
        <td>
            <h3>{{trans "Message from %customer_name:" customer_name=$customerName}}</h3>
            {{var message|raw}}
        </td>
    </tr>
</table>

{{var items|raw}}
<br />
{{/depend}}

<br/>
<p><a href="{{var viewOnSiteLink}}">{{trans "View all Wish List items"}}</a></p>

{{template config_path="design/email/footer_template"}}