<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<p><?php /* @escapeNotVerified */ //echo __('You have signed out and will go to our homepage.') ?></p>
<script>
require([
    "jquery",
    "mage/mage"
], function($){

    $($.mage.redirect("<?php /* @escapeNotVerified */ echo $block->getUrl() ?>", "assign"));

});
</script>
