<?php if($block->shouldShow()): ?>

<div class="hidden">
	<div id="multiwishlist-modal">
		<div id="multiwishlist-wrapper">
			<div class="msgs" class="hidden"></div>
			<div class="input-wrappers">
				<input type="hidden" name="form_key" value="<?php /* @escapeNotVerified */ echo $block->getFormKey(); ?>" />
				<div id="multiwishlist-created">
					<?php 
						$wishlists = $block->getUserList();
						if(!is_null($wishlists)):
						foreach($wishlists as $list):
					?>
						<div><label><input type="radio" name="gmw-name" value="<?php echo $list->getId(); ?>" checked="checked" /><?php echo $list->getMultiWishlistName(); ?></label></div>
					<?php endforeach; endif;?>
				</div>
				<div><label><input type="radio" name="gmw-name" id="gmw-new" value="new" />Create New</label></div>
			</div>
			<div class="new-wishlist">
				<input type="text" name="new_wishlist" value="" placeholder="Create you own list" maxlength="25" />
                <div id="new-wishlist-invalid" style="display:none">Please select/create wishlist</div>
			</div>
		</div>
	</div>
</div>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        "*": {
            "Gourmet_MultiWishlist/js/multiwishlist":{
        		"loggedIn" : <?php echo $this->isCustomerLoggedIn() ? 1 : 0; ?>,
        		"logInUrl" : "<?php echo $this->getUrl('customer/account/login'); ?>",
        		"fetchWishUrl" : "<?php echo $this->getUrl('gourmet-wishlist/add/fetch'); ?>"
            }
        }
    }        
</script>