<div id="shipping" class="checkout-shipping-address block__row" data-bind="fadeVisible: visible()">
    <div class="step-title hidden" data-bind="i18n: 'Shipping Address'" data-role="title"></div>
    <div id="checkout-step-shipping" class="step-content" data-role="content">
        <div class="block__row">
            <!-- ko if: (!quoteIsVirtual) -->
            <!-- ko foreach: getRegion('customer-email') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <!--/ko-->
        </div>


        <div class="block__row">
            <!-- ko foreach: getRegion('address-list') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="block__row">
            <!-- ko foreach: getRegion('address-list-additional-addresses') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        
		<!-- Address form pop up -->
        <!-- ko if: (!isFormInline) -->
        <!--button type="button"
                data-bind="click: showFormPopUp, visible: !isNewAddressAdded()"
                class="action action-show-popup btn__outline block__row">
            <span data-bind="i18n: 'New Address'"></span></button-->
        <div id="opc-new-shipping-address" data-bind="visible: isFormPopUpVisible()">
            <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        </div>
        <!-- /ko -->
		<div id="opc-edit-shipping-address" class="shipping-address-form" data-bind="fadeVisible: isEditFormPopUpVisible">
           <!-- ko template: 'I95Dev_UpdateAddress/shipping-address/editform' --><!-- /ko -->
        </div>
        <div class="block__row">
            <!-- ko foreach: getRegion('before-form') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
		
		 <!-- Inline address form -->
        <!-- ko if: (isFormInline) -->
        <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        <!-- /ko -->        
    </div>
</div>