<!--@todo: Remove hidden class to show this-->
<div id="
opc-shipping_method"
     class="checkout-shipping-method block__row"
     data-bind="fadeVisible: visible(), blockLoader: isLoading"
     role="presentation">
    <div class="checkout-shipping-method">
        <div class="step-title hidden" data-bind="i18n: 'Shipping Methods'" data-role="title"></div>
        <!-- ko foreach: getRegion('before-shipping-method-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div id="checkout-step-shipping_method"
             class="step-content shipping__wrapper"
             data-role="content"
             role="tabpanel"
             aria-hidden="false" data-bind="uncheckedTable" >
			 <!-- ko if: rates().length  -->
            <form class="form methods-shipping" id="co-shipping-method-form" data-bind="submit: setShippingInformation"
                  novalidate="novalidate">
                <div id="checkout-shipping-method-load">
                    <table class="table-checkout-shipping-method table table-bordered table__shipping">
                        <thead>
                        <tr class="row">
                            <th class="col col-method" data-bind="i18n: ''"></th>
                            <th class="col col-method" data-bind="i18n: 'Shipping Slot'"></th>
							<th class="col col-price" data-bind="i18n: 'Price'"></th>
                            <!--<th class="col col-carrier" data-bind="i18n: 'Carrier'"></th>-->
                        </tr>
                        </thead>
                        <tbody data-bind="selectDefaultShipping">

                        <!--ko foreach: { data: rates(), as: 'method'}-->
                        <tr class="row" data-bind="click: $parent.selectShippingMethod">
                            <td class="col col-method">
                                <!-- ko ifnot: method.error_message -->
                                <!-- ko if: $parent.rates().length == 1 -->
                                
                                    <input class="radio"
                                           type="radio"
                                           data-bind="attr: {
                                                        checked: $parent.rates().length == 1,
                                                        'value' : method.carrier_code + '_' + method.method_code,
                                                        'id': 's_method_' + method.method_code,
                                                        'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                     }"/>
                                    
                                
                                <!-- /ko -->
                                <!--ko ifnot: ($parent.rates().length == 1)-->
                                
                                    <input type="radio"
                                           data-bind="
                                                value: method.carrier_code + '_' + method.method_code,
                                                checked: $parent.isSelected,
                                                attr: {
                                                    'id': 's_method_' + method.carrier_code + '_' + method.method_code,
                                                    'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                },
                                                click: $parent.selectShippingMethod"
                                           class="radio"/>
                                    
                               
                                <!--/ko-->
                                <!-- /ko -->
                            </td>
                            

                            <td class="col col-method"
                                data-bind="text: method.method_title, attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_code}"></td>
							
							<td class="col col-price">
                                <!-- ko foreach: $parent.getRegion('price') -->
                                <!-- ko template: getTemplate() --><!-- /ko -->
                                <!-- /ko -->
                            </td>

                            <!-- <td class="col col-carrier"
                                data-bind="text: method.carrier_title, attr: {'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code}"></td> -->
                        </tr>

                        <!-- ko if:  method.error_message -->
                        <tr class="row row-error">
                            <td class="col col-error" colspan="4">
                                <div class="message error">
                                    <div data-bind="text: method.error_message"></div>
                                </div>
                                <span class="no-display">
                                    <input type="radio"
                                           data-bind="attr: {'value' : method.method_code, 'id': 's_method_' + method.method_code}"/>
                                </span>
                            </td>
                        </tr>
                        <!-- /ko -->

                        <!-- /ko -->
                        </tbody>
                    </table>
                </div>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <!-- ko foreach: getRegion('shippingAdditional') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <!-- ko if: errorValidationMessage().length > 0 -->
                <div class="message notice">
                    <span><!-- ko text: errorValidationMessage()--><!-- /ko --></span>
                </div>
                <!-- /ko -->
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary">
                            <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
            <!-- /ko -->
            <!-- ko ifnot: rates().length > 0 -->
            <div class="no-quotes-block"><!-- ko i18n: 'Sorry, no quotes are available for this order at this time, please select next delivery date'-->
                <!-- /ko --></div><!-- /ko -->
        </div>
    </div>
</div>