<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>

<?php
    $section = ($block->getNameInLayout() == 'amshopby.catalog.topnav') ? 'top' : 'sidebar';
?>

<?php if ($block->canShowBlock()): ?>
    <div class="block filter" id="layered-filter-block" data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false, "collateral": { "openedState": "filter-active", "element": "body" } }}'>
        <?php $filtered = count($block->getLayer()->getState()->getFilters()) ?>
            <?php if($section !== 'top'): ?>
            <div class="block-title filter-title" data-count="<?php /* @escapeNotVerified */ echo $filtered; ?>">
                <strong data-role="title"><?php /* @escapeNotVerified */ echo __('Shop By') ?></strong>
            </div>
            <?php endif; ?>
        <div class="block-content filter-content">
            <?php echo $block->getChildHtml('state') ?>
            <?php $active_filters = $block->getChildBlock('state')->getCurrentActiveFilters();
                $selected_filters=[];
                if (!empty($active_filters)){
                    foreach ($active_filters as $active_filt) {
                        $curr_filter_name = $block->escapeHtml(__($active_filt->getName()));
                        $selected_filters[$curr_filter_name]['label'] = $block->stripTags($active_filt->getLabel());
                        $selected_filters[$curr_filter_name]['remove'] = $active_filt->getRemoveUrl();
                    }
                }
            ?>

            <?php if ($block->getLayer()->getState()->getFilters()): ?>
                <div class="block-actions filter-actions">
                    <a href="<?php /* @escapeNotVerified */ echo $block->getClearUrl() ?>" class="action clear filter-clear"><span><?php /* @escapeNotVerified */ echo __('Clear All') ?></span></a>
                </div>
            <?php endif; ?>
            <?php $wrapOptions = false; ?>
            <?php foreach ($block->getFilters() as $filter): 
                    $curr_filter_name = $block->escapeHtml(__($filter->getName()));

                    $removeurl="javascript:void(0)";
                    if(array_key_exists($curr_filter_name, $selected_filters)){
                        $removeurl=$selected_filters[$curr_filter_name]['remove'];
                    }

            ?>
                <?php if ($filter->getItemsCount()): ?>
                    <?php if (!$wrapOptions): ?>
                            <?php if($section !== 'top'): ?><strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?php /* @escapeNotVerified */ echo __('Shopping Options') ?></strong><?php endif; ?>
                            <div class="filter-options" id="narrow-by-list" data-role="content" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": false}}'>
                    <?php  $wrapOptions = true; endif; ?>
                    <div data-role="collapsible" class="filter-options-item">
                        <div data-role="title" class="filter-options-title"><?php /* @escapeNotVerified */ echo __($filter->getName()) ?></div>
                        <div data-role="content" class="filter-options-content"><?php /* @escapeNotVerified */ echo $block->getChildBlock('renderer')->setData('removeurl',$removeurl)->render($filter); ?></div>
                        <?php 
                            
                            if(array_key_exists($curr_filter_name, $selected_filters)):
                                $currentFilterName = $block->stripTags($selected_filters[$filter->getName()]['label']);
                        ?>
                            <div class="selected-filter-wrapper">
                                <div class="filter-options-selected"><?php echo $currentFilterName; ?></div>
                                <a class="action remove" href="<?php /* @escapeNotVerified */ echo $selected_filters[$filter->getName()]['remove'] ?>"
                                   title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Remove')) . " " . $currentFilterName;?>">
                                    <span><?php /* @escapeNotVerified */ echo __('Remove This Item') ?></span>
                                </a>
                            </div>
                        <?php else: ?>
                            <div class="selected-filter-wrapper">
                                <div class="filter-options-selected"><span>Any</span></div>
                            </div>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
            <?php if ($wrapOptions): ?>
                </div>
            <?php else: ?>
                <script>
                    require([
                        'jquery'
                    ], function ($) {
                        $('#layered-filter-block').addClass('filter-no-options');
                    });
                </script>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>

<style>
    .catalogsearch-result-index #layered-filter-block{
    display: block;
}
    </style>