<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="payment-method-getPayfort" class="payment-method block__row payment__method" data-bind="setChecked">
    <div class="field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
	<div class="block__row">
        <div class="block__row ">
            <p class="block__row cards-img"></p>
            <p class="block__row"><b>Rest assured, your card is safe with us!</b></p>
            <p class="block__row">We use Paymob as our credit card processor. We do not store your full credit card number or CVV code after we submit it to Paymob. They are a major credit card processor who specialize in handling this information. You can find out more about Paymob and their PCI compliance at their <a href="http://www.paymobsolutions.com/" target="_blank" class="paymobLink">website</a>.</p>
        </div>
        
    </div>
    <div class="payment-method-content">
        
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <iframe src="" id='paymob-checkout-iframe' frameborder="0" style="overflow: hidden;height:175px;width:100%"/>
        
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" 
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Pay with PAYMOB')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Pay with PAYMOB'"></span>
                </button>                
            </div>
        </div>

    </div>
</div>