<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block-title">
    <strong>
        <span class="text"><!-- ko i18n: 'My Cart' --><!-- /ko --></span>
        <span
                class="qty empty"
                data-bind="css: { empty: !!getCartParam('summary_count') == false },
                       attr: { title: $t('Items in Cart') }">
            <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
        </span>
    </strong>
</div>

<div class="block-content">
    <button type="button"
            id="btn-minicart-close"
            class="action close"
            data-action="close"
            data-bind="attr: { title: $t('Close') }">
        <span><!-- ko i18n: 'Close' --><!-- /ko --></span>
    </button>

    <!-- ko if: getCartParam('summary_count') -->
    <div class="items-total mic__header">
        <span class="count"></span>
        <!-- ko if: getCartParam('summary_count') == 1 -->
        <!-- ko i18n: 'Your cart has' --><!-- /ko -->
        <span class="qty">
        <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
        </span>
        <!-- ko i18n: 'item' --><!-- /ko -->
        <!-- /ko -->
        <!-- ko if: getCartParam('summary_count') > 1 -->
        <!-- ko i18n: 'Your cart has' --><!-- /ko -->
        <span class="qty">
        <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
        </span>
        <!-- ko i18n: 'items' --><!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <!-- ko if: getCartParam('summary_count') -->
    <span class="cart_store_location">
		Your Delivery Location:	<b><!-- ko text: getCartParam('location') --><!-- /ko --></b>
	</span>
    <!-- /ko -->

    <!-- ko if: getCartParam('summary_count') -->
    <strong class="subtitle"><!-- ko i18n: 'Recently added item(s)' --><!-- /ko --></strong>
    <div data-action="scroll" data-bind="miniCartScroll" class="minicart-items-wrapper block__row">
        <ol id="mini-cart" class="minicart-items cartitem__wrapper"
            data-bind="foreach: { data: getCartParam('items'), as: 'item' }">
            <!-- ko foreach: $parent.getRegion($parent.getItemRenderer(item.product_type)) -->
            <!-- ko template: {name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}} -->
            <!-- /ko -->
            <!-- /ko -->
        </ol>
    </div>
    <!-- /ko -->

    <!-- ko ifnot: getCartParam('summary_count') -->
    <strong class="subtitle empty" data-bind="visible: closeSidebar()">
        <!-- ko i18n: 'You have no items in your shopping cart.' --><!-- /ko -->
    </strong>
    <!-- ko if: getCartParam('cart_empty_message') -->
    <p class="minicart empty text"><!-- ko text: getCartParam('cart_empty_message') --><!-- /ko --></p>
    <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: getCartParam('summary_count') -->
    <div class="actions">
        <div class="secondary">
            <a class="action" data-bind="attr: {href: shoppingCartUrl}">
                <span></span>
            </a>
        </div>
    </div>
    <!-- /ko -->

    <div id="minicart-widgets" class="minicart-widgets">
        <!-- ko foreach: getRegion('promotion') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>

    <!-- ko if: getCartParam('summary_count') -->
    <div class="minicart-subtotal">
        <span>Subtotal</span>
        <span>:</span>
        <span class="price__amount" data-bind="html: getCartParam('subtotal')"></span>
    </div>
    <!-- ko if: getCartParam('discount') -->
    <div class="minicart-subtotal">
        <span class="discount coupon" data-bind="text: getCartParam('discount_code')"></span>
        <span>:</span>
        <span class="price__amount" data-bind="html: getCartParam('discount')"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: getCartParam('stroe_credit') -->
    <div class="minicart-subtotal">
        <span>Store Credit</span>
        <span>:</span>
        <span class="price__amount" data-bind="html: getCartParam('stroe_credit')"></span>
    </div>
    <!-- /ko -->
    <!--<div class="minicart-subtotal">
        <span>Shipping</span>
        <span>:</span>
        <span class="price__amount" data-bind="html: getCartParam('shipping')"></span>
    </div>-->
    <div class="minicart-subtotal">
        <span>Total</span>
        <span>:</span>
        <span class="price__amount" data-bind="html: getCartParam('grandtotal')"></span>
    </div>

    <div class="payment-option _collapsible opc-payment-additional discount-code"
         data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
        <div class="payment-option-title field choice text-center dis__outer" data-role="title">
        <span class="action action-toggle cop__title" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Have a coupon or discount code?'--><!-- /ko -->
        </span>
        </div>
        <div class="payment-option-content" data-role="content">
            <div class="discount-mimicart-message"></div>
            <form class="form form-discount" id="discount-form">
                <div class="dis__fWrapper">
                    <div class="payment-option-inner">
                        <div class="field">
                            <label class="label hidden" for="discount-code">
                                <span data-bind="i18n: 'Enter discount code'"></span>
                            </label>
                            <div class="control">
                                <input class="input-text"
                                       type="text"
                                       id="discount-code"
                                       name="discount_code"
                                       data-validate="{'required-entry':true}"
                                       data-bind="value: getCartParam('discountCode'), attr:{placeholder: $t('Enter coupon code')} "/>
                            </div>
                        </div>
                    </div>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <!-- ko ifnot: getCartParam('discountCode') -->
                            <button class="action action-apply btn-block dis__fbtn" type="submit"
                                    data-bind="'value': $t('Apply'), click: apply">
                                <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
                            </button>
                            <!-- /ko -->
                            <!-- ko if: getCartParam('discountCode') -->
                            <button class="action action-cancel" type="submit"
                                    data-bind="'value': $t('Cancel'), click: cancel">
                                <span><!-- ko i18n: 'Cancel'--><!-- /ko --></span>
                            </button>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="actions">
        <div class="primary">
            <!-- ko if: getCartParam('disableCheckoutButton') -->
            <button
                    id="top-cart-btn-checkout"
                    type="button"
                    class="action primary checkout btn__checkout"
                    data-bind="attr: {title: $t('Checkout')}">

                    <span class="pull-left">
                    <!-- ko i18n: 'Checkout' --><!-- /ko -->
                    </span>
                <span class="pull-right" data-bind="html: getCartParam('grandtotal')"></span>
            </button>
            <!-- /ko -->
            <!-- ko ifnot: getCartParam('disableCheckoutButton') -->
            <button
                    id="top-cart-btn-checkout"
                    type="button"
                    class="action primary checkout btn__checkout"
                    data-bind="attr: {title: $t('Checkout')}" disabled>

                    <span class="pull-left">
                    <!-- ko i18n: 'Checkout' --><!-- /ko -->
                    </span>
                <span class="pull-right" data-bind="html: getCartParam('grandtotal')"></span>
            </button>
            <!-- /ko -->
            <div data-bind="html: getCartParam('extra_actions')"></div>
        </div>
    </div>
    <div class="block__row">
        <a href="/checkout/cart" class="action primary btn__viewcart btn-block text-center"><span>VIEW CART<span></a>
        <!-- ko ifnot: getCartParam('disableCheckoutButton') -->
        <span class="shipping-msg"><strong>Note:</strong> Please add address to proceed checkout.</span>
        <!-- /ko -->
        <span class="shipping-msg"><strong>Note:</strong> Final shipping charges will be calculated on checkout page.</span>

    </div>
    <!-- /ko -->
    <!-- /ko -->
</div>

<!-- ko foreach: getRegion('sign-in-popup') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
