<?php  /**
 * Copyright © 2016 Magestore. All rights reserved.
 * See COPYING.txt for license details.
 *
 */
?>
<?php $isLogin = $block->_getSession()->isLoggedIn();?>

<?php if(!$isLogin){?>
    <?php $user = $this->getFbUser()?>
	<button id="bt-loginfb" class="bt-login-social" alt="<?php echo __('Sign In With Facebook') ?>" title="<?php echo __('Sign In With Facebook') ?>" onclick="fbLogin()" href="javascript:void(0);">
		<span><span><?php echo __('Sign In With Facebook') ?></span></span>
	</button>
    <script type="text/javascript">
    var newwindow;
    var intId;
    function fbLogin(){
        var  screenX    = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft;
        var	 screenY    = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop;
        var	 outerWidth = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth;
        var	 outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22);
        var	 width    = 500;
        var	 height   = 270;
        var	 left     = parseInt(screenX + ((outerWidth - width) / 2), 10);
        var	 top      = parseInt(screenY + ((outerHeight - height) / 2.5), 10);
        var	 features = (
                'width=' + width +
                ',height=' + height +
                ',left=' + left +
                ',top=' + top
              );
    
        newwindow=window.open('<?php echo $this->getFbLoginUrl() ?>','Login_by_facebook',features);
    
        if (window.focus) {
            newwindow.focus()
        }
        return false;
    }
    </script>
   
<?php }?>